<div data-rbs-project-library-possession-detail-editor="">
	<rbs-field-picker property="publication"
		label="{{ i18nAttr(propertyKey('Project_Library_PossessionDetail', 'publication'), ['ucf']) }}"
		accepted-model="Project_Library_Publication">
	</rbs-field-picker>
	<rbs-field-picker-multiple property="volumes"
		label="{{ i18nAttr(propertyKey('Project_Library_PossessionDetail', 'volumes'), ['ucf']) }}"
		accepted-model="Project_Library_PublicationVolume">
	</rbs-field-picker-multiple>
	<rbs-field-text property="description"
		label="{{ i18nAttr(propertyKey('Project_Library_PossessionDetail', 'description'), ['ucf']) }}">
	</rbs-field-text>
</div>