{% use 'Rbs_Generic/icon-templates.twig' %}

<script type="text/javascript">
	window.__change['{{ blockId }}'] = {"initialSearchText": "{{ initialSearchText|raw }}"};
</script>

<form method="GET" name="searchForm" data-ng-submit="submitForm()" data-rbs-elasticsearch-short-search="" data-wait-ms="500" data-min-length="3">
	<input data-ng-if="sectionPageFunction" name="sectionPageFunction" type="hidden" data-ng-model="sectionPageFunction" />
	<div class="input-group">
		<input name="searchText" type="text" data-ng-model="searchText" class="form-control elastic-search" autocomplete="off"
			placeholder="{{ i18nAttr('m.rbs.elasticsearch.front.search', ['ucf']) }}" data-ng-change="loadSuggestions(searchText)" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary" title="{{ i18nAttr('m.rbs.elasticsearch.front.search', ['ucf']) }}">
				{{ block('rbsGenericIconSearch') }}
			</button>
		</span>
	</div>
	<div id="short-search-listbox" class="dropdown-menu" data-ng-show="categories">
		<div data-ng-repeat="category in categories" role="listbox">
			<div data-ng-repeat="(key,value) in category">
				<div data-ng-if="key == 'category'">
					{% block listboxCategory %}
						<span class="" data-ng-bind="value">(=value=)</span>
						<a class="pull-right" data-ng-click="searchItem(searchText, category.type, category.url)" role="button">
							{{ i18n('m.rbs.elasticsearch.front.seemore', ['ucf']) }}
						</a>
					{% endblock listboxCategory %}
				</div>

				<ul class="media-list" data-ng-if="key == 'items'">
					<li class="media" data-ng-repeat="item in value">
						<a data-ng-href="(=item.url=)">
							{% block listboxItem %}
								<div class="media-left">
									<div class="image-format-{{ parameters.thumbnailFormat }}-size">
										<img class="image-format-{{ parameters.thumbnailFormat }}-max-size" data-ng-if="item.thumbnail"
											data-ng-src="(=item.thumbnail=)" />
									</div>
								</div>
								<div class="media-body">
									<span class="listbox-item-name" data-ng-bind-html="highlightSuggestion(item.title, searchText)"></span>

									<div class="price price-without-taxes" data-ng-if="item.price"
										data-ng-show="blockParameters.displayPricesWithoutTax && item.price.valueWithoutTax">
										<span class="price-from" data-ng-if="item.price.hasDifferentPrices">
											{{- i18n('m.rbs.catalog.front.from', ['ucf']) -}}
										</span>
										<span class="price-value text-nowrap">
											<meta data-ng-if="!(blockParameters.displayPricesWithTax && item.price.valueWithTax)"
												itemprop="price" content="(= item.price.valueWithoutTax =)" />
											(= item.price.valueWithoutTax | rbsFormatPrice:item.price.currencyCode =)
											<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">
												{{- i18n('m.rbs.catalog.front.without_tax_abbr') -}}
											</abbr>
										</span>
									</div>

									<div class="price price-with-taxes" data-ng-if="item.price"
										data-ng-show="blockParameters.displayPricesWithTax && item.price.valueWithTax">
										<span class="price-from" data-ng-if="item.price.hasDifferentPrices">
											{{ i18n('m.rbs.catalog.front.from', ['ucf']) }}
										</span>
											<span class="price-value">
											<meta itemprop="price" content="(= item.price.valueWithTax =)" />
											(= item.price.valueWithTax | rbsFormatPrice:item.price.currencyCode =)
										</span>
									</div>
								</div>
							{% endblock listboxItem %}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</form>
