<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.collection.admin.module_name', ['ucf']) }}">
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Collection_Collection', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.collection.admin.collection_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Collection_ObjectCollection', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.collection.admin.objectCollection_list', ['ucf']) }}
	</a>
</div>