<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.media.admin.module_name', ['ucf']) }}" data-icon="icon-book">
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Media_Image', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.media.admin.image_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Media_Video', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.media.admin.video_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Media_File', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.media.admin.file_list', ['ucf']) }}
	</a>
</div>