{% set iconPath = resourceURL('Theme/Rbs/Base/Rbs_Social/img/icons/') %}
{% set iconExtension = '.png' %}
<ul class="list-inline list-social-buttons">
	<li data-ng-repeat="item in items">
		{% block item %}
			<a data-ng-if="item.type == 'link'" data-ng-href="(= item.href =)" class="btn btn-primary" rel="nofollow"
				title="{{ i18nAttr('m.rbs.social.front.share_to_network', ['ucf'], {'network': '(= item.title =)'}) }}">
				<img data-ng-src="(= '{{ iconPath }}' + item.name + '{{ iconExtension }}' =)" alt="(= item.title =)" title="(= item.title =)" />
			</a>
			<button data-ng-if="item.type == 'button'" type="button" class="btn btn-primary"
				data-ng-click="item.ngClick($event)"
				title="{{ i18nAttr('m.rbs.social.front.share_to_network', ['ucf'], {'network': '(= item.title =)'}) }}">
				<img data-ng-src="(= '{{ iconPath }}' + item.name + '{{ iconExtension }}' =)" alt="(= item.title =)" title="(= item.title =)" />
			</button>
		{% endblock item %}
	</li>
</ul>