<div class="col-sm-6" data-ng-if="!processData.userId && providers.length > 0">
	<div class="panel panel-default">
		<div class="panel-heading">{{ i18n('m.rbs.social.front.social_auth_process', ['ucf']) }}</div>
		<div class="panel-body">
			<button class="btn btn-primary btn-login-social-(= provider.provider =)" data-ng-repeat="provider in providers"
				data-ng-click="socialAuth(provider.id)">
				(= provider.provider =)
			</button>
		</div>
		{% if notLinkedAccount %}
			<br />
			<div class="alert alert-danger" role="alert">
				{{ i18n('m.rbs.social.front.account_not_linked', ['ucf']) }} {{ notLinkedProvider }}
			</div>
		{% endif %}
	</div>
</div>