<div data-rbs-project-library-work-link-editor="">
	<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkLink', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-text property="url"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkLink', 'url'), ['ucf']) }}">
	</rbs-field-text>
</div>