<div data-ng-controller="ProximisDatadashboardSynchonizationCodesListController">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.datadashboard.ua.synchronization_code_list', ['ucf']) }}"></div>

	<div data-px-filters="filter" data-static-filter-methods="staticFilterMethods">
		<div data-px-static-filter="none">
			{% block modelFilter %}
			<div data-px-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_document_model', ['ucf']) }}">
				<select data-px-field="model" class="form-control" data-ng-model="filter.parameters.model"
						data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Datadashboard_DocumentTypes"
						data-ng-options="item.value as item.label for item in pxCollection" >
					<option value="">-- {{ i18n('m.rbs.datadashboard.ua.select_document_model', ['ucf']) }} --</option>
				</select>
			</div>
			{% endblock modelFilter %}
		</div>
		<div data-px-static-filter="code" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_document_code', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_document_code', ['ucf']) }}">
				<input data-px-field="code" class="form-control" data-ng-model="filter.parameters.code" />
			</div>
			{{ block('modelFilter') }}
		</div>
	</div>

	<div data-px-ua-entity-list="" data-rest-service="Rbs_Datadashboard_SynchronizationCodes.getSynchronizationCodes" data-filter="true"
		data-action-methods="actionMethods">
		<div data-px-list-column="id" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.document_id', ['ucf']) }}" data-primary="true">
			<strong>(= doc._meta.id =)</strong>
		</div>
		<div data-px-list-column="label" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.label', ['ucf']) }}" data-primary="true">
			<strong>(= doc.label =)</strong>
		</div>
		<div data-px-list-column="code" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.document_code', ['ucf']) }}">
			<span>(= doc.code =)</span>
		</div>
		<div data-px-list-column="model" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.document_model', ['ucf']) }}">
			<span>(= doc.model =)</span>
		</div>
		{#<div data-px-list-column="actions" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.actions', ['ucf']) }}">
			<button type="button" class="btn btn-default" data-ng-click="actionMethods.open(doc)">
				<span class="icon-pencil"></span> {{ i18n('m.rbs.ua.common.edit', ['ucf']) }}
			</button>
		</div>#}
	</div>

</div>