{% block rbsMailinglistSubscriptionUse %}
	{% use 'Rbs_Mailinglist/mailinglist-template.twig' %}
{% endblock rbsMailinglistSubscriptionUse %}

{% block rbsMailinglistManageSubscriptionsDataCache %}
	<script type="application/javascript">
		window.__change['{{ blockId }}'] = {
			mailingLists: {{ mailingLists | json_encode | raw }},
			profileData: {{ profileData | json_encode | raw }},
			subscriberId: {{ subscriberId | json_encode | raw }},
			subscribers: {{ subscribers | json_encode | raw }}
		};
	</script>
{% endblock rbsMailinglistManageSubscriptionsDataCache %}

{% if parameters.showTitle %}
	<h1>{{ i18n('m.rbs.mailinglist.front.manage_subscriptions_title', ['ucf']) }}</h1>
{% endif %}

<div data-ng-controller="rbsMailinglistManageSubscription">
	<div data-ng-if="userId && !subscriberId">
		<p>
			{{ i18n('m.rbs.mailinglist.front.no_subscription_for_email', ['ucf']) }}
		</p>
	</div>
	<div class="ng-cloak clearfix" data-ng-hide="subscriberId">
		{{ block('rbsMailinglistSuccess') }}
		{{ block('rbsMailinglistErrors') }}
		<form data-ng-hide="success.isProcessing" class="form-horizontal" data-ng-submit="request()" name="rbsMailinglistSubscriptions">
			<p data-ng-show="userId">
				{{ i18n('m.rbs.mailinglist.front.ask_for_another_email', ['ucf']) }}
			</p>
			<p data-ng-hide="userId">
				{{ i18n('m.rbs.mailinglist.front.proof_identity', ['ucf']) }}
			</p>
			<div class="form-group">
				<label for="rbsMailinglistSubscriptionsEmail" class="col-sm-4 col-md-3 control-label">
					{{ i18n('m.rbs.mailinglist.front.email', ['ucf']) }}
				</label>

				<div class="col-sm-8 col-md-9 form-inline">
					<input required="required" class="form-control" id="rbsMailinglistSubscriptionsEmail" type="email" data-ng-model="email" />
					<button type="submit" class="btn btn-primary" data-ng-disabled="rbsMailinglistSubscriptions.$invalid || disabled">
						{{ i18n('m.rbs.mailinglist.front.submit', ['ucf']) }}
					</button>
				</div>
			</div>
		</form>
		{{ block('rbsMailinglistToken') }}
	</div>
	<div data-ng-show="subscriberId">
		{% block rbsMailinglistManageSubscriptionsForm %}
			<div class="ng-cloak">
				<form class="form-horizontal">
					{{ block('rbsMailinglistSuccess') }}
					{{ block('rbsMailinglistErrors') }}

					<fieldset>
						<div data-ng-show="showSelector">
							{{ block('rbsMailinglistChangeSubscriber') }}
						</div>
						{% set ngModelBase = 'profileData[subscriberId].' %}
						{{ block('rbsMailinglistRequiredFields') }}
						{{ block('rbsMailinglistComplementaryFields') }}
						{% set mailingLists = 'mailingLists[subscriberId]' %}
						{{ block('rbsMailinglistMailingLists') }}
						{{ block('rbsMailinglistButtonUpdate') }}
					</fieldset>
				</form>
			</div>
		{% endblock rbsMailinglistManageSubscriptionsForm %}
	</div>
</div>