<div data-ng-controller="rbsMailinglistShortSubscription" data-ng-cloak="">
	<div data-ng-show="mode === 'loading'">
		{{ i18n('m.rbs.generic.front.loading', ['ucf', 'etc']) }}
	</div>
	<div data-ng-show="mode === 'manage'">
		<a href="{{ functionURL('Rbs_Mailinglist_ManageSubscriptions') }}">{{ i18n('m.rbs.mailinglist.front.manage_subscriptions_title', ['ucf']) }}</a>
	</div>
	<div data-ng-show="mode === 'subscription'" class="form-group">
		<form action="{{ functionURL('Rbs_Mailinglist_Subscription') }}" method="get">
			{% block formGroup %}
				<div class="input-group">
					{% block inputAddon %}
						<span class="input-group-addon"
							title="{{ i18nAttr('m.rbs.mailinglist.front.email_title', ['lc']) }}">{{ i18n('m.rbs.mailinglist.front.email_at', ['ucf']) }}</span>
					{% endblock inputAddon %}
					{% block inputGroupContent %}
						<input class="form-control" placeholder="{{ i18nAttr('m.rbs.mailinglist.front.email_placeholder', ['ucf']) }}"
								name="email" data-ng-model="email" required="required" id="email" type="email" />
					{% endblock inputGroupContent %}
					{% block inputGroupBtn %}
						<span class="input-group-btn">
							<button data-ng-disabled="!email" class="btn btn-primary" type="submit">
								{{ i18n('m.rbs.mailinglist.front.submit', ['ucf']) }}
							</button>
						</span>
					{% endblock inputGroupBtn %}
				</div>
			{% endblock formGroup %}
		</form>
	</div>
</div>