{% block rbsMailinglistSubscriptionUse %}
	{% use 'Rbs_Mailinglist/mailinglist-template.twig' %}
{% endblock rbsMailinglistSubscriptionUse %}

{% block rbsMailinglistDataCache %}
	<script type="application/javascript">
		window.__change['{{ blockId }}'] = {
			mailingLists: {{ mailingLists | json_encode | raw }},
			profileData: {{ profileData | json_encode | raw }}
		};
	</script>
{% endblock rbsMailinglistDataCache %}
<div data-ng-controller="rbsMailinglistSubscription">
	{% if parameters.token is null and mailingLists|length > 0 %}
		{% block rbsMailinglistSubscriptionForm %}
			<div class="ng-cloak">
				<form data-ng-hide="success" class="form-horizontal">
					{% if parameters.showTitle %}
						<h1>{{ i18n('m.rbs.mailinglist.front.mailinglist_subscription') }}</h1>
					{% endif %}
					{{ block('rbsMailinglistErrors') }}
					<fieldset>
						{% set ngModelBase = 'profileData.' %}
						{{ block('rbsMailinglistRequiredFields') }}
						{% if parameters.showComplementaryFields %}
							{{ block('rbsMailinglistComplementaryFields') }}
						{% endif %}
						{% set mailingLists = 'mailingLists' %}
						{{ block('rbsMailinglistMailingLists') }}
						{{ block('rbsMailinglistButtonSubmit') }}
					</fieldset>
				</form>
				<div data-ng-show="success">
					{% if parameters.showTitle %}
						<h1>{{ i18n('m.rbs.mailinglist.front.success_title',['ucf']) }}</h1>
					{% endif %}
					{{ block('rbsMailinglistSuccess') }}
					{% if parameters.showTokenField %}
						{{ block('rbsMailinglistToken') }}
					{% endif %}
				</div>
			</div>
		{% endblock rbsMailinglistSubscriptionForm %}
	{% endif %}

	{% if parameters.token %}
		{% block rbsMailinglistRequestValidation %}
			<div class="ng-cloak">
				{% if parameters.showTitle %}
					<h1>{{ i18n('m.rbs.mailinglist.front.success_title',['ucf']) }}</h1>
				{% endif %}
				{{ block('rbsMailinglistErrors') }}
				<p>
					{{ i18n('m.rbs.mailinglist.front.subscription_success', ['ucf']) }}
				</p>
			</div>
		{% endblock rbsMailinglistRequestValidation %}
	{% endif %}
</div>