{% block rbsMediaFileUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsMediaFileUse %}

{% if parameters.blockTitle %}
	{% block rbsMediaFileTitle %}
		<h1>{{ parameters.blockTitle }}</h1>
	{% endblock rbsMediaFileTitle %}
{% endif %}

{% block rbsMediaFileList %}
	<ul class="list-unstyled">
		{% for file in files %}
			<li>
				{% block rbsMediaFileListItem %}
					{{ block('rbsGenericIconDownload') }}
					<a href="{{ actionURL('Rbs_Media', 'Download', {'documentId': file.common.id}) }}">
						{{- file.common.title -}}
					</a>
					{% if file.common.formattedExtension %}
						[<abbr title="{{ file.common.formattedExtension.common.title }}">
						{{- file.common.extension | upper -}}
					</abbr>
						&mdash; {{ file.common.formattedSize | raw }}]
					{% else %}
						[{{ file.common.extension | upper }} &mdash; {{ file.common.formattedSize | raw }}]
					{% endif %}
				{% endblock rbsMediaFileListItem %}
			</li>
		{% endfor %}
	</ul>
{% endblock rbsMediaFileList %}