<div data-rbs-project-library-publication-language-editor="">
	<rbs-field label="{{ i18nAttr(propertyKey('Project_Library_PublicationLanguage', 'language'), ['ucf']) }}">
		<select class="form-control" data-ng-model="document.language"
			data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Languages"
			data-ng-options="item.value as item.label for item in pxCollection">
			<option value="">{{ i18n('m.project.library.admin.collection_select', ['ucf']) }}</option>
		</select>
	</rbs-field>
	<rbs-field label="{{ i18nAttr(propertyKey('Project_Library_PublicationLanguage', 'languageFunction'), ['ucf']) }}">
		<select class="form-control" data-ng-model="document.languageFunction"
			data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_LanguageFunctions"
			data-ng-options="item.value as item.label for item in pxCollection">
			<option value="">{{ i18n('m.project.library.admin.collection_select', ['ucf']) }}</option>
		</select>
	</rbs-field>
</div>