<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Mailinglist_MailingList">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Mailinglist_MailingList'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-mailinglist-mailing-list-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-picker property="website" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'website'), ['ucf']) }}"
					accepted-model="Rbs_Website_Website">
				</rbs-field-picker>

				<rbs-field-integer property="priority" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'priority'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.mailinglist.admin.mailinglist_priority_help') }}</span>
				</rbs-field-integer>

				<rbs-field-rich-text property="description" 
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'description'), ['ucf']) }}">
				</rbs-field-rich-text>
				<rbs-field label="{{ i18nAttr('m.rbs.mailinglist.admin.mailing_export_label', ['ucf']) }}"
						data-ng-show="showExportButton()">
					<button class="btn btn-default" type="button" data-ng-disabled="jobIsRunning()"
							data-ng-click="launchExport()">{{ i18n('m.rbs.mailinglist.admin.snapshot_export', ['ucf']) }}</button>
					<span data-rbs-storage-downloader="" data-change-uri="export.fileURI"
							data-file-name="'{{ i18n('m.rbs.mailinglist.admin.snapshot_export_file_label', ['ucf']) }}' + (export.exportDate | rbsDateTime)"></span>

					<p class="form-control-static"
							data-ng-show="jobIsRunning()">{{ i18n('m.rbs.mailinglist.admin.in_process', ['ucf']) }}</p>
				</rbs-field>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>

		<div data-rbs-document-preview-form="document" data-language="language"></div>
	</div>
</div>