<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Mailinglist_MailingList">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.admin.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Mailinglist_MailingList'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-mailinglist-mailing-list-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="refLCID" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'refLCID'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.refLCID"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Collection_Languages"
						data-collection-params="ucFirst:true" data-ng-options="item.value as item.label for item in pxCollection">
					</select>
				</rbs-field>

				<hr />

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-picker property="website" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'website'), ['ucf']) }}"
					accepted-model="Rbs_Website_Website">
				</rbs-field-picker>

				<rbs-field-integer property="priority" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'priority'), ['ucf']) }}">
				</rbs-field-integer>

				<rbs-field-rich-text property="description" 
					label="{{ i18nAttr(propertyKey('Rbs_Mailinglist_MailingList', 'description'), ['ucf']) }}">
				</rbs-field-rich-text>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>