<!DOCTYPE html>
<html>
	<head>
		<base href="{{ baseUrl }}" />
		<title>Proximis Omnichannel</title>
		<link href="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/css/bootstrap.min.css') }}" rel="stylesheet" />
		<meta charset="UTF-8" />
		<style type="text/css">
			body > div > div {
				margin: auto;
				border-radius: 10px;
				background: #F5F5F5;
				padding: 1em;
				max-width: 90%;
			}

			@media (min-width: 768px) {
				body > div > div {
					width: 700px;
				}
			}

			@media (max-height: 740px) {
				html {
					height: 100%;
				}

				body {
					display: table;
					text-align: center;
					height: 100%;
					width: 100%;
				}

				body > div {
					display: table-cell;
					vertical-align: middle;
					height: 100%;
					width: 100%;
				}

				body > div > div > form {
					text-align: left;
				}
			}

			@media (min-height: 741px) {
				body > div > div {
					margin: 100px auto;
				}
			}

			.logo {
				width: 50px;
				height: 50px;
			}

			@media (min-height: 550px), (min-width: 768px) {
				.logo {
					width: 100px;
					height: 100px;
				}
			}
		</style>
	</head>
	<body>
		<div>
			<div>
				<span class="hidden" id="on-device">{{ i18n('c.oauth.on_device') }}</span>

				<p class="text-center">
					<img alt="Proximis Omnichannel" style="width:144px;height:144px;"
						src="{{ resourceURL('Rbs/Ua/img/logos/icon.png') }}" />
				</p>

				<form method="POST" class="form-horizontal">
					<fieldset>
						<legend class="text-center">{{ i18n('c.oauth.authorize_application', ['ucf']) }}</legend>
						<p class="text-danger text-center">{{ error }}</p>
						<input type="hidden" name="realm" value="{{ realm }}" />
						<input type="hidden" name="oauth_token" value="{{ oauth_token }}" />

						<div class="form-group">
							<label class="control-label col-sm-5" for="login">{{ i18n('c.oauth.login', ['ucf']) }}</label>

							<div class="col-sm-7">
								<input type="text" value="{{ login }}" class="form-control" autocapitalize="off" autocorrect="off" name="login"
									id="login" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-5" for="password">{{ i18n('c.oauth.password', ['ucf']) }} </label>

							<div class="col-sm-7">
								<input type="password" class="form-control" name="password" id="password" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-5" for="device">{{ i18n('c.oauth.device', ['ucf']) }} </label>

							<div class="col-sm-7">
								<input type="text" class="form-control" name="device" id="device" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-5" for="authenticate">{{ i18n('c.oauth.application_name', ['ucf']) }}</label>

							<div class="col-sm-7">
								<button type="submit" class="btn btn-default" id="authenticate" name="authenticate"
									value="authenticate">{{ i18n('c.oauth.authorize', ['ucf']) }}</button>
								<strong>{{ applicationName }}</strong>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			var userAgent = window.navigator.userAgent;

			var system =
				userAgent.match(/windows/i) ? 'Windows' :
					userAgent.match(/kindle/i) ? 'Kindle' :
						userAgent.match(/android/i) ? 'Android' :
							userAgent.match(/ipad/i) ? 'iPad' :
								userAgent.match(/iphone/i) ? 'iPhone' :
									userAgent.match(/ipod/i) ? 'iPod' :
										userAgent.match(/mac/i) ? 'OS X' :
											userAgent.match(/(linux|x11)/i) ? 'Linux' :
												'unknown system';
			var webBrowser =
				userAgent.match(/firefox/i) && !userAgent.match(/seamonkey/i) ? 'Firefox' :
					userAgent.match(/seamonkey/i) ? 'Seamonkey' :
						userAgent.match(/chrome/i) && !userAgent.match(/chromium/i) ? 'Chrome' :
							userAgent.match(/chromium/i) ? 'Chromium' :
								userAgent.match(/safari/i) && !userAgent.match(/chrome/i) && !userAgent.match(/chromium/i) ? 'Safari' :
									userAgent.match(/msie/i) || userAgent.match(/rv/i) ? 'Internet Explorer' :
										'unknown web browser';

			var on = window.document.getElementById('on-device').textContent;
			window.document.getElementById('device').value = webBrowser + ' ' + on + ' ' + system;
		</script>
	</body>
</html>