<div class="row">
	<div data-rbs-full-width="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.review.admin.review_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Review_Review"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list model="Rbs_Review_Review" publishable="true" filter-collection="filter">
			<rbs-column name="target" primary="true">
				<a href="" data-ng-href="(=doc|rbsURL=)">(= doc.target.label =)</a>
			</rbs-column>
			<rbs-column name="pseudonym" label="{{ i18nAttr('m.rbs.review.admin.pseudonym') }}"></rbs-column>
			<rbs-column name="promoted">
				(= doc.promoted | rbsBoolean =)
			</rbs-column>
			<rbs-column name="reviewDate" format="date"></rbs-column>
			<rbs-preview style="min-height: 200px">
				<div>
					<h4>(= doc.pseudonym =)</h4>
					<p>{{ i18n(propertyKey('Rbs_Review_Review', 'rating'), ['ucf', 'lab']) }} (= doc.rating =)/100</p>
					<div class="pull-right">
						<span class="text-success"><span class="icon-thumbs-up"></span> (= doc.upVote =)</span>
						<span class="text-warning"><span class="icon-thumbs-down"></span> (= doc.downVote =)</span>
					</div>
					<p data-ng-bind-html="doc.renderedContent"></p>
				</div>
			</rbs-preview>
		</rbs-document-list>
	</div>
</div>