<rbs-field property="rating" required="true" label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'rating'), ['ucf']) }}">
	<div class="form-control-static">
		<ol class="list-inline star-rating">
			<li><label title="{{ i18nAttr('m.rbs.review.admin.star_rating_0') }}"><input type="radio" name="rating" data-ng-model="document.rating" value="0" class="sr-only" /><span class="glyphicon glyphicon-star-empty"></span></label></li> |
			<li data-ng-class="{'selected': document.rating > 0}"><label title="{{ i18nAttr('m.rbs.review.admin.star_rating_1') }}"><input type="radio" name="rating" data-ng-model="document.rating" value="20" class="sr-only"/><span class="glyphicon glyphicon-star"></span></label></li>
			<li data-ng-class="{'selected': document.rating > 20}"><label title="{{ i18nAttr('m.rbs.review.admin.star_rating_2') }}"><input type="radio" name="rating" data-ng-model="document.rating" value="40" class="sr-only"/><span class="glyphicon glyphicon-star"></span></label></li>
			<li data-ng-class="{'selected': document.rating > 40}"><label title="{{ i18nAttr('m.rbs.review.admin.star_rating_3') }}"><input type="radio" name="rating" data-ng-model="document.rating" value="60" class="sr-only"/><span class="glyphicon glyphicon-star"></span></label></li>
			<li data-ng-class="{'selected': document.rating > 60}"><label title="{{ i18nAttr('m.rbs.review.admin.star_rating_4') }}"><input type="radio" name="rating" data-ng-model="document.rating" value="80" class="sr-only"/><span class="glyphicon glyphicon-star"></span></label></li>
			<li data-ng-class="{'selected': document.rating > 80}"><label title="{{ i18nAttr('m.rbs.review.admin.star_rating_5') }}"><input type="radio" name="rating" data-ng-model="document.rating" value="100" class="sr-only"/><span class="glyphicon glyphicon-star"></span></label></li>
		</ol>
		<span>(= (document.rating || 0) * 0.05 =)/5</span>
	</div>
</rbs-field>

<rbs-field-rich-text property="content" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'content'), ['ucf']) }}">
</rbs-field-rich-text>

<div data-ng-if="document.canEditPseudonym === false">
	<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'guestPseudonym'), ['ucf']) }}">
		<div class="form-control-static">(= document.pseudonym =)</div>
		<p class="help-block">{{ i18n('m.rbs.review.admin.guest_pseudonym_help', ['ucf']) }}</p>
	</rbs-field>
</div>
<div data-ng-if="document.canEditPseudonym !== false">
	<rbs-field-text property="guestPseudonym"
		label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'guestPseudonym'), ['ucf']) }}">
		<p class="help-block">{{ i18n('m.rbs.review.admin.guest_pseudonym_help', ['ucf']) }}</p>
	</rbs-field-text>
</div>

<rbs-field-picker property="target" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'target'), ['ucf']) }}"
	select-model="{publishable:true, abstract:false}"
	selector-title="{{ i18nAttr('m.rbs.review.admin.review_select_target', ['ucf']) }}">
</rbs-field-picker>

<rbs-field-picker property="section" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'section'), ['ucf']) }}"
		select-model="{ancestors:'Rbs_Website_Section', abstract:false}"
	selector-title="{{ i18nAttr('m.rbs.review.admin.review_select_section', ['ucf']) }}">
</rbs-field-picker>

<rbs-field-date property="reviewDate"
	label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'reviewDate'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-boolean property="promoted"
	label="{{ i18nAttr(propertyKey('Rbs_Review_Review', 'promoted'), ['ucf']) }}">
</rbs-field-boolean>