<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Collection_ObjectCollection', 'label'), ['ucf']) }}">
</rbs-field-text>

<hr />

<div data-rbs-collection-collection-items="Rbs_Collection_ObjectCollectionItem">
	<h3>{{ i18n(propertyKey('Rbs_Collection_ObjectCollection', 'items'), ['ucf']) }}</h3>

	<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Collection_ObjectCollection', 'itemsDefinition'), ['ucf']) }}" required="true"
		property="itemsDefinition">
		<select data-ng-model="document.itemsDefinition" class="form-control"
			data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Collection_ObjectCollectionDefinitions"
			data-ng-options="item.value as item.label for item in pxCollection">
			<option value="">-- {{ i18n('m.rbs.collection.admin.select_definition', ['ucf']) }} --</option>
		</select>
	</rbs-field>

	<rbs-field label="{{ i18nAttr('m.rbs.collection.admin.language', ['ucf']) }}">
		<div data-rbs-inline-lcid-selector="itemsManager.LCID"></div>
		<div class="help-text">{{ i18n('m.rbs.collection.admin.language_help', ['ucf']) | raw }}</div>
	</rbs-field>

	<div class="collection-items"></div>
</div>