@CHARSET "UTF-8";

/**
 * Must be added explicitly if the JS are not included in the head (cf ngCloak documentation).
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
	display: none !important;
}

/**
 * Bootstrap fixes.
 */
.form-inline .form-control-static {
	vertical-align: middle;
}

/**
 * Global layout.
 */

/* Header */
body > header .navbar {
	margin-bottom: 10px;
	border: 0;
}

/* Move header navbar over other nav bars to have its popup menus visible */
header .navbar {
	z-index: 999;
}

/* Content */
body > #main-content {
	padding: 20px;
}

/* Footer */
body > footer {
	border-top: 5px solid #4584a5;
	box-shadow: 0 -7px 7px rgba(128, 128, 128, 0.1);
	font-size: 9pt;
	padding: 7px 15px;
	line-height: 12px;
}

/**
 * General classes for margins...
 */
.margin-right {
	margin-right: 15px;
}

.margin-half-right {
	margin-right: 7px;
}

.margin-left {
	margin-left: 15px;
}

.margin-half-left {
	margin-left: 7px;
}

.margin-top {
	margin-top: 15px;
}

.margin-half-top {
	margin-top: 7px;
}

.margin-bottom {
	margin-bottom: 15px;
}

.margin-half-bottom {
	margin-bottom: 7px;
}

.no-top-margin {
	margin-top: 0;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.opacity-half {
	opacity: 0.5;
}

.inline-block, .navbar-nav > li > a.inline-block {
	display: inline-block;
}

@media (max-width: 767px) {
	.navbar-nav > li > a.inline-block {
		display: block;
	}
}

/* Long string: handle new lines without replacing them with <br /> */
.long-string {
	white-space: pre-wrap;
}

/**
 * Nav bars
 */
.navbar {
	border-radius: 0;
	/* Move nav bars under popup menus (initial value 1000) */
	z-index: 998;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 2px;
}

.navbar-brand-logo {
	text-align: center;
	padding: 10px 20px;
}

.navbar-brand-logo img {
	height: 40px;
}

/**
 * Dropdown menus.
 */
.dropdown-menu > li.dropdown-text {
	display: block;
	padding: 3px 20px;
	line-height: 20px;
}

.dropdown-menu i[class^="icon-"],
.dropdown-menu span[class^="icon-"],
.dropdown-menu i[class*=" icon-"],
.dropdown-menu span[class*=" icon-"] {
	display: inline-block;
	text-align: center;
	width: 16px;
}

/* Used to place an icon on selected item (for example in richtext editor) */
.dropdown-menu > li .dropdown-item-icon {
	left: 0;
	margin: 3px;
	position: absolute;
}

/**
 * Buttons.
 */

/** Buttons containing only an icon */
.btn-icon {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.btn-icon.btn-lg {
	width: 48px;
}

.btn-icon {
	width: 36px;
}

.btn-icon.btn-sm {
	width: 30px;
}

.btn-icon.btn-xs {
	width: 22px;
}

/** Multi-line button bars with vertical spaces between buttons */
.btn-responsive-toolbar {
	margin-left: 0;
	margin-bottom: 3px;
}

.btn-responsive-toolbar > .btn,
.btn-responsive-toolbar > .btn-group,
.btn-responsive-toolbar > .input-group {
	float: none;
	margin: 3px 0 0 0;
}

/** Buttons where the content may wrap */
.btn.btn-wrap {
	white-space: normal;
}

/** Big buttons. */
.btn.btn-headline {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}

.btn.btn-headline i[class^="icon-"],
.btn.btn-headline span[class^="icon-"] {
	font-size: 32px;
	float: left;
	margin-right: 5px;
	margin-top: 1px;
	width: 32px;
}

.btn.btn-headline.no-text i[class^="icon-"],
.btn.btn-headline.no-text span[class^="icon-"] {
	margin-right: 0;
	float: none;
}

.btn.btn-headline small {
	display: block;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	white-space: nowrap;
	padding-left: 37px;
}

/**
 * Page header.
 */
.page-header {
	margin-top: 0;
	margin-bottom: 15px;
	border: 0 solid #4584a5;
	border-bottom-width: 5px;
	padding-bottom: 0;
}

.page-header h2 {
	margin-top: 0;
}

/**
 * Panels
 */
.panel dl.panel-body {
	margin-bottom: 0;
}

/** Definition lists in panels */
@media (min-width: 410px) {
	.panel .dl-horizontal dt {
		width: 40%;
		text-align: left;
		clear: left;
		float: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.panel .dl-horizontal dd {
		width: 56%;
		margin-left: 44%;
	}
}

/**
 * Tables
 */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(0, 0, 0, 0.02);
}

/**
 * Forms
 */

/* "*" displayed in label for required input */
.form-group.required .control-label:before,
.form-vertical .form-group.required .control-label:after {
	color: #b94a48;
	content: "*";
	font-family: Courier New, Courier, serif;
	font-size: 24px;
	line-height: 10px;
	margin-right: 3px;
	position: relative;
	top: 5px;
}

.form-vertical .form-group.required .control-label:before {
	content: "";
}

.form-actions {
	background-image: linear-gradient(to top, white 0%, #f5f5f5 100%);
	border-top: 5px solid #eee;
	margin-top: 10px;
	padding: 10px;
}

/* invalid fields */
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
	color: #b94a48;
	border-color: #b94a48;
	box-shadow: 0 0 0 2px #f8b9b7;
}

.label-block {
	display: block;
}

[datepicker-popup-wrap] {
	padding: 5px;
}

[datepicker-popup-wrap] button {
	width: 100%;
}

.inline-time-picker {
	display: inline-table;
	vertical-align: middle;
}

.form-control.form-control-inline {
	width: auto;
	display: inline-block;
}

/* General select */
select option[value=""] {
	font-style: italic;
	color: #999;
}

/* Input group addon containing a select */
.input-group .input-group-addon.input-group-addon-select {
	width: auto;
	padding: 0;
	border: none;
}

.input-group .input-group-addon.input-group-addon-select select {
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

/**
 * Print.
 */
@media print {
	a[href]:after {
		content: "";
	}

	a[href^="https://"]:after,
	a[href^="http://"]:after,
	a[href^="ftp://"]:after,
	a[href^="mailto://"]:after {
		content: " (" attr(href) ")";
	}

	/**
	 * Page breaks.
	 */
	.page-break-before {
		page-break-before: always;
	}

	.page-break-after {
		page-break-after: always;
	}

	* {
		overflow: hidden; /* A hack to have page breaks work properly in Google Chrome... */
	}

	#pp-cfp-root {
		display: none;
	}
}