<div data-ng-controller="Rbs_Admin_NotificationsController">

	<div class="page-header">
		<h2>{{ i18n('m.rbs.admin.admin.notifications', ['ucf']) }}</h2>
	</div>

	<ul class="nav nav-pills">
		<li data-ng-class="{'active': view=='unread'}">
			<a href="" data-ng-click="view='unread'">{{ i18n('m.rbs.admin.admin.notification_view_unread', ['ucf']) }}</a>
		</li>
		<li data-ng-class="{'active': view=='all'}">
			<a href="" data-ng-click="view='all'">{{ i18n('m.rbs.admin.admin.notification_view_all', ['ucf']) }}</a>
		</li>
	</ul>

	<p></p>

	<rbs-document-list collection="notifications" extend="dlExt" modification-date="false" on-reload="reloadNotifications" actions="markAsRead archive">
		<rbs-column name="message" label="{{ i18nAttr('m.rbs.admin.admin.notification_message', ['ucf']) }}">
			<span class="pull-right">
				<button type="button" class="btn btn-success btn-xs" data-ng-if="doc.status == 'new'" data-ng-click="extend.markAsRead(doc)">
					<i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.notification_mark_as_read', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-danger btn-xs" data-ng-if="doc.status != 'deleted'" data-ng-click="extend.archive(doc)">
					<i class="icon-trash"></i> {{ i18n('m.rbs.admin.admin.notification_delete', ['ucf']) }}
				</button>
			</span>
			<a href="" data-ng-href="(= doc.target | rbsURL =)" data-ng-if="doc.target">
				<strong data-ng-bind="doc.message" data-ng-if="doc.status == 'new'"></strong>
				<span data-ng-bind="doc.message" data-ng-if="doc.status != 'new'"></span>
			</a>
			<span data-ng-if="!doc.target">
				<strong data-ng-bind="doc.message" data-ng-if="doc.status == 'new'"></strong>
				<span data-ng-bind="doc.message" data-ng-if="doc.status != 'new'"></span>
			</span>
		</rbs-column>
		<rbs-column name="creationDate" label="{{ i18nAttr('m.rbs.admin.admin.date', ['ucf']) }}" format="date"></rbs-column>

		<rbs-action name="markAsRead" selection="+" icon="icon-ok" label="{{ i18nAttr('m.rbs.admin.admin.notification_mark_as_read', ['ucf']) }}"></rbs-action>
		<rbs-action name="archive" selection="+" icon="icon-trash" label="{{ i18nAttr('m.rbs.admin.admin.notification_delete', ['ucf']) }}"></rbs-action>
	</rbs-document-list>
</div>
