<div class="form-actions">
	<button disabled="disabled" class="btn btn-default btn-headline" type="button" data-ng-click="revert($event)"
		data-ng-disabled="isUnchanged()">
		<span class="icon-undo" aria-hidden="true"></span>{{ i18n('m.rbs.ua.common.button_revert', ['ucf']) | raw }}
	</button>
	<button class="btn btn-headline btn-primary" type="submit"
		data-ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}"
		data-ng-disabled="form.$invalid || isUnchanged()">
		<span class="icon-white" aria-hidden="true"
			data-ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': !saveProgress.running, 'icon-remove': saveProgress.error}"></span>
		{{ i18n('m.rbs.ua.common.button_save', ['ucf']) | raw }}
	</button>
</div>