<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field property="subject" label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'subject'), ['ucf']) }}"
	required="true">
	<div class="input-group">
		<input type="text" class="form-control" data-ng-model="document.subject" />
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				{{ i18n('m.rbs.mail.documents.mail_substitutions', ['ucf']) }} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li data-ng-repeat="(variable, label) in document.substitutions">
					<a href="" data-ng-click="addSubstitutionVariable(variable)">
						(= label =) <small data-ng-show="label != variable">{(= variable =)}</small>
					</a>
				</li>
			</ul>
		</div>
	</div>
</rbs-field>

<rbs-field-document-select label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'template'), ['ucf']) }}"
	required="true" property="template" ng-model="document.template"
	empty-label="{{ i18nAttr('m.rbs.mail.admin.mail_empty_mailtemplate', ['ucf']) }}"
	accepted-model="Rbs_Theme_Template" filter-property="mailSuitable" filter-value="1">
</rbs-field-document-select>

<rbs-field-text property="senderName"
	label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderName'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="senderMail"
	label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderMail'), ['ucf']) }}">
</rbs-field-text>

<div data-ng-show="document.isVariation">
	<rbs-field-picker-multiple property="websites" accepted-model="Rbs_Website_Website"
		label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'websites'), ['ucf']) }}"
		selector-title="{{ i18nAttr('m.rbs.mail.admin.mail_websites_picker_title', ['ucf']) }}"
		allow-creation="false">
		<span class="alert-danger">{{ i18n('m.rbs.mail.admin.website_required_for_variation') }}</span>
	</rbs-field-picker-multiple>
</div>

<rbs-field-boolean property="useCache"
	label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'useCache'), ['ucf']) }}">
</rbs-field-boolean>

<div data-ng-show="document.useCache">
	<rbs-field property="TTL" label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'TTL'), ['ucf']) }}">
		<input class="form-control" size="7" data-rbs-smart-float="" data-ng-model="document.TTL" min="0"
			type="number" />
		<span class="help-block">{{ i18n('m.rbs.website.admin.page_ttl_help') }}</span>
	</rbs-field>
</div>