<div data-ng-controller="ProximisDatadashboardReportEditController">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.datadashboard.ua.import_edit', ['ucf']) }}"
		data-sub-title="(= document._meta.id =)"></div>
	<div data-ng-if="document">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="icon-info-sign" aria-hidden="true"></span>
							{{ i18n('m.rbs.datadashboard.ua.infos_panel', ['ucf']) }}
						</h3>
					</div>
					<div class="panel-body form-horizontal">
						<div class="row" data-ng-if="document.data.author">
							<label class="col-xs-4 control-label">
								{{ i18n('m.rbs.datadashboard.ua.creation_information', ['ucf', 'lab']) }}
							</label>

							<div class="col-xs-8">
								<div class="form-control-static">
									{{ i18n('m.rbs.datadashboard.ua.launched_by_at', ['ucf'], {'NAME': '(= ::document.data.author =)', 'DATE': '(= ::document.askedDate | pxDateTime =)'}) }}
								</div>
							</div>
						</div>
						<div class="row" data-ng-if="document.data.validationLauncher">
							<label class="col-xs-4 control-label">
								{{ i18n('m.rbs.datadashboard.ua.validation_information', ['ucf', 'lab']) }}
							</label>

							<div class="col-xs-8" data-ng-if="!document.data.validationRunningDate">
								<div class="form-control-static">(= ::document.data.validationLauncher =)</div>
							</div>
							<div class="col-xs-8" data-ng-if="document.data.validationRunningDate">
								<div class="form-control-static">
									{{ i18n('m.rbs.datadashboard.ua.launched_by_at', ['ucf'], {'NAME': '(= ::document.data.validationLauncher =)', 'DATE': '(= ::document.data.validationRunningDate | pxDateTime =)'}) }}
								</div>
							</div>
						</div>
						<div class="row" data-ng-if="document.data.importLauncher">
							<label class="col-xs-4 control-label">
								{{ i18n('m.rbs.datadashboard.ua.import_information', ['ucf', 'lab']) }}
							</label>

							<div class="col-xs-8" data-ng-if="!document.data.importDate">
								<div class="form-control-static">(= ::document.data.importLauncher =)</div>
							</div>
							<div class="col-xs-8" data-ng-if="document.data.importDate">
								<div class="form-control-static">
									{{ i18n('m.rbs.datadashboard.ua.launched_by_at', ['ucf'], {'NAME': '(= ::document.data.importLauncher =)', 'DATE': '(= ::document.data.importRunningDate | pxDateTime =)'}) }}
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-xs-4 control-label">{{ i18n('m.rbs.datadashboard.ua.property_status', ['ucf']) }}</label>

							<div class="col-xs-8">
								<div class="form-control-static">
									<span data-ng-show="document.status == 'INITIATED'" class="text-info">
										<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_initiated', ['ucf']) }}
									</span>
									<span data-ng-show="document.status == 'SCHEDULED'" class="text-info">
										<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_scheduled', ['ucf']) }}
									</span>
									<span data-ng-show="document.status == 'RUNNING'" class="text-warning">
										<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_running', ['ucf']) }}
									</span>
									<span data-ng-show="document.status == 'ERROR'" class="text-error">
										<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_error', ['ucf']) }}
									</span>
									<span data-ng-show="document.status == 'FINISHED'" class="text-success">
										<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_finished', ['ucf']) }}
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-xs-4 control-label">
								{{ i18n('m.rbs.datadashboard.ua.property_import_from', ['ucf']) }}
							</label>

							<div class="col-xs-8">
								<select class="form-control" data-ng-model="document.origin" name="origin" id="origin"
									data-datadashboard-convert-to-number=""
									data-ng-disabled="document.data.files.length > 0"
									data-ng-show="document.status == 'INITIATED'">
									<option value="0">{{ i18n('m.rbs.datadashboard.ua.import_from_ftp', ['ucf']) }}</option>
									<option value="1">{{ i18n('m.rbs.datadashboard.ua.import_from_upload', ['ucf']) }}</option>
								</select>
								<div class="form-control-static" data-ng-show="document.status !== 'INITIATED'">
									<span data-ng-show="document.origin == 0">{{ i18n('m.rbs.datadashboard.ua.import_from_ftp', ['ucf']) }}</span>
									<span
										data-ng-show="document.origin == 1">{{ i18n('m.rbs.datadashboard.ua.import_from_upload', ['ucf']) }}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-xs-4 control-label">
								{{ i18n('m.rbs.datadashboard.ua.property_report_dry_run', ['ucf']) }}<br />
							</label>

							<div class="col-xs-8">
								<div data-ng-show="document.status == 'INITIATED'" class="form-control-inline">
									<div class="btn-group" data-toggle="buttons-checkbox">
										<button id="validate" data-import-from-button="" type="button" class="btn btn-default"
											data-ng-model="document.validate">{{ i18n('m.rbs.datadashboard.ua.validate_process', ['ucf']) }}</button>
										<button id="import" type="button" class="btn btn-default"
											data-ng-model="document.import">{{ i18n('m.rbs.datadashboard.ua.import_process', ['ucf']) }}</button>
									</div>
								</div>
								<div class="form-control-static" data-ng-show="document.status != 'INITIATED'">
									<span data-ng-show="document.validate == 1">{{ i18n('m.rbs.datadashboard.ua.validate_process', ['ucf']) }}</span>
									<span
										data-ng-show="document.validate == 1 && document.import == 1">{{ i18n('m.rbs.datadashboard.ua.and') }}</span>
									<span data-ng-show="document.import">{{ i18n('m.rbs.datadashboard.ua.import_process', ['ucf']) }}</span>
								</div>
								<span class="help-block"
									data-ng-show="document.status == 'INITIATED'">{{ i18n('m.rbs.datadashboard.ua.property_dry_run_legend', ['ucf']) }}</span>
							</div>
						</div>
						<div class="row" data-ng-show="document.status !== 'INITIATED'">
							<label class="col-xs-4 control-label" data-ng-show="document.data.executionTime">
								<span>{{ i18n('m.rbs.datadashboard.ua.property_execution_time', ['ucf']) }}</span>
							</label>
							<div class="col-xs-8" data-ng-show="document.data.executionTime">
								<div class="form-control-static">
									<span>(= ::document.data.executionTime =)</span>
								</div>
							</div>
						</div>
						<div class="row" data-ng-show="document.status !== 'INITIATED' && document.data.validatedLines">
							<label
								class="col-xs-4 control-label">{{ i18n('m.rbs.datadashboard.ua.property_validation_total_lines', ['ucf']) }}</label>
							<div class="col-xs-8">
								<div class="form-control-static"><span>(= ::document.data.validatedLines =)</span></div>
							</div>
						</div>
						<div class="row" data-ng-show="document.status !== 'INITIATED' && document.data.totalErrorsCount">
							<label class="col-xs-4 control-label">{{ i18n('m.rbs.datadashboard.ua.property_total_errors', ['ucf']) }}</label>
							<div class="col-xs-8">
								<div data-ng-if="document.data.totalErrorsCount" class="form-control-static">
									<span>(= ::document.data.totalErrorsCount =)</span>
								</div>
								<div data-ng-if="document.data.totalErrorsCount == 0" class="form-control-static">
									<span>{{ i18n('m.rbs.datadashboard.ua.no_errors', ['ucf']) }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="icon-envelope" aria-hidden="true"></span>
							{{ i18n('m.rbs.datadashboard.ua.notification_panel', ['ucf']) }}
						</h3>
					</div>
					<div class="panel-body form-horizontal">
						<div class="row">
							<label class="col-xs-4 control-label">{{ i18n('m.rbs.datadashboard.ua.notifiy_default_list') }}</label>
							<div class="col-xs-8">
								<rbs-switch data-ng-model="document.data.notifyDefaultList"></rbs-switch>
								<div class="help-block">
									{{ i18n('m.rbs.datadashboard.ua.notification_list', ['ucf'], {'EMAILS': '(= ::document.emails =)'}) }}
								</div>
							</div>
						</div>
						<div class="row">
							<label class="col-xs-4 control-label">{{ i18n('m.rbs.datadashboard.ua.notifiy_people') }}</label>
							<div class="col-xs-8">
								<input class="form-control" data-ng-model="document.data.notifyExtraPeople" type="text" />
								<div class="help-block">{{ i18n('m.rbs.datadashboard.ua.field_notify_extra_people', ['ucf']) }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="" data-ng-show="document" data-ng-if="document.status !== 'INITIATED' && document.status !== 'SCHEDULED'">
					<div id="advanced-detail-panel">
						<div class="panel panel-default" data-px-datadashboard-panel-toggle="">
							<div class="panel-heading toggle-panel-heading">
								<h3 class="panel-title">
									<span></span>
									{{ i18n('m.rbs.datadashboard.ua.raw_datas_panel') }}
								</h3>
							</div>
							<div id="advanced-detail">
								<div class="panel-body">
									<pre><code>(= document | json : 4 =)</code></pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="icon-file-text" aria-hidden="true"></span>
							{{ i18n('m.rbs.datadashboard.ua.import_files_panel', ['ucf']) }}
						</h3>
					</div>
					<div class="panel-body">
						<div data-ng-show="document.status == 'INITIATED' && document.origin == 1" class="form-inline">
							<div class="help-block">
								{{ i18n('m.rbs.datadashboard.ua.uploader_help', ['ucf']) }}
							</div>
							<span class="btn btn-default btn-file">
								<span class="icon-file"></span> {{ i18n('m.rbs.datadashboard.ua.add_files_action', ['ucf']) }}
								<input type="file" nv-file-select="" uploader="uploader" multiple="multiple" />
							</span>
						</div>
						<div id="upload_queue" data-ng-show="uploader.queue.length > 0 && document.origin == 1">
							<h3>{{ i18n('m.rbs.datadashboard.ua.upload_queue_title', ['ucf']) }}</h3>

							<p>{{ i18n('m.rbs.datadashboard.ua.upload_queue', ['ucf']) }} (= uploader.queue.length =)</p>
							<table class="ua-entity-list-table table table-condensed table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th style="width:20px;text-align:center;">#</th>
										<th>{{ i18n('m.rbs.datadashboard.ua.table_filename', ['ucf']) }}</th>
										<th data-ng-show="uploader.isHTML5">{{ i18n('m.rbs.datadashboard.ua.table_filesize', ['ucf']) }}</th>
										<th data-ng-show="uploader.isHTML5">{{ i18n('m.rbs.datadashboard.ua.table_progress', ['ucf']) }}</th>
										<th>{{ i18n('m.rbs.datadashboard.ua.table_status') }}</th>
										<th style="width:100px;">{{ i18n('m.rbs.datadashboard.ua.table_actions', ['ucf']) }}</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="item in uploader.queue">
										<td align="center">(= $index + 1 =)</td>
										<td><strong>(= item.file.name =)</strong></td>
										<td data-ng-show="uploader.isHTML5">(= item.file.size/1024|number:2 =) Ko</td>
										<td data-ng-show="uploader.isHTML5">
											<div class="progress" style="margin-bottom:0;">
												<div class="progress-bar" role="progressbar" data-ng-style="{ 'width': item.progress + '%' }"></div>
											</div>
										</td>
										<td align="center">
											<span data-ng-show="item.isSuccess"><i class="icon-ok"></i></span>
											<span data-ng-show="item.isCancel"><i class="icon-ban-circle"></i></span>
											<span data-ng-show="item.isError"><i class="icon-remove"></i></span>
										</td>
										<td align="center">
											<button type="button" class="btn btn-default" data-ng-click="item.cancel()"
												data-ng-disabled="!item.isUploading">
												<span class="icon-undo"></span> {{ i18n('m.rbs.datadashboard.ua.cancel', ['ucf']) }}
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="files_ready">
							<h3>{{ i18n('m.rbs.datadashboard.ua.files_ready_title', ['ucf']) }}</h3>
							<table class="ua-entity-list-table table table-condensed table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th style="width:20px;text-align:center;">#</th>
										<th>{{ i18n('m.rbs.datadashboard.ua.table_filename', ['ucf']) }}</th>
										<th style="width:100px;" data-ng-show="document.status == 'INITIATED'">
											{{ i18n('m.rbs.datadashboard.ua.table_actions', ['ucf']) }}
										</th>
										<th style="width:15%"
											data-ng-show="document.status != 'INITIATED' && document.status != 'SCHEDULED'">{{ i18n('m.rbs.datadashboard.ua.table_import_backup', ['ucf']) }}</th>
										<th style="width:15%"
											data-ng-show="document.status != 'INITIATED' && document.status != 'SCHEDULED'">{{ i18n('m.rbs.datadashboard.ua.table_import_report', ['ucf']) }}</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="file in document.data.files" data-ng-model="document.data.files"
										data-ng-show="document.status == 'INITIATED'">
										<td align="center">(= $index + 1 =)</td>
										<td>(= file =)</td>
										<td align="center" data-ng-show="document.status == 'INITIATED'">
											<button type="button" class="btn btn-default" data-ng-click="removeFile(file)">
												<span class="icon-trash"></span> {{ i18n('m.rbs.datadashboard.ua.delete', ['ucf']) }}
											</button>
										</td>
									</tr>
									<tr data-ng-repeat="(file, datas) in document.data.fileStats.import" data-ng-if="document.data.fileStats.import">
										<td align="center">(= $index + 1 =)</td>
										<td>(= file =)</td>
										<td align="center">
											<div data-ng-if="datas.backup">
												<span data-px-storage-downloader="" data-change-uri="datas.backup"></span>
											</div>
											<div data-ng-if="!datas.backup">
												<span>-</span>
											</div>
										</td>
										<td align="center">
											<div data-ng-if="datas.logFile">
												<span data-px-storage-downloader="" data-change-uri="datas.logFile"></span>
											</div>
											<div data-ng-if="!datas.logFile">
												<span>-</span>
											</div>
										</td>
									</tr>
									<tr data-ng-repeat="(file, datas) in document.data.fileStats.validation"
										data-ng-if="!document.data.fileStats.import">
										<td align="center">(= $index + 1 =)</td>
										<td>(= file =)</td>
										<td align="center">
											<div data-ng-if="datas.backup">
												<span data-px-storage-downloader="" data-change-uri="datas.backup"></span>
											</div>
											<div data-ng-if="!datas.backup">
												<span>-</span>
											</div>
										</td>
										<td align="center">
											<div data-ng-if="datas.logFile">
												<span data-px-storage-downloader="" data-change-uri="datas.logFile"></span>
											</div>
											<div data-ng-if="!datas.logFile">
												<span>-</span>
											</div>
										</td>
									</tr>
									<tr data-ng-repeat="file in document.data.files"
										data-ng-if="!document.data.fileStats.import && !document.data.fileStats.validation && document.status !== 'INITIATED'">
										<td>(= $index + 1 =)</td>
										<td>(= file =)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-inline pull-right">
					<button class="btn btn-headline btn-primary" type="button"
						data-ng-click="saveImport()" data-ng-disabled="compare() || uploader.isUploading"
						data-ng-if="document.status == 'INITIATED'">
						<span class="icon-save"></span>
						{{ i18n('m.rbs.datadashboard.ua.action_save', ['ucf']) }}
						<small>{{ i18n('m.rbs.datadashboard.ua.update_label') }}</small>
					</button>
					<button class="btn btn-default btn-headline" type="button"
						data-ng-click="undo()" data-ng-disabled="compare() || uploader.isUploading"
						data-ng-if="document.status == 'INITIATED'">
						<span class="icon-undo"></span>
						{{ i18n('m.rbs.datadashboard.ua.action_cancel', ['ucf']) }}
						<small>{{ i18n('m.rbs.datadashboard.ua.update_label') }}</small>
					</button>
					<button class="btn btn-default btn-headline" type="button"
						data-ng-disabled="(document.origin != 0 && document.data.files.length == 0) || (document.status !== 'INITIATED' && document.status !== 'FINISHED') || uploader.isUploading || (!document.import && !document.validate) || loading"
						data-ng-click="launchImport()">
						<span class="icon-cogs"></span>
						<span data-ng-show="document.status == 'INITIATED'">{{ i18n('m.rbs.datadashboard.ua.action_launch', ['ucf']) }}</span>
						<span
							data-ng-show="document.status == 'SCHEDULED' || document.status == 'RUNNING'">{{ i18n('m.rbs.datadashboard.ua.is_launched', ['ucf']) }}</span>
						<small data-ng-show="document.status == 'INITIATED'">{{ i18n('m.rbs.datadashboard.ua.launch_label') }}</small>
						<span
							data-ng-show="document.status == 'FINISHED' && !document.import">{{ i18n('m.rbs.datadashboard.ua.action_launch', ['ucf']) }}</span>
						<span
							data-ng-show="document.status == 'FINISHED' && document.import">{{ i18n('m.rbs.datadashboard.ua.finished', ['ucf']) }}</span>
						<small
							data-ng-show="document.status == 'FINISHED' && !document.import">{{ i18n('m.rbs.datadashboard.ua.launch_label') }}</small>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>