<div data-ng-controller="ProximisDatadashboardReportListController">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.datadashboard.ua.import_toprocess_list', ['ucf']) }}"></div>
	<a class="btn btn-default pull-left" style="margin:3px 30px 3px 0" data-ng-click="createReport()">
		<span class="icon-plus" aria-hidden="true"></span>
		{{ i18nAttr('m.rbs.datadashboard.ua.create_report', ['ucf']) }}
	</a>

	<div data-px-ua-entity-list="" data-rest-service="Rbs_Datadashboard_Report.toProcess" data-action-methods="actionMethods">
		<div data-px-list-column="id" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_id', ['ucf']) }}" data-primary="true">
			<a data-ng-href="(= doc._meta | pxRoute: 'edit' =)">
				<strong>(= doc._meta.id =)</strong>
			</a>
		</div>
		<div data-px-list-column="status" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_status', ['ucf']) }}">
			<span data-ng-show="doc.status == 'INITIATED'" class="text-info">
				<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_initiated', ['ucf']) }}
			</span>
			<span data-ng-show="doc.status == 'SCHEDULED'" class="text-info">
				<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_scheduled', ['ucf']) }}
			</span>
			<span data-ng-show="doc.status == 'RUNNING'" class="text-warning">
				<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_running', ['ucf']) }}
			</span>
			<span data-ng-show="doc.status == 'ERROR'" class="text-error">
				<span class="icon-warning-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_error', ['ucf']) }}
			</span>
			<span data-ng-show="doc.status == 'FINISHED'" class="text-success">
				<span class="icon-info-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_finished', ['ucf']) }}
			</span>
			<span data-ng-show="doc.status == 'JOB_FAILED'" class="text-error">
				<span class="icon-warning-sign"></span> {{ i18nAttr('m.rbs.datadashboard.ua.status_job_failed') }}
			</span>
		</div>
		<div data-px-list-column="files" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_files', ['ucf']) }}">
			<span>(= doc.filesCount =)</span>
		</div>
		<div data-px-list-column="totalErrorsCount" data-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_total_errors', ['ucf']) }}">
			<span>(= doc.totalErrorsCount =)</span>
		</div>
		<div data-px-list-column="askedDate" data-format="date"
			data-label="{{ i18nAttr('m.rbs.datadashboard.ua.property_report_asked_date', ['ucf']) }}"></div>
	</div>
</div>