{# Core #}

{% block rbsGenericIconLoading %}
	<span data-rbs-loading=""></span>
{% endblock rbsGenericIconLoading %}

{% block rbsGenericIconWarning %}
	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
{% endblock rbsGenericIconWarning %}

{# Actions #}

{% block rbsGenericIconGoto %}
	<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
{% endblock rbsGenericIconGoto %}

{% block rbsGenericIconDownload %}
	<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
{% endblock rbsGenericIconDownload %}

{% block rbsGenericIconRefresh %}
	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
{% endblock rbsGenericIconRefresh %}

{% block rbsGenericIconRefreshing %}
	<span class="glyphicon glyphicon-hourglass icon-hourglass-rotate" aria-hidden="true"></span>
{% endblock rbsGenericIconRefreshing %}

{% block rbsGenericIconOk %}
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
{% endblock rbsGenericIconOk %}

{% block rbsGenericIconEdit %}
	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
{% endblock rbsGenericIconEdit %}

{% block rbsGenericIconRemove %}
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
{% endblock rbsGenericIconRemove %}

{% block rbsGenericIconDelete %}
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
{% endblock rbsGenericIconDelete %}

{% block rbsGenericIconExpand %}
	<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
{% endblock rbsGenericIconExpand %}

{% block rbsGenericIconCollapse %}
	<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
{% endblock rbsGenericIconCollapse %}

{% block rbsGenericIconLeft %}
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
{% endblock rbsGenericIconLeft %}

{% block rbsGenericIconRight %}
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
{% endblock rbsGenericIconRight %}

{% block rbsGenericIconPrint %}
	<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
{% endblock rbsGenericIconPrint %}

{% block rbsGenericIconFullScreen %}
	<span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
{% endblock rbsGenericIconFullScreen %}

{# Statuses, rating, etc. #}

{% block rbsGenericIconStar %}
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
{% endblock rbsGenericIconStar %}

{% block rbsGenericIconStarEmpty %}
	<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
{% endblock rbsGenericIconStarEmpty %}

{% block rbsGenericIconVisible %}
	<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
{% endblock rbsGenericIconVisible %}

{% block rbsGenericIconHidden %}
	<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
{% endblock rbsGenericIconHidden %}

{% block rbsGenericIconFavorite %}
	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
{% endblock rbsGenericIconFavorite %}

{% block rbsGenericIconNotFavorite %}
	<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
{% endblock rbsGenericIconNotFavorite %}

{% block rbsGenericIconLike %}
	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
{% endblock rbsGenericIconLike %}

{% block rbsGenericIconDislike %}
	<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
{% endblock rbsGenericIconDislike %}

{# Thematics. #}

{% block rbsGenericIconMenu %}
	<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
{% endblock rbsGenericIconMenu %}

{% block rbsGenericIconVisual %}
	<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
{% endblock rbsGenericIconVisual %}

{% block rbsGenericIconUser %}
	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
{% endblock rbsGenericIconUser %}

{% block rbsGenericIconLang %}
	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
{% endblock rbsGenericIconLang %}

{% block rbsGenericIconSearch %}
	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
{% endblock rbsGenericIconSearch %}

{% block rbsGenericIconPhone %}
	<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
{% endblock rbsGenericIconPhone %}

{% block rbsGenericIconLocation %}
	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
{% endblock rbsGenericIconLocation %}

{% block rbsGenericIconSchedule %}
	<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
{% endblock rbsGenericIconSchedule %}

