<div class="dashboard">
	<h1 class="no-top-margin">Bienvenue sur Proximis Omnichannel !</h1>
	<p>
		Proximis est une solution de commerce omnicanal permettant aux marques et aux enseignes de distribution de vendre en
		ligne dans le monde entier et d’intégrer leur réseau de points de vente au cœur de leur stratégie digitale.
	</p>
	<p>
		Pour plus d'information, visitez <a href="http://www.proximis.com" onclick="window.open(this.href); return false;"
			hreflang="fr">notre site</a>.
	</p>
</div>