<header class="clearfix">
	<button data-ng-click="closeEmbeddedModal()" class="close pull-right" style="margin-left:30px;" type="button">×</button>
	<h3><i class="icon-tag"></i> (= selectedTag.label =)</h3>
</header>

<rbs-document-list collection-url="(= taggedDocumentsUrl =)" selectable="true" extend="taggedDocumentsList" on-reload="reloadTaggedDocuments"
	actions="">
	<rbs-column name="path" thumbnail="XS" thumbnail-path="doc" label="<i class='icon-picture'></i>"></rbs-column>
	<rbs-column name="label" primary="true" label="Document"></rbs-column>
</rbs-document-list>