<header class="clearfix">
	<button data-ng-click="closeEmbeddedModal()" class="close pull-right" style="margin-left:30px;" type="button">×</button>
	<h3><i class="icon-tasks"></i> {{ i18n('m.rbs.admin.admin.dashboard_task_tasks_in_progress', ['ucf']) }}</h3>
</header>

<rbs-document-list model="Rbs_Workflow_Task" collection="tasks" selectable="false" extend="taskList" on-reload="reloadTasks" ations="">
	<rbs-column name="label">
		<div class="pull-right" data-ng-if="doc.status=='EN'">
			<button type="button" class="btn btn-sm btn-success" data-ng-click="extend.resolveTask(doc)"><i class="icon-ok"></i>
			</button>
			<button type="button" class="btn btn-sm btn-danger" data-ng-click="extend.rejectTask(doc)"><i class="icon-ban-circle"></i>
			</button>
		</div>
		(= doc.label =)
	</rbs-column>
	<rbs-column name="taskCode"></rbs-column>
	<rbs-column name="status">
		<span class="label label-success" data-ng-if="doc.status=='FI'">{{ i18n('m.rbs.admin.admin.dashboard_task_end') }}</span>
		<span class="label" data-ng-if="doc.status=='EN'">{{ i18n('m.rbs.admin.admin.dashboard_task_to_execute') }}</span>
	</rbs-column>
	<rbs-column name="document">
		<a href="" data-ng-href="(= doc.document | rbsURL =)">(= doc.document.label =)</a>
		<i class="icon-rbs-navigate-to"></i>
	</rbs-column>
</rbs-document-list>
