<div class="panel panel-default" data-ng-show="shouldBeShown()">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="icon-arrow-right"></i>
			<a href="" data-ng-href="(= document | rbsURL:'response-list' =)">
				{{ i18n('m.rbs.simpleform.admin.response_list', ['ucf']) }} ((= document.responseCount=))
			</a>
		</h3>
	</div>
	<div data-ng-show="document.responseCount" class="panel-body">
		<div class="btn-responsive-toolbar">
			<button class="btn btn-default btn-wrap" type="button" data-ng-disabled="jobIsRunning()"
				data-ng-click="launchExport()">
				<span class="icon-spin icon-spinner ng-hide" data-ng-show="hasJobs"></span>
				{{ i18n('m.rbs.simpleform.admin.launch_csv_export', ['ucf']) }}
			</button>
			<span data-rbs-storage-downloader="" data-change-uri="export.fileURI" data-file-name="'{{ i18n('m.rbs.simpleform.admin.csv_export_file_label', ['ucf']) }}'  + (export.exportDate | rbsDateTime)"></span>
		</div>
		<span class="help-block" data-ng-show="export.exportDate"></span>
		<span data-ng-show="hasJobs">{{ i18n('m.rbs.simpleform.admin.in_process', ['ucf']) }}</span>
	</div>
</div>