<div class="row">
	<div data-rbs-full-width="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.simpleform.admin.form_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Simpleform_Form"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list model="Rbs_Simpleform_Form" publishable="true" filter-collection="filter">
			<rbs-quick-actions>
				[action default]
				<a href="" data-ng-href="(= doc | rbsURL:'createFrom' =)">
					<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.new_from', ['etc']) }}
				</a>
			</rbs-quick-actions>

			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>
</div>