{% use 'Rbs_Generic/icon-templates.twig' %}

<article id="(= idPrefix =)-(= data.id =)" itemscope="" itemtype="http://schema.org/Review" class="panel"
	data-ng-class="{'panel-default': data.common.published, 'panel-warning': !data.common.published}">
	{% block header %}
		<img data-ng-if="data.author.avatar['60']" alt="" data-ng-src="(= data.author.avatar['60'] =)"
			class="img-avatar img-thumbnail pull-right" />
		<header class="panel-heading">
			<span data-ng-show="number">
				<a data-ng-if="url" itemprop="url" rel="nofollow" data-ng-href="(= url =)">(= number =).</a>
				<span data-ng-if="!url">(= number =).</span>
				<span class="divider"> - </span>
			</span>
			{{ i18n('m.rbs.review.front.written_on', ['ucf']) }}
			<time itemprop="dateCreated" datetime="(= data.common.reviewDate =)">
				(= data.common.reviewDate | rbsDateTime =)
			</time>
			<span data-ng-show="data.author.pseudonym">
				{{ i18n('m.rbs.review.front.by') }}
				<span itemprop="author">(= data.author.pseudonym =)</span>
			</span>
			<div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
				<meta itemprop="worstRating" content="0" />
				<meta itemprop="bestRating" content="100" />
				<meta itemprop="ratingValue" content="(= data.common.rating =)" />
				<span data-rbs-review-star-rating="data.common.rating" data-scale="(= scale =)"></span>
			</div>
			<small class="text-muted" itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing">
				<meta itemprop="url" content="(= data.target.url =)" />
				<meta itemprop="name" content="(= data.target.title =)" />
				{{ i18n('m.rbs.review.front.review_about', ['ucf'], { 'target': '<a itemprop="about" href="" data-ng-href="(= data.target.url =)">(= data.target.title =)</a>'}) | raw }}
			</small>
		</header>
	{% endblock header %}
	{% block main %}
		<div itemprop="reviewBody" class="panel-body richtext">
			<div data-ng-bind-html="data.common.content | rbsTrustHtml"></div>
		</div>
	{% endblock main %}
	{% block footer %}
		<footer data-ng-if="handleVotes" class="panel-footer">
			<div class="row">
				<div class="col-sm-6">
					<div data-ng-if="data.votes.total == 0">
						{{ i18n('m.rbs.review.front.review_noVote', ['ucf']) }}
					</div>
					<div data-ng-if="data.votes.total > 0">
						<span class="text-success">
							{{ block('rbsGenericIconLike') }} (= data.votes.up =)
						</span>
						<span class="text-warning">
							{{ block('rbsGenericIconDislike') }} (= data.votes.down =)
						</span>
					</div>
				</div>
				<div class="col-sm-6">
					<div data-ng-if="voted" class="text-right">
						{{ i18n('m.rbs.review.front.review_voted', ['ucf']) }}
					</div>
					<div data-ng-if="canVote" class="text-right">
						<span>{{ i18n('m.rbs.review.front.review_vote', ['ucf']) }}</span>
						<button name="voteUp" class="btn btn-xs btn-success" type="button" data-ng-click="vote('up')">
							{{ block('rbsGenericIconLike') }}
							{{ i18n('m.rbs.review.front.review_upVote', ['ucf']) }}
						</button>
						<button name="voteDown" class="btn btn-xs btn-warning" type="button" data-ng-click="vote('down')">
							{{ block('rbsGenericIconDislike') }}
							{{ i18n('m.rbs.review.front.review_downVote', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</footer>
	{% endblock footer %}
</article>