{% use 'Rbs_Generic/icon-templates.twig' %}

<ol class="list-inline star-rating-input no-bottom-margin">
	<li data-rbs-review-input-star-rating-item="0">
		{%- spaceless %}
			<label class="no-bottom-margin"
				title="{{ i18nAttr('m.rbs.review.front.review_rating', ['ucf'], { 'ratingValue': '0', 'bestRating': '(= scale =)' }) }}">
				<input type="radio" name="review" data-ng-model="scaled.rating" value="0" class="sr-only" />
				<span data-ng-class="{'text-primary': scaled.hover == 0}">
					{{ block('rbsGenericIconStarEmpty') }}
				</span>
			</label>
		{% endspaceless -%}
	</li>
	<li class="divider">|</li>
	<li data-ng-repeat="i in stars" data-rbs-review-input-star-rating-item="(= i =)">
		{%- spaceless %}
			<label class="no-bottom-margin"
				title="{{ i18nAttr('m.rbs.review.front.review_rating', ['ucf'], { 'ratingValue': '(= i =)', 'bestRating': '(= scale =)' }) }}">
				<input type="radio" name="rating" data-ng-model="scaled.rating" data-ng-value="i" class="sr-only no-top-margin" />
				<span data-ng-class="{'text-primary': scaled.hover == i, 'text-muted': scaled.rating < i && scaled.hover != i}">
					{{ block('rbsGenericIconStar') }}
				</span>
			</label>
		{% endspaceless -%}
	</li>
	<li>{{ i18n('m.rbs.review.front.review_rating', ['ucf'], { 'ratingValue': '(= scaled.rating =)', 'bestRating': '(= scale =)' }) }}</li>
</ol>