<div data-ng-show="loading" class="text-center">
	<p><img alt="" src="{{ resourceURL('Theme/Rbs/Base/img/loading.gif') }}" /></p>
	<p>{{ i18n('m.rbs.generic.front.loading', ['ucf', 'etc']) }}</p>
</div>
<div data-ng-hide="loading">
	<p class="text-danger" data-ng-show="error">
		(= error =)
	</p>

	<div data-ng-if="data.review">
		{% block display %}
			<div data-rbs-review-display="data.review" data-scale="(= scale =)" data-id-prefix="current-review" data-handle-votes="handleVotes"></div>
		{% endblock display %}
	</div>

	<div data-ng-show="loadingEdition" class="text-center">
		<p><img alt="" src="{{ resourceURL('Theme/Rbs/Base/img/loading.gif') }}" /></p>
		<p>{{ i18n('m.rbs.generic.front.loading', ['ucf', 'etc']) }}</p>
	</div>
	<div data-ng-if="data.editableReview.common && !loadingEdition">
		<div data-ng-if="!data.isEditing">
			{% block toolbar %}
				<p>
					<span data-ng-show="!data.editableReview.common.published" class="text-warning">
						{{ i18n('m.rbs.review.front.review_pending_correction', ['ucf']) }}
					</span>
					<span data-ng-show="data.editableReview.common.published" class="text-success">
						{{ i18n('m.rbs.review.front.published_review', ['ucf']) }}
					</span>
					<button type="button" class="btn btn-default btn-xs" data-ng-click="editReview()">
						{{ i18n('m.rbs.review.front.edit_review', ['ucf']) }}
					</button>
				</p>
			{% endblock toolbar %}

			<div data-ng-if="!data.editableReview.common.published">
				{% block correction %}
					<div data-rbs-review-display="data.editableReview" data-scale="(= scale =)"
						data-id-prefix="current-review" data-handle-votes="false">
					</div>
				{% endblock correction %}
			</div>
		</div>
		<div data-ng-if="data.isEditing">
			{% block edition %}
				<div data-rbs-review-edit="data" data-scale="(= scale =)" data-id-prefix="current-review"></div>
			{% endblock edition %}
		</div>
	</div>
	<div data-ng-if="!data.review && !data.editableReview.common && !loadingEdition">
		{% block deleted %}
			<p>{{ i18n('m.rbs.review.front.review_deleted', ['ucf']) }}</p>
		{% endblock deleted %}
	</div>
</div>