<div class="row" data-ng-if="statsData.common.count">
	<div class="col-sm-5 col-md-4">
		{% block distribution %}
			<div data-ng-show="scaledDistribution">
				<h3>{{ i18n('m.rbs.review.front.review_note_distribution', ['ucf']) }}</h3>
				<table class="table review-distribution">
					<caption>
						{{ i18n('m.rbs.review.front.average_rating', ['ucf'], { 'averageRating': '(= scaledAverage|number:1 =)' }) }}
					</caption>
					<tbody>
						<tr data-ng-repeat="row in scaledDistribution">
							{% block distributionItem %}
								<td>
									<span data-rbs-review-star-rating="row.rating" data-scale="(= scale =)" data-scaled="true"></span>
								</td>
								<td>
									(= row.count =)
									(= row.count > 1 ? "{{ i18nAttr('m.rbs.review.front.reviews') }}" : "{{ i18nAttr('m.rbs.review.front.review') }}" =)
									-
									(= row.percent | number:0 =)%
								</td>
								<td>
									<div class="progress no-bottom-margin">
										<div class="progress-bar" role="progressbar" data-ng-style="row.ngStyle"
											aria-valuenow="(= row.rating =)" aria-valuemin="0"
											aria-valuemax="(= scale =)">
											<span class="sr-only">(= row.percent | number:0 =)%</span>
										</div>
									</div>
								</td>
							{% endblock distributionItem %}
						</tr>
					</tbody>
				</table>
			</div>
		{% endblock distribution %}
	</div>
	<div class="col-sm-7 col-md-8">
		{% block promoted %}
			<div data-ng-show="statsData.promoted.length">
				<h3>{{ i18n('m.rbs.review.front.promoted_review_list_title_promoted', ['ucf']) }}</h3>
				<ul class="list-unstyled list-reviews">
					<li data-ng-repeat="review in statsData.promoted">
						{% block promotedItem %}
							<div data-rbs-review-display="review" data-scale="(= scale =)"
								data-id-prefix="promoted-review" data-handle-votes="handleVotes"></div>
						{% endblock promotedItem %}
					</li>
				</ul>
			</div>
		{% endblock promoted %}
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		{% block vurrent %}
			<h3>{{ i18n('m.rbs.review.front.review_post', ['ucf']) }}</h3>
			<div data-rbs-review-current-review="" data-scale="(= scale =)" data-target-id="targetId"></div>
		{% endblock vurrent %}
	</div>
</div>

<div class="row" data-ng-show="statsData.common.count">
	<div class="col-sm-12">
		{% block list %}
			<h3>{{ i18n('m.rbs.review.front.review_list', ['ucf']) }} ((= statsData.common.count =))</h3>
			<div data-rbs-review-reviews-list="" data-scale="(= scale =)" data-target-id="targetId"
				data-ajax-data="ajaxData" data-ajax-params="ajaxParams" data-reviews-per-page="reviewsPerPage"
				data-is-editing="isEditing" data-handle-votes="handleVotes" data-list-data="listData"></div>
		{% endblock list %}
	</div>
</div>