<div data-ng-show="loading" class="text-center">
	<p><img alt="" src="{{ resourceURL('Theme/Rbs/Base/img/loading.gif') }}" /></p>
	<p>{{ i18n('m.rbs.generic.front.loading', ['ucf', 'etc']) }}</p>
</div>
<div data-ng-hide="loading">
	<p class="text-danger" data-ng-show="error">
		(= error =)
	</p>
	<div data-ng-show="!identified">
		{% block reviewGuest %}
			<p class="muted">
				{{ i18n('m.rbs.review.front.review_post_not_connected', ['ucf']) }}
				{# TODO add a button or a link to connect user #}
			</p>
		{% endblock reviewGuest %}
	</div>
	<div data-ng-if="identified">
		<div data-ng-if="data.review">
			{% block reviewDisplay %}
				<div data-rbs-review-display="data.review" data-scale="(= scale =)"
					data-id-prefix="current-review" data-handle-votes="false">
				</div>
			{% endblock reviewDisplay %}
		</div>

		<div data-ng-show="loadingEdition" class="text-center">
			<p><img alt="" src="{{ resourceURL('Theme/Rbs/Base/img/loading.gif') }}" /></p>
			<p>{{ i18n('m.rbs.generic.front.loading', ['ucf', 'etc']) }}</p>
		</div>
		<div data-ng-if="data.editableReview && !loadingEdition">
			<div data-ng-if="data.editableReview.common && !data.isEditing">
				{% block reviewToolbar %}
					<p>
						<span data-ng-show="!data.editableReview.common.published && !data.editableReview.common.hasCorrection"
							class="text-warning">
							{{ i18n('m.rbs.review.front.pending_publication', ['ucf']) }}
						</span>
						<span data-ng-show="!data.editableReview.common.published && data.editableReview.common.hasCorrection"
							class="text-warning">
							{{ i18n('m.rbs.review.front.review_pending_correction', ['ucf']) }}
						</span>
						<span data-ng-show="data.editableReview.common.published" class="text-success">
							{{ i18n('m.rbs.review.front.published_review', ['ucf']) }}
						</span>
						<button type="button" class="btn btn-default btn-xs" data-ng-click="editReview()">
							{{ i18n('m.rbs.review.front.edit_review', ['ucf']) }}
						</button>
					</p>
				{% endblock reviewToolbar %}

				<div data-ng-if="!data.editableReview.common.published">
					{% block reviewCorrection %}
						<div data-rbs-review-display="data.editableReview" data-scale="(= scale =)"
							data-id-prefix="current-review" data-handle-votes="false">
						</div>
					{% endblock reviewCorrection %}
				</div>
			</div>
			<div data-ng-if="data.isEditing">
				{% block reviewEdition %}
					<div data-rbs-review-edit="data" data-scale="(= scale =)" data-id-prefix="current-review"></div>
				{% endblock reviewEdition %}
			</div>
		</div>
	</div>
</div>