<div data-ng-show="loading" class="text-center">
	<p><img alt="" src="{{ resourceURL('Theme/Rbs/Base/img/loading.gif') }}" /></p>
	<p>{{ i18n('m.rbs.generic.front.loading', ['ucf', 'etc']) }}</p>
</div>
<div data-ng-show="!loading">
	<ul class="list-unstyled list-reviews">
		<li data-ng-repeat="review in listData.items">
			{% block item %}
				<div data-rbs-review-display="review" data-scale="(= scale =)" data-id-prefix="review"
					data-handle-votes="handleVotes" data-number="(= 1 + $index + listData.pagination.offset =)"></div>
			{% endblock item %}
		</li>
	</ul>
	<div data-rbs-pagination="listData.pagination" data-update-offset="updateListDataOffset"></div>
</div>