{% use 'Rbs_Generic/icon-templates.twig' %}

<span class="sr-only">
	{{ i18n('m.rbs.review.front.review_rating_labeled', ['ucf'], { 'ratingValue': '(= scaledRating =)', 'bestRating': '(= scale =)' }) | raw }}
</span>
<span class="star-rating" aria-hidden="true"
	title="{{ i18nAttr('m.rbs.review.front.review_rating_labeled', ['ucf'], { 'ratingValue': '(= scaledRating =)', 'bestRating': '(= scale =)' }) }}">
	<span data-ng-repeat="i in stars" data-ng-class="{'text-muted': scaledRating <= i}">
		{{ block('rbsGenericIconStar') }}
	</span>
</span>