<span data-ng-if="!data.count">
	{% block withoutReview %}
		<a href="javascript:" data-ng-click="showReviews()">
			{{- i18n('m.rbs.review.front.no_review_yey', ['ucf']) -}}
		</a>
	{% endblock withoutReview %}
</span>
<span data-ng-if="data.count" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
	<meta itemprop="worstRating" content="0" />
	<meta itemprop="bestRating" content="100" />
	<meta itemprop="ratingValue" content="(= data.rating =)" />
	<meta itemprop="reviewCount" content="(= data.count =)" />
	{% block withReview %}
		<span data-rbs-review-star-rating="data.rating" data-scale="(= scale =)"></span>
		(<a href="javascript:" data-ng-click="showReviews()">
			{{- i18n('m.rbs.review.front.review_count', ['ucf'], { 'COUNT': '(= data.count =)' }) -}}
		</a>)
	{% endblock withReview %}
</span>