{% use 'Rbs_Simpleform/form-templates.twig' %}
<form method="post" class="form-horizontal" name="rbsReview(= reviewUniqueId =)">
	<fieldset>
		<div class="form-group">
			<label class="col-sm-4 col-md-3 control-label" for="rbs-review-pseudonym-(= reviewUniqueId =)">
				{{ i18n('m.rbs.review.front.review_post_pseudonym', ['ucf']) }}
			</label>
			<div class="col-sm-8 col-md-9">
				<div class="form-control-static" id="rbs-review-pseudonym-(= reviewUniqueId =)">
					(= editingData.pseudonym =)
					<em data-ng-show="!editingData.pseudonym">
						{{ i18n('m.rbs.user.front.no_pseudonym', ['ucf']) }}
					</em>
				</div>
				<p class="help-block no-bottom-margin">{{ i18n('m.rbs.review.front.pseudonym_help', ['ucf']) }}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-md-3 control-label" for="rbs-review-rating-(= reviewUniqueId =)">
				{{ block('rbsSimpleformRequiredSymbol') }}
				{{ i18n('m.rbs.review.front.review_post_rating', ['ucf']) }}
			</label>
			<div class="col-sm-8 col-md-9">
				<div class="form-control-static" id="rbs-review-rating-(= reviewUniqueId =)" data-scale="(= scale =)"
					data-rbs-review-input-star-rating="" data-ng-model="editingData.rating" required="required">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 col-md-3 control-label" for="rbs-review-content-(= reviewUniqueId =)">
				{{ block('rbsSimpleformRequiredSymbol') }}
				{{ i18n('m.rbs.review.front.review_post_content', ['ucf']) }}
			</label>
			<div class="col-sm-8 col-md-9">
				<textarea class="form-control" id="rbs-review-content-(= reviewUniqueId =)" name="content" rows="7"
					data-ng-model="editingData.content.raw" required="required"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
				{% block footerContent %}
					<p>
						{% block footerContentHelp %}
							{{ block('rbsSimpleformRequiredSymbolsExplain') }}
						{% endblock footerContentHelp %}
					</p>
					{% block footerContentButtons %}
						<div data-ng-hide="editingData.isNew">
							{% block footerContentButtonsEdit %}
								<button class="btn btn-primary" type="button" data-ng-click="saveReview()"
									data-ng-disabled="rbsReview(= reviewUniqueId =).$invalid">
									{{ i18n('m.rbs.review.front.review_post_update', ['ucf']) }}
								</button>
								<button class="btn btn-default" type="button" data-ng-click="cancelEdition()">
									{{ i18n('m.rbs.generic.front.cancel', ['ucf']) }}
								</button>
								<button class="btn btn-danger" type="button" data-ng-click="deleteReview($event)"
									data-confirm-message="{{ i18nAttr('m.rbs.review.front.confirm_delete_review') }}">
									{{ i18n('m.rbs.generic.front.delete', ['ucf']) }}
								</button>
							{% endblock footerContentButtonsEdit %}
						</div>
						<div data-ng-show="editingData.isNew">
							{% block footerContentButtonsNew %}
								<button class="btn btn-primary" type="button" data-ng-click="saveReview()"
									data-ng-disabled="rbsReview(= reviewUniqueId =).$invalid">
									{{ i18n('m.rbs.review.front.review_post_submit', ['ucf']) }}
								</button>
							{% endblock footerContentButtonsNew %}
						</div>
					{% endblock footerContentButtons %}
				{% endblock footerContent %}
			</div>
		</div>
	</fieldset>
</form>