<div data-ng-controller="Rbs_User_Group_PublicProfileController">
	<rbs-page-header sub-title="{{ i18nAttr('m.rbs.user.admin.public_profile_sub_title', ['ucf']) }}"></rbs-page-header>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>(= document.label =) <small data-ng-if="document.identifier">@+(= document.identifier =)</small></h4>
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal no-bottom-margin">
				<dt>{{ i18n(propertyKey('Rbs_User_Group', 'label'), ['ucf']) }}</dt>
				<dd>(= document.label =)</dd>
				<dt>{{ i18n(propertyKey('Rbs_User_Group', 'realm'), ['ucf']) }}</dt>
				<dd>(= document.realm =)</dd>
			</dl>
		</div>
	</div>

	<h4>{{ i18n('m.rbs.user.admin.user_list', ['ucf']) }}</h4>
	<rbs-document-list model="Rbs_User_User" modification-date="false" load-query="query" actions="">
		<rbs-column name="login" primary="true"></rbs-column>
		<rbs-column name="email"></rbs-column>
		<rbs-quick-actions></rbs-quick-actions>
	</rbs-document-list>
</div>