<rbs-field-text property="email" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_User_User', 'email'), ['ucf']) }}">
</rbs-field-text>

<rbs-field data-label="{{ i18nAttr(propertyKey('Rbs_User_User', 'mobilePhone'), ['ucf']) }}">
	<div data-rbs-input-phone-number="" property="mobilePhone" data-ng-model="document.mobilePhone"></div>
</rbs-field>

<rbs-field-text property="login"
	label="{{ i18nAttr(propertyKey('Rbs_User_User', 'login'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker-multiple property="groups" required="false" label="{{ i18nAttr('m.rbs.user.admin.group_list', ['ucf']) }}"
	accepted-model="Rbs_User_Group"
	selector-title="{{ i18nAttr('m.rbs.user.admin.group_picker_title', ['ucf']) }}">
</rbs-field-picker-multiple>