.alert-counter {
	padding: 10px;
	border-radius: 10px;
	min-height: 115px;
	text-align: center;
}

.alert-counter .main {
	padding-bottom: 15px;
	font-size: 1.4em;
	font-weight: bold;
}

.alert-counter .dispatch {
	font-size: 0.9em;
}

.facet-splitter {
	margin: 0 5px;
}