<table class="table table-bordered">
	<thead>
		<tr>
			<th>{{ i18n('m.rbs.datadashboard.dashboard.main_file', ['ucf']) }}</th>
			<th>{{ i18n('m.rbs.datadashboard.dashboard.translation_file', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>users_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>sections_XXXXXX.csv</td>
			<td>sections_i18n_XXXXXX.csv</td>
		</tr>
		<tr>
			<td>{{ i18n('m.rbs.datadashboard.dashboard.image_files', ['lc']) }}</td>
			<td>-</td>
		</tr>
		<tr>
			<td>visual_urls_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>visuals_XXXXXX.csv</td>
			<td>visuals_XXXXXX.csv</td>
		</tr>
		<tr>
			<td>collections_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>user_addresses_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>metas_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>urls_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>skus_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>prices_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>brands_XXXXXX.csv</td>
			<td>brands_i18n_XXXXXX.csv</td>
		</tr>
		<tr>
			<td>products_XXXXXX.csv</td>
			<td>products_i18n_XXXXXX.csv</td>
		</tr>
		<tr>
			<td>webstocks_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>storestocks_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>movements_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>stores_XXXXXX.csv</td>
			<td>stores_i18n_XXXXXX.csv</td>
		</tr>
		<tr>
			<td>beneficiations_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>positions_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>orders_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>shipments_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>parcels_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>restockings_XXXXXX.csv</td>
			<td>-</td>
		</tr>
		<tr>
			<td>store_managers_XXXXXX.csv</td>
			<td>-</td>
		</tr>
	</tbody>
</table>