<div>
	<h3>{{ i18n('m.rbs.datadashboard.dashboard.file_format_head') }}</h3>

	<div>
		<p>{{ i18n('m.rbs.datadashboard.dashboard.file_format', ['ucf']) }}</p>
		<p>{{ i18n('m.rbs.datadashboard.dashboard.file_format_warning', ['ucf']) | raw }}</p>
	</div>
	<h3>{{ i18n('m.rbs.datadashboard.dashboard.file_order_head') }}</h3>

	<div>
		<p>{{ i18n('m.rbs.datadashboard.dashboard.file_order', ['ucf']) }}</p>
	</div>
</div>
