<rbs-links-panel title="{{ i18nAttr('m.project.library.admin.module_name', ['ucf']) }}" icon="icon-book">
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Work', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.work_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_WorkGroup', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.workgroup_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Contributor', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.contributor_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Contribution', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.contribution_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Publisher', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.publisher_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Collection', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.collection_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Publication', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.publication_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_PublicationVolume', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.publicationvolume_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_WebSite', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.webSite_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Link', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.link_list', ['ucf']) }}
	</a>
</rbs-links-panel>

<rbs-links-panel title="{{ i18nAttr('m.project.library.admin.user_data_name', ['ucf']) }}" icon="icon-group">
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Possession', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.possession_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Loan', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.loan_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Reading', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.reading_list', ['ucf']) }}
	</a>
</rbs-links-panel>

<rbs-links-panel title="{{ i18nAttr('m.project.library.admin.administration_name', ['ucf']) }}" icon="icon-cogs">
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_ContributionType', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.contributiontype_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_Genre', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.genre_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_WorkStatus', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.workstatus_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_PossessionStatus', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.possessionstatus_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_LoanStatus', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.loanstatus_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Library_ReadingStatus', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.library.admin.readingstatus_list', ['ucf']) }}
	</a>
</rbs-links-panel>