<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Notification_Svi">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Notification_Svi'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit="" data-rbs-document-editor-translate=""
			data-rbs-document-editor-rbs-notification-svi-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="content" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Notification_Svi', 'content'), ['ucf']) }}">
				</rbs-field-text>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>