{% block rbsUserUse %}
	{% use 'Rbs_Simpleform/form-templates.twig' %}
{% endblock rbsUserUse %}

<div data-ng-cloak="" data-rbs-user-change-mobile-phone="" data-ng-if="blockParameters.authenticatedUser">
	<form class="form-horizontal" name="rbsUserChangeMobilePhone" data-ng-submit="submit()">
		<fieldset>
			<h1 data-ng-show="showTitle">{{ i18n('m.rbs.user.front.change_mobile_phone_title', ['ucf']) }}</h1>
			<p class="text-danger" data-ng-show="error" data-ng-bind="error"></p>

			<div data-ng-if="inputNumber">
				<div class="form-group">
					<label for="rbs-user-change-mobile-phone-password" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.current_password', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-change-mobile-phone-password" type="password" class="form-control"
							required="required" name="password" data-ng-model="data.password"
							placeholder="{{ i18nAttr('m.rbs.user.front.current_password_placeholder', ['ucf']) }}" />
					</div>
				</div>

				<div class="form-group" data-ng-if="inputNumber" data-ng-class="{
									'has-error': rbsUserChangeMobilePhone.mobilePhone.$dirty && rbsUserChangeMobilePhone.mobilePhone.$invalid,
									'has-success': rbsUserChangeMobilePhone.mobilePhone.$dirty && !rbsUserChangeMobilePhone.mobilePhone.$invalid
								}">
					<label for="rbs-user-change-mobile-phone-mobilePhone" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.mobile_phone', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9" data-rbs-geo-input-phone-number="" data-mobile-only="true"
						data-name="mobilePhone" data-ng-required="true"
						data-ng-model="data.mobilePhone">
					</div>
				</div>

				<div class="form-group" data-ng-if="inputNumber">
					<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
						<button class="btn btn-primary" type="submit"
							data-ng-disabled="rbsUserChangeMobilePhone.$invalid">
							{{ i18n('m.rbs.user.front.send_confirm_code', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>

			<div data-ng-if="confirmNumber">
				<div class="form-group">
					<label class="col-sm-4 col-md-3 control-label">
						{{ i18n('m.rbs.user.front.mobile_phone', ['ucf']) }}
					</label>
					<div class="col-sm-8 col-md-9 form-control-static" data-rbs-geo-phone-formatter="" data-number="data.mobilePhone"></div>
				</div>

				<div class="form-group">
					<label for="rbs-user-change-mobile-phone-token-validation" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.confirm_code', ['ucf']) }}
					</label>
					<div class="col-sm-8 col-md-9">
						<input class="form-control" id="rbs-user-change-mobile-phone-token-validation"
							data-ng-model="data.tokenValidation" autocomplete="off"
							data-ng-minlength="5" type="text" name="tokenValidation" required="required"
							style="width: 10em" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
						<button class="btn btn-primary" type="submit"
							data-ng-disabled="rbsUserChangeMobilePhone.$invalid">
							{{ i18n('m.rbs.user.front.confirm_mobile_phone', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>