{% block rbsUserUse %}
{% endblock rbsUserUse %}

{% block defaultCreateAccount %}
	<div data-rbs-user-create-account=""></div>
{% endblock defaultCreateAccount %}

{% if providers|length > 0 and not parameters.accessorId %}
	{% block socialLogin %}
		<div data-ng-hide="!showCreationForm() || parameters.socialRequestAccountCreated || accountConfirmed" data-ng-cloak="">
			<h1>{{ i18n('m.rbs.social.front.social_auth_title', ['ucf']) }}</h1>
			<div data-ng-controller="RbsSocialCreateAccountController">
				{% for provider in providers %}
					<button class="btn btn-primary btn-login-social-{{ provider.provider }}" type="button"
						data-ng-click="socialCreateAccount('{{ provider.id }}')">
						{{ provider.provider }}
					</button>
				{% endfor %}
			</div>
			{% if parameters.requestEmail %}
				<br />
				<div class="alert alert-danger" role="alert">
					{{ i18n('m.rbs.social.front.request_email', ['ucf']) }}
				</div>
			{% endif %}
			{% if parameters.accountAlreadyExists %}
				<br />
				<div class="alert alert-danger" role="alert">
					{{ i18n('m.rbs.social.front.account_already_exists', ['ucf']) }} {{ parameters.socialEmail }}
				</div>
			{% endif %}
		</div>
	{% endblock socialLogin %}
{% endif %}