{% block rbsUserUse %}
{% endblock rbsUserUse %}

{% block defaultLogin %}
	<div data-rbs-user-login=""></div>
{% endblock defaultLogin %}

{% if providers|length > 0 and not parameters.accessorId %}
	{% block socialLogin %}
	<div data-ng-hide="parameters.accessorId" data-ng-cloak="">
		<h1>{{ i18n('m.rbs.social.front.social_auth_title', ['ucf']) }}</h1>
		<div data-ng-controller="RbsSocialAuthController">
			{% for provider in providers %}
				<button class="btn btn-primary btn-login-social-{{ provider.provider }}" type="button"
					data-ng-click="link('{{ provider.id }}')">
					{{ provider.provider }}
				</button>
			{% endfor %}
		</div>
		{% if parameters.notLinkedAccount %}
			<br />
			<div class="alert alert-danger" role="alert">
				{{ i18n('m.rbs.social.front.account_not_linked', ['ucf']) }} {{ parameters.notLinkedProvider }}
			</div>
		{% endif %}
	</div>
	{% endblock socialLogin %}
{% endif %}