<div class="row" data-ng-controller="RbsUaAppList">
	<div data-rbs-aside-column="">
		<div data-rbs-default-asides-for-list=""></div>
	</div>

	<div data-rbs-main-column="">

		<div data-rbs-page-header="" title="{{ i18nAttr('m.rbs.ua.admin.app_list', ['ucf']) }}"></div>
		<div class="table-responsive">
			<table class="document-list table table-condensed table-bordered table-striped table-hover token">
				<thead>
					<tr>
						<th>{{ i18n('m.rbs.ua.admin.app_name', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.ua.admin.consumer_key', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.ua.admin.consumer_secret', ['ucf']) }}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="app in apps" class="normal-row">
						<td>(= app.name =)</td>
						<td title="(= app.consumer_key =)">(= app.consumer_key | limitTo:app.limit||30 =) <span data-ng-show="!app.limit">...</span>
							<span class="pull-right quick-actions-buttons">
								<button class="btn-flat" data-ng-click="copy($event, app, 'consumer_key')"
									title="{{ i18nAttr('m.rbs.ua.admin.copy', ['ucf']) }}">
									<i class="icon-copy"></i>
								</button>
							</span>
						</td>
						<td title="(= app.consumer_secret =)">(= app.consumer_secret | limitTo:app.limit||30 =) <span data-ng-show="!app.limit">...</span>
							<span class="pull-right quick-actions-buttons">
								<button class="btn-flat" data-ng-click="copy($event, app, 'consumer_secret')"
									title="{{ i18nAttr('m.rbs.ua.admin.copy', ['ucf']) }}">
									<i class="icon-copy"></i>
								</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
