<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt data-ng-if="document.publisher">(= 'm.project.library.app.publication_publisher'|i18n|ucf =)</dt>
							<dd data-ng-if="document.publisher">
								<a href="" data-ng-href="(= document.publisher|appURL =)">(= document.publisher.label =)</a>
							</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div data-project-library-links="document.links"></div>
			</div>
		</div>

		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">(= 'm.project.library.app.publisher_description'|i18n|ucf =)</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.collection_publications'|i18n|ucf =)"
			data-columns="work,year" data-filter-properties="work.label" data-compact="true"
			data-model-name="Project_Library_Publication" data-block-level="secondary" data-static-filters="publicationStaticFilters"
			data-content-template-url="Project_Library/html/publication-list-content.html">
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>