<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-text="" data-property="label"
			data-label="(= 'm.project.library.app.collection_name'|i18n|ucf =)">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.work_group_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_CollectionLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>