<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>(= 'm.project.library.app.collection'|i18n|ucf =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td><a href="" data-ng-href="(= document|appURL =)">(= document.label =)</a></td>
		</tr>
	</tbody>
</table>