<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>(= 'm.project.library.app.contributor_name'|i18n|ucf =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td><div data-project-library-contributor-link="document"></div></td>
		</tr>
	</tbody>
</table>