<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-document="" data-property="work"
			data-accepted-model="Project_Library_Work" data-allow-creation="true"
			data-label="(= 'm.project.library.app.contribution_work'|i18n|ucf =)">
		</div>
		<div data-app-field-document="" data-property="contributor"
			data-accepted-model="Project_Library_Contributor" data-allow-creation="true"
			data-label="(= 'm.project.library.app.contribution_contributor'|i18n|ucf =)">
		</div>
		<div data-app-field-document-array="" data-property="contributionTypes"
			data-accepted-model="Project_Library_ContributionType" data-allow-creation="true" data-mode="options"
			data-label="(= 'm.project.library.app.contribution_types'|i18n|ucf =)">
		</div>
		<div data-app-field-text="" data-property="detail"
			data-label="(= 'm.project.library.app.contribution_detail'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-label="(= 'm.project.library.app.contribution_importance'|i18n|ucf =)">
			<select class="form-control" data-ng-model="document.importance"
				data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_ContributionImportance"
				data-ng-options="item.value as item.label for item in pxCollection">
				<option value=""></option>
			</select>
		</div>
		<div data-app-field-integer="" data-property="contributionYear"
			data-label="(= 'm.project.library.app.contribution_year'|i18n|ucf =)">
		</div>
		<div data-app-field-integer="" data-property="contributionEndYear"
			data-label="(= 'm.project.library.app.contribution_end_year'|i18n|ucf =)">
		</div>
		<div data-app-field=""
			data-label="(= 'm.project.library.app.contribution_description'|i18n|ucf =)">
			<div data-app-rich-text-input="" data-ng-model="document.description" class="margin-half-bottom"></div>
			<button type="button" data-ng-click="evaluateDescription(document, 'IMDB')" class="btn btn-default">
				(= 'm.project.library.app.action_parse_from_imdb'|i18n|ucf =)
			</button>
		</div>
		<div data-app-field="" data-label="(= 'm.project.library.app.contribution_episode_count'|i18n|ucf =)">
			<div class="form-inline">
				<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]+$/" data-ng-model="document.episodeCount" />
				<button type="button" data-ng-disabled="!document.description.t" data-ng-click="calculateEpisodeCount(document)" class="btn btn-default">
					(= 'm.project.library.app.action_calculate'|i18n|ucf =)
				</button>
			</div>
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>