<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div data-ng-if="document.aliasesData">
			<div data-project-library-contributor-aliases="document.aliasesData"></div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt data-ng-if-start="document.contributorType">(= 'm.project.library.app.contributor_type'|i18n|ucf =)</dt>
							<dd data-ng-if-end="">(= document.contributorType =)</dd>
							<dt data-ng-if-start="document.nationalities.length">(= 'm.project.library.app.contributor_nationalities'|i18n|ucf =)</dt>
							<dd data-ng-if-end="">
								<span data-ng-repeat="nationality in document.nationalitiesData"
									data-project-library-nationality="nationality" data-mode="responsive"></span>
							</dd>
							<dt data-ng-if-start="document.birthYear">(= 'm.project.library.app.contributor_birth_date'|i18n|ucf =)</dt>
							<dd data-ng-if-end="">(= document.birthDate ? (document.birthDate|appDate) : document.birthYear =)</dd>
							<dt data-ng-if-start="document.deathYear">(= 'm.project.library.app.contributor_death_date'|i18n|ucf =)</dt>
							<dd data-ng-if-end="">(= document.deathDate ? (document.deathDate|appDate) : document.deathYear =)</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div data-project-library-links="document.links"></div>
			</div>
		</div>

		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">(= 'm.project.library.app.work_description'|i18n|ucf =)</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.contribution_list'|i18n|ucf =)"
			data-model-name="Project_Library_Contribution" data-block-level="secondary" data-compact="true"
			data-static-filters="contributionStaticFilters" data-columns="work,detail,episodeCount,importance"
			data-allow-creation="true" data-content-template-url="Project_Library/html/contributor-contribution-list-content.html"
			data-new-url-parameters="newSubDocumentUrlParameters" data-new-route-name="newForContributor"
			data-full-list-url="document | appURL:'contributions'" data-filter-properties="work.label,detail">
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>