<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th class="table-column-small"><span class="glyphicon glyphicon-eye-open"></span></th>
			<th style="width: 50px;">(= 'm.project.library.app.contribution_years'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.contribution_work'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.contribution_types'|i18n|ucf =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td><a href="" data-ng-href="(= document|appURL =)">(= 'm.project.familinet.app.action_view'|i18n|ucf =)</a></td>
			<td>
				<small class="nowrap">
					(= document.year =)
					<span data-ng-show="document.endYear && document.year != document.endYear">- (= document.endYear =)</span>
				</small>
			</td>
			<td><div data-project-library-work-link="document.work"></div></td>
			<td>
				<div data-project-library-contribution-roles="document"></div>
			</td>
		</tr>
	</tbody>
</table>