<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-text="" data-property="label"
			data-label="(= 'm.project.library.app.contributor_name'|i18n|ucf =)">
		</div>
		<div data-app-field-document-array="" data-property="nationalities" data-mode="options" data-static-filters="activeStaticFilters"
			data-accepted-model="Rbs_Geo_Country" data-label="(= 'm.project.library.app.contributor_nationalities'|i18n|ucf =)">
		</div>
		<div data-app-field-date="" data-property="birthDate"
			data-label="(= 'm.project.library.app.contributor_birth_date'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-property="birthYear"
			data-label="(= 'm.project.library.app.contributor_birth_year'|i18n|ucf =)">
			<div class="form-inline">
				<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]{1,4}$/" size="4"
					data-ng-model="document.birthYear" data-ng-readonly="document.birthDate" />
				<span class="text-muted" data-ng-show="document.birthDate">(= 'm.project.library.app.contributor_birth_year_help'|i18n|ucf =)</span>
			</div>
		</div>
		<div data-app-field-date="" data-property="deathDate"
			data-label="(= 'm.project.library.app.contributor_death_date'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-property="deathYear"
			data-label="(= 'm.project.library.app.contributor_death_year'|i18n|ucf =)">
			<div class="form-inline">
				<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]{1,4}$/" size="4"
					data-ng-model="document.deathYear" data-ng-readonly="document.deathDate" />
				<span class="text-muted" data-ng-show="document.deathDate">(= 'm.project.library.app.contributor_death_year_help'|i18n|ucf =)</span>
			</div>
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.work_group_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<fieldset>
		<legend>(= 'm.project.library.app.contributor_aliases'|i18n|ucf =)</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Library_ContributorAlias" data-property="aliases">
			<thead>
				<tr>
					<th style="width: 25px;">
						<abbr title="(= 'm.project.library.app.contributor_civil_name'|i18n|ucf =)">
							(= 'm.project.library.app.contributor_civil_name_abbr'|i18n|ucf =)
						</abbr>
					</th>
					<th>(= 'm.project.library.app.alias_label'|i18n|ucf =)</th>
					<th>(= 'm.project.library.app.alias_comment'|i18n|ucf =)</th>
					<th style="width: 150px;">(= 'm.project.library.app.alias_for_website'|i18n|ucf =)</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="alias in document.aliases">
					<td>
						<input type="checkbox" class="form-control" data-ng-model="alias.civilName" />
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.label" />
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.comment" />
					</td>
					<td>
						<div data-app-document-select="" data-ng-model="alias.forWebsite" data-value-ids="true"
									data-allow-creation="false" data-accepted-model="Project_Library_WebSite"></div>
					</td>
					<td class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="(= 'm.project.familinet.app.action_move_up'|i18n|ucf =)">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="(= 'm.project.familinet.app.action_move_down'|i18n|ucf =)">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.aliases.length >= 5">
				<tr>
					<td colspan="3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_ContributorLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>