<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.contribution_list'|i18n|ucf =)"
			data-model-name="Project_Library_Contribution" data-block-level="secondary"
			data-static-filters="contributionStaticFilters" data-columns="work,detail,episodeCount,importance"
			data-allow-creation="true" data-content-template-url="Project_Library/html/contributor-contribution-list-content.html"
			data-new-url-parameters="newSubDocumentUrlParameters" data-new-route-name="newForContributor"
			data-filter-properties="work.label">
		</div>
	</div>
</div>