<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= 'Project_Library_Work'|appURL =)">(= 'm.project.library.app.work_list'|i18n|ucf =)</a></h3>
			<p>(= 'm.project.library.app.work_list_description'|i18n|ucf =)</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= 'Project_Library_WorkGroup'|appURL =)">(= 'm.project.library.app.work_group_list'|i18n|ucf =)</a></h3>
			<p class="no-bottom-margin">(= 'm.project.library.app.work_group_list_description'|i18n|ucf =)</p>
		</div>
	</div>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= 'Project_Library_Contributor'|appURL =)">(= 'm.project.library.app.contributor_list'|i18n|ucf =)</a></h3>
			<p class="no-bottom-margin">(= 'm.project.library.app.contributor_list_description'|i18n|ucf =)</p>
		</div>
	</div>
	<div class="clearfix visible-md-block visible-lg-block"></div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= 'Project_Library_Publisher'|appURL =)">(= 'm.project.library.app.publisher_list'|i18n|ucf =)</a></h3>
			<p class="no-bottom-margin">(= 'm.project.library.app.publisher_list_description'|i18n|ucf =)</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= 'Project_Library_Possession'|appURL =)">(= 'm.project.library.app.possession_list'|i18n|ucf =)</a></h3>
			<p class="no-bottom-margin">(= 'm.project.library.app.possession_list_description'|i18n|ucf =)</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= 'Project_Library_Reading'|appURL =)">(= 'm.project.library.app.reading_list'|i18n|ucf =)</a></h3>
			<p class="no-bottom-margin">(= 'm.project.library.app.reading_list_description'|i18n|ucf =)</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= 'Rbs_User_User'|appURL =)">(= 'm.project.library.app.user_list'|i18n|ucf =)</a></h3>
			<p class="no-bottom-margin">(= 'm.project.library.app.user_list_description'|i18n|ucf =)</p>
		</div>
	</div>
</div>