<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>(= 'm.project.library.app.loan_borrower'|i18n|ucf =)</th>
			<th style="width: 30px;">(= 'm.project.library.app.possession_status'|i18n|ucf =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td>
				<a href="" data-ng-href="(= document|appURL =)">
					(= document.borrowerName =)
				</a>
				<small class="text-muted">(= document.date|appDate =)</small>
			</td>
			<td>
				<span data-project-library-status="document.status" data-mode="responsive"></span>
			</td>
		</tr>
	</tbody>
</table>