<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-text="" data-property="borrowerName"
			data-label="(= 'm.project.library.app.loan_borrower'|i18n|ucf =)">
		</div>
		<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_LoanStatus"
			data-label="(= 'm.project.library.app.loan_status'|i18n|ucf =)" data-required="true">
		</div>
		<div data-app-field-date="" data-property="date" data-show-now-button="true"
			data-label="(= 'm.project.library.app.loan_date'|i18n|ucf =)">
		</div>
		<div data-app-field-date="" data-property="returnDate" data-show-now-button="true"
			data-label="(= 'm.project.library.app.loan_return_date'|i18n|ucf =)">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.loan_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>