<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	<span class="glyphicon glyphicon-book"></span> (= 'm.project.library.app.library'|i18n|ucf =) <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
	<li><a href="" data-ng-href="(= 'Project_Library'|appURL =)">(= 'm.project.familinet.app.home'|i18n|ucf =)</a></li>
	<li class="divider"></li>
	<li><a href="" data-ng-href="(= 'Project_Library_Work'|appURL =)">(= 'm.project.library.app.work_list'|i18n|ucf =)</a></li>
	<li><a href="" data-ng-href="(= 'Project_Library_WorkGroup'|appURL =)">(= 'm.project.library.app.work_group_list'|i18n|ucf =)</a></li>
	<li><a href="" data-ng-href="(= 'Project_Library_Contributor'|appURL =)">(= 'm.project.library.app.contributor_list'|i18n|ucf =)</a></li>
	<li><a href="" data-ng-href="(= 'Project_Library_Publisher'|appURL =)">(= 'm.project.library.app.publisher_list'|i18n|ucf =)</a></li>
	<li class="divider"></li>
	<li><a href="" data-ng-href="(= 'Project_Library_Possession'|appURL =)">(= 'm.project.library.app.possession_list'|i18n|ucf =)</a></li>
	<li><a href="" data-ng-href="(= 'Project_Library_Reading'|appURL =)">(= 'm.project.library.app.reading_list'|i18n|ucf =)</a></li>
	<li><a href="" data-ng-href="(= 'Rbs_User_User'|appURL =)">(= 'm.project.library.app.user_list'|i18n|ucf =)</a></li>
</ul>