<h3 class="no-top-margin">
	<span class="glyphicon glyphicon-book pull-right text-muted"></span>
	<a href="" data-ng-href="(= 'Project_Library'|appURL =)">(= 'm.project.library.app.library'|i18n|ucf =)</a>
</h3>
<p>(= 'm.project.library.app.library_description'|i18n|ucf =)</p>
<ul>
	<li>
		<a href="" data-ng-href="(= 'Project_Library_Work'|appURL =)">(= 'm.project.library.app.work_list'|i18n|ucf =)</a>
	</li>
	<li>
		<a href="" data-ng-href="(= 'Project_Library_WorkGroup'|appURL =)">(= 'm.project.library.app.work_group_list'|i18n|ucf =)</a>
	</li>
	<li>
		<a href="" data-ng-href="(= 'Project_Library_Contributor'|appURL =)">(= 'm.project.library.app.contributor_list'|i18n|ucf =)</a>
	</li>
	<li>
		<a href="" data-ng-href="(= 'Project_Library_Publisher'|appURL =)">(= 'm.project.library.app.publisher_list'|i18n|ucf =)</a>
	</li>
	<li>
		<a href="" data-ng-href="(= 'Project_Library_Possession'|appURL =)">(= 'm.project.library.app.possession_list'|i18n|ucf =)</a>
	</li>
	<li>
		<a href="" data-ng-href="(= 'Project_Library_Reading'|appURL =)">(= 'm.project.library.app.reading_list'|i18n|ucf =)</a>
	</li>
	<li>
		<a href="" data-ng-href="(= 'Rbs_User_User'|appURL =)">(= 'm.project.library.app.user_list'|i18n|ucf =)</a>
	</li>
</ul>