<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-document-array="" data-property="owners" data-accepted-model="Rbs_User_User" data-mode="options"
			data-label="(= 'm.project.library.app.possession_owners'|i18n|ucf =)">
		</div>
		<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_PossessionStatus"
			data-label="(= 'm.project.library.app.possession_status'|i18n|ucf =)">
		</div>
		<div data-app-field-boolean="" data-property="complete"
			data-label="(= 'm.project.library.app.possession_complete'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-property="details" data-label="(= 'm.project.library.app.possession_details'|i18n|ucf =)">
			<table class="table" data-app-document-inline="Project_Library_PossessionDetail" data-property="details">
				<thead>
					<tr>
						<th>(= 'm.project.library.app.possession_detail_publication'|i18n|ucf =)</th>
						<th>(= 'm.project.library.app.possession_detail_volumes'|i18n|ucf =)</th>
						<th>(= 'm.project.library.app.possession_detail_description'|i18n|ucf =)</th>
						<th class="text-right th-btn th-btn-3">
							<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
								title="(= 'm.project.library.app.possession_detail_add'|i18n|ucf =)">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="detail in document.details" data-project-library-possession-detail-edit="">
						<td>
							<div data-app-document-selector="" data-ng-model="detail.publication"
								data-static-filters="publicationStaticFilters"
								data-accepted-model="Project_Library_Publication" data-mode="options"></div>
						</td>
						<td>
							<div data-ng-show="!detail.publication.oneShot">
								<div data-app-document-array-selector="" data-ng-model="detail.volumes"
									data-ng-disabled="!detail.publication" data-static-filters="volumesStaticFilters"
									data-accepted-model="Project_Library_PublicationVolume" data-mode="options">
								</div>
							</div>
						</td>
						<td>
							<div data-ng-show="!detail.publication.oneShot">
								<input type="text" class="form-control" data-ng-model="detail.description" />
							</div>
							<div data-ng-show="detail.publication.oneShot">
								1 ((= 'm.project.library.app.one_shot'|i18n|ucf =))
							</div>
						</td>
						<td class="text-right">
							<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
								data-ng-disabled="$first" title="(= 'm.project.familinet.app.action_move_up'|i18n|ucf =)">
								<span class="glyphicon glyphicon-triangle-top"></span>
							</button>
							<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
								data-ng-disabled="$last" title="(= 'm.project.familinet.app.action_move_down'|i18n|ucf =)">
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button>
							<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
								title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.possession_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>