<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-title="(= 'm.project.library.app.possession'|i18n|ucf =)"
			data-subtitle="(= document.label =)"></div>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt>(= 'm.project.library.app.possession_work'|i18n|ucf =)</dt>
							<dd><div data-project-library-work-link="document.work"></div></dd>
							<dt>(= 'm.project.library.app.possession_owners'|i18n|ucf =)</dt>
							<dd><span data-project-library-user-links="document.owners"></span></dd>
							<dt>(= 'm.project.library.app.possession_status'|i18n|ucf =)</dt>
							<dd><span data-project-library-status="document.status"></span></dd>
							<dt data-ng-if="document.volumesLabel">(= 'm.project.library.app.possession_volumes'|i18n|ucf =)</dt>
							<dd data-ng-if="document.volumesLabel">(= document.volumesLabel =)</dd>
							<dt data-ng-if="document.complete">(= 'm.project.library.app.possession_complete'|i18n|ucf =)</dt>
							<dd data-ng-if="document.complete">
								<span class="glyphicon glyphicon-ok text-success"
									title="(= 'm.project.library.app.possession_complete'|i18n|ucf =)"></span>
							</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
						</dl>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel panel-default" data-ng-if="document.details">
					<div class="panel-heading">(= 'm.project.library.app.possession_details'|i18n|ucf =)</div>
					<div class="panel-body">
						<ul class="no-bottom-margin">
							<li data-ng-repeat="detail in document.details">
								<span data-project-library-publication="detail.publication"></span>
								<span data-ng-if="detail.publication"> :</span>
								<span data-ng-if="!detail.volumes.length">(= detail.label =)</span>
								<div data-ng-if="detail.volumes.length" class="dropdown cursor-pointer inline-block">
									<span data-toggle="dropdown">(= detail.label =) <span class="caret"></span></span>
									<ul class="dropdown-menu">
										<li data-ng-repeat="volume in detail.volumes">
											<a href="" data-ng-href="(= volume|appURL =)">(= volume.label =)</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.possession_loans'|i18n|ucf =)"
					data-model-name="Project_Library_Loan" data-block-level="secondary" data-static-filters="loanStaticFilters"
					data-columns="borrowerName,status,date,possession" data-compact="true" data-allow-creation="true"
					data-content-template-url="Project_Library/html/loan-list-content.html"
					data-new-url-parameters="newSubDocumentUrlParameters" data-filter-properties="borrowerName">
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel panel-default" data-ng-if="document.description.t">
					<div class="panel-heading">(= 'm.project.library.app.possession_description'|i18n|ucf =)</div>
					<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
				</div>
			</div>
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>