<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.publisher_publications'|i18n|ucf =)"
			data-columns="work,year" data-model-name="Project_Library_Publication" data-block-level="secondary"
			data-static-filters="publicationStaticFilters"
			data-content-template-url="Project_Library/html/publication-list-content.html" data-filter-properties="work.label">
		</div>
	</div>
</div>