<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th class="table-column-small"></th>
			<th>(= 'm.project.library.app.publication_work'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.publication_label'|i18n|ucf =)</th>
			<th style="width: 30px;"><abbr title="(= 'm.project.library.app.publication_start_year'|i18n|ucf =)">
				(= 'm.project.library.app.publication_start_year_abbr'|i18n|ucf =)
			</abbr></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td><a href="" data-ng-href="(= document|appURL =)">(= 'm.project.familinet.app.action_view'|i18n|ucf =)</a></td>
			<td><div data-project-library-work-link="document.work"></div></td>
			<td>
				<span data-project-library-status="document.status" data-mode="compact"></span>
				<span data-project-library-publication="document"></span>
			</td>
			<td>(= document.year =)</td>
		</tr>
	</tbody>
</table>