<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>(= 'm.project.library.app.publication_volume_number'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.publication_volume_label'|i18n|ucf =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td><a href="" data-ng-href="(= document|appURL =)">(= document.number =)</a></td>
			<td>(= document.label =)</td>
		</tr>
	</tbody>
</table>