<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt data-ng-if="document.name">(= 'm.project.library.app.publication_name'|i18n|ucf =)</dt>
							<dd data-ng-if="document.name">(= document.name =)</dd>
							<dt data-ng-if="document.status">(= 'm.project.library.app.publication_status'|i18n|ucf =)</dt>
							<dd data-ng-if="document.status">
								<span data-project-library-status="document.status"></span>
							</dd>
							<dt data-ng-if="document.publisher">(= 'm.project.library.app.publication_publisher'|i18n|ucf =)</dt>
							<dd data-ng-if="document.publisher">
								<a href="" data-ng-href="(= document.publisher|appURL =)">(= document.publisher.label =)</a>
							</dd>
							<dt data-ng-if="document.collection">(= 'm.project.library.app.publication_collection'|i18n|ucf =)</dt>
							<dd data-ng-if="document.collection">
								<a href="" data-ng-href="(= document.collection|appURL =)">(= document.collection.label =)</a>
							</dd>
							<dt data-ng-if="document.year">(= 'm.project.library.app.publication_year'|i18n|ucf =)</dt>
							<dd data-ng-if="document.year">
								(= document.year =) <span data-ng-if="document.endYear">- (= document.endYear =)</span>
							</dd>
							<dt data-ng-if="document.nationalitiesCount">(= 'm.project.library.app.contributor_nationalities'|i18n|ucf =)</dt>
							<dd data-ng-if="document.nationalitiesCount">
								<span data-ng-repeat="nationality in document.nationalitiesData"
									data-project-library-nationality="nationality" data-mode="responsive"></span>
							</dd>
							<dt data-ng-if="document.volumesDetail">(= 'm.project.library.app.publication_volumes_detail'|i18n|ucf =)</dt>
							<dd data-ng-if="document.volumesDetail">
								<span data-ng-show="document.oneShot">(= 'm.project.library.app.publication_one_shot'|i18n|ucf =)</span>
								<span data-ng-hide="document.oneShot">(= document.volumesDetail =)</span>
							</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
						</dl>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div data-project-library-links="document.links"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						(= 'm.project.library.app.publication_languages'|i18n|ucf =)
					</div>
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
							<dt data-ng-repeat-start="info in document.languagesInfos">(= info.function =)</dt>
							<dd data-ng-repeat-end="">
								<span data-ng-repeat="language in info.languages">
									(= language =)<span class="separator" data-ng-if="!$last">, </span>
								</span>
							</dd>
						</dl>
						<span class="clearfix"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">(= 'm.project.library.app.publisher_description'|i18n|ucf =)</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>

		<div data-ng-if="document.oneShot">
			<div class="row">
				<div class="col-md-6">
					<div data-app-document-list="" data-list-title="(= 'm.project.library.app.publication_possessions'|i18n|ucf =)"
						data-model-name="Project_Library_Possession" data-block-level="secondary"
						data-static-filters="possessionStaticFilters"
						data-columns="status,volumes,complete,owners,work,publication" data-compact="true" data-allow-creation="true"
						data-content-template-url="Project_Library/html/possession-list-content.html"
						data-new-route-name="newOnPossession" data-new-url-parameters="newSubDocumentUrlParameters"
						data-filter-properties="none">
					</div>
				</div>
				<div class="col-md-6">
					<div data-app-document-list="" data-list-title="(= 'm.project.library.app.reading_list'|i18n|ucf =)"
						data-model-name="Project_Library_Reading" data-block-level="secondary"
						data-static-filters="readingStaticFilters" data-compact="true" data-allow-creation="false"
						data-columns="reader,volumesDetail,rating,beginDate,endDate,status"
						data-content-template-url="Project_Library/html/work-reading-list-content.html"
						data-full-list-url="document | appURL:'readings'"
						data-filter-properties="none">
					</div>
				</div>
			</div>
		</div>

		<div data-ng-if="!document.oneShot">
			<div class="row">
				<div class="col-md-6">
					<div data-app-document-list="" data-list-title="(= 'm.project.library.app.publication_possessions'|i18n|ucf =)"
						data-model-name="Project_Library_Possession" data-block-level="secondary"
						data-static-filters="possessionStaticFilters"
						data-columns="status,volumes,complete,owners,work,publication" data-compact="true" data-allow-creation="true"
						data-content-template-url="Project_Library/html/possession-list-content.html"
						data-new-route-name="newOnPossession" data-new-url-parameters="newSubDocumentUrlParameters"
						data-filter-properties="none">
					</div>
					<div data-app-document-list="" data-list-title="(= 'm.project.library.app.reading_list'|i18n|ucf =)"
						data-model-name="Project_Library_Reading" data-block-level="secondary"
						data-static-filters="readingStaticFilters" data-compact="true" data-allow-creation="false"
						data-columns="reader,volumesDetail,rating,beginDate,endDate,status"
						data-content-template-url="Project_Library/html/work-reading-list-content.html"
						data-full-list-url="document | appURL:'readings'"
						data-filter-properties="none">
					</div>
				</div>
				<div class="col-md-6">
					<div data-ng-hide="document.oneShot" data-app-document-list=""
						data-list-title="(= 'm.project.library.app.publication_volumes'|i18n|ucf =)"
						data-model-name="Project_Library_PublicationVolume" data-block-level="secondary"
						data-static-filters="publicationVolumeStaticFilters"
						data-columns="number" data-compact="true" data-allow-creation="true"
						data-content-template-url="Project_Library/html/publication-volume-list-content.html"
						data-new-url-parameters="newSubDocumentUrlParameters" data-sort-property="order"
						data-full-list-url="document | appURL:'volumes' ">
					</div>
				</div>
			</div>
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>