<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-subtitle="(= document.subtitle =)"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.publication_volume_list'|i18n|ucf =)"
			data-columns="number" data-block-level="secondary" data-static-filters="publicationVolumeStaticFilters"
			data-model-name="Project_Library_PublicationVolume" data-content-template-url="Project_Library/html/publication-volume-list-content.html"
			data-sort-desc="false" data-sort-property="order" data-filter-properties="label">
		</div>
	</div>
</div>