<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt>(= 'm.project.library.app.publication_volume_number'|i18n|ucf =)</dt>
							<dd>(= document.number =)</dd>
							<dt>(= 'm.project.library.app.publication_volume_label'|i18n|ucf =)</dt>
							<dd>(= document.label =)</dd>
							<dt>(= 'm.project.library.app.publication_volume_order'|i18n|ucf =)</dt>
							<dd>(= document.order =)</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
						</dl>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="panel panel-default" data-ng-if="document.description.t">
					<div class="panel-heading">(= 'm.project.library.app.publisher_description'|i18n|ucf =)</div>
					<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.reading_list'|i18n|ucf =)"
					data-model-name="Project_Library_Reading" data-block-level="secondary"
					data-static-filters="readingStaticFilters" data-compact="true" data-allow-creation="false"
					data-columns="reader,volumesDetail,rating,beginDate,endDate,status"
					data-content-template-url="Project_Library/html/work-reading-list-content.html" data-full-list-url="document | appURL:'readings'"
					data-filter-properties="none">
				</div>
			</div>
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>