<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.publisher_collections'|i18n|ucf =)"
			data-columns="" data-allow-creation="true" data-model-name="Project_Library_Collection"
			data-block-level="secondary" data-static-filters="collectionStaticFilters"
			data-content-template-url="Project_Library/html/collection-list-content.html"
			data-new-url-parameters="newSubDocumentUrlParameters">
		</div>
	</div>
</div>