<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-text="" data-property="name"
			data-label="(= 'm.project.library.app.publication_name'|i18n|ucf =)">
		</div>
		<div data-app-field-document="" data-property="publisher" data-accepted-model="Project_Library_Publisher"
			data-allow-creation="true" data-label="(= 'm.project.library.app.publication_publisher'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-label="(= 'm.project.library.app.publication_collection'|i18n|ucf =)">
			<select class="form-control" data-ng-model="document.collection" data-ng-disabled="!document.publisher"
				data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Collections"
				data-collection-params="publisher:(= document.publisher.id =)" data-ng-options="item.value as item.label for item in pxCollection">
				<option value=""></option>
			</select>
		</div>
		<div data-app-field-integer="" data-property="year"
			data-label="(= 'm.project.library.app.publication_start_year'|i18n|ucf =)">
		</div>
		<div data-app-field-integer="" data-property="endYear"
			data-label="(= 'm.project.library.app.publication_end_year'|i18n|ucf =)">
		</div>
		<div data-app-field-boolean="" data-property="oneShot"
			data-label="(= 'm.project.library.app.publication_one_shot'|i18n|ucf =)">
		</div>
		<div data-ng-if="!document.oneShot">
			<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_WorkStatus"
				data-label="(= 'm.project.library.app.publication_status'|i18n|ucf =)">
			</div>
			<div data-app-field-text="" data-property="volumesDetail"
				data-label="(= 'm.project.library.app.publication_volumes_detail'|i18n|ucf =)">
			</div>
		</div>
		<div data-app-field-document-array="" data-property="nationalities" data-accepted-model="Rbs_Geo_Country" data-mode="options"
			data-static-filters="activeStaticFilters" data-label="(= 'm.project.library.app.publication_nationalities'|i18n|ucf =)">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.publication_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<fieldset>
		<legend>(= 'm.project.library.app.publication_languages'|i18n|ucf =)</legend>
		<div data-project-library-language-function-selector="document.languagesSelection" data-ready="isDocumentReady"></div>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_PublicationLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>