<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div data-ng-if="document.aliasesData">
			<div data-project-library-publisher-aliases="document.aliasesData"></div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt data-ng-if="document.nationalities.length">(= 'm.project.library.app.contributor_nationalities'|i18n|ucf =)</dt>
							<dd data-ng-if="document.nationalities.length">
								<span data-ng-repeat="nationality in document.nationalitiesData"
									  data-project-library-nationality="nationality" data-mode="responsive"></span>
							</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div data-project-library-links="document.links"></div>
			</div>
		</div>

		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">(= 'm.project.library.app.publisher_description'|i18n|ucf =)</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.publisher_publications'|i18n|ucf =)"
					data-columns="work,year" data-compact="true" data-model-name="Project_Library_Publication"
					data-block-level="secondary" data-static-filters="publicationStaticFilters"
					data-content-template-url="Project_Library/html/publication-list-content.html"
					data-full-list-url="document | appURL:'publications'" data-filter-properties="work.label,name">
				</div>
			</div>

			<div class="col-md-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.publisher_collections'|i18n|ucf =)"
					data-columns="" data-allow-creation="true" data-compact="true" data-model-name="Project_Library_Collection"
					data-block-level="secondary" data-static-filters="collectionStaticFilters"
					data-content-template-url="Project_Library/html/collection-list-content.html"
					data-new-url-parameters="newSubDocumentUrlParameters" data-full-list-url="document | appURL:'collections'">
				</div>
			</div>
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>