<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-text="" data-property="number"
			data-label="(= 'm.project.library.app.publication_volume_number'|i18n|ucf =)">
		</div>
		<div data-app-field-text="" data-property="label"
			data-label="(= 'm.project.library.app.publication_volume_label'|i18n|ucf =)">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.publication_volume_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>