<fieldset data-app-document-editor-section="" data-project-library-reading-detail-edit="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_ReadingStatus" data-required="true"
			data-label="(= 'm.project.library.app.reading_status'|i18n|ucf =)">
		</div>
		<div data-app-field-document="" data-property="work" data-accepted-model="Project_Library_Work" data-required="true"
			data-label="(= 'm.project.library.app.reading_work'|i18n|ucf =)">
		</div>
		<div data-app-field-document="" data-property="publication" data-accepted-model="Project_Library_Publication"
			data-static-filters="publicationsStaticFilters" data-mode="options"
			data-label="(= 'm.project.library.app.reading_publication'|i18n|ucf =)" data-ng-disabled="!document.work">
		</div>
		<div data-app-field-document-array="" data-property="volumes" data-accepted-model="Project_Library_PublicationVolume"
			data-static-filters="volumesStaticFilters" data-mode="options"
			data-label="(= 'm.project.library.app.reading_volumes'|i18n|ucf =)" data-ng-disabled="!document.publication">
		</div>
		<div data-app-field-text="" data-property="volumesDetail"
			data-label="(= 'm.project.library.app.reading_volumes_detail'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-property="beginDate"
			data-label="(= 'm.project.library.app.reading_begin_date'|i18n|ucf =)">
			<div data-app-date-selector="" data-ng-model="document.beginDate" data-show-now-button="true">
				<button type="button" class="btn btn-default" data-ng-click="copyToEndDate()"
					title="(= 'm.project.library.app.reading_copy_to_end_date'|i18n|ucf =)">
					<span class="glyphicon glyphicon-arrow-down"></span>
				</button>
			</div>
		</div>
		<div data-app-field-date="" data-property="endDate" data-show-now-button="true"
			data-label="(= 'm.project.library.app.reading_end_date'|i18n|ucf =)">
		</div>
		<div data-app-field-star-rating="" data-property="rating" data-scale="10"
			data-label="(= 'm.project.library.app.reading_rating'|i18n|ucf =)">
		</div>
		<div data-app-field-rich-text="" data-property="comment"
			data-label="(= 'm.project.library.app.reading_comment'|i18n|ucf =)">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>