<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th class="table-column-small"><span class="glyphicon glyphicon-eye-open"></span></th>
			<th>(= 'm.project.library.app.reading_reader'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.reading_work'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.reading_volumes'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.reading_rating'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.reading_dates'|i18n|ucf =)</th>
			<th style="width: 30px;">(= 'm.project.library.app.reading_status'|i18n|ucf =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td><a href="" data-ng-href="(= document|appURL =)">(= 'm.project.familinet.app.action_view'|i18n|ucf =)</a></td>
			<td><span data-project-library-user-link="document.reader"></span></td>
			<td><div data-project-library-work-link="document.work"></div></td>
			<td><small data-ng-show="document.volumesLabel">(= document.volumesLabel =)</small></td>
			<td><span data-app-star-rating="document.rating" data-scale="10" data-mode="compact"></span></td>
			<td>
				<small class="nowrap">
					<span data-ng-if="document.beginDate">(= document.beginDate|appDate =)</span>
					<span data-ng-if="document.beginDate && document.endDate && document.beginDate != document.endDate">-</span>
					<span data-ng-if="document.endDate && document.beginDate != document.endDate">(= document.endDate|appDate =)</span>
				</small>
			</td>
			<td>
				<small data-ng-if="document.loanOngoingStatus">
					<span data-project-library-status="document.loanOngoingStatus" data-mode="responsive"></span>
				</small>
				<small data-ng-if="!document.loanOngoingStatus">
					<span data-project-library-status="document.status" data-mode="responsive"></span>
				</small>
			</td>
		</tr>
	</tbody>
</table>