<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" title="(= 'm.project.library.app.reading'|i18n|ucf =)"></div>

		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt>(= 'm.project.library.app.reading_reader'|i18n|ucf =)</dt>
							<dd><span data-project-library-user-link="document.reader"></span></dd>
							<dt>(= 'm.project.library.app.reading_work'|i18n|ucf =)</dt>
							<dd><div data-project-library-work-link="document.work"></div></dd>
							<dt data-ng-if="document.publication">(= 'm.project.library.app.reading_publication'|i18n|ucf =)</dt>
							<dd data-ng-if="document.publication">
								<a href="" data-ng-href="(= document.publication|appURL =)">(= document.publication.label =)</a>
							</dd>
							<dt data-ng-if="document.volumesLabel">(= 'm.project.library.app.reading_volumes'|i18n|ucf =)</dt>
							<dd data-ng-if="document.volumesLabel">
								<div data-ng-if="!document.volumes.length">(= document.volumesLabel =)</div>
								<div data-ng-if="document.volumes.length" class="dropdown cursor-pointer">
									<span data-toggle="dropdown">(= document.volumesLabel =) <span class="caret"></span></span>
									<ul class="dropdown-menu">
										<li data-ng-repeat="volume in document.volumes">
											<a href="" data-ng-href="(= volume|appURL =)">(= volume.label =)</a>
										</li>
									</ul>
								</div>
							</dd>
							<dt data-ng-if="document.beginDate || document.endDate">
								(= 'm.project.library.app.reading_dates'|i18n|ucf =)
							</dt>
							<dd data-ng-if="document.beginDate || document.endDate">
								<span data-ng-if="document.beginDate">(= document.beginDate|appDate =)</span>
								<span data-ng-if="document.beginDate && document.endDate && document.beginDate != document.endDate">-</span>
								<span data-ng-if="document.endDate && document.beginDate != document.endDate">(= document.endDate|appDate =)</span>
							</dd>
							<dt data-ng-if="document.rating !== undefined && document.rating !== null">(= 'm.project.library.app.reading_rating'|i18n|ucf =)</dt>
							<dd data-ng-if="document.rating !== undefined && document.rating !== null">
								<span data-app-star-rating="document.rating" data-scale="10"></span>
							</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
							<dt>(= 'm.project.library.app.reading_status'|i18n|ucf =)</dt>
							<dd>
								<span data-project-library-status="document.status"></span>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default" data-ng-if="document.comment.t">
					<div class="panel-heading">(= 'm.project.library.app.reading_comment'|i18n|ucf =)</div>
					<div class="panel-body" data-app-rich-text="" data-path="document.comment"></div>
				</div>
			</div>
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>