<div class="row" data-ng-cloak="" data-app-document-editor="" data-model="Project_Library_Reading">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>(= 'm.project.familinet.app.edition'|i18n|ucf =) <small>(= document.label =)</small></h1>
		</div>

		<form class="form-horizontal" data-ng-submit="submit()"
			data-app-document-edit="" data-app-document-edit-project-library-reading="">

			<div data-ng-include="'Project_Library/html/reading-properties.html'"></div>

			<div data-app-document-editor-footer=""></div>
		</form>
	</div>
</div>