<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-readonly="true"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.user_readings'|i18n|ucf =)"
			data-model-name="Project_Library_Reading" data-block-level="secondary" data-allow-creation="true"
			data-static-filters="readingStaticFilters" data-columns="work,volumesDetail,rating,beginDate,endDate,status"
			data-content-template-url="Project_Library/html/user-reading-list-content.html"
			data-new-url-parameters="newSubDocumentUrlParameters"
			data-sort-desc="true" data-sort-property="beginDate" data-filter-properties="work.label">
		</div>
	</div>
</div>