<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-readonly="true"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.user_possessions'|i18n|ucf =)"
			data-model-name="Project_Library_Possession" data-block-level="secondary"
			data-static-filters="possessionStaticFilters" data-columns="status,volumes,complete,owners,work,publication"
			data-content-template-url="Project_Library/html/user-possession-list-content.html"
			data-sort-desc="true" data-sort-property="creationDate" data-filter-properties="work.label">
		</div>
	</div>
</div>