<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-readonly="true" data-title="(= document.pseudonym =)"></div>

		<div class="row">
			<div class="col-lg-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.user_possessions'|i18n|ucf =)"
					data-model-name="Project_Library_Possession" data-block-level="secondary"
					data-static-filters="possessionStaticFilters" data-columns="status,volumes,complete,owners,work,publication"
					data-content-template-url="Project_Library/html/user-possession-list-content.html" data-compact="true"
					data-full-list-url="document | appURL:'possessions'" data-sort-desc="true" data-sort-property="creationDate"
					data-filter-properties="work.label">
				</div>
			</div>

			<div class="col-lg-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.user_readings'|i18n|ucf =)"
					data-model-name="Project_Library_Reading" data-block-level="secondary"
					data-allow-creation="(= isCurrent ? 'true' : null =)"
					data-static-filters="readingStaticFilters" data-columns="work,volumesDetail,rating,beginDate,endDate,status"
					data-content-template-url="Project_Library/html/user-reading-list-content.html"
					data-new-url-parameters="newSubDocumentUrlParameters" data-compact="true"
					data-full-list-url="document | appURL:'readings'" data-sort-desc="true" data-sort-property="beginDate"
					data-filter-properties="work.label">
				</div>
			</div>
		</div>
	</div>
</div>