<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-subtitle="(= document.subtitle =)"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.reading_list'|i18n|ucf =)"
			data-model-name="Project_Library_Reading" data-block-level="secondary" data-static-filters="readingStaticFilters"
			data-columns="reader,volumesDetail,rating,beginDate,endDate,status" data-compact="true" data-allow-creation="false"
			data-content-template-url="Project_Library/html/work-reading-list-content.html"
			data-new-url-parameters="newSubDocumentUrlParameters">
		</div>
	</div>
</div>