<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th class="table-column-small"><span class="glyphicon glyphicon-eye-open"></span></th>
			<th>(= 'm.project.library.app.possession_owners'|i18n|ucf =)</th>
			<th>(= 'm.project.library.app.possession_volumes'|i18n|ucf =)</th>
			<th style="width: 30px;">(= 'm.project.library.app.possession_status'|i18n|ucf =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td><a href="" data-ng-href="(= document|appURL =)">(= 'm.project.familinet.app.action_view'|i18n|ucf =)</a></td>
			<td><span data-project-library-user-links="document.owners"></span></td>
			<td>
				<small class="nowrap">
					(= document.volumesLabel =)
					<span class="glyphicon glyphicon-ok text-success" title="Complet" data-ng-show="document.complete"></span>
				</small>
			</td>
			<td>
				<small data-ng-if="document.loanOngoingStatus">
					<span data-project-library-status="document.loanOngoingStatus" data-mode="responsive"></span>
				</small>
				<small data-ng-if="!document.loanOngoingStatus">
					<span data-project-library-status="document.status" data-mode="responsive"></span>
				</small>
			</td>
		</tr>
	</tbody>
</table>