<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="table-column-small" style="width: 45px;">#</th>
			<th>(= 'm.project.library.app.publication_label'|i18n|ucf =)</th>
			<th style="width: 50px;"><abbr title="(= 'm.project.library.app.publication_start_year'|i18n|ucf =)">
				(= 'm.project.library.app.publication_start_year_abbr'|i18n|ucf =)
			</abbr></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= pagination.offset + $index + 1 =)</td>
			<td>
				<span data-project-library-status="document.status" data-mode="compact"></span>
				<a href="" data-ng-href="(= document|appURL =)">(= document.label =)</a>
				<span data-ng-repeat="nationality in document.nationalitiesData"
					data-project-library-nationality="nationality" data-mode="compact"></span>
			</td>
			<td>(= document.year =)</td>
		</tr>
	</tbody>
</table>