<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document"></div>

		<div data-ng-if="document.aliasesData">
			<div data-project-library-work-aliases="document.aliasesData"></div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div data-project-library-links="document.links"></div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default" data-ng-if="document.description.t">
					<div class="panel-heading">(= 'm.project.library.app.work_group_description'|i18n|ucf =)</div>
					<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
				</div>
			</div>
		</div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.work_group_contents'|i18n|ucf =)"
			data-model-name="Project_Library_Work" data-block-level="secondary" data-static-filters="workStaticFilters"
			data-content-template-url="Project_Library/html/work-list-content.html" data-filter-properties="indexedAliases">
		</div>

		<div class="panel panel-default" data-px-panel-toggle="collapsed">
			<div class="panel-heading">
				(= 'm.project.library.app.add_works_to_group'|i18n|ucf =)
			</div>
			<div class="panel-body">
				<form class="form-horizontal" data-ng-submit="works.add()">
					<div data-app-field-document-array="" data-property="works.list" data-accepted-model="Project_Library_Work"
						data-label="(= 'm.project.library.app.work_group_works_to_add'|i18n|ucf =)">
					</div>
					<div class="form-group no-bottom-margin">
						<div class="col-lg-offset-3 col-lg-9">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-ok"></span>
								(= 'm.project.familinet.app.action_add'|i18n|ucf =)
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>