<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-subtitle="(= document.subtitle =)"></div>

		<div data-ng-if="document.aliasesData"
			data-ng-init="originalAliases = (document.aliasesData | filter:{original: true});
				otherAliases = (document.aliasesData | filter:{original: false})">
			<div data-project-library-work-aliases="originalAliases"></div>
			<div data-project-library-work-aliases="otherAliases"></div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
							<dt data-ng-if="document.workType">(= 'm.project.library.app.work_type'|i18n|ucf =)</dt>
							<dd data-ng-if="document.workType">(= document.workType =)</dd>
							<dt data-ng-if="document.year">(= 'm.project.library.app.work_year'|i18n|ucf =)</dt>
							<dd data-ng-if="document.year">(= document.year =) <span data-ng-if="document.endYear">- (= document.endYear =)</span></dd>
							<dt data-ng-if="document.status">(= 'm.project.library.app.work_status'|i18n|ucf =)</dt>
							<dd data-ng-if="document.status"><span data-project-library-status="document.status"></span></dd>
							<dt data-ng-if="document.originalLanguageLabel">(= 'm.project.library.app.work_original_language'|i18n|ucf =)</dt>
							<dd data-ng-if="document.originalLanguageLabel">(= document.originalLanguageLabel =)</dd>
							<dt data-ng-if="document.nationalities.length">(= 'm.project.library.app.work_nationalities'|i18n|ucf =)</dt>
							<dd data-ng-if="document.nationalities.length">
								<span data-ng-repeat="nationality in document.nationalitiesData" data-project-library-nationality="nationality"></span>
							</dd>
							<dt data-ng-if="document.genres.length">(= 'm.project.library.app.work_genres'|i18n|ucf =)</dt>
							<dd data-ng-if="document.genres.length">
								<span data-ng-repeat="genre in document.genres | orderBy:'label'">
									(= genre.label =)<span class="separator" data-ng-if="!$last">, </span>
								</span>
							</dd>
							
							<dt data-ng-if="document.audience">(= 'm.project.library.app.work_audience'|i18n|ucf =)</dt>
							<dd data-ng-if="document.audience">(= document.audienceLabel =)</dd>
							<dt data-ng-if="document.workGroups.length">(= 'm.project.library.app.work_work_groups'|i18n|ucf =)</dt>
							<dd data-ng-if="document.workGroups.length">
								<span data-ng-repeat="group in document.workGroups | orderBy:'label'">
									<a href="" data-ng-href="(= group|appURL =)">(= group.label =)</a><span class="separator" data-ng-if="!$last">, </span>
								</span>
							</dd>
							<dt data-ng-repeat-start="attribute in attributeContext">
								(= attribute.definition.title || attribute.definition.label =)
							</dt>
							<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
						</dl>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						(= 'm.project.library.app.work_contributors'|i18n|ucf =)

						<div class="pull-right">
							<a href="" data-ng-href="(= 'Project_Library_Contribution'|appURL:'new':newSubDocumentUrlParameters =)"
								class="btn btn-default btn-icon btn-responsive btn-xs"
								title="(= 'm.project.familinet.app.action_new'|i18n|ucf =)">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
							
							<a data-ng-if="document.contributions"
								data-ng-href="(= 'Project_Library_Contribution'|appURL:'':newSubDocumentUrlParameters =)"
								class="btn btn-default btn-icon btn-responsive btn-xs"
								title="(= 'm.project.familinet.app.action_list'|i18n|ucf =)">
								<span class="glyphicon glyphicon-list"></span>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
							<dt data-ng-repeat-start="contribution in document.contributions | orderBy:'type.label'">
								(= contribution.type.label =)
							</dt>
							<dd data-ng-repeat-end="">
								<ul class="list-inline">
									<li data-ng-repeat="contributor in contribution.contributors | orderBy:'label'">
										<a href="" data-ng-href="(= contributor|appURL =)">(= contributor.label =)</a>
										<span data-ng-show="contributor.detail">((= contributor.detail =))</span>
										<span data-ng-repeat="nationality in contributor.nationalitiesData"
											data-project-library-nationality="nationality" data-mode="compact"></span>
									</li>
								</ul>
							</dd>
						</dl>
						<span class="clearfix"></span>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-md-4">
				<div data-project-library-links="document.links"></div>
			</div>
		</div>

		<div class="visuals" data-ng-if="document.visuals.length">
			<span data-ng-repeat="visual in document.visuals">
				<img class="img-thumbnail" src="" data-rbs-storage-image="visual.id" data-thumbnail="XL" />
			</span>
		</div>

		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">(= 'm.project.library.app.work_description'|i18n|ucf =)</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.work_publications'|i18n|ucf =)"
					data-model-name="Project_Library_Publication" data-block-level="secondary"
					data-static-filters="publicationStaticFilters" data-compact="true" data-allow-creation="true"
					data-columns="publisher,year,work,volumesCount,status,nationalities"
					data-content-template-url="Project_Library/html/work-publication-list-content.html"
					data-new-url-parameters="newSubDocumentUrlParameters" data-full-list-url="document | appURL:'publications'"
					data-filter-properties="name,publisher.label">
				</div>
			</div>

			<div class="col-md-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.work_possessions'|i18n|ucf =)"
					data-model-name="Project_Library_Possession" data-block-level="secondary"
					data-static-filters="possessionStaticFilters" data-compact="true" data-allow-creation="true"
					data-columns="status,volumes,complete,owners,work,publication"
					data-content-template-url="Project_Library/html/work-possession-list-content.html"
					data-new-url-parameters="newSubDocumentUrlParameters" data-full-list-url="document | appURL:'possessions'"
					data-filter-properties="none">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div data-app-document-list="" data-list-title="(= 'm.project.library.app.reading_list'|i18n|ucf =)"
					data-model-name="Project_Library_Reading" data-block-level="secondary"
					data-static-filters="readingStaticFilters" data-compact="true" data-allow-creation="false"
					data-columns="reader,volumesDetail,rating,beginDate,endDate,status"
					data-content-template-url="Project_Library/html/work-reading-list-content.html" data-full-list-url="document | appURL:'readings'"
					data-filter-properties="none">
				</div>
			</div>
		</div>

		<div data-app-document-meta=""></div>
	</div>
</div>