<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-text="" data-property="label"
			data-label="(= 'm.project.library.app.work_name'|i18n|ucf =)">
		</div>
		<div data-app-field-text="" data-property="subtitle"
			data-label="(= 'm.project.library.app.work_subtitle'|i18n|ucf =)">
		</div>
		<div data-app-field-document-array="" data-property="workGroups" data-accepted-model="Project_Library_WorkGroup"
			data-label="(= 'm.project.library.app.work_work_groups'|i18n|ucf =)" data-allow-creation="true">
		</div>
		<div data-app-field-integer="" data-property="year"
			data-label="(= 'm.project.library.app.work_start_publication_year'|i18n|ucf =)">
		</div>
		<div data-app-field-integer="" data-property="endYear"
			data-label="(= 'm.project.library.app.work_start_publication_end_year'|i18n|ucf =)">
		</div>
		<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_WorkStatus"
			data-mode="options" data-label="(= 'm.project.library.app.work_status'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-label="(= 'm.project.library.app.work_original_language'|i18n|ucf =)">
			<select class="form-control typology-selector" data-ng-model="document.originalLanguage"
				data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Languages"
				data-ng-options="item.value as item.label for item in pxCollection">
				<option value=""></option>
			</select>
		</div>
		<div data-app-field-document-array="" data-property="nationalities" data-accepted-model="Rbs_Geo_Country"
			data-mode="options" data-static-filters="activeStaticFilters" data-label="(= 'm.project.library.app.work_nationalities'|i18n|ucf =)">
		</div>
		<div data-app-field-document-array="" data-property="genres" data-accepted-model="Project_Library_Genre"
			data-mode="options" data-allow-creation="true" data-label="(= 'm.project.library.app.work_genres'|i18n|ucf =)">
		</div>
		<div data-app-field="" data-label="(= 'm.project.library.app.work_audience'|i18n|ucf =)">
			<select class="form-control typology-selector" data-ng-model="document.audience"
				data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Audiences"
				data-ng-options="item.value as item.label for item in pxCollection">
				<option value=""></option>
			</select>
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.work_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<fieldset>
		<legend>(= 'm.project.library.app.work_aliases'|i18n|ucf =)</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Library_WorkAlias" data-property="aliases">
			<thead>
				<tr>
					<th style="width: 25px;">(= 'm.project.library.app.alias_original'|i18n|ucf =)</th>
					<th>(= 'm.project.library.app.alias_label'|i18n|ucf =) / (= 'm.project.library.app.alias_subtitle'|i18n|ucf =)</th>
					<th>(= 'm.project.library.app.alias_nationalities'|i18n|ucf =)</th>
					<th>(= 'm.project.library.app.alias_comment'|i18n|ucf =)</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat-start="alias in document.aliases">
					<td rowspan="2">
						<input type="checkbox" class="form-control" data-ng-model="alias.original" />
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.label" />
					</td>
					<td rowspan="2">
						<div data-app-document-array-selector="" data-ng-model="alias.nationalities" data-mode="options"
							data-accepted-model="Rbs_Geo_Country" data-static-filters="activeStaticFilters"></div>
					</td>
					<td rowspan="2">
						<input type="text" class="form-control" data-ng-model="alias.comment" />
					</td>
					<td rowspan="2" class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="(= 'm.project.familinet.app.action_move_up'|i18n|ucf =)">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="(= 'm.project.familinet.app.action_move_down'|i18n|ucf =)">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
				<tr data-ng-repeat-end="" class="tr-sub-line">
					<td>
						<input type="text" class="form-control" data-ng-model="alias.subtitle" />
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.aliases.length >= 5">
				<tr>
					<td colspan="4">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_WorkLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>