<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-subtitle="(= document.subtitle =)"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.work_publications'|i18n|ucf =)"
			data-model-name="Project_Library_Publication" data-block-level="secondary" data-static-filters="publicationStaticFilters"
			data-columns="publisher,year,work,volumesCount,status,nationalities" data-compact="true" data-allow-creation="true"
			data-content-template-url="Project_Library/html/work-publication-list-content.html"
			data-new-url-parameters="newSubDocumentUrlParameters">
		</div>
	</div>
</div>