<div class="row" data-ng-cloak="" data-app-document-editor="" data-model="Project_Library_Work" data-confirmation-on-save="true">
	<div class="col-xs-12">
		<div class="panel panel-info" data-ng-if="recent_add.length">
			<div class="panel-heading">(= 'm.project.library.app.last_added_documents'|i18n|ucf =)</div>
			<div class="panel-body">
				<ul class="no-bottom-margin">
					<li data-ng-repeat="doc in recent_add">
						<a href="" data-ng-href="(= doc|appURL =)" class="alert-link">(= doc.label =)</a>
						<a href="javascript:" data-ng-href="(= doc|appURL =)" onclick="window.open(this.href); return false;"
							title="(= 'm.project.familinet.app.open_link_in_new_tab'|i18n|ucf =)">
							<span class="glyphicon glyphicon-new-window"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="page-header">
			<h1>(= 'm.project.familinet.app.creation'|i18n|ucf =) <small>(= document.label =)</small></h1>
		</div>

		<form class="form-horizontal" data-ng-submit="submit()" data-project-library-work-new="" name="form">
			<div class="panel panel-default">
				<div class="panel-heading">(= 'm.project.library.app.import_from_external_website'|i18n|ucf =)</div>
				<div class="panel-body">
					<div data-app-field="" data-label="(= 'm.project.library.app.url'|i18n|ucf =)">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="http://..." data-ng-model="importManager.url">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" data-ng-click="importManager.import()"
									data-ng-disabled="!importManager.url || importManager.importing">
									(= 'm.project.library.app.import'|i18n|ucf =)
								</button>
							</span>
						</div>
						<ul class="list-inline list-inline-responsive no-bottom-margin" data-ng-if="importManager.websites.length">
							<li><strong>(= 'm.project.library.app.handled_websites'|i18n|ucf|lab =)</strong></li>
							<li data-ng-repeat="website in importManager.websites">
								<img data-ng-if="website.icon" data-ng-src="(= website.icon =)" width="16" height="16" alt=""/>
								<a data-ng-href="(= website.url =)" target="_blank">(= website.label =)</a>
								<dfn class="" data-ng-show="website.minimal" title="(= 'm.project.library.app.minimal_handling'|i18n|ucf =)">*</dfn>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<fieldset>
				<legend>(= 'm.project.library.app.work'|i18n|ucf =)</legend>
				<div class="row" data-ng-if="works && works.pagination.count > 0">
					<div class="col-lg-3"></div>
					<div class="col-lg-9">
						<div class="alert alert-warning">
							<span data-ng-repeat="w in works.resources" style="margin-right: 15px">
								<span data-project-library-work-link="w"></span>
							</span>
							<span data-ng-if="works.pagination.count > works.pagination.limit" class="label label-info">... (= works.pagination.count - works.pagination.limit =) (= 'm.project.library.app.other_results'|i18n =)</span>
						</div>
					</div>
				</div>
				<div data-app-field-text="" data-property="label" data-required="true"
					data-label="(= 'm.project.library.app.work_name'|i18n|ucf =)">
				</div>
				<div data-app-field-text="" data-property="subtitle"
					data-label="(= 'm.project.library.app.work_subtitle'|i18n|ucf =)">
				</div>
				<div data-app-field-document-array="" data-property="workGroups" data-handle-persist="true"
					data-accepted-model="Project_Library_WorkGroup" data-allow-creation="true"
					data-label="(= 'm.project.library.app.work_group'|i18n|ucf =)">
				</div>
				<div data-app-field-integer="" data-property="year" data-handle-persist="true"
					data-label="(= 'm.project.library.app.work_start_publication_year'|i18n|ucf =)">
				</div>
				<div data-app-field-integer="" data-property="endYear" data-handle-persist="true"
					data-label="(= 'm.project.library.app.work_start_publication_end_year'|i18n|ucf =)">
				</div>
				<div data-app-field-document-select="" data-property="status" data-handle-persist="true"
					data-accepted-model="Project_Library_WorkStatus" data-label="(= 'm.project.library.app.work_status'|i18n|ucf =)">
				</div>
				<div data-app-field="" data-property="originalLanguage" data-handle-persist="true"
					data-label="(= 'm.project.library.app.work_original_language'|i18n|ucf =)">
					<select class="form-control typology-selector" data-ng-model="document.originalLanguage"
						data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Languages"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value=""></option>
					</select>
				</div>
				<div data-app-field-document-array="" data-property="nationalities" data-handle-persist="true" data-mode="options"
					data-accepted-model="Rbs_Geo_Country" data-static-filters="activeStaticFilters"
					data-label="(= 'm.project.library.app.work_nationalities'|i18n|ucf =)">
				</div>
				<div data-app-field-document-array="" data-property="genres" data-handle-persist="true"
					data-accepted-model="Project_Library_Genre" data-mode="options" data-allow-creation="true"
					data-label="(= 'm.project.library.app.work_genres'|i18n|ucf =)">
				</div>
				<div data-app-field="" data-property="audience" data-handle-persist="true"
					 data-label="(= 'm.project.library.app.work_audience'|i18n|ucf =)">
					<select class="form-control typology-selector" data-ng-model="document.audience"
						data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Audiences"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value=""></option>
					</select>
				</div>
				<div data-app-field-rich-text="" data-property="description" data-handle-persist="true"
					data-label="(= 'm.project.library.app.work_description'|i18n|ucf =)">
				</div>
				<div data-app-document-persisted-attributes-input="document" data-context="mass" data-persist="persist"></div>
			</fieldset>

			<fieldset>
				<legend>(= 'm.project.library.app.work_aliases'|i18n|ucf =)</legend>
				<table class="table inline-documents" data-app-document-inline="Project_Library_WorkAlias" data-property="aliases">
					<thead>
						<tr>
							<th style="width: 25px;">(= 'm.project.library.app.alias_original'|i18n|ucf =)</th>
							<th>(= 'm.project.library.app.alias_label'|i18n|ucf =) / (= 'm.project.library.app.alias_subtitle'|i18n|ucf =)</th>
							<th>(= 'm.project.library.app.alias_nationalities'|i18n|ucf =)</th>
							<th>(= 'm.project.library.app.alias_comment'|i18n|ucf =)</th>
							<th class="text-right th-btn th-btn-3">
								<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
									title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat-start="alias in document.aliases">
							<td rowspan="2">
								<input type="checkbox" class="form-control" data-ng-model="alias.original" />
							</td>
							<td>
								<input type="text" class="form-control" data-ng-model="alias.label" />
							</td>
							<td rowspan="2">
								<div data-app-document-array-selector="" data-ng-model="alias.nationalities" data-mode="options"
									data-accepted-model="Rbs_Geo_Country" data-static-filters="activeStaticFilters"></div>
							</td>
							<td rowspan="2">
								<input type="text" class="form-control" data-ng-model="alias.comment" />
							</td>
							<td rowspan="2" class="text-right">
								<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
									data-ng-disabled="$first" title="(= 'm.project.familinet.app.action_move_up'|i18n|ucf =)">
									<span class="glyphicon glyphicon-triangle-top"></span>
								</button>
								<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
									data-ng-disabled="$last" title="(= 'm.project.familinet.app.action_move_down'|i18n|ucf =)">
									<span class="glyphicon glyphicon-triangle-bottom"></span>
								</button>
								<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
									title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
						<tr data-ng-repeat-end="" class="tr-sub-line">
							<td>
								<input type="text" class="form-control" data-ng-model="alias.subtitle" />
							</td>
						</tr>
					</tbody>
					<tfoot data-ng-show="document.aliases.length >= 4">
						<tr>
							<td colspan="3">
								<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
									title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</fieldset>

			<div data-project-library-links-editor="" data-model-name="Project_Library_WorkLink" data-document="document"></div>

			<fieldset>
				<legend>
					(= 'm.project.library.app.contribution_list'|i18n|ucf =)
				</legend>
				<table class="table inline-documents">
					<thead>
						<tr>
							<th></th>
							<th>(= 'm.project.library.app.contribution_contributor'|i18n|ucf =)</th>
							<th>(= 'm.project.library.app.contribution_types'|i18n|ucf =)</th>
							<th>(= 'm.project.library.app.contribution_detail'|i18n|ucf =)</th>
							<th class="text-right th-btn th-btn-3">
								<button type="button" data-ng-click="addContribution()" class="btn btn-default btn-responsive btn-sm"
									title="(= 'm.project.library.app.contribution_add'|i18n|ucf =)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="contribution in contributions">
							<td>
								<input type="checkbox" class="form-control" data-ng-model="persist.contributions[$index]"
									   title="(= 'm.project.library.app.handle_persist'|i18n|ucf =)" />
							</td>
							<td>
								<div data-app-document-selector="" data-ng-model="contribution.contributor"
									data-allow-creation="true" data-accepted-model="Project_Library_Contributor"></div>
							</td>
							<td>
								<div data-app-document-array-selector="" data-ng-model="contribution.contributionTypes"
									data-accepted-model="Project_Library_ContributionType" data-mode="options" data-allow-creation="true">
								</div>
							</td>
							<td>
								<input type="text" class="form-control" data-ng-model="contribution.detail" />
							</td>
							<td class="text-right">
								<button type="button" data-ng-click="removeContribution($index)" class="btn btn-danger btn-icon"
									title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot data-ng-show="contributions.length >= 5">
						<tr>
							<td colspan="5">
								<button type="button" data-ng-click="addContribution()" class="btn btn-default btn-responsive btn-sm"
									title="(= 'm.project.library.app.contribution_add'|i18n|ucf =)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</fieldset>

			<fieldset>
				<legend data-ng-click="configuration.createPublication = !configuration.createPublication">
					<span class="glyphicon" data-ng-class="{
							'glyphicon-unchecked': !configuration.createPublication,
							'glyphicon-check': configuration.createPublication
						}"></span>
					(= 'm.project.library.app.publication'|i18n|ucf =)
				</legend>
				<div data-ng-if="configuration.createPublication">
					<div data-app-field-text="" data-property="publication.name" data-handle-persist="true"
						data-label="(= 'm.project.library.app.publication_name'|i18n|ucf =)">
					</div>
					<div data-app-field-document="" data-property="publication.publisher" data-handle-persist="true"
						data-accepted-model="Project_Library_Publisher" data-allow-creation="true"
						data-label="(= 'm.project.library.app.publication_publisher'|i18n|ucf =)">
					</div>
					<div data-app-field="" data-property="publication.collection" data-handle-persist="true"
						data-label="(= 'm.project.library.app.publication_collection'|i18n|ucf =)">
						<select class="form-control" data-ng-model="publication.collection" data-ng-disabled="!publication.publisher"
							data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Collections"
							data-collection-params="publisher:(= publication.publisher.id =)"
							data-ng-options="item.value as item.label for item in pxCollection">
							<option value=""></option>
						</select>
					</div>
					<div data-app-field-text="" data-property="publication.year" data-handle-persist="true"
						data-label="(= 'm.project.library.app.publication_start_year'|i18n|ucf =)">
					</div>
					<div data-app-field-integer="" data-property="publication.endYear" data-handle-persist="true"
						data-label="(= 'm.project.library.app.publication_end_year'|i18n|ucf =)">
					</div>
					<div data-app-field-document-array="" data-property="publication.nationalities" data-handle-persist="true"
						data-accepted-model="Rbs_Geo_Country" data-mode="options" data-static-filters="activeStaticFilters"
						data-label="(= 'm.project.library.app.publication_nationalities'|i18n|ucf =)">
					</div>
					<div data-app-field-rich-text="" data-property="publication.description" data-handle-persist="true"
						data-label="(= 'm.project.library.app.publication_description'|i18n|ucf =)">
					</div>
					<div data-app-field-boolean="" data-property="publication.oneShot" data-handle-persist="true"
						data-label="(= 'm.project.library.app.publication_one_shot'|i18n|ucf =)">
					</div>
					<div data-ng-if="!publication.oneShot">
						<div data-app-field="" data-handle-persist="true" data-property="publication.volumesDetail"
							data-label="(= 'm.project.library.app.publication_volumes_detail'|i18n|ucf =)">
							<div class="input-group">
								<input type="text" class="form-control" data-ng-model="publication.volumesDetail">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" data-ng-click="generateVolumes()"
										data-ng-disabled="!publication.volumesDetail">
										(= 'm.project.library.app.action_generate_volumes'|i18n|ucf =)
									</button>
								</span>
							</div>
						</div>
						<div data-app-field-document-select="" data-property="publication.status" data-handle-persist="true"
							data-accepted-model="Project_Library_WorkStatus" data-label="(= 'm.project.library.app.publication_status'|i18n|ucf =)">
						</div>
						<fieldset>
							<legend data-ng-click="configuration.createVolumes = !configuration.createVolumes">
								<span class="glyphicon" data-ng-class="{
										'glyphicon-unchecked': !configuration.createVolumes,
										'glyphicon-check': configuration.createVolumes
									}"></span>
								(= 'm.project.library.app.publication_volumes'|i18n|ucf =)
							</legend>
							<table class="table inline-documents" data-ng-show="configuration.createVolumes">
								<thead>
									<tr>
										<th>(= 'm.project.library.app.publication_volume_number'|i18n|ucf =)</th>
										<th>(= 'm.project.library.app.publication_volume_label'|i18n|ucf =)</th>
										<th style="width: 100px;">
											<input type="checkbox" data-ng-click="configuration.allVolumesOwned = !configuration.allVolumesOwned" />
											(= 'm.project.library.app.publication_volume_owned'|i18n|ucf =)
										</th>
										<th class="text-right th-btn" style="width: 75px;">
											<button type="button" data-ng-click="addVolume()" class="btn btn-default btn-responsive btn-sm"
												title="(= 'm.project.library.app.possession_detail_add'|i18n|ucf =)">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="volume in volumes">
										<td>
											<input type="text" class="form-control" data-ng-model="volume.number" />
										</td>
										<td>
											<input type="text" class="form-control" data-ng-model="volume.label" />
										</td>
										<td>
											<input type="checkbox" class="form-control" data-ng-model="volume.owned" />
										</td>
										<td class="text-right">
											<button type="button" data-ng-click="removeVolume($index)" class="btn btn-danger btn-icon"
												title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
										</td>
									</tr>
								</tbody>
								<tfoot data-ng-show="volumes.length >= 5">
									<tr>
										<td colspan="4">
											<button type="button" data-ng-click="addVolume()" class="btn btn-default btn-responsive btn-sm"
												title="(= 'm.project.library.app.possession_detail_add'|i18n|ucf =)">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
										</td>
									</tr>
								</tfoot>
							</table>
						</fieldset>
					</div>
					<fieldset>
						<legend>(= 'm.project.library.app.publication_languages'|i18n|ucf =)</legend>
						<div data-project-library-language-function-selector="publication.languagesSelection" data-ready="isDocumentReady"></div>
					</fieldset>
					<div data-app-document-persisted-attributes-input="publication" data-context="mass"
						data-document-name="publication" data-persist="persist"></div>
				</div>
			</fieldset>

			<fieldset>
				<legend data-ng-click="configuration.createPossession = !configuration.createPossession">
					<span class="glyphicon" data-ng-class="{
							'glyphicon-unchecked': !configuration.createPossession,
							'glyphicon-check': configuration.createPossession
						}"></span>
					(= 'm.project.library.app.possession'|i18n|ucf =)
				</legend>
				<div data-ng-if="configuration.createPossession">
					<div data-app-field-document-array="" data-property="possession.owners" data-handle-persist="true"
						data-required="true" data-accepted-model="Rbs_User_User" data-mode="options"
						data-label="(= 'm.project.library.app.possession_owners'|i18n|ucf =)">
					</div>
					<div data-app-field-document-select="" data-property="possession.status" data-handle-persist="true"
						data-accepted-model="Project_Library_PossessionStatus" data-label="(= 'm.project.library.app.possession_status'|i18n|ucf =)">
					</div>
					<div data-app-field-boolean="" data-property="possession.complete" data-handle-persist="true"
						data-label="(= 'm.project.library.app.possession_complete'|i18n|ucf =)">
					</div>
					<div data-app-field-text="" data-property="description.possession"
						data-ng-show="!configuration.createPublication || !configuration.createVolumes"
						data-label="(= 'm.project.library.app.possession_details'|i18n|ucf =)">
					</div>
					<div data-app-document-persisted-attributes-input="possession" data-context="mass"
						data-document-name="possession" data-persist="persist"></div>
				</div>
			</fieldset>

			<div data-app-document-editor-footer=""></div>
		</form>
	</div>
</div>