<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>(= 'm.project.familinet.app.main_data'|i18n|ucf =)</legend>
		<div data-app-field-text="" data-property="label"
			data-label="(= 'm.project.library.app.work_group_name'|i18n|ucf =)">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="(= 'm.project.library.app.work_group_description'|i18n|ucf =)">
		</div>
	</fieldset>
	<fieldset>
		<legend>(= 'm.project.library.app.work_group_aliases'|i18n|ucf =)</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Library_WorkGroupAlias" data-property="aliases">
			<thead>
				<tr>
					<th>(= 'm.project.library.app.alias_label'|i18n|ucf =)</th>
					<th>(= 'm.project.library.app.alias_nationalities'|i18n|ucf =)</th>
					<th>(= 'm.project.library.app.alias_comment'|i18n|ucf =)</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="alias in document.aliases">
					<td>
						<input type="text" class="form-control" data-ng-model="alias.label" />
					</td>
					<td>
						<div data-app-document-array-selector="" data-ng-model="alias.nationalities" data-mode="options"
							data-accepted-model="Rbs_Geo_Country" data-static-filters="activeStaticFilters"></div>
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.comment" />
					</td>
					<td class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="(= 'm.project.familinet.app.action_move_up'|i18n|ucf =)">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="(= 'm.project.familinet.app.action_move_down'|i18n|ucf =)">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.aliases.length >= 5">
				<tr>
					<td colspan="3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="(= 'm.project.library.app.alias_add'|i18n|ucf =)">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_WorkGroupLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>