<div class="row" data-ng-cloak="">
	<div class="col-xs-12">
		<div data-app-document-detail-header="document" data-subtitle="(= document.subtitle =)"></div>

		<div data-app-document-list="" data-list-title="(= 'm.project.library.app.work_possessions'|i18n|ucf =)"
			data-model-name="Project_Library_Possession" data-block-level="secondary" data-static-filters="possessionStaticFilters"
			data-columns="status,volumes,complete,owners,work,publication" data-compact="true" data-allow-creation="true"
			data-content-template-url="Project_Library/html/work-possession-list-content.html"
			data-new-url-parameters="newSubDocumentUrlParameters" data-filter-properties="work.label">
		</div>
	</div>
</div>