<div class="input-group">
	<input type="text" class="form-control" data-px-field="" data-ng-model="value" />
	<div class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			{{ i18n('m.rbs.seo.ua.variables', ['ucf']) }} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right">
			<li data-ng-repeat="variable in variables">
				<a href="" data-ng-click="appendSuggestion(variable)">(= variable.label =)</a>
			</li>
		</ul>
	</div>
</div>