<div data-ng-repeat="batch in data.batches" class="panel panel-default" data-custom-toggle="true"
	data-px-panel-toggle="" data-ng-class="{'px-panel-toggle-collapsed': batch.collapsed}">
	<div class="panel-heading" data-ng-click="batch.collapsed = !batch.collapsed">
		{{ i18n('m.rbs.seo.ua.batch_title', ['ucf', 'lab'], {'batchIndex': '(= $index + 1 =)'}) }}
		<span data-ng-repeat="facet in batch.facets">(= facet.label =)<span data-ng-show="!$last" class="facet-splitter">+</span></span>
	</div>
	<div class="panel-body">
		<div data-px-seo-url-configurator-batch="">
			<div class="well" data-ng-show="hasJobs">
				{{ i18n('m.rbs.catalog.admin.variantgroup_jobs_infos', ['ucf']) | raw }}
			</div>

			<div data-ng-hide="hasJobs" class="form-horizontal">
				<div class="px-panel-toggle-content">
					<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.url_pattern', ['ucf']) }}">
						<input type="text" class="form-control" data-ng-model="batch.urlPattern" data-ng-required="true" name="urlPattern" />
					</div>

					<div class="configurator-columns-container margin-bottom">
						<div class="configurator-columns">
							<div class="configurator-column" data-ng-repeat="facet in batch.facets">
								<div class="configurator-column-header clearfix text-center">
									<button type="button" class="btn btn-default btn-xs btn-icon pull-left" data-ng-show="!$first"
										title="{{ i18nAttr('m.rbs.seo.ua.move_column_left', ['ucf']) }}" data-ng-click="moveColumnLeft($index)">
										<i class="icon-chevron-left"></i>
									</button>
									<span data-ng-bind="facet.label"></span> (<span data-ng-bind="facet.values.length"></span>)
									<button type="button" class="btn btn-default btn-xs btn-icon pull-right" data-ng-show="!$last"
										title="{{ i18nAttr('m.rbs.seo.ua.move_column_right', ['ucf']) }}" data-ng-click="moveColumnRight($index)">
										<i class="icon-chevron-right"></i>
									</button>
								</div>

								<div class="configurator-column-body" data-ng-init="facetIndex = $index">
									<div data-ng-repeat="value in facet.values" class="configurator-column-cell"
										data-ng-class="{'odd': $odd, 'selected': batch.path[facetIndex] === value.key, 'unused': used != 'Y'}"
										data-ng-click="navigate(facetIndex, value.key, $index)" data-px-seo-url-configurator-item="">
										<span data-ng-switch="used">
											<button data-ng-switch-when="Y" type="button" class="btn btn-xs btn-success"
												data-ng-click="deselectValue(facetIndex, value.key, $event)">
												<i class="icon-minus"></i>
											</button>
											<button data-ng-switch-when="N" type="button" class="btn btn-xs btn-default"
												data-ng-click="selectValue(facetIndex, value.key, $event)">
												<i class="icon-plus"></i>
											</button>
											<button data-ng-switch-when="U" type="button" class="btn btn-xs btn-default" disabled="disabled">
												<i class="icon-question"></i>
											</button>
										</span>
										<span data-ng-bind="value.label"></span>
									</div>
									<div data-ng-if="$index > 0" class="indicator"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<p data-ng-class="{'no-bottom-margin': batch.collapsed}">
					{{ i18n('m.rbs.seo.ua.facet_urls_counts', ['ucf'], {'currentCount': '(= batch.currentURLCount =)', 'possibleCount': '(= batch.possibleURLCount =)'}) }}
				</p>

				<div class="px-panel-toggle-content">
					<div class="btn-responsive-toolbar">
						<button type="button" class="btn btn-danger btn-icon pull-right" title="{{ i18nAttr('m.rbs.seo.ua.delete_batch', ['ucf']) }}"
							data-ng-click="removeBatch($index)">
							<span class="icon-trash"></span>
						</button>
						<button class="btn btn-primary" data-ng-click="selectAllValues()"
							data-ng-disabled="batch.currentURLCount === batch.possibleURLCount"
							type="button">
							{{ i18n('m.rbs.seo.ua.facet_url_add_all', ['ucf']) }}
						</button>
						<button class="btn btn-danger" data-ng-click="deselectAllValues()" data-ng-disabled="batch.currentURLCount === 0"
							type="button">
							{{ i18n('m.rbs.seo.ua.facet_url_remove_all', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default no-bottom-margin">
	<div class="panel-heading">{{ i18n('m.rbs.seo.ua.new_batch', ['ucf']) }}</div>
	<div class="panel-body">
		<p class="help-block">{{ i18n('m.rbs.seo.ua.new_batch_facets_description', ['ucf']) }}</p>
		<div data-ng-repeat="indexCategory in data.indexCategories" data-ng-class="$last ? '' : 'margin-bottom'">
			<div data-px-label="(= indexCategory.label =)">
				<label data-ng-repeat="facet in indexCategory.facets" class="checkbox-inline">
					<input type="checkbox" data-ng-model="data.newBatch[facet.index]"> (= facet.label =)
				</label>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-default" data-ng-click="addBatch()" data-ng-disabled="!data.isNewBatchValid">
			{{ i18n('m.rbs.seo.ua.add_batch', ['ucf']) }}
		</button>
	</div>
</div>