.configurator-columns-container {
	overflow: auto;
	max-width: 100%;
}

.configurator-columns {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;

}

.configurator-columns .configurator-column {
	flex-grow: 1;
	border-right: 1px solid #e6e6e6;
	border-top: 0;
	border-bottom: 1px solid #e6e6e6;
	min-width: 150px;
}

.configurator-columns .configurator-column:first-child {
	border-left: 1px solid #e6e6e6;
}

.configurator-columns .configurator-column .configurator-column-cell {
	cursor: pointer;
	padding: 5px 10px;
}

.configurator-columns .configurator-column .configurator-column-cell.unused {
	cursor: default;
	font-style: italic;
	color: silver;
}

.configurator-columns .configurator-column .configurator-column-body button {
	width: 26px;
	margin-right: 6px;
	font-style: normal;
}

.configurator-columns .configurator-column .configurator-column-cell.odd {
	background: #f5f5f5;
}

.configurator-columns .configurator-column .configurator-column-cell.selected,
.configurator-columns .configurator-column .configurator-column-cell.selected a {
	background: #08c;
	color: white;
}

.configurator-columns .configurator-column .configurator-column-header {
	border-top: 1px solid #e6e6e6;
	margin: 0;
	padding: 5px;
	font-weight: bold;
	background: #ecf2f5;
}

.configurator-columns .configurator-column .configurator-column-cell-add {
	border-top: 2px dotted #e6e6e6;
	background: #f5f5f5;
}

/* Visual links between columns */

.configurator-columns .configurator-column .configurator-column-body {
	position: relative;
}

.configurator-columns .configurator-column .configurator-column-body .indicator {
	position: absolute;
	left: -4px;
	top: 0;
	width: 8px;
	height: 0;
	background: #08c;
	z-index: 10;
	border-radius: 4px;
	display: none;
}
