@CHARSET "UTF-8";

.rbs-breadcrumb {
	margin-bottom: 20px;
}

.rbs-breadcrumb li {
	padding: 10px 3px 10px 7px;
	margin-right: 1px;
	position: relative;
	display: inline-block;
	background: #4584a5;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 0 0 rgba(255, 255, 255, 0.3);
}

.rbs-breadcrumb li * {
	margin-left: 20px;
}

/* special case for the 'home' icon */
.rbs-breadcrumb li:first-child {
	padding-left: 10px;
	padding-right: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.rbs-breadcrumb li:first-child * {
	margin-left: 0;
}

.rbs-breadcrumb li:last-child {
	padding-right: 10px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.rbs-breadcrumb li:first-child:before,
.rbs-breadcrumb li:last-child:after {
	border: 0;
}

.rbs-breadcrumb li:before {
	width: 0;
	height: 0;
	border-top: 20px inset transparent;
	border-bottom: 20px inset transparent;
	border-left: 20px solid #fff;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
}

.rbs-breadcrumb li:after {
	width: 0;
	height: 0;
	border-top: 20px inset transparent;
	border-bottom: 20px inset transparent;
	border-left: 20px solid #f5f5f5;
	position: absolute;
	content: "";
	top: 0;
	right: -20px;
	z-index: 2;
}

.rbs-breadcrumb li.location {
	color: #fff;
	background: #052c41;
	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3);
}

.rbs-breadcrumb li.location a {
	color: #fff;
	line-height: 10px;
}

.rbs-breadcrumb li.location:after {
	border-left-color: #052c41;
}