@CHARSET "UTF-8";

.form-group.error .control-label,
.form-vertical .form-group.error .control-label {
	color: #b94a48;
}

.form-actions {
	background-image: linear-gradient(to top, white 0%, #F5F5F5 100%);
	border-top: 5px solid #EEEEEE;
	margin-top: 10px;
}

.form-horizontal .form-actions {
	padding: 10px 20px;
}

.form-vertical .form-group [class^="col-"],
.form-vertical .form-group [class*=" col-"] {
	display: block;
	width: 100%;
	float: none;
}

.form-vertical .form-group .control-label {
	text-align: left;
}

.correction label.control-label {
	color: #449D44;
	font-style: italic;
}

.form-control {
	border-radius: 3px;
}

.form-control:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 2px rgba(102, 175, 233, 0.3);
}

/* invalid fields */
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
	color: #b94a48;
	border-color: #b94a48;
	box-shadow: 0 0 0 2px #F8B9B7;
}

/* cascading forms */
.cascading-forms-collapsed {
	color: #999999;
	padding: 4px 12px;
	font-size: 12pt;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	transition: font-size 0.2s ease, margin 0.2s ease;
	position: relative;
}

rbs-navigation-history a:link,
rbs-navigation-history a:link {
	color: #6f5499;
}
rbs-navigation-history a:hover {
	color: #6f5499;
}

/* Good interline between buttons in document editor when there is more than one line */
.form-actions .form-buttons {
	line-height: 55px;
}

table.field-label-and-title {
	width: 100%;
}

table.field-label-and-title input + input {
	margin-top: 4px;
}

table.field-label-and-title .sync-button-cell {
	width: 36px;
	text-align: right;
}

table.field-label-and-title .sync-button-cell button {
	border-radius: 30px;
	position: relative;
	z-index: 1;
}


table.field-label-and-title .sync-button-cell .decorator {
	border-bottom-right-radius: 10px;
	border-image: none;
	border-top-right-radius: 10px;
	border: 1px solid #ccc;
	border-left: 0 none;
	height: 41px;
	position: absolute;
	right: 30px;
	top: 17px;
	width: 22px;
}

table.field-label-and-title .sync-button-cell .decorator.locked {
	border-width: 2px;
}


.editor-menu {
	margin-bottom: 15px;
}

a.editor-menu-item {
	display: block;
	padding: 7px 44px 7px 5px;
	position: relative;
	margin-top: 1px;
	margin-right: 0;
	line-height: 26px;
	color: #888888;
	background: linear-gradient(to right, white 0%, #F8F8F8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

a.editor-menu-item:hover {
	text-decoration: none;
}

a.editor-menu-item.active {
	color: #fff;
	background: #4584a5;
	text-decoration: none;
}

a.editor-menu-item.active:focus,
a.editor-menu-item:active {
	outline: none;
}

a.editor-menu-item .badge {
	position: absolute;
	right: 10px;
	top: 7px;
	background: white;
	border: 2px solid silver;
	border-radius: 30px;
	color: silver;
	font-size: 16px;
	font-weight: lighter;
}

a.editor-menu-item .badge.badge-required {
	color: #B94A48;
	border-color: #B94A48;
}

a.editor-menu-item.active:after {
	border-bottom: 20px inset rgba(0, 0, 0, 0);
	border-left: 20px solid #4584a5;
	border-top: 20px inset rgba(0, 0, 0, 0);
	content: "";
	height: 0;
	position: absolute;
	right: -20px;
	top: 0;
	width: 0;
	z-index: 2;
}

a.editor-menu-item i[class^="icon-"],
a.editor-menu-item span[class^="icon-"],
a.editor-menu-item i[class*=" icon-"],
a.editor-menu-item span[class*=" icon-"] {
	font-size: 20pt;
	height: 10px;
	line-height: 10px;
	opacity: 0.15;
	position: relative;
	top: -1px;
	vertical-align: middle;
	text-align: center;
}

a.editor-menu-item i[class^="icon-"]:before,
a.editor-menu-item span[class^="icon-"]:before,
a.editor-menu-item i[class*=" icon-"]:before,
a.editor-menu-item span[class*=" icon-"]:before {
	width: 36px;
}

a.editor-menu-item.active i[class^="icon-"],
a.editor-menu-item.active span[class^="icon-"],
a.editor-menu-item.active i[class*=" icon-"],
a.editor-menu-item.active span[class*=" icon-"] {
	color: #fff;
	opacity: 0.5;
}

/* Inline-documents */
.table .document-inline-editor {
	padding: 15px 0;
}
.document-inline-editor .form-actions {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.08) 100%);
	border-top: 5px solid rgba(0, 0, 0, 0.11);
}
.document-inline-editor .form-properties {
	padding: 0 8px;
}

/* Color picker */
.color-picker .color-picker-input {
	width: 85px;
}
.color-picker.input-group-lg .input-group-addon {
	width: 44px;
}
.color-picker .input-group-addon {
	width: 32px;
}
.color-picker.input-group-sm .input-group-addon {
	width: 28px;
}