@CHARSET "UTF-8";

/* icons overlays */

.iconoverlay {
	position: relative;
	display: inline-block;
}

.iconoverlay label {
	position: absolute;
	top: 4px;
	left: 0;
	display: inline-block;
	text-align: center;
	color: white;
	width: 100%;
	font-size: 10pt;
	z-index: 10;
	text-shadow: 0 0 1px black;
}

[class^="icon-"],
[class*=" icon-"] {
	font-variant: normal;
}


/* Bootstrap overrides */

.list-inline > li {
	vertical-align: middle;
}

.form-inline .form-control {
	width: auto;
}

.panel .panel-heading .panel-title .pull-right {
	position: relative;
	top: -2px;
}

h3.panel-title {
	font-variant: small-caps;
}

.panel-default h3.panel-title {
	color: #888888;
	text-shadow: 0 1px 0 white;
	font-weight: bold;
}

.panel-heading .close {
	position: relative;
	top: -5px;
}

.panel-primary .panel-heading .close {
	color: white;
	opacity: 0.75;
}
.panel-primary .panel-heading .close:hover {
	opacity: 1;
}

.panel .panel-heading h3.panel-title {
	font-size: 14pt;
	font-variant: normal;
	font-weight: lighter;
	text-shadow: none;
	text-transform: none;
}

.panel.panel-default {
	background: none repeat scroll 0 0 #FFFFFF;
}

.panel.panel-default .panel-heading {
	background: #f0f0f0;
}

.panel.panel-default .panel-heading h3.panel-title,
.rbs-aside-block h3{
	color: #777777;
	font-size: 14pt;
	font-variant: normal;
	font-weight: lighter;
	text-shadow: none;
	text-transform: none;
}

.panel.panel-success {
	border-color: #94BA65;
}

.panel.panel-success .panel-heading {
	background: #f0f8dd;
	color: #94BA65;
}

.panel.panel-success .panel-heading h3.panel-title {
	color: #94BA65;
}

.panel.panel-info {
	border-color: #9ACFEA;
}

.panel.panel-warning {
	border-color: #E0B873;
}

.panel.panel-danger {
	border-color: #D97A78;
}

.panel .panel-heading-toggle {
	cursor: pointer;
}

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
	margin-left: 5px;
}

.input-group-addon {
	width: auto;
}

.input-group + .btn-toolbar,
.form-inline + .btn-toolbar {
	margin-top: 3px;
}

/* Move nav bars under popup menus (initial value 1000) */
.navbar {
	z-index: 998;
}

.navbar-first-element {
	margin-left: -15px;
}

@media (max-width: 768px) {
	.navbar-first-element {
		margin-top: 0;
	}
}

/* Bootstrap addons */

.input-group-addon.contains-input {
	padding: 4px 8px;
}

.input-group-addon.contains-input > .form-control {
	padding: 0;
	height: 24px;
}

.popover-content .list-group {
	box-shadow: none;
	margin: -7px -12px;
	min-width: 150px;
}

.popover-content .list-group .list-group-item {
	border: 0 none;
}

/* rbs-form-simple */

[rbs-form-simple-filter] {
	display: block;
	clear: both;
	position: relative;
	margin: 5px 0;
}

[rbs-form-simple-filter] input {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
}

[rbs-form-simple-filter] button {
	position: absolute;
	right: 2px;
	top: 3px;
	line-height: 26px;
	background: none;
	border: none;
	color: #CCCCCC;
}


/* left-menu */

h4.list-group-item {
	border-top-width: 0;
	font-size: 16px;
	color: silver;
	margin-top: 1px;
	font-variant: small-caps;
}

h4.list-group-item:first-child {
	border-top-width: 1px;
}

.list-group-item.active .badge {
	text-shadow: none;
}


/* workspace */

#workspace .page-header {
	margin-top: 0;
	margin-bottom: 15px;
	border: 0 solid #4584a5;
	border-bottom-width: 5px;
	padding-bottom: 0;
}

#workspace .page-header h2 {
	margin-top: 0;
}

/* editors */

.btn.btn-headline {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}

.btn.btn-headline i[class^="icon-"],
.btn.btn-headline span[class^="icon-"] {
	font-size: 32px;
	float: left;
	margin-right: 5px;
	margin-top: 1px;
	width: 32px;
}

.btn.btn-headline.no-text i[class^="icon-"],
.btn.btn-headline.no-text span[class^="icon-"] {
	margin-right: 0;
	float: none;
}

.btn.btn-headline small {
	display: block;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	white-space: nowrap;
	padding-left: 37px;
}


/* advanced mode */

.advanced-mode h4 {
	color: #CF4444;
	margin-top: 0;
	text-transform: uppercase;
}

.advanced-mode .separator {
	background-color: #CF4444;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 20px 20px;
	height: 10px;
}

.advanced-mode > .inner > div > p:last-child {
	margin-bottom: 0;
}

/** word wrapping */
.break-word {
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}


.rbs-panel-busy {
	background: rgba(0,0,0,0.6);
	color: white;
	position: absolute;
	font-size: 20pt;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	font-weight: lighter;
}

.panel-success .rbs-panel-busy {
	background: rgba(162, 194, 0, 0.8);
	text-shadow: 0 0 3px black;
}

.panel {
	position: relative;
}


.rbs-aside-block {
	border-right: 3px dotted #EEEEEE;
	font-size: 90%;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.rbs-aside-block hr {
	margin: 0;
}

.rbs-aside-block h3 {
	margin-bottom: 10px;
}

.rbs-aside-block a {
	display: block;
	margin: 5px 0;
}

.rbs-aside-block a.a-inline {
	display: inline;
	margin: 0;
}

.rbs-aside-block a strong {
	text-transform: uppercase;
	font-size: 90%;
}


a.back-to-link:before {
	content: "\f0a8 ";
	font-family: FontAwesome;
}

a.go-to-link:after {
	content: " \f0a9";
	font-family: FontAwesome;
}


.rbs-aside-other-links {
	text-align: right;
	padding: 10px 14px 10px 0;
}


/** Field size */
input[size="2"],
input[size="2"].form-control,
input[size="4"],
input[size="4"].form-control,
input[size="5"],
input[size="5"].form-control {
	max-width: 5em;
}

input[size="10"],
input[size="10"].form-control {
	max-width: 10em;
}

input[size="13"],
input[size="13"].form-control {
	max-width: 13em;
}

.btn-flat {
	background: none repeat scroll 0 0 #F1F8FA;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
	color: #2790B0;
	display: inline-block;
	font-size: 12px;
	line-height: 1.6;
	padding: 2px 8px;
	text-decoration: none;
	text-transform: lowercase;
	-webkit-transition: color 0.1s ease-in, background-color 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background-color 0.1s ease-in;
	transition: color 0.1s ease-in, background-color 0.1s ease-in;
	border: 0 none;
	vertical-align: middle;
}

.btn-flat:hover {
	background: none repeat scroll 0 0 #2790B0;
	color: #F1F8FA;
	text-decoration: none;
}

.btn-flat + .btn-flat {
	margin-left: 4px;
}

.btn-flat + .btn {
	margin-left: 4px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(0,0,0,0.05);
}

.table-hover > tbody > tr:hover > td.preview {
	background: none;
}

rbs-navigation-history {
	display: block;
	border-bottom: 1px solid #E5E5E5;
}

rbs-document-url-manager .table tbody > tr > td {
	vertical-align: middle;
}

/** list option panel **/
.rbs-list-option-panel {
	padding: 10px;
	position: relative;
}

.rbs-list-option-panel {
	background: #F5F5F5;
	border: 5px solid #bbbbbb;
	border-radius: 5px;
}

.rbs-list-option-panel h3 {
	text-transform: uppercase;
	color: #bbbbbb;
	font-size: 20pt;
	line-height: 20pt;
	margin-top: 0;
	font-weight: lighter;
	text-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.rbs-list-option-panel form {
	margin: 0;
}

.rbs-list-option-panel form .control-group:last-child {
	margin-bottom: 0;
}

.rbs-list-option-panel .form-group{
	margin-left: 0;
	margin-right: 0;
}

pre {
	text-align: left;
}

.btn-selection {
	background: linear-gradient(to bottom, #AD9FC3 0%, #6f5499 100%);
	color: white;
	border-color: #6f5499;
}

.btn-selection:hover,
.btn-selection:active,
.btn-selection:focus {
	background: #6f5499;
	color: white;
}

.panel.panel-selection {
	border-color: #6f5499;
	/*box-shadow: 0 0 0 3px #E6E2ED;*/
}
.panel.panel-selection.panel-heading h3.panel-title {
	color: #6f5499;
}

.panel-selection > .panel-heading {
	background-image: linear-gradient(to bottom, #AD9FC3 0%, #6f5499 100%);
	background-repeat: repeat-x;
	background-color: #6f5499;
	border-color: #6f5499;
	color: white;
}

/* Fix form inline */
.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

/* Item in TB's dropdown without link */
.dropdown-menu > li > .item {
	clear: both;
	color: #333333;
	display: block;
	font-weight: normal;
	line-height: 1.42857;
	padding: 3px 20px;
	white-space: nowrap;
}
.dropdown-menu > li > .item:hover {
	background-color: #E8E8E8;
	background-image: linear-gradient(to bottom, #F5F5F5 0%, #E8E8E8 100%);
	background-repeat: repeat-x;
}

rbs-uploader .img-thumbnail {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/**
 * With the "width: 1%", the picker takes 100% width in the filter configuration interface (in Chrome and IE only)
 * TODO: find a better way to fix it. It will maybe be fixed with a newer version of Bootstrap?
 */
[rbs-document-filter-container] .input-group .input-group-addon.input-group-addon-select {
	width: auto;
}

/** Preview */
.preview-iframe {
	border: none;
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 0;
}

/** Filters */
.filter-not-configured {
	background-image: linear-gradient(to right, #ebbb54 5px, transparent 6px);
}

.filter-deprecated {
	background-image: linear-gradient(to right, #eb5454 5px, transparent 6px);
}

.filter-deprecated.filter-not-configured {
	background-image: linear-gradient(to right, #eb5454 5px, #ebbb54 6px, #ebbb54 11px, transparent 12px);
}