{% if parameters.enableTag %}
	<div id="website-ga" data-rbs-website-google-analytics="" data-block-id="{{ blockId }}"
		data-identifier="{{ parameters.identifier }}"></div>
{% else %}
	<!-- Analytics disabled on this instance -->
{% endif %}
