{% block rbsWebsiteMenuUse %}{% endblock rbsWebsiteMenuUse %}

{% block rbsWebsiteMenuDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ root.toArray() | json_encode | raw}};
	</script>
{% endblock rbsWebsiteMenuDataCache %}

{% macro item(item) %}
	{% import _self as menu %}
	<li class="{% if item.hasChild %}dropdown{% endif %} {% if item.isInPath or item.isCurrent %}active{% endif %}">
		<a href="{{ item.url }}"{% if item.hasChild %} data-toggle="dropdown" class="dropdown-toggle"{% endif %}>{{ item.title }}{% if item.hasChild %} <b class="caret"></b>{% endif %}</a>
		{% if item.hasChild %}
			<ul class="dropdown-menu">
				{% for child in item.getChildren %}
					{{ menu.item(child) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}
{% import _self as menu %}

<nav data-rbs-website-menu="" data-block-id="{{ blockId }}">
	{% if parameters.showTitle == true %}
		<h3>
			{% if root.url %}<a href="{{ root.url }}">{% endif %}{{ root.title }}{% if root.url %}</a>{% endif %}
		</h3>
	{% endif %}
	{% if root.hasChild %}
		<ul class="nav nav-pills">
		{% for child in root.children %}
			<li{% if child.isInPath or child.isCurrent %} class="active"{% endif %}>
				{{ menu.item(child) }}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
</nav>