{% block rbsWebsiteMenuUse %}{% endblock rbsWebsiteMenuUse %}

{% block rbsWebsiteMenuDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ root.toArray() | json_encode | raw}};
	</script>
{% endblock rbsWebsiteMenuDataCache %}

{% macro item(item) %}
	{% import _self as menu %}
	<li class="{% if item.isInPath or item.isCurrent %}active{% endif %}">
		<a href="{{ item.url }}">{{ item.title }}</a>
		{% if item.hasChild %}
			<ul class="dropdown-sub-menu list-unstyled">
				{% for child in item.getChildren %}
					{{ menu.item(child) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}
{% import _self as menu %}

<nav class="navbar{% if parameters.inverseColors %} navbar-inverse{% endif %}" data-rbs-website-menu=""
		data-block-id="{{ blockId }}">
	<div class="navbar-header">
		{% if root.hasChild %}
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-responsive-collapse-{{ blockId }}">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		{% endif %}
		{% if root.url %}
			<a href="{{ root.url }}" class="navbar-brand {% if parameters.showTitle != true %}visible-sm-block{% endif %}">
				{{ root.title }}
			</a>
		{% else %}
			<span class="navbar-brand {% if parameters.showTitle != true %}visible-sm-block{% endif %}">
				{{ root.title }}
			</span>
		{% endif %}
	</div>
	{% if root.hasChild %}
		<div class="collapse navbar-collapse navbar-responsive-collapse-{{ blockId }}">
			<ul class="nav navbar-nav">
				{% for item in root.children %}
					{% if item.hasChild %}
						<li class="dropdown {% if item.isInPath or item.isCurrent %}active{% endif %}">
							<a href="{{ item.url }}" data-toggle="dropdown" class="dropdown-toggle">
								{{ item.title }} <b class="caret"></b>
							</a>
							{% set attributes = item.typology.attributes %}
							{% if attributes.visual or attributes.description %}
								<ul class="dropdown-menu dropdown-enriched">
									{% block rbsWebsiteMenuFirstLevelItem %}
										<li class="dropdown-enriched-part hidden-xs">
											{% if attributes.visual.value.formats.menuItemThumbnail %}
												<img class="img-responsive" alt="{{ attributes.visual.value.formats.alt }}"
													title="{{ attributes.visual.value.formats.title }}"
													src="{{ attributes.visual.value.formats.menuItemThumbnail }}" />
											{% endif %}
											{% if attributes.description %}
												<div class="richtext">{{ attributes.description.value|raw }}</div>
											{% endif %}
										</li>
										{% for child in item.getChildren %}
											{{ menu.item(child) }}
										{% endfor %}
										<li class="cleaner"></li>
									{% endblock rbsWebsiteMenuFirstLevelItem %}
								</ul>
							{% else %}
								<ul class="dropdown-menu">
									{% for child in item.getChildren %}
										{{ menu.item(child) }}
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% else %}
						<li class="{% if item.isInPath or item.isCurrent %}active{% endif %}">
							<a href="{{ item.url }}">{{ item.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</nav>