<rbs-field data-ng-if="!document.isNew()" label="{{ i18nAttr(propertyKey('Project_Library_PublicationVolume', 'order'), ['ucf']) }}">
	<p class="form-control-static">(= document.order =)</p>
</rbs-field>

<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_PublicationVolume', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker property="publication" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_PublicationVolume', 'publication'), ['ucf']) }}"
	accepted-model="Project_Library_Publication">
</rbs-field-picker>

<rbs-field-text property="number" 
	label="{{ i18nAttr(propertyKey('Project_Library_PublicationVolume', 'number'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-rich-text property="description" 
	label="{{ i18nAttr(propertyKey('Project_Library_PublicationVolume', 'description'), ['ucf']) }}">
</rbs-field-rich-text>