<div class="row" data-ng-controller="RbsSimpleformFormResponsesController">
	<div data-rbs-full-width="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.simpleform.admin.response_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Simpleform_Response"></rbs-document-filter-panel>

		<rbs-document-list model="Rbs_Simpleform_Response" filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>
</div>