<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.seo.ua.document_path_rules_modal_title', ['ucf'], {'documentName': '(= modalData.pathRules.common.label =)'}) | raw }}
	</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.successMessage">
	<div class="alert alert-success text-center no-bottom-margin">
		(= modalData.successMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage && !modalData.successMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage && !modalData.successMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<div data-px-messages=""></div>
		<p>{{ i18n('m.rbs.seo.ua.available_languages_help') }}</p>
		<form class="form-horizontal" name="modelPathRulesForm">
			<div data-ng-repeat="(locationGroupIndex, locationGroup) in modalData.pathRules.locationGroups">
				<div class="panel panel-default" data-px-panel-toggle="" data-ng-class="$last ? 'no-bottom-margin' : null">
					<div class="panel-heading">(= locationGroup.websiteLabel =) [ (= locationGroup.LCIDLabel =) ]</div>
					<div class="table-responsive">
						<table class="panel-body ua-entity-list-table table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<th style="width: 70%;">{{ i18n('m.rbs.seo.ua.property_url_label', ['ucf']) }}</th>
									<th style="width: 30%;">{{ i18n('m.rbs.seo.ua.property_section_label', ['ucf']) }}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="(locationIndex, location) in locationGroup.locations" class="normal-row">
									<td>
										<a href="" data-ng-href="(= getHref(location, location.urls[0]) =)" target="_blank">
											(= getHref(location, location.urls[0]) =)
										</a>
									</td>
									<td>
										<em data-ng-show="location.canonical">{{ i18nAttr('m.rbs.seo.ua.canonical_location', ['ucf']) }}</em>
										<span data-ng-hide="location.canonical">(= location.sectionLabel =)</span>
									</td>
									<td class="column-actions">
										<button type="button" class="btn btn-default btn-icon"
											data-ng-click="openLocation(locationGroupIndex, locationGroup, locationIndex, location)"
											title="{{ i18nAttr('m.rbs.ua.common.edit', ['ucf']) }}">
											<i class="icon-pencil"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">{{ i18n('m.rbs.ua.common.close', ['ucf']) }}</button>
	</div>
</div>