<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.seo.ua.document_path_rules_modal_title', ['ucf'], {'documentName': '(= modalData.pathRules.common.label =)'}) | raw }}
	</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<form class="form-horizontal">
			<div data-ng-show="modalData.lastError" class="alert alert-danger">(= modalData.lastError =)</div>

			<div class="panel panel-default">
				<div class="panel-heading">{{ i18n('m.rbs.seo.ua.context_data', ['ucf']) }}</div>
				<dl class="panel-body dl-horizontal">
					<dt>{{ i18n('m.rbs.seo.ua.property_website', ['ucf']) }}</dt>
					<dd>
						(= modalData.locationGroup.websiteLabel =)
						(<a href="" data-ng-href="(= getHref(location) =)" target="_blank">(= getHref(location) =)</a>)
					</dd>
					<dt>{{ i18n('m.rbs.seo.ua.property_section_label', ['ucf']) }}</dt>
					<dd>
						<em data-ng-show="location.canonical">{{ i18nAttr('m.rbs.seo.ua.canonical_location', ['ucf']) }}</em>
						<span data-ng-hide="location.canonical">(= location.sectionLabel =)</span>
					</dd>
					<dt>{{ i18n('m.rbs.seo.ua.property_lcid_label', ['ucf']) }}</dt>
					<dd>(= modalData.locationGroup.LCIDLabel =)</dd>
				</dl>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">{{ i18n('m.rbs.seo.ua.rewrite_urls', ['ucf']) }}</div>
				<div class="table-responsive">
					<table data-ng-show="location.urls.length > 0"
						class="panel-body ua-entity-list-table table table-condensed table-bordered table-striped">
						<thead>
							<tr>
								<th>{{ i18n('m.rbs.seo.ua.property_relative_path', ['ucf']) }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="(index, url) in location.urls">
								<td>
									<a data-ng-hide="displayConfig.urls[index].edit" href="" data-ng-href="(= getHref(location, url) =)"
										target="_blank">(= url.relativePath =)</a>
									{# Setting the ng-show directly on the input causes some display bugs. #}
									<span data-ng-show="displayConfig.urls[index].edit">
										<input data-ng-model="url.newRelativePath" type="text" class="form-control" />
									</span>
								</td>
								<td class="column-actions">
									<button data-ng-hide="displayConfig.urls[index].edit" type="button" class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.edit_url', ['ucf']) }}" data-ng-click="startEdit('urls', index)">
										<i class="icon-pencil"></i>
									</button>
									<button data-ng-hide="displayConfig.urls[index].edit" type="button" class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.restore_default_url', ['ucf']) }}" data-ng-click="restoreDefaultUrl(index)"
										data-ng-disabled="url.relativePath == location.defaultRelativePath">
										<i class="icon-level-down"></i>
									</button>
									<button data-ng-show="displayConfig.urls[index].edit" type="button" class="btn btn-info btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.validate_modifications', ['ucf']) }}" data-ng-click="updateUrl(index)"
										data-ng-disabled="!isModified('urls', index)">
										<i class="icon-check"></i>
									</button>
									<button data-ng-show="displayConfig.urls[index].edit" type="button" class="btn btn-warning btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.cancel_modifications', ['ucf']) }}" data-ng-click="endEdit('urls', index)">
										<i class="icon-undo"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-default" data-ng-class="location.facetUrls.length < 1 ? 'no-bottom-margin' : ''">
				<div class="panel-heading">
					{{ i18n('m.rbs.seo.ua.redirects', ['ucf']) }}
				</div>
				<div class="table-responsive">
					<table class="panel-body ua-entity-list-table table table-condensed table-bordered table-striped">
						<thead>
							<tr>
								<th>{{ i18n('m.rbs.seo.ua.property_relative_path', ['ucf']) }}</th>
								<th style="width: 85px;">{{ i18n('m.rbs.seo.ua.property_http_status', ['ucf']) }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="(index, redirect) in location.redirects" data-ng-show="redirect.httpStatus !== 404">
								<td>
									<span data-ng-hide="displayConfig.redirects[index].edit">(= redirect.relativePath =)</span>
									{# Setting the ng-show directly on the input causes some display bugs. #}
									<span data-ng-show="displayConfig.redirects[index].edit">
										<input data-ng-model="redirect.newRelativePath" type="text" class="form-control" />
									</span>
								</td>
								<td style="white-space: nowrap;">
									<span data-ng-hide="displayConfig.redirects[index].edit">(= redirect.httpStatus =)</span>
									<span data-ng-show="displayConfig.redirects[index].edit">
										<label class="radio-inline" data-ng-repeat="status in httpStatuses">
											<input type="radio" data-ng-model="redirect.newHttpStatus" data-ng-value="status"> (= status =)
										</label>
									</span>
								</td>
								<td class="column-actions">
									<button data-ng-disabled="displayConfig.redirects[index].edit" type="button" class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.make_current_url', ['ucf']) }}" data-ng-click="makeCurrentUrl(index)">
										<i class="icon-level-up"></i>
									</button>
									<button data-ng-hide="displayConfig.redirects[index].edit" type="button" class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.edit_redirect', ['ucf']) }}" data-ng-click="startEdit('redirects', index)">
										<i class="icon-pencil"></i>
									</button>
									<button data-ng-hide="displayConfig.redirects[index].edit" type="button" class="btn btn-danger btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.delete_redirect', ['ucf']) }}" data-ng-click="deleteRedirect(index)">
										<i class="icon-remove"></i>
									</button>
									<button data-ng-show="displayConfig.redirects[index].edit" type="button" class="btn btn-info btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.validate_modifications', ['ucf']) }}" data-ng-click="updateRedirect(index)"
										data-ng-disabled="!isModified('redirects', index)">
										<i class="icon-check"></i>
									</button>
									<button data-ng-show="displayConfig.redirects[index].edit" type="button" class="btn btn-warning btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.cancel_modifications', ['ucf']) }}" data-ng-click="endEdit('redirects', index)">
										<i class="icon-undo"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td><input data-ng-model="newRedirect.relativePath" type="text" class="form-control" style="width: 100%;" /></td>
								<td style="white-space: nowrap;">
									<label class="radio-inline" data-ng-repeat="status in httpStatuses">
										<input type="radio" data-ng-model="newRedirect.httpStatus" data-ng-value="status"> (= status =)
									</label>
								</td>
								<td class="column-actions text-right">
									<button type="button" class="btn btn-info btn-icon"
										data-ng-disabled="!newRedirect.relativePath || !newRedirect.httpStatus"
										title="{{ i18nAttr('m.rbs.seo.ua.add_new_redirect', ['ucf']) }}" data-ng-click="addNewRedirect()">
										<i class="icon-check"></i>
									</button>
									<button type="button" class="btn btn-danger btn-icon"
										data-ng-disabled="!newRedirect.relativePath && !newRedirect.httpStatus"
										title="{{ i18nAttr('m.rbs.seo.ua.clear_new_redirect', ['ucf']) }}" data-ng-click="clearNewRedirect()">
										<i class="icon-remove"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div data-ng-if="location.facetUrls.length > 0">
				<div class="panel panel-default no-bottom-margin" style="cursor: pointer;">
					<div class="panel-heading" data-ng-click="openFacet()">
						{{ i18n('m.rbs.seo.ua.facet_urls', ['ucf']) }}
						<span class="badge badge-info">(= location.facetUrls.length =)</span>
						<span class="icon-chevron-right pull-right" title="{{ i18nAttr('m.rbs.ua.common.edit', ['ucf']) }}"></span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="modalData.unchanged"
			data-ng-click="save()">
			{{ i18n('m.rbs.ua.common.save', ['ucf']) }}
		</button>
	</div>
</div>