<rbs-field-picker property="work" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'work'), ['ucf']) }}"
	accepted-model="Project_Library_Work">
</rbs-field-picker>

<rbs-field-picker property="publisher"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'publisher'), ['ucf']) }}"
	accepted-model="Project_Library_Publisher">
</rbs-field-picker>

<rbs-field label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'collection'), ['ucf']) }}">
	<select class="form-control" data-ng-model="document.collection" data-ng-disabled="!document.publisher"
		data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Collections"
		data-collection-params="publisher:(= document.publisher.id =)" data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.project.library.admin.collection_select', ['ucf']) }}</option>
	</select>
</rbs-field>

<rbs-field-text property="name"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'name'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-boolean property="oneShot"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'oneShot'), ['ucf']) }}">
</rbs-field-boolean>

<div data-ng-if="!document.oneShot">
	<rbs-field-text property="volumesDetail"
		label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'volumesDetail'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-document-select label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'status'), ['ucf']) }}"
		property="status" accepted-model="Project_Library_WorkStatus"
		ng-model="document.status">
	</rbs-field-document-select>
</div>

<rbs-field-integer property="year"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'year'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-integer property="endYear"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'endYear'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-picker-multiple property="nationalities"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'nationalities'), ['ucf']) }}"
	accepted-model="Rbs_Geo_Country">
</rbs-field-picker-multiple>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'description'), ['ucf']) }}">
</rbs-field-rich-text>