<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a data-rbs-active-route="" href="Rbs/Tag/Tag/" data-rbs-panel-link="">{{ i18n('m.rbs.tag.admin.common_tags', ['ucf']) }}</a>
	<a data-rbs-active-route="" href="Rbs/Tag/MyTags/" data-rbs-panel-link="">{{ i18n('m.rbs.tag.admin.my_tags', ['ucf']) }}</a>
</div>
