
<rbs-field-document-select property="reader" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'reader'), ['ucf']) }}"
	accepted-model="Rbs_User_User" ng-model="document.reader">
</rbs-field-document-select>

<rbs-field-picker property="work" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'work'), ['ucf']) }}"
	accepted-model="Project_Library_Work">
</rbs-field-picker>

<rbs-field-picker property="publication" 
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'publication'), ['ucf']) }}"
	accepted-model="Project_Library_Publication">
</rbs-field-picker>

<rbs-field-picker-multiple property="volumes" 
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'volumes'), ['ucf']) }}"
	accepted-model="Project_Library_PublicationVolume">
</rbs-field-picker-multiple>

<rbs-field-text property="volumesDetail" 
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'volumesDetail'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-document-select property="status" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'status'), ['ucf']) }}"
	accepted-model="Project_Library_ReadingStatus" ng-model="document.status">
</rbs-field-document-select>

<rbs-field-date property="beginDate" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'beginDate'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-date property="endDate" 
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'endDate'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-integer property="rating" 
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'rating'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-rich-text property="comment" 
	label="{{ i18nAttr(propertyKey('Project_Library_Reading', 'comment'), ['ucf']) }}">
</rbs-field-rich-text>
