<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.project.library.admin.possession_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter"
			model="Project_Library_Possession"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list data-dlid="DLProjectLibraryPossession"
			model="Project_Library_Possession"
			filter-collection="filter">
			<rbs-column name="id" primary="true"></rbs-column>
			<rbs-column name="work">(= doc.work.label =)</rbs-column>
			<rbs-column name="owners">
				<span data-ng-repeat="owner in doc.owners">
					(= owner.label =)
					<span class="separator" data-ng-if="!$last">, </span>
				</span>
			</rbs-column>
		</rbs-document-list>
	</div>
</div>