<div class="form-inline">
	<div class="input-group">
		<input type="text" class="form-control" data-role="input-date" data-ng-model="date" data-is-open="opened" data-show-button-bar="false"
			data-ng-required="required" data-datepicker-options="dateOptions" data-ng-change="updateDate()"
			data-uib-datepicker-popup="(= 'm.project.familinet.app.date_selector_format'|i18n =)" />
		<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-icon" data-ng-click="open($event)"
				title="(= 'm.project.familinet.app.action_open_selector'|i18n|ucf =)">
				<span class="glyphicon glyphicon-calendar"></span>
			</button>
		</span>
	</div>

	<button type="button" class="btn btn-default btn-icon" data-ng-click="clear()"
		title="(= 'm.project.familinet.app.action_clear'|i18n|ucf =)">
		<span class="glyphicon glyphicon-erase"></span>
	</button>

	<button type="button" data-ng-show="showNowButton" class="btn btn-default" data-ng-click="now()">
		(= 'm.project.familinet.app.date_selector_today'|i18n|ucf =)
	</button>

	<span data-ng-transclude=""></span>
</div>