<span data-ng-if="isCollection()">(= collectionItems[attribute.value].title =)</span>
<span data-ng-if="!isCollection()">
	<span data-ng-if="isArrayValue()">
		<span data-ng-repeat="item in docList">
			<a data-ng-href="(= item|appURL:'detail' =)" data-ng-bind="item.label"></a><span data-ng-if="!$last">,</span>
		</span>
	</span>
	<span data-ng-if="isDocument()">
		<a data-ng-href="(= docList[0]|appURL:'detail' =)" data-ng-bind="item.label"></a>
	</span>
	<div data-ng-if="isHtml()" data-ng-bind-html="trustHtml(attribute.value)"></div>
	<span data-ng-if="isDate() || isDateTime()" data-ng-bind="attribute.value | appDate"></span>
	<span data-ng-if="isString()" data-ng-bind="attribute.valueTitle || attribute.value"></span>
</span>