<ul class="document-selector-token-list document-selector-token-list-rows list-unstyled">
	<li draggable="true" data-ng-repeat="item in items" data-id="(= item.id =)">
		<span class="pull-right actions">
			<span class="glyphicon glyphicon-sort" data-ng-hide="items.length < 2"
				title="{{ i18nAttr('m.rbs.admin.admin.drag_to_reorder', ['ucf']) }}"></span>
			<span class="glyphicon glyphicon-remove" data-ng-hide="readonly" data-ng-click="remove($index)"></span>
		</span>
		<span data-ng-include="getItemTemplateName(item)"></span>
	</li>
</ul>