<div class="document-meta">
	<dl class="text-muted">
		<dt>(= 'm.project.familinet.app.creation_date|ucf|lab' | i18n =)</dt>
		<dd>(= document.creationDate | appDateTime =)</dd>
		<dt>(= 'm.project.familinet.app.last_update|ucf|lab' | i18n =)</dt>
		<dd>(= document.modificationDate | appDateTime =)</dd>
	</dl>
</div>