<div data-ng-if="document.model">
	<div data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Typologies"
		data-collection-params="modelName:(= document.model =)" data-variable-name="data.typologies"></div>
	<fieldset data-ng-show="data.typologies.length">
		<legend class="ng-binding">(= 'm.project.familinet.app.complementary_data'|i18n|ucf =)</legend>

		<div data-app-field="" data-label="(= 'm.project.familinet.app.typology'|i18n =)" data-handle-persist="(= handlePersist =)"
			data-property="(= documentName =).typology$.__id">
			<select class="form-control typology-selector" data-ng-model="document.typology$.__id"
				data-ng-options="item.value as item.label for item in data.typologies">
				<option value="">(= 'm.project.familinet.app.typology_select'|i18n =)</option>
			</select>
		</div>

		<div data-ng-repeat="group in attributeGroups">
			<fieldset class="attributes-group" data-ng-if="group.attributes">
				<legend class="ng-binding">(= group.title || group.label =)</legend>
				<div data-ng-repeat="attribute in group.attributes">
					<div data-app-field="" data-label="(= attribute.title || attribute.label =)"
						data-ng-class="{'required': attribute.required}"
						data-property="(= documentName =).typology$.(= attribute.name =)" data-handle-persist="(= handlePersist =)">
						<div data-ng-if="attribute.collectionCode">
							<select data-ng-model="document.typology$[attribute.name]" class="form-control" data-ng-disabled="attribute.readonly"
								data-ng-controller="RbsCollectionController" data-collection-code="(= attribute.collectionCode =)"
								data-ng-options="item.value as item.label for item in pxCollection">
								<option value=""></option>
							</select>
						</div>
						<div data-ng-if="!attribute.collectionCode">
							<div data-ng-switch="attribute.type">
								<input type="text" data-ng-switch-when="String" class="form-control"
									data-ng-required="attribute.required" data-ng-model="document.typology$[attribute.name]"
									data-ng-disabled="attribute.readonly"/>
								<span data-app-switch="" data-ng-switch-when="Boolean" data-ng-model="document.typology$[attribute.name]"
									data-ng-disabled="attribute.readonly"></span>
								<div data-ng-switch-when="DateTime">
									<div data-app-date-selector="" data-ng-required="attribute.required"
										data-ng-model="document.typology$[attribute.name]" data-ng-disabled="attribute.readonly"></div>
								</div>
								<div data-ng-switch-when="Integer" class="row">
									<div class="col-xs-2">
										<input type="number" class="form-control" data-ng-required="attribute.required"
											data-ng-model="document.typology$[attribute.name]"
											data-ng-disabled="attribute.readonly"/>
									</div>
								</div>
								<div class="row" data-ng-switch-when="Float">
									<div class="col-xs-2">
										<input type="text" data-rbs-smart-float="" class="form-control"
											data-ng-required="attribute.required" data-ng-model="document.typology$[attribute.name]"
											data-ng-disabled="attribute.readonly"/>
									</div>
								</div>
								<div data-app-document-selector="" data-ng-switch-when="DocumentId"
									data-mode="(= attribute.usePicker ? '' : 'options' =)"
									data-ng-model="document.typology$[attribute.name]" data-ng-required="attribute.required"
									data-accepted-model="(= attribute.documentType =)" data-ng-disabled="attribute.readonly">
								</div>
								<div data-app-document-array-selector="" data-ng-switch-when="DocumentIdArray"
									data-mode="" data-value-ids="true"
									data-ng-model="document.typology$[attribute.name]" data-ng-required="attribute.required"
									data-accepted-model="(= attribute.documentType =)" data-ng-disabled="attribute.readonly">
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</fieldset>
</div>