<div class="row document-list" data-ng-cloak="" data-ng-show="initialized">
	<div class="col-xs-12">
		<div class="page-header" data-ng-if="blockLevel == 'primary'">
			<h1>
				(= listTitle =)
				<small data-ng-if="fullListUrl && compact && pagination.totalItems > pagination.limit">
					(<a href="" data-ng-href="(= fullListUrl =)"
					title="(= 'm.project.familinet.app.view_full_list'|i18n|ucf =)">(= pagination.totalItems =)</a>)
				</small>
				<small data-ng-if="!compact || pagination.totalItems <= pagination.limit">
					((= pagination.totalItems =))
				</small>

				<span class="pull-right">
					<a data-ng-href="(= modelName|appURL:newRouteName:newUrlParameters =)" data-ng-if="allowCreation"
						class="btn btn-default btn-icon btn-responsive"
						title="(= 'm.project.familinet.app.action_new'|i18n|ucf =)">
						<span class="glyphicon glyphicon glyphicon-plus"></span>
					</a>
				</span>
				<span class="clearfix"></span>
			</h1>
		</div>
		<h2 data-ng-if="blockLevel == 'secondary'">
			(= listTitle =)
			<small data-ng-if="fullListUrl && compact && pagination.totalItems > pagination.limit">
				(<a href="" data-ng-href="(= fullListUrl =)"
					title="(= 'm.project.familinet.app.view_full_list'|i18n|ucf =)">(= pagination.totalItems =)</a>)
			</small>
			<small data-ng-if="!compact || pagination.totalItems <= pagination.limit">
				((= pagination.totalItems =))
			</small>

			<span class="pull-right">
				<button data-ng-if="filter.enabled && compact" data-ng-show="filter.shown" type="button" data-ng-click="filter.hide()"
					class="btn btn-default btn-icon btn-responsive" title="(= 'm.project.familinet.app.action_close_filters'|i18n|ucf =)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button data-ng-if="filter.enabled && compact" data-ng-show="!filter.shown" type="button" data-ng-click="filter.show()"
					class="btn btn-default btn-icon btn-responsive" title="(= 'm.project.familinet.app.action_filter'|i18n|ucf =)">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
				<a data-ng-href="(= modelName|appURL:newRouteName:newUrlParameters =)" data-ng-if="allowCreation"
					class="btn btn-default btn-icon btn-responsive" title="(= 'm.project.familinet.app.action_new'|i18n|ucf =)">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</span>
			<span class="clearfix"></span>
		</h2>

		<form data-ng-if="filter.enabled" data-ng-show="filter.shown">
			<div class="form-group">
				<label for="(= modelName =)_filter_value" class="sr-only">(= 'm.project.familinet.app.filter_list'|i18n|ucf =)</label>
				<div class="input-group">
					<input type="text" class="form-control" data-ng-model="filter.value" id="(= modelName =)_filter_value"
						placeholder="(= 'm.project.familinet.app.filter_list'|i18n|ucf =)" data-ng-model-options="{debounce: 500}" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span data-ng-if="filter.mode == 'contains'">(= 'm.project.familinet.app.filter_containing'|i18n|ucf =)</span>
							<span data-ng-if="filter.mode == 'beginsWith'">(= 'm.project.familinet.app.filter_beginning_with'|i18n|ucf =)</span>
							<span data-ng-if="filter.mode == 'endsWith'">(= 'm.project.familinet.app.filter_ending_with'|i18n|ucf =)</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li><a href="javascript:" data-ng-click="filter.mode = 'contains'">
								(= 'm.project.familinet.app.filter_containing'|i18n|ucf =)
							</a></li>
							<li><a href="javascript:" data-ng-click="filter.mode = 'beginsWith'">
								(= 'm.project.familinet.app.filter_beginning_with'|i18n|ucf =)
							</a></li>
							<li><a href="javascript:" data-ng-click="filter.mode = 'endsWith'">
								(= 'm.project.familinet.app.filter_ending_with'|i18n|ucf =)
							</a></li>
						</ul>
					</div>
				</div>
			</div>
		</form>

		<div class="list-content" data-ng-if="!compact || pagination.totalItems > 0">
			<div data-ng-include="contentTemplateUrl"></div>
		</div>

		<div data-ng-if="!compact" data-app-pagination="pagination" class="pagination-container"></div>
		<p data-ng-if="fullListUrl && compact && pagination.totalItems > pagination.limit" class="full-list-link">
			<a href="" data-ng-href="(= fullListUrl =)">(= 'm.project.familinet.app.view_full_list'|i18n|ucf =)</a>
		</p>
	</div>
</div>