<div class="page-header">
	<div class="pull-right" data-ng-hide="readonly">
		<a data-ng-href="(= document|appURL:'edit' =)"
			class="btn btn-default btn-icon btn-responsive"
			title="(= 'm.project.familinet.app.action_edit'|i18n|ucf =)">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>

		<a data-ng-href="(= document|appURL:'newFrom' =)"
			class="btn btn-default btn-icon btn-responsive"
			title="(= 'm.project.familinet.app.action_new_from'|i18n|ucf|etc =)">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</div>
	<h1>
		<span>(= title || document.label =)</span>
		<small data-ng-show="subtitle">(= subtitle =)</small>
	</h1>
	<span class="clearfix"></span>
</div>