<div class="notification-center" data-ng-show="notifications.length">
	<div data-app-notification data-ng-repeat="notification in notifications" data-notification-id="(= notification.id =)" ></div>
</div>