<div class="alert" data-ng-class="{'info': 'alert-info', 'error': 'alert-danger', 'warning': 'alert-warning'}[notification.level]">
	<rbs-kb-switch>
		<button data-rbs-kb-default="" type="button" class="close" data-ng-click="remove()"
			title="(= 'm.project.familinet.app.close'|i18n|ucf =)">&times;</button>
		<button data-rbs-kb-when="alt" type="button" class="close" data-ng-click="removeAll()"
			title="{{ 'm.project.familinet.app.close_all'|i18n|ucf =)">&times;</button>
	</rbs-kb-switch>
	<h4 data-ng-show="notification.title" data-ng-bind-html="notification.title"></h4>
	<div data-ng-show="notification.body" data-ng-bind-html="notification.body"></div>
</div>
