<div>
	<div class="pagination-limit pull-right">
		<label>
			<select data-ng-model="pagination.limit" class="form-control input-sm"
				data-ng-options="item.value as item.value for item in options"></select>
			(= 'm.project.familinet.app.pagination_per_page'|i18n =)
		</label>
	</div>

	<div data-uib-pagination="" data-boundary-links="true" data-total-items="pagination.totalItems" data-max-size="pagination.maxSize"
		class="pagination-sm" data-items-per-page="pagination.limit" data-ng-model="pagination.currentPage"
		data-previous-text="&lsaquo;" data-next-text="&rsaquo;" data-first-text="&laquo;" data-last-text="&raquo;">
	</div>
</div>