<div class="rich-text-input">
	<div id="rbsRichtextInput(= editorId =)TabEditor">
		<div data-ng-switch="editorMode">
			<div data-ng-switch-when="Markdown" class="richtext-input-markdown">
				<div id="(= containerId =)">
					<textarea class="form-control" rows="7" style="resize: vertical;" data-ng-model="values.markdown"></textarea>
				</div>
			</div>

			<div data-ng-switch-default="" class="richtext-input-other">
				<div data-ng-show="invalidMode" class="text-danger form-control-static">
					(= 'm.project.familinet.app.richtext_invalid_mode'|i18n|ucf =)
				</div>
			</div>
		</div>
	</div>
</div>
