<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_FacetValuesMapping', 'label'), ['ucf']) }}">
</rbs-field-text>
<rbs-field-text property="defaultMappingValue"
		label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_FacetValuesMapping', 'defaultMappingValue'), ['ucf']) }}">
</rbs-field-text>

<fieldset>
	<legend>{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_assoc_title', ['ucf']) }}</legend>
	<rbs-field label="{{ i18nAttr('m.rbs.elasticsearch.admin.facetvaluesmapping_assoc_origin', ['ucf']) }}">
		<input type="text" class="form-control input-sm" data-ng-model="assoc.search"/>
	</rbs-field>
	<rbs-field label="{{ i18nAttr('m.rbs.elasticsearch.admin.facetvaluesmapping_assoc_mapped', ['ucf']) }}">
		<div class="input-group">
			<input type="text" class="form-control input-sm" data-ng-model="assoc.mapped"/>
			<div class="input-group-btn">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_assoc_mapped_values', ['ucf']) }} <span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li data-ng-repeat="m in assoc.distinctMapped"><a href="" data-ng-click="assoc.mapped = m">(= m =)</a></li>
				</ul>
			</div>
		</div>
	</rbs-field>
	<rbs-field label="{{ i18nAttr('m.rbs.elasticsearch.admin.facetvaluesmapping_assoc_override', ['ucf']) }}">
		<input type="checkbox" data-ng-model="assoc.override" />
	</rbs-field>
	<div class="form-buttons">
		<button class="btn btn-default pull-left" type="button" data-ng-disabled="!assoc.search || assoc.search == ''"
				data-ng-click="assocMapping(assoc.search, assoc.mapped, assoc.override)">
			{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_assoc', ['ucf']) }}
		</button>
		<button class="btn btn-danger pull-right" type="button" data-ng-click="deleteNullMapping()">
			<i class="icon-trash"></i>
			{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_remove_null_mapping', ['ucf']) }}
		</button>
	</div>
</fieldset>

<hr />

<table class="table table-striped">
	<thead>
		<tr>
			<td colspan="3" class="text-center">
				<button class="btn btn-default" type="button" data-ng-click="changePage(-1000)"><i class="icon-step-backward"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(-10)"><i class="icon-double-angle-left"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(-1)"><i class="icon-angle-left"></i></button>
				<span> (= pagination.offset + 1 =) - (= pagination.offset + pagination.items.length =) / <strong>(= document.mappingData.length =)</strong></span>
				<button class="btn btn-default" type="button" data-ng-click="changePage(+1)"><i class="icon-angle-right"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(+10)"><i class="icon-double-angle-right"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(+1000)"><i class="icon-step-forward"></i></button>
			</td>
		</tr>
		<tr>
			<td>{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_value', ['ucf']) }}
				<a data-ng-show="inputValues.length" data-ng-click="addInputValues()" href="">
					 (= inputValues.length =) {{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_values_to_add') }}
				</a>
			</td>
			<td>{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_mapping', ['ucf']) }}</td>
			<td></td>
		</tr>
	</thead>
	<tbody data-ng-show="pagination.items.length">
		<tr data-ng-repeat="item in pagination.items">
			<td>
				<input type="text" class="form-control input-sm" data-ng-model="item.v" />
			</td>
			<td>
				<input type="text" class="form-control input-sm" data-ng-model="item.m" />
			</td>
			<td>
				<button class="btn btn-danger" type="button" data-ng-click="deleteMappingItem(item)">
					<i class="icon-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<input type="text" class="form-control input-sm" data-ng-model="newMappingItem.v"/>
			</td>
			<td>
				<input type="text" class="form-control input-sm" data-ng-model="newMappingItem.m"/>
			</td>
			<td>
				<button class="btn btn-default" type="button" data-ng-disabled="!newMappingItem.v" data-ng-click="addMappingItem(item)">
					<i class="icon-plus"></i>
				</button>
			</td>
		</tr>
	</tfoot>
</table>