<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.website.admin.website_list', ['ucf']) }}" data-icon="icon-globe">
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Website_Website' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.website.admin.website_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Theme_Theme' | rbsURL:'browse' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.theme.admin.theme_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Website_Text' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.website.admin.text_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Website_HtmlFragment' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.website.admin.htmlfragment_list', ['ucf']) }}
	</a>
</div>
<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.tag.admin.module_name', ['ucf']) }}" data-icon="icon-tags">
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Tag_Tag' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.tag.admin.common_tags', ['ucf']) }}
	</a>
</div>
<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.generic.admin.attributes', ['ucf']) }}" data-icon="icon-th-list">
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic_Typology' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.generic.admin.typology_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic_Attribute' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.generic.admin.attribute_list', ['ucf']) }}
	</a>
</div>
<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.generic.admin.jobs', ['ucf']) }}" data-icon="icon-time">
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic' | rbsURL:'WaitingJobs' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.generic.admin.waiting_jobs', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic' | rbsURL:'RunningJobs' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.generic.admin.running_jobs', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic' | rbsURL:'FailedJobs' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.generic.admin.failed_jobs', ['ucf']) }}
	</a>
</div>
<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.geo.admin.module_name', ['ucf']) }}" data-icon="icon-globe">
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Geo_Zone' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.zone_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Geo_Country' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.country_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Geo_TerritorialUnit' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.territorialunit_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Geo_AddressFields' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.addressfields_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Geo_Address' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.address_list', ['ucf']) }}
	</a>
</div>
<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.workflow.admin.module_name', ['ucf']) }}" data-icon="icon-tasks">
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Workflow_Workflow' | rbsURL:'list' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.workflow.admin.workflow_list', ['ucf']) }}
	</a>
</div>
<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.ua.admin.module_name', ['ucf']) }}" data-icon="icon-beaker">
	<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Ua' | rbsURL:'appList' =)" data-rbs-panel-link="">
		{{ i18n('m.rbs.ua.admin.app_list', ['ucf']) }}
	</a>
</div>
{% if inDevelopmentMode %}
	<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.plugins.admin.plugin_list', ['ucf']) }}" data-icon="icon-puzzle-piece">
		<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic' | rbsURL:'Installed' =)" data-rbs-panel-link="">
			{{ i18n('m.rbs.plugins.admin.installed_list', ['ucf']) }}
		</a>
		<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic' | rbsURL:'Registered' =)" data-rbs-panel-link="">
			{{ i18n('m.rbs.plugins.admin.registered_list', ['ucf']) }}
		</a>
		<a data-rbs-active-route="" href="" data-ng-href="(= 'Rbs_Generic' | rbsURL:'New' =)" data-rbs-panel-link="">
			{{ i18n('m.rbs.plugins.admin.new_list', ['ucf']) }}
		</a>
	</div>
{% endif %}