{% block rbsMailinglistErrors %}
	<div data-ng-show="errors" class="text-danger" data-ng-repeat="error in errors track by $index">
		<p>(= error =)</p>
	</div>
{% endblock rbsMailinglistErrors %}

{% block rbsMailinglistSuccess %}
	<div class="text-success">
		<p data-ng-bind-html="success.message | rbsTrustHtml"></p>
	</div>
{% endblock rbsMailinglistSuccess %}

{# Used parameters: ngModelBase #}
{% block rbsMailinglistRequiredFields %}
	<div class="form-group">
		<label for="email" class="col-sm-4 col-md-3 control-label">
			{{ i18n('m.rbs.mailinglist.front.email', ['ucf']) }}
		</label>

		<div class="col-sm-8 col-md-9">
			<input class="form-control" required="required" id="email" type="email" data-ng-model="{{ ngModelBase }}email"
				data-ng-disabled="isConnected" />
		</div>
	</div>
{% endblock rbsMailinglistRequiredFields %}

{# Used parameters: ngModelBase #}
{% block rbsMailinglistComplementaryFields %}
	<div data-ng-show="showComplementaryFields">
		<div class="form-group">
			<label for="firstName" class="col-sm-4 col-md-3 control-label">
				{{ i18n('m.rbs.mailinglist.front.firstname', ['ucf']) }}
			</label>

			<div class="col-sm-8 col-md-9">
				<input class="form-control" id="firstName" type="text" data-ng-model="{{ ngModelBase }}firstName" />
			</div>
		</div>
		<div class="form-group">
			<label for="lastName" class="col-sm-4 col-md-3 control-label">
				{{ i18n('m.rbs.mailinglist.front.lastname', ['ucf']) }}
			</label>

			<div class="col-sm-8 col-md-9">
				<input class="form-control" id="lastName" type="text" data-ng-model="{{ ngModelBase }}lastName" />
			</div>
		</div>
		<div class="form-group">
			<label for="phone" class="col-sm-4 col-md-3 control-label">
				{{ i18n('m.rbs.mailinglist.front.phone_number', ['ucf']) }}
			</label>

			<div class="col-sm-8 col-md-9">
				<div data-rbs-geo-input-phone-number="" data-name="phone" data-ng-model="{{ ngModelBase }}phone"></div>
			</div>
		</div>
		<div class="form-group">
			<label for="birthDate" class="col-sm-4 col-md-3 control-label">
				{{ i18n('m.rbs.mailinglist.front.birth_date', ['ucf']) }}
			</label>

			<div class="col-sm-8 col-md-9">
				<div data-rbs-date-picker="" data-field-id="birthDate" data-field-name="birthDate" data-mode="year"
					data-ng-model="{{ ngModelBase }}birthDate"></div>
			</div>
		</div>
	</div>
{% endblock rbsMailinglistComplementaryFields %}

{# Used parameters: mailingLists #}
{% block rbsMailinglistMailingLists %}
	<div class="form-group">
		<label class="col-sm-4 col-md-3 control-label">
			{{ i18n('m.rbs.mailinglist.front.subscription_list',['ucf']) }}
		</label>

		<div class="col-sm-8 col-md-9">
			<div class="checkbox" data-ng-repeat="list in {{ mailingLists }} track by $index">
				<label>
					<input type="checkbox" data-ng-model="optsIn[$index]"
						data-ng-true-value="(= list.common.id =)" data-ng-false-value="(= null =)" />
					(= list.common.title =)
				</label>

				<div class="small" data-ng-bind-html="list.common.description | rbsTrustHtml"></div>
			</div>
		</div>
	</div>
{% endblock rbsMailinglistMailingLists %}

{# Used parameters: ngModelBase #}
{% block rbsMailinglistButtonSubmit %}
	<div class="form-group">
		<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
			<button type="button" class="btn btn-primary" data-ng-disabled="!{{ ngModelBase }}email || disabled"
				data-ng-click="submit()">{{ i18n('m.rbs.mailinglist.front.submit', ['ucf']) }}</button>
		</div>
	</div>
{% endblock rbsMailinglistButtonSubmit %}

{# Used parameters: ngModelBase #}
{% block rbsMailinglistButtonUpdate %}
	<div class="form-group">
		<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
			<button type="button" class="btn btn-primary" data-ng-disabled="!{{ ngModelBase }}email || disabled"
				data-ng-click="submit()">{{ i18n('m.rbs.mailinglist.front.submit', ['ucf']) }}</button>
		</div>
	</div>
{% endblock rbsMailinglistButtonUpdate %}

{% block rbsMailinglistToken %}
	<form data-ng-show="success.isProcessing" class="form-horizontal" data-ng-submit="confirmSubscriptionRequest()" name="rbsMailinglistConfirm">
		<fieldset>
			<div class="form-group">
				<label for="rbsMailinglistConfirmToken" class="col-sm-4 col-md-3 control-label">
					{{ i18n('m.rbs.mailinglist.front.validation_code', ['ucf']) }}
				</label>

				<div class="col-sm-8 col-md-9 form-inline">
					<input required="required" class="form-control" id="rbsMailinglistConfirmToken" type="text" data-ng-model="token" />
					<button type="submit" class="btn btn-primary" data-ng-disabled="rbsMailinglistConfirm.$invalid || disabled">
						{{ i18n('m.rbs.mailinglist.front.update', ['uc']) }}
					</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock rbsMailinglistToken %}

{% block rbsMailinglistChangeSubscriber %}
	<div class="form-group">
		<label for="emails" class="col-sm-4 col-md-3 control-label">
			{{ i18n('m.rbs.mailinglist.front.my_email_addresses', ['ucf']) }}
		</label>
		<div class="col-sm-8 col-md-9">
			<select class="form-control" data-ng-model="subscriberId" id="emails" data-ng-change="fillOptIns()"
				data-ng-options="id as email for (id, email) in subscribers">
			</select>
		</div>
	</div>
{% endblock rbsMailinglistChangeSubscriber %}