<div class="input-group">
	<span class="input-group-addon" title="{{ i18nAttr('m.rbs.admin.admin.filter_blocks', ['ucf']) }}">
		<i class="icon-filter icon-white"></i>
	</span>
	<input type="text" class="form-control" data-ng-model="keyword">
</div>
<select class="form-control" data-ng-model="row.name" data-ng-required="required"
	data-ng-options="block.name as block.label group by block.plugin for block in existingBlocks|rbsFilterBlocks:keyword">
</select>