<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Theme_Template">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Theme_Template'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit="" data-rbs-document-editor-rbs-theme-template-edit="">
			<fieldset data-rbs-editor-section="" data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">
				<rbs-field-text property="label" required="true" label="{{ i18nAttr(propertyKey('Rbs_Theme_Template', 'label'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field property="defaultDisplayColumnsFrom" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Theme_Template', 'defaultDisplayColumnsFrom'), ['ucf']) }}">
					<div class="btn-group">
						<label class="btn btn-default" data-ng-model="document.defaultDisplayColumnsFrom" data-uib-btn-radio="'X'">
							{{ i18n('m.rbs.admin.admin.display_columns_from_x') }}
						</label>
						<label class="btn btn-default" data-ng-model="document.defaultDisplayColumnsFrom" data-uib-btn-radio="'S'">
							{{ i18n('m.rbs.admin.admin.display_columns_from_s') }}
						</label>
						<label class="btn btn-default" data-ng-model="document.defaultDisplayColumnsFrom" data-uib-btn-radio="'M'">
							{{ i18n('m.rbs.admin.admin.display_columns_from_m') }}
						</label>
						<label class="btn btn-default" data-ng-model="document.defaultDisplayColumnsFrom" data-uib-btn-radio="'L'">
							{{ i18n('m.rbs.admin.admin.display_columns_from_l') }}
						</label>
					</div>
					<p class="help-block no-bottom-margin">{{ i18n('m.rbs.theme.admin.default_display_columns_from_description', ['ucf']) }}</p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Theme_Template', 'contentByWebsite'), ['ucf']) }}">
					<rbs-document-select ng-model="select.websiteId" value-ids="true" accepted-model="Rbs_Website_Website"
						empty-label="{{ i18nAttr('m.rbs.theme.admin.default_configuration', ['ucf']) }}">
					</rbs-document-select>
				</rbs-field>

				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width:20%;">{{ i18n('m.rbs.theme.admin.templates_zone_id', ['ucf']) }}</th>
							<th style="width:80%;">{{ i18n('m.rbs.theme.admin.templates_block', ['ucf']) }}</th>
							<th style="min-width:140px;">{{ i18n('m.rbs.ua.common.actions', ['ucf']) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="row in blockList">
							<td><div class="form-control-static">(= row.id =)</div></td>
							<td>
								<div data-ng-show="!showBlockSelector(row)" class="form-control-static">
									(= row.block.label || row.name =)
								</div>
								<div data-ng-show="showBlockSelector(row)">
									<div data-rbs-theme-block-selector="" class="form-inline"></div>
								</div>
							</td>
							<td>
								<button class="btn btn-default btn-icon" type="button"
									title="{{ i18n('m.rbs.theme.admin.templates_override', ['ucf']) }}"
									data-ng-click="addBlockOverride(row)" data-ng-show="canOverrideBlock(row)">
									<span class="icon-level-down"></span>
								</button>
								<button class="btn btn-default btn-icon" type="button"
									title="{{ i18n('m.rbs.theme.admin.templates_removeoverride', ['ucf']) }}"
									data-ng-click="removeBlockOverride(row)" data-ng-show="canRemoveOverrideBlock(row)">
									<i class="icon-undo"></i>
								</button>
								<button class="btn btn-default btn-icon" type="button"
									title="{{ i18n('m.rbs.theme.admin.templates_parametrize', ['ucf']) }}"
									data-ng-click="openSettingsModal($index)" data-ng-show="canParametrizeBlock(row)">
									<span class="icon-edit"></span>
								</button>
								<button class="btn btn-default btn-icon" type="button"
									title="{{ i18n('m.rbs.theme.admin.templates_clear', ['ucf']) }}"
									data-ng-click="emptyBlock(row)" data-ng-show="canEmptyBlock(row)">
									<span class="icon-eraser"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>

		<div data-ng-show="document.mailSuitable === false">
			<div data-rbs-document-preview-form="document" data-language="language"></div>
		</div>
	</div>
</div>