<span data-ng-repeat="type in contribution.contributionTypes | orderBy:'label'">
	(= type.label =)<span class="separator" data-ng-if="!$last">, </span>
</span>
<span data-ng-show="contribution.detail">((= contribution.detail =))</span>
<small class="text-muted" data-ng-if="contribution.importance || contribution.episodeCount">
	<span data-ng-show="contribution.importance">(= contribution.importanceTitle =)</span>
	<span data-ng-show="contribution.episodeCount === 1">(= contribution.episodeCount + ' ' + ('m.project.library.app.episode'|i18n) =)</span>
	<span data-ng-show="contribution.episodeCount > 1">(= contribution.episodeCount + ' ' + ('m.project.library.app.episodes'|i18n) =)</span>
</small>