<a href="" data-ng-href="(= contributor|appURL =)">(= contributor.label =)</a>
<span data-ng-repeat="nationality in contributor.nationalitiesData"
	data-project-library-nationality="nationality" data-mode="compact"></span>
<small class="text-muted" data-ng-if="contributor.birthYear || contributor.deathYear">
	((= contributor.birthYear =) - (= contributor.deathYear =))
</small>