<div class="panel panel-default">
	<div class="panel-heading">(= 'm.project.library.app.import_from_external_website'|i18n|ucf =)</div>
	<div class="panel-body">
		<div data-app-field="" data-label="(= 'm.project.library.app.url'|i18n|ucf =)">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="http://..." data-ng-model="importManager.url">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" data-ng-disabled="!importManager.url || importManager.importing"
						data-ng-click="importManager.import(document)">
						(= 'm.project.library.app.import'|i18n|ucf =)
					</button>
				</span>
			</div>
			<ul class="list-inline list-inline-responsive no-bottom-margin" data-ng-if="importManager.websites.length">
				<li><strong>(= 'm.project.library.app.handled_websites'|i18n|ucf|lab =)</strong></li>
				<li data-ng-repeat="website in importManager.websites">
					<img data-ng-if="website.icon" data-ng-src="(= website.icon =)" width="16" height="16" alt=""/>
					<a data-ng-href="(= website.url =)" target="_blank">(= website.label =)</a>
					<dfn class="" data-ng-show="website.minimal" title="(= 'm.project.library.app.minimal_handling'|i18n|ucf =)">*</dfn>
				</li>
			</ul>
		</div>
	</div>
</div>