<fieldset>
	<legend>(= 'm.project.library.app.link_list'|i18n|ucf =)</legend>
	<table class="table inline-documents" data-app-document-inline="(= modelName =)" data-document="document" data-property="links">
		<thead>
			<tr>
				<th>(= 'm.project.library.app.link_label'|i18n|ucf =)</th>
				<th>(= 'm.project.library.app.link_url'|i18n|ucf =)</th>
				<th>(= 'm.project.library.app.link_comment'|i18n|ucf =)</th>
				<th class="text-right th-btn th-btn-3">
					<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
						title="(= 'm.project.library.app.link_add'|i18n|ucf =)">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="link in document.links">
				<td>
					<input type="text" class="form-control" data-ng-model="link.label" />
				</td>
				<td>
					<input type="url" class="form-control" data-ng-model="link.url" />
				</td>
				<td>
					<input type="text" class="form-control" data-ng-model="link.comment" />
				</td>
				<td class="text-right">
					<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
						data-ng-disabled="$first" title="(= 'm.project.familinet.app.action_move_up'|i18n|ucf =)">
						<span class="glyphicon glyphicon-triangle-top"></span>
					</button>
					<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
						data-ng-disabled="$last" title="(= 'm.project.familinet.app.action_move_down'|i18n|ucf =)">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</button>
					<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
						title="(= 'm.project.familinet.app.action_delete'|i18n|ucf =)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot data-ng-show="document.links.length >= 5">
			<tr>
				<td colspan="3">
					<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
						title="(= 'm.project.library.app.link_add'|i18n|ucf =)">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</fieldset>