<div class="panel panel-default" data-ng-if="links.length">
	<div class="panel-heading">(= 'm.project.library.app.link_list'|i18n|ucf =)</div>
	<div class="panel-body">
		<ul class="no-bottom-margin">
			<li data-ng-repeat="link in links">
				<a href="" data-ng-href="(= link.url =)">(= link.label =)</a>
				<small data-ng-if="link.comment" class="text-muted">((= link.comment =))</small>
				<a href="javascript:" data-ng-href="(= link.url =)" onclick="window.open(this.href); return false;"
					title="(= 'm.project.familinet.app.open_link_in_new_tab'|i18n|ucf =)">
					<span class="glyphicon glyphicon-new-window"></span>
				</a>
			</li>
		</ul>
	</div>
</div>