<p data-ng-if="aliases.length">
	<span data-ng-repeat="alias in aliases" style="padding-right: 15px">
		<span data-ng-repeat="nationality in alias.nationalitiesData"
			  data-project-library-nationality="nationality" data-mode="compact"></span>
		(= alias.label =)
		<small data-ng-show="alias.comment" class="text-muted">((= alias.comment =))</small>
	</span>
</p>