<span data-ng-if="publication">
	<a href="" data-ng-href="(= publication|appURL:'detail'  =)">(= publication.label =)</a>
	<small class="text-muted">(= publication.publisher.label =)</small>
	<span data-ng-repeat="nationality in publication.nationalitiesData"
		  data-project-library-nationality="nationality" data-mode="compact"></span>
</span>