<span style="white-space: nowrap">
	<span data-ng-if="status.iconName"
		class="glyphicon glyphicon-(= status.iconName =) (= status.textClass =) title-tooltip"
		title="(= status.label =)" data-toggle="tooltip" data-placement="top"></span>
	<span data-ng-if="mode != 'compact'" data-ng-class="{'hidden-xs':mode == 'responsive'}" class="(= status.textClass =)">
		(= status.label =)
	</span>
</span>