<a href="" data-ng-href="(= work|appURL =)">(= work.label =)</a>
<small class="text-muted" data-ng-if="work.workType">(= work.workType =)</small>
<span data-ng-repeat="nationality in work.nationalitiesData" data-project-library-nationality="nationality" data-mode="compact"></span>
<small class="text-muted" data-ng-if="work.year || work.endYear">
	(<span data-ng-show="work.year">(= work.year =)</span><span data-ng-show="work.year && work.endYear && work.year !== work.endYear"> - </span><span data-ng-show="work.endYear && item.year !== work.endYear">(= work.endYear =)</span>)
</small>