<rbs-field property="attributeId" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_attribute', ['ucf']) }}">
	<select data-ng-model="facet.parameters.attributeId" class="form-control"
		data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Elasticsearch_Collection_AttributeIds"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf', 'etc']) }}</option>
	</select>
</rbs-field>

<rbs-field property="showEmptyItem" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_show_empty_item', ['ucf']) }}">
	<rbs-switch data-ng-model="facet.parameters.showEmptyItem"></rbs-switch>
</rbs-field>

<rbs-field property="renderingMode" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_rendering_mode', ['ucf']) }}">
	<select data-ng-model="facet.parameters.renderingMode" class="form-control"
		data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Elasticsearch_FacetRenderingModes"
		data-collection-params="forType:attribute" data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf', 'etc']) }}</option>
	</select>
</rbs-field>

<div data-rbs-elasticsearch-facet-max-displayed-values="" data-facet="facet">
	{% include '@Rbs_Elasticsearch/Documents/Facet/max-displayed-values-configuration.twig' %}
</div>
