<rbs-field property="showAllValues" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_show_all_values', ['ucf']) }}">
	<rbs-switch data-ng-model="facet.parameters.showAllValues"></rbs-switch>
</rbs-field>

<div data-ng-show="!facet.parameters.showAllValues" class="vertical-show-hide-animation">
	<rbs-field property="maxDisplayedValues"
		label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_max_displayed_values', ['ucf']) }}"
		class="vertical-show-hide-animation-content">
		<input type="number" data-ng-model="facet.parameters.maxDisplayedValues" class="form-control" min="0" size="5" />
	</rbs-field>
</div>