<rbs-field-label-title property="title" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_Facet', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Elasticsearch_Facet', 'title'), ['ucf']) }}">
</rbs-field-label-title>

<rbs-field-picker property="facetValuesSkin" accepted-model="Rbs_Collection_Collection"
		label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_Facet', 'facetValuesSkin'), ['ucf']) }}"
		selector-title="{{ i18nAttr('m.rbs.elasticsearch.admin.facetValuesSkin_picker_title', ['ucf']) }}">
</rbs-field-picker>

<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_Facet', 'indexName'), ['ucf']) }}" required="true">
	<select data-ng-model="document.indexName" class="form-control" required="true"
		data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Elasticsearch_IndicesName"
		data-ng-options="item.value as item.label for item in pxCollection">
	</select>
</rbs-field>

<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_Facet', 'configurationType'), ['ucf']) }}">
	<select data-ng-model="document.configurationType" class="form-control"
		data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Elasticsearch_FacetConfigurationType"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf', 'etc']) }}</option>
	</select>
</rbs-field>

<div id="RbsElasticsearchFacetConfigurationOptions" data-ng-show="document.configurationType" class="col-lg-offset-3 col-lg-9">
</div>

<rbs-field-picker-multiple property="facets" accepted-model="Rbs_Elasticsearch_Facet"
		label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_Facet', 'facets'), ['ucf']) }}"
		selector-title="{{ i18nAttr('m.rbs.elasticsearch.admin.facets_picker_title', ['ucf']) }}">
</rbs-field-picker-multiple>