<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.seo.ua.meta_definition_modal_title', ['ucf'], {'modelName': '(= modalData.detail.common.label =)'}) | raw }}
	</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<form class="form-horizontal" name="metaDefinitionForm">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_label', ['ucf']) }}"
				data-ng-class="{'has-error': metaDefinitionForm['label'].$invalid}">
				<input type="text" name="label" class="form-control" data-ng-model="modalData.detail.common.label" data-ng-required="true" />
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_type', ['ucf']) }}"
				data-ng-class="{'has-error': metaDefinitionForm['type'].$invalid}">
				<input type="text" name="type" class="form-control" data-ng-model="modalData.detail.common.type" data-ng-required="true" />
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_name', ['ucf']) }}"
				data-ng-class="{'has-error': metaDefinitionForm['name'].$invalid}">
				<input type="text" name="name" class="form-control" data-ng-model="modalData.detail.common.name" data-ng-required="true" />
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_value_type', ['ucf']) }}"
				data-ng-class="{'has-error': metaDefinitionForm['valueType'].$invalid}">
				<select name="valueType" class="form-control" data-ng-model="modalData.detail.common.valueType" data-ng-required="true"
					data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Seo_MetaValueTypes"
					data-ng-options="item.value as item.label for item in pxCollection">
					<option value=""></option>
				</select>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_default_value', ['ucf']) }}"
				data-ng-class="{'has-error': metaDefinitionForm['defaultValue'].$invalid}">
				<input type="text" name="defaultValue" class="form-control" data-ng-model="modalData.detail.common.defaultValue" />
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.preview', ['ucf']) }}">
				<pre>&lt;meta (= modalData.detail.common.type =)="(= modalData.detail.common.name =)" content="(= modalData.detail.common.defaultValue || '...' =)" /&gt;</pre>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="metaDefinitionForm.$invalid" data-ng-click="save()">
			{{ i18n('m.rbs.ua.common.save', ['ucf']) }}
		</button>
	</div>
</div>