<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Familinet_Mapping', 'label'), ['ucf']) }}">
</rbs-field-text>

<hr />

<table class="table table-striped">
	<thead>
		<tr>
			<td colspan="3" class="text-center">
				<button class="btn btn-default" type="button" data-ng-click="changePage(-1000)"><i class="icon-step-backward"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(-10)"><i class="icon-double-angle-left"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(-1)"><i class="icon-angle-left"></i></button>
				<span>(= pagination.offset + 1 =) - (= pagination.offset + pagination.items.length =) / <strong>(= document.mappingData.length =)</strong></span>
				<button class="btn btn-default" type="button" data-ng-click="changePage(+1)"><i class="icon-angle-right"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(+10)"><i class="icon-double-angle-right"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="changePage(+1000)"><i class="icon-step-forward"></i></button>
			</td>
		</tr>
		<tr>
			<td>{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_value', ['ucf']) }}</td>
			<td>{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_mapping', ['ucf']) }}</td>
			<td></td>
		</tr>
	</thead>
	<tbody data-ng-show="pagination.items.length">
		<tr data-ng-repeat="item in pagination.items">
			<td>
				<input type="text" class="form-control" data-ng-model="item.v" />
			</td>
			<td>
				<input type="text" class="form-control" data-ng-model="item.m" />
			</td>
			<td>
				<button class="btn btn-danger" type="button" data-ng-click="deleteMappingItem(item)">
					<i class="icon-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<input type="text" class="form-control" data-ng-model="newMappingItem.v"/>
			</td>
			<td>
				<input type="text" class="form-control" data-ng-model="newMappingItem.m"/>
			</td>
			<td>
				<button class="btn btn-default" type="button" data-ng-disabled="!newMappingItem.v" data-ng-click="addMappingItem(item)">
					<i class="icon-plus"></i>
				</button>
			</td>
		</tr>
	</tfoot>
</table>