<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.seo.ua.model_path_rules_modal_title', ['ucf'], {'modelName': '(= modalData.pathRules.common.label =)'}) | raw }}
	</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<form class="form-horizontal" name="modelPathRulesForm">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_path_template', ['ucf']) }}" class="no-bottom-margin">
				<div data-px-seo-extended-text-field="" data-ng-model="modalData.pathRules.common.pathTemplate"
					data-variables="modalData.variables"></div>
				<span class="help-block no-bottom-margin">{{ i18n('m.rbs.seo.ua.property_path_template_help', ['ucf']) }}</span>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="modelPathRulesForm.$invalid" data-ng-click="save()">
			{{ i18n('m.rbs.ua.common.save', ['ucf']) }}
		</button>
	</div>
</div>