<div data-ng-controller="ProximisSeoModelPathRulesListController">
	<div data-collection-params="ucFirst:true" data-ng-controller="ProximisCollectionController"
		data-collection-code="Rbs_Generic_Collection_Languages" data-variable-name="globalData.languages"></div>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.model_path_rules_list', ['ucf']) }}"></div>
	<div data-px-filters="filter" data-options="globalData" data-static-filter-methods="staticFilterMethods">
		<div data-px-static-filter="none">
			{% block filterCommon %}
				<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_lcid', ['ucf']) }}">
					<select class="form-control" data-ng-model="options.restParams.LCID" data-px-field=""
						data-ng-show="options.languages.length > 1" data-ng-options="item.value as item.label for item in options.languages">
					</select>
					<div class="form-control-static" data-ng-show="options.languages.length == 1">(= options.languages[0].label =)</div>
				</div>
			{% endblock filterCommon %}
		</div>
		<div data-px-static-filter="label" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_label', ['ucf']) }}">
			{{ block('filterCommon') }}
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_label', ['ucf']) }}">
				<input type="text" class="form-control" data-ng-model="filter.parameters.label" data-px-field="" />
			</div>
		</div>
	</div>

	<div data-px-ua-entity-list="" data-rest-service="Rbs_Seo_ModelPathRules.list" data-rest-params="globalData.restParams"
		data-filter="true" data-action-methods="actionMethods">
		<div data-px-list-column="common.label" data-sort="label" data-label="{{ i18nAttr('m.rbs.seo.ua.property_target_model', ['ucf']) }}">
			(= doc.common.label =) <small class="text-muted">(= doc.common.target =)</small>
		</div>
		<div data-px-list-column="common.pathTemplate" data-sort="pathTemplate"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_path_template', ['ucf']) }}"></div>
		<div data-px-list-column="actions" data-label="{{ i18nAttr('m.rbs.ua.common.actions', ['ucf']) }}" class="column-actions">
			<button type="button" class="btn btn-default" data-ng-click="actionMethods.open(doc)">
				<span class="icon-pencil"></span> {{ i18n('m.rbs.ua.common.edit', ['ucf']) }}
			</button>
		</div>
	</div>
</div>