{% block rbsSimpleformFormInputUse %}
	{% use 'Rbs_Simpleform/form-templates.twig' %}
{% endblock rbsSimpleformFormInputUse %}

{% set leftColumnElementClass = 'col-sm-4 col-md-3' %}
{% set rightColumnElementClass = 'col-sm-8 col-md-9' %}
{% if not successURL %}{% set successURL = currentURL({('success-' ~ blockId): 'true'}) %}{% endif %}
<form method="post" class="form-horizontal" enctype="multipart/form-data" action="{{ actionURL('Rbs_Simpleform', 'SubmitForm') }}">
	<input type="hidden" name="blockId" value="{{ blockId }}" />
	<input type="hidden" name="formId" value="{{ form.id }}" />
	<input type="hidden" name="redirectLocation" value="{{ successURL }}" />
	<input type="hidden" name="errorLocation" value="{{ currentURL() }}" />
	<input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
	{% if parameters.showTitle %}
		{% block title %}
			<h1>{{ form.currentLocalization.title }}</h1>
		{% endblock title %}
	{% endif %}
	{% block errors %}
		{% if hasFieldErrors %}
			<p class="text-danger">{{ i18n('m.rbs.simpleform.front.not_sent_containing_errors', ['ucf']) }}</p>
		{% endif %}
		{% if globalErrors %}
			{% for error in globalErrors %}
				<p class="text-danger">{{ error }}</p>
			{% endfor %}
		{% endif %}
	{% endblock errors %}
	{% block fields %}
		{% for fieldInfos in fieldsInfos %}
			{% set parentId = form.name %}
			{% set fieldId = parentId ~ '_' ~ fieldInfos.field.name %}
			{% set parentName = form.name %}
			{% set fieldName = parentName ~ '[' ~ fieldInfos.field.name ~ ']' %}
			{% if fieldInfos.errors %}
				{% set errorClassName = ' has-error' %}
			{% else %}
				{% set errorClassName = '' %}
			{% endif %}
			{% block field %}
				{% include fieldInfos.type.templateName %}
			{% endblock field %}
		{% endfor %}
	{% endblock fields %}

	{% if useCaptcha %}
		{% set fieldId = form.name ~ '_captcha' %}
		{% set fieldName = form.name ~ '[captcha]' %}
		{% block captcha %}
			<div class="form-group">
				<label for="{{ fieldId }}" class="{{ leftColumnElementClass }} control-label">
					{{ block('rbsSimpleformRequiredSymbol') }}
					{{ i18n('m.rbs.simpleform.front.captcha', ['ucf']) }}
				</label>
				<div class="col-sm-4 col-md-5">
					<input class="form-control" type="text" name="{{ fieldName }}[input]" id="{{ fieldId }}_input" required=""
						autocomplete="no" autocorrect="no" autocapitalize="none" />
					<input type="hidden" name="{{ fieldName }}[id]" id="{{ fieldId }}_id" value="{{ captchaId() }}" />
				</div>
				<div class="col-sm-4 col-md-4">
					{{ captchaVisual() }}
				</div>
			</div>
		{% endblock captcha %}
	{% endif %}

	{% block footer %}
		<div class="form-group">
			<div class="col-sm-offset-4 col-md-offset-3 {{ rightColumnElementClass }}">
				{% block footerContent %}
					{% if hasRequiredFields %}
						{% block footerContentHelp %}
							<p>
								{{ block('rbsSimpleformRequiredSymbolsExplain') }}
							</p>
						{% endblock footerContentHelp %}
					{% endif %}
					{% block footerContentButtons %}
						<button type="submit" class="btn btn-primary">{{ i18n('m.rbs.simpleform.front.send', ['ucf']) }}</button>
					{% endblock footerContentButtons %}
				{% endblock footerContent %}
			</div>
		</div>
	{% endblock footer %}
</form>