<div data-ng-if="isDocumentArray()">
	<div data-ng-repeat="item in attribute.value track by $index" class="attribute-value-container">
		{% block rbsAttributeValueDocumentItem %}
			<a data-ng-if="isLinkValue(item)" data-ng-href="(= item.common.URL.canonical =)" data-ng-bind="item.common.title"></a>
			<span data-ng-if="!isLinkValue(item) && item.common.title" data-ng-bind="item.common.title"></span>
		{% endblock rbsAttributeValueDocumentItem %}
	</div>
</div>
<div data-ng-if="isDocument()" data-ng-init="item = attribute.value">
	{{ block('rbsAttributeValueDocumentItem') }}
</div>
{% block rbsAttributeValueDocumentItemAdditionalTypes %}
	<div data-ng-if="isHtml()" class="richtext" data-ng-bind-html="attribute.value | rbsTrustHtml"></div>
	<div data-ng-if="isDate()" data-ng-bind="attribute.value | rbsDate"></div>
	<div data-ng-if="isDateTime()" data-ng-bind="attribute.value | rbsDateTime"></div>
	<div data-ng-if="isString()" data-ng-bind="getValueTitle(attribute)"></div>
{% endblock rbsAttributeValueDocumentItemAdditionalTypes %}