{% block rbsAttributeValueFileUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsAttributeValueFileUse %}

<div data-ng-if="isDocumentArray()">
	<div data-ng-repeat="item in attribute.value track by $index" class="attribute-value-container">
		{% block rbsAttributeValueFileItem %}
			{{ block('rbsGenericIconDownload') }}
			<a href="" data-ng-href="(= item.common.URL.download =)">(= item.common.title =)</a>
			<span data-ng-if="item.common.formattedExtension">
				[<abbr title="(= item.common.formattedExtension.common.title =)">(= item.common.extension | uppercase =)</abbr>
				&mdash; <span data-ng-bind-html="item.common.formattedSize  | rbsTrustHtml"></span>]
			</span>
			<span data-ng-if="!item.common.formattedExtension">
				[(= item.common.extension | uppercase =)
				&mdash; <span data-ng-bind-html="item.common.formattedSize | rbsTrustHtml"></span>]
			</span>
		{% endblock rbsAttributeValueFileItem %}
	</div>
</div>
<div data-ng-if="isDocument()" data-ng-init="item = attribute.value">
	{{ block('rbsAttributeValueFileItem') }}
</div>