<ul data-ng-if="isDocumentArray()" class="list-unstyled">
	<li data-ng-repeat="item in attribute.value track by $index" class="attribute-value-container">
		{% block rbsAttributeValueImageItem %}
			<img data-ng-src="(= item.common.URL.canonical =)" alt="(= item.common.alt =)" class="img-responsive" />
		{% endblock rbsAttributeValueImageItem %}
	</li>
</ul>
<div data-ng-if="isDocument()" data-ng-init="item = attribute.value">
	{{ block('rbsAttributeValueImageItem') }}
</div>