{% extends 'directives/ng-template/rbs-attribute-value-default.twig' %}

{% block rbsAttributeValueDocumentItem %}
	{{ parent() }}
	<div data-ng-bind-html="item.html | rbsTrustHtml"></div>
{% endblock rbsAttributeValueDocumentItem %}

{% block rbsAttributeValueDocumentItemAdditionalTypes %}
{% endblock rbsAttributeValueDocumentItemAdditionalTypes %}