<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ applicationName }}</title>
		<base href="{{ baseURL }}" />

		<!-- For IE -->
		<link rel="icon" type="image/x-icon" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.ico') }}" />
		<!-- For other browsers... -->
		<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.png') }}" />

		<!-- Apple customization... -->
		<link rel="apple-touch-icon" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-ipad.png') }}">
		<link rel="apple-touch-icon" sizes="167x167" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-ipad-retina.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-iphone-retina.png') }}">

		<!-- Well, we like Microsoft too! -->
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta name="application-name" content="{{ applicationName }}" />
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-square70x70logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-70x70.png') }}" />
		<meta name="msapplication-square150x150logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-150x150.png') }}" />
		<meta name="msapplication-wide310x150logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-310x150.png') }}" />
		<meta name="msapplication-square310x310logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-310x310.png') }}" />

		<link href="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet" />

		<style type="text/css">
			html {
				height: 100%;
				background: url({{ resourceURL('Rbs/Ua/img/menu-background.jpg') }}) no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}

			@media screen and (max-width: 1920px) {
				html {
					background-position: 50% 71%;
				}
			}

			body {
				max-width: 400px;
				margin: 25px auto;
				padding: 25px;
				background-color: rgba(255, 255, 255, 0.5);
				box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 5px;
			}

			img {
				margin-bottom: 30px;
			}

			a.list-group-item {
			}

			a.list-group-item:hover {
				background-color: rgba(0, 0, 0, 0.5);
				font-weight: bold;
				color: #fff;
			}

			.list-group-item {
				background-color: rgba(255, 255, 255, 0.5);
			}

			.list-group-item small {
				font-style: italic;
			}

			.list-group {
				margin-bottom: 0;
			}

			h2 {
				font-size: 15px;
				font-weight: bold;
			}
		</style>
	</head>

	<body class="text-center">
		<img src="{{ resourceURL('Rbs/Ua/img/logos/logo_500.png') }}" alt="{{ applicationName }}" class="img-responsive" />
		{% for category in applicationsMenu %}
			<h2>{{ category.title }}</h2>
			<div class="list-group">
				{% if category.name == 'commerceAndBrandContent' %}
					<a class="list-group-item" href="{{ adminURL }}">
						{{ i18n('m.rbs.ua.common.ui_main_admin_panel', ['ucf']) }}
						{% if devMode %}
							<small title="{{ i18n('m.rbs.ua.common.technical_name_title') }}">(admin)</small>
						{% endif %}
					</a>
				{% endif %}
				{% for descriptor in category.items %}
					<a class="list-group-item" href="{{ descriptor.url ?: descriptor.name ~ '/' }}">
						{{ descriptor.title }}
						{% if devMode %}
							<small title="{{ i18n('m.rbs.ua.common.technical_name_title') }}">({{ descriptor.name }})</small>
						{% endif %}
					</a>
				{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>