/** Exceptions. */
.exception-trace {
	white-space: pre-wrap;
	font-size: 0.9em;
}

/** Inline block responsive images */
.img-responsive-inline {
	.img-responsive(inline-block);
}

/** Long string: handle new lines without replacing them with <br /> */
.long-string {
	white-space: pre-wrap;
}

/** Sub menus */
/* Copied from bootstrap/dropdown.less and bootstrap/theme.less */
ul.dropdown-sub-menu {
	> li > a {
		display: block;
		padding: 3px 20px;
		font-weight: normal;
		line-height: @line-height-base;
		color: @dropdown-link-color;

		// Hover/Focus state
		&:hover,
		&:focus {
			text-decoration: none;
			color: @dropdown-link-hover-color;
		}
	}

	// Active state
	> .active > a {
		&,
		&:hover,
		&:focus {
			color: @dropdown-link-active-color;
			text-decoration: none;
			outline: 0;
		}
	}

	> li > a {
		padding-left: 40px;
		ul.dropdown-sub-menu > li > a {
			padding-left: 60px;
		}
	}
}

/** For a dropdown-menu not containing a list */
.dropdown-menu-custom {
	padding: 10px;
}

/** Buttons containing only an icon */
.btn.btn-icon {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 36px;
	height: 36px;

	&.btn-lg {
		width: 48px;
		height: 48px;
	}
	&.btn-sm {
		width: 30px;
		height: 30px;
	}
	&.btn-xs {
		width: 22px;
		height: 22px;
	}
}

/** Buttons where the content may wrap */
.btn.btn-wrap {
	white-space: normal;
}

/** Multi-line button bars with vertical spaces between buttons */
.btn-responsive-toolbar {
	margin-left: 0;
	> .btn,
	> .btn-group,
	> .input-group {
		float: none;
		margin: 3px 0;
	}
}

/** Multi-line inline list with vertical spaces between items (especially images) */
.list-inline-responsive {
	> li {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

/** Color swatch */
.form-control-swatch {
	.btn {
		display: inline-block;
		margin-top: 3px;
		margin-bottom: 3px;
	}
}

/** Avatars */
.img-avatar {
	margin: 5px;
}

/* Videos in thumbnails */
.thumbnail > video {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: block;
}

/* Richtext */
.richtext {
	img,
	video {
		max-width: 100%;
	}
}

/* Class list-inline on dl + list-divided */
.list-inline {
	> dt,
	> dd {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
	> dt:after {
		content: " : ";
	}

	/* list-divided */
	&.list-divided > li:not(:last-child):after,
	&.list-divided > dd:not(:last-child):after {
		content: "|";
		padding-left: 10px;
		font-weight: normal;
	}
}

/* To view the full text of dt elements... */
.dl-horizontal dt {
	white-space: normal;
}

.dl-inline-items > dt {
	float: left;
	margin-right: 4px;
}

.dl-inline-items > dt:after {
	content: " : ";
}

/* Small complementary text in dt */
.dl-horizontal dt small,
.dl-horizontal dt .small {
	font-weight: normal;
}

/* Inline form fields (i.e. for date picker) */
.form-control.form-control-inline {
	width: auto;
	display: inline-block;
}

/* Separator remover on table-stripped to group lines */
table.table-striped tr.no-top-border td {
	border-top: 0;
}

/* Table witout a <thead> */
.table > tbody:first-child > tr:first-child > td {
	border-top: 0;
}

/* Transparent table... dirty way to have good presentation inside table cells (for example prices in cart lines). Use it only when there is no other solution! */
.table-transparent,
.table .table-transparent {
	background: transparent;
}

.table-transparent {
	> tr:first-child td,
	> tbody > tr:first-child td {
		padding-top: 0;
	}
	> tr:last-child td,
	> tbody > tr:last-child td {
		padding-bottom: 0;
	}
	> tr > td:first-child,
	> tbody > tr > td:first-child {
		padding-left: 0;
	}
	> tr > td:last-child,
	> tbody > tr > td:last-child {
		padding-right: 0;
	}
}

/* Tabs */
.tab-content {
	border: 1px solid @nav-tabs-border-color;
	border-top: 0;
	padding: @line-height-computed @line-height-computed 0 @line-height-computed;
	margin-bottom: @line-height-computed;
}

/* Media */
.media-left-listItem {
	width: @image-format-listItem-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
	min-width: @image-format-listItem-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
}

.media-left-setItem {
	width: @image-format-setItem-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
	min-width: @image-format-setItem-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
}

.media-left-pictogram {
	width: @image-format-pictogram-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
	min-width: @image-format-pictogram-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
}

.media-left-shortCartItem {
	width: @image-format-shortCartItem-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
	min-width: @image-format-shortCartItem-width + 10px; /* padding of 10px on .media-left hard coded in Bootstrap */
}

/* Responsive tables */
@media (max-width: @screen-xs-max) {
	.table-vertical-responsive {
		> .table {
			display: block;
			border: 0;
			> tbody {
				display: block;

				> tr {
					display: block;
					border: 1px solid @table-border-color;
					margin: 5px 0;

					&.no-top-border {
						margin-top: -5px;
						border-top: 0;
					}

					> td,
					> th {
						display: block;
						text-align: left;
						border: 0;

						ul {
							margin-bottom: 0;
						}
						.form-control {
							.inline-block;
						}
					}
				}
			}
			> thead {
				display: none;
			}
		}
	}
}

/** Table amounts */
.table-amounts td:first-child {
	width: 66%;
}

.table-amounts .dropdown-menu {
	width: 100%;
}

/** Tables with fixed layout */
.table-fixed-layout {
	table-layout: fixed;
}

/** nav-modal */
.nav-modal {
	margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;

	> li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: @line-height-computed;
		color: @navbar-default-link-color;

		&:hover,
		&:focus {
			color: @navbar-default-link-hover-color;
			background-color: @navbar-default-link-hover-bg;
		}
	}

	> .active > a,
	.open .dropdown-menu > .active > a,
	> .open > a {
		&,
		&:hover,
		&:focus {
			color: @navbar-default-link-active-color;
			background-color: @navbar-default-link-active-bg;
		}
	}

	> .disabled > a,
	.open .dropdown-menu > .disabled > a {
		&,
		&:hover,
		&:focus {
			color: @navbar-default-link-disabled-color;
			background-color: @navbar-default-link-disabled-bg;
		}
	}

	// Dropdowns get custom display when collapsed
	.open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
		.border-top-radius(0);

		> li > a,
		.dropdown-header {
			padding: 5px 15px 5px 25px;
			color: @navbar-default-link-color;

			&:hover,
			&:focus {
				color: @navbar-default-link-hover-color;
				background-color: @navbar-default-link-hover-bg;
			}
		}

		> li > a {
			line-height: @line-height-computed;
			white-space: normal;

			&:hover,
			&:focus {
				background-image: none;
			}
		}
	}
}

/* Animated rotating icon from font-awesome.css */
.icon-hourglass-rotate {
	display: inline-block;
	animation: hourglass-rotate 1s infinite linear;
}

/* Prevent spinners from being taken inline when inside a link */
a .icon-hourglass-rotate {
	display: inline-block;
	text-decoration: none;
}

@keyframes hourglass-rotate {
	10% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(180deg);
	}
	60% {
		transform: rotate(180deg);
	}
	90% {
		transform: rotate(0deg);
	}
}

/** Range slider. */
.range-slider-labels {
	margin-bottom: 5px;
}

.range-slider {
	margin: 5px 17px 13px 17px;
	&.range-slider-tooltips {
		margin-top: 35px;
	}
	&.range-slider-pips {
		margin-bottom: 53px;
	}
	.tooltip {
		position: absolute;
		top: -32px;
		left: -9px;
		width: 50px;
		opacity: 1;
	}
}