<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.notification.admin.configuration_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Notification_Configuration"></rbs-document-filter-panel>

		<rbs-document-list model="Rbs_Notification_Configuration" filter-collection="filter" actions="activate deactivate">
			<rbs-quick-actions></rbs-quick-actions>
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>
</div>