<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Notification_Configuration', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="code" required="true" disabled=""
	label="{{ i18nAttr(propertyKey('Rbs_Notification_Configuration', 'code'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="type" required="true" disabled=""
	label="{{ i18nAttr(propertyKey('Rbs_Notification_Configuration', 'type'), ['ucf']) }}">
</rbs-field-text>

<div id="RbsNotificationConfigurationParametersData" data-ng-show="document.type"></div>