<div class="dashboard" data-ng-controller="ProximisSeoDashboardController">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.dashboard_section_urls', ['ucf']) }}"></div>
	<div class="row">
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter alert-success">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule' =)">{{ i18n('m.rbs.seo.ua.all_count', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.statusAll.total">(= data.statusAll.total =)</div>
					<div class="count" data-ng-if="!data.statusAll.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.statusAll.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter alert-success">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule':{http:200} =)">{{ i18n('m.rbs.seo.ua.200_count', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.status200.total">(= data.status200.total =)</div>
					<div class="count" data-ng-if="!data.status200.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.status200.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter alert-success">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule':{http:301} =)">{{ i18n('m.rbs.seo.ua.301_count', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.status301.total">(= data.status301.total =)</div>
					<div class="count" data-ng-if="!data.status301.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.status301.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter alert-success">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule':{http:302} =)">{{ i18n('m.rbs.seo.ua.302_count', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.status302.total">(= data.status302.total =)</div>
					<div class="count" data-ng-if="!data.status302.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.status302.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
	</div>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.dashboard_section_404', ['ucf']) }}"></div>
	<div class="row">
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter" data-ng-class="{'alert-success': data.url404Day.total == 0, 'alert-danger': data.url404Day.total > 0}">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)">{{ i18n('m.rbs.seo.ua.404_day', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.url404Day.total">(= data.url404Day.total =)</div>
					<div class="count" data-ng-if="!data.url404Day.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.url404Day.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter" data-ng-class="{'alert-success': data.url404Day.total == 0, 'alert-danger': data.url404Day.total > 0}">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)">{{ i18n('m.rbs.seo.ua.404_week', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.url404Week.total">(= data.url404Week.total =)</div>
					<div class="count" data-ng-if="!data.url404Week.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.url404Week.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter" data-ng-class="{'alert-success': data.url404Day.total == 0, 'alert-danger': data.url404Day.total > 0}">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)">{{ i18n('m.rbs.seo.ua.404_month', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.url404Month.total">(= data.url404Month.total =)</div>
					<div class="count" data-ng-if="!data.url404Month.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.url404Month.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 counter-container">
			<div class="alert alert-counter" data-ng-class="{'alert-success': data.url404Day.total == 0, 'alert-danger': data.url404Day.total > 0}">
				<div class="main">
					<div class="title">
						<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)">{{ i18n('m.rbs.seo.ua.404_all', ['ucf']) }}</a>
					</div>
					<div class="count" data-ng-if="data.url404All.total">(= data.url404All.total =)</div>
					<div class="count" data-ng-if="!data.url404All.total">0</div>
				</div>
				<div class="dispatch" data-ng-repeat="subCounter in data.url404All.subCounters" data-ng-show="subCounter.count">
					<span class="title">(= subCounter.label =) :</span>
					<span class="count">(= subCounter.count =)</span>
				</div>
			</div>
		</div>
	</div>
</div>