<div class="navbar navbar-default navbar-main">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rbs-change-navbar-collapse">
			<span class="sr-only">{{ i18n('m.rbs.ua.common.toggle_navigation', ['ucf']) }}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand navbar-brand-logo" href="/ua.php/">
			<img src="{{ resourceURL('Rbs/Ua/img/logos/logo_500.png') }}" alt="Proximis" />
		</a>
	</div>
	<div class="collapse navbar-collapse" id="rbs-change-navbar-collapse">
		<ul class="nav navbar-nav navbar-left main-menu">
			{% for section in mainMenu %}
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="">
						<i class="{{ section.icon }}"></i>&nbsp;
						{{ section.label }} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{% for entry in section.entries %}
							<li><a href data-ng-href="{{entry.url}}">{{entry.label}}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" data-ng-cloak="">
				<a data-toggle="dropdown" class="dropdown-toggle" href="">
					<i class="icon-user"></i> (= user.pseudonym =) <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="" data-ng-href="Rbs/User/Profile">
							<i class="icon-user"></i> {{ i18n('m.rbs.admin.admin.profile', ['ucf']) }}
						</a>
					</li>
					<li><a href="./"><i class="icon-tasks"></i> {{ i18n('m.rbs.ua.common.dashboard', ['ucf']) }}</a></li>
					<li class="divider"></li>
					<li>
						<a href="" data-ng-click="logout()">
							<i class="icon-signout"></i> {{ i18n('m.rbs.ua.common.logout', ['ucf']) }}
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right navbar-indicators">
			<li data-rbs-task-indicator=""></li>
			<li data-rbs-notification-indicator=""></li>
			<li data-rbs-clipboard-indicator=""></li>
			<li data-rbs-local-copy-indicator=""></li>
		</ul>
	</div>
</div>
