<!DOCTYPE html>
<html lang="{{ lang }}" data-ng-app="RbsChange" data-ng-strict-di="">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>{{ applicationName }}</title>
	<base href="{{ baseURL }}" />

	{# For IE #}
	<link rel="icon" type="image/x-icon" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.ico') }}" />
	{# For other browsers... #}
	<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.png') }}" />
	{# Apple customization... #}
	<link rel="apple-touch-icon" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon.png') }}" />
	<link rel="apple-touch-icon" sizes="152x152" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-ipad.png') }}">
	<link rel="apple-touch-icon" sizes="167x167" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-ipad-retina.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-iphone-retina.png') }}">
	{# Well, we like Microsoft too! #}
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta name="application-name" content="Proximis Omnichannel"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-square70x70logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-70x70.png') }}" />
	<meta name="msapplication-square150x150logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-150x150.png') }}" />
	<meta name="msapplication-wide310x150logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-310x150.png') }}" />
	<meta name="msapplication-square310x310logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-310x310.png') }}" />

	<link href="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet" />
	<link href="{{ resourceURL('Rbs/Ua/lib/FontAwesome/css/font-awesome.css') }}" rel="stylesheet" />
	<link href="{{ resourceURL('Rbs/Ua/lib/angular-bootstrap-colorpicker-3.0.25/css/colorpicker.min.css') }}" rel="stylesheet" />
	<link href="{{ resourceURL('Rbs/Ua/lib/flag-sprites/flags.css') }}" rel="stylesheet" />

	<style type="text/css">
		#chg_loading_mask {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 10000;
			background: white;
		}

		#chg_loading_mask > div {
			margin: 100px auto 0 auto;
			width: 400px;
			border-radius: 10px;
			background: #F5F5F5;
			color: black;
			font-size: 14pt;
			text-align: center;
			padding: 1em;
		}

		#chg_loading_mask > div > div {
			margin: 1em 0;
		}
	</style>

	<!-- modules -->
	{% for href in styles %}
		<link rel="stylesheet" href="{{ href }}" />
	{% endfor %}

	<script type="text/javascript">
		var __change = {{ __change|json_encode|raw }};
		__change.i18n = {};
		__change.routes = {};
	</script>
</head>

<body data-ng-controller="Change.RootController">
	<div id="chg_loading_mask" data-ng-hide="hideLoadingPanel">
		{% include '@Ua/Proximis/misc/main-loading.twig' %}
	</div>

	<header class="hidden-print">
		{% include 'header.twig' %}
	</header>

	<div id="main-content" class="content clearfix">

		<div class="row clearfix" id="mainToolbar">
			<div class="col-md-12">
				<rbs-navigation-history></rbs-navigation-history>
				<rbs-breadcrumb></rbs-breadcrumb>
				<rbs-notification-center></rbs-notification-center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="workspace" class="ng-view"></div>
			</div>
		</div>
	</div>

	<footer>
		<div class="pull-right" data-rbs-change-version=""></div>

		<a onclick="window.open(this.href); return false;" href="http://www.proximis.com">Proximis Omnichannel</a>
	</footer>

	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-route.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-resource.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-sanitize.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-touch.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-cookies.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-animate.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-messages.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/i18n/angular-locale_'~ lowerHyphenLCID ~'.js') }}"></script>

	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/diff_match_patch/diff_match_patch.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-local-storage-0.2.7/dist/angular-local-storage.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/ace-1.2.3-min-noconflict/ace.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-with-locales-2.17.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-timezone-with-data-2010-2020-0.5.10.min.js') }}"></script>

	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-core.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-selectionsaverestore.js') }}"></script>
	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/ui-bootstrap-tpls-2.4.0.min.js') }}"></script>

	<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-bootstrap-colorpicker-3.0.25/js/bootstrap-colorpicker-module.min.js') }}"></script>

	<script type="text/javascript" src="Rbs/Admin/i18n.js?LCID={{ LCID }}"></script>
	<script type="text/javascript" src="Rbs/Admin/routes.js"></script>

	<!-- modules -->
	{% for src in scripts %}
		<script type="text/javascript" src="{{ src }}"></script>
	{% endfor %}

		<script id='pp-cfp' data-env='prod' data-token='161ea664cd3ba7a766cfdc88ab6e7b24e8ccbcb0aba70f9cac89827e9b81cbdb'>(function(d) {
				var s = d.createElement('script'), c = d.createElement('link');
				s.src = 'https://app.prodpad.com/static/js/prodpad-cfp.gz.js';
				s.async = 1;
				c.href = 'https://app.prodpad.com/static/css/prodpad-cfp.gz.css';
				c.rel = 'stylesheet';
				document.head.appendChild(c);
				document.head.appendChild(s);
			})(document);</script>
	</body>
</html>
