<!DOCTYPE html>
<html lang="{{ lang }}" id="html">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>Proximis Omnichannel - {{ i18n('m.rbs.admin.admin.preview_title', ['ucf']) }}</title>

		<!-- For IE -->
		<link rel="icon" type="image/x-icon" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.ico') }}" />
		<!-- For other browsers... -->
		<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.png') }}" />

		<style type="text/css">
			body {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			}

			#chg_loading_mask {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 10000;
				background: white;
			}

			#chg_loading_mask > div {
				margin: 100px auto 0 auto;
				width: 400px;
				border-radius: 10px;
				background: #F5F5F5;
				color: black;
				font-size: 14pt;
				text-align: center;
				padding: 1em;
			}

			#chg_loading_mask > div > div {
				margin: 1em 0;
			}
		</style>
	</head>
	<body>
		<div id="chg_loading_mask">
			{% include '@Ua/Proximis/misc/main-loading.twig' %}
		</div>
	</body>
</html>
