<div class="row" data-ng-controller="Rbs_Theme_HeaderController">
	<div data-rbs-aside-column="">
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>
	<div data-rbs-main-column="">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<form class="navbar-form navbar-left navbar-first-element">
					<div class="form-group">
						<select data-ng-model="currentTheme" data-ng-options="t.label for t in themes"
							class="form-control"></select>
					</div>
				</form>
				<ul class="nav navbar-nav" data-ng-if="currentTheme">
					<li>
						<a href="" data-ng-href="(= currentTheme | rbsURL:'pagetemplates' =)">
							<i class="icon-file-text"></i> {{ i18n('m.rbs.theme.admin.theme_page_templates', ['ucf']) }}
						</a>
					</li>
					<li class="active">
						<a href="" data-ng-href="(= currentTheme | rbsURL:'mailtemplates' =)">
							<i class="icon-envelope"></i> {{ i18n('m.rbs.theme.admin.theme_mail_templates', ['ucf']) }}
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div data-ng-controller="Rbs_Theme_MailTemplatesController">
			<div data-rbs-full-width="">
				<rbs-document-list model="Rbs_Theme_Template" filter-query="query" load-query="listLoadQuery" activable="true" correction="true"
					filter-collection="filter">
					<rbs-column name="label" primary="true"></rbs-column>
				</rbs-document-list>
			</div>
		</div>
	</div>
</div>