<div data-ng-init="model = '{{ query.model }}'">
	<div data-rbs-page-header=""></div>
	<div data-rbs-critical-document-warning="" data-document="document"
		data-additional-message="{{ i18nAttr('m.rbs.admin.admin.document_freeze_warning') }}">
	</div>
	<div data-rbs-document-workflow-actions="" data-document="document" data-standalone="true"></div>
</div>