<div>
	<rbs-field label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_collection', ['ucf']) }}" ng-required="true">
		<select data-ng-model="document.parameters.collectionCode" class="form-control" data-ng-required="true"
			name="document.parameters.collectionCode"
			data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Collection_Collection_List"
			data-ng-options="item.value as item.label for item in pxCollection">
			<option value=""></option>
		</select>
	</rbs-field>

	<rbs-field-integer label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_min_count', ['ucf']) }}"
		property="document.parameters.minCount">
	</rbs-field-integer>

	<rbs-field-integer label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_max_count', ['ucf']) }}"
		property="document.parameters.maxCount">
	</rbs-field-integer>
</div>