<div>
	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_folder', ['ucf']) }}" property="document.parameters.folder">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_folder_help', ['ucf']) }}</div>
	</rbs-field-text>
</div>