<div class="row" data-ng-controller="Rbs_Plugins_New_ListController">
	<div data-rbs-aside-column="">
		<div data-rbs-default-asides-for-list=""></div>
	</div>

	<div data-rbs-main-column="">
		<div data-rbs-page-header="" title="{{ i18nAttr('m.rbs.plugins.admin.new_plugin_list_sub_title', ['ucf']) }}"></div>
		<div class="table-responsive">
			<table class="document-list table table-condensed table-bordered table-striped table-hover token">
				<thead>
					<tr>
						<th data-ng-class="{'sorted':isSortedOn('type')}">
							<a href="" data-ng-click="predicate = 'type'; reverse=!reverse">
								{{ i18n('m.rbs.plugins.admin.type', ['ucf']) }}
							</a>
							<i data-ng-if="!isSortedOn('type')" class="column-sort-indicator icon-sort"></i>
							<i data-ng-if="isSortedOn('type')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
						</th>
						<th data-ng-class="{'sorted':isSortedOn('vendor')}">
							<a href="" data-ng-click="predicate = 'vendor'; reverse=!reverse">
								{{ i18n('m.rbs.plugins.admin.vendor', ['ucf']) }}
							</a>
							<i data-ng-if="!isSortedOn('vendor')" class="column-sort-indicator icon-sort"></i>
							<i data-ng-if="isSortedOn('vendor')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
						</th>
						<th data-ng-class="{'sorted':isSortedOn('shortName')}">
							<a href="" data-ng-click="predicate = 'shortName'; reverse=!reverse">
								{{ i18n('m.rbs.plugins.admin.name', ['ucf']) }}
							</a>
							<i data-ng-if="!isSortedOn('shortName')" class="column-sort-indicator icon-sort"></i>
							<i data-ng-if="isSortedOn('shortName')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
						</th>
						<th data-ng-class="{'sorted':isSortedOn('package')}">
							<a href="" data-ng-click="predicate = 'package'; reverse=!reverse">
								{{ i18n('m.rbs.plugins.admin.package', ['ucf']) }}
							</a>
							<i data-ng-if="!isSortedOn('package')" class="column-sort-indicator icon-sort"></i>
							<i data-ng-if="isSortedOn('package')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="plugin in plugins | orderBy:predicate:reverse" class="normal-row">
						<td>(= plugin.type =)</td>
						<td>(= plugin.vendor =)</td>
						<td>(= plugin.shortName =)</td>
						<td>(= plugin.package =)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>