<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_WebSite', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="domain" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_WebSite', 'domain'), ['ucf']) }}">
</rbs-field-text>

<rbs-field property="language" label="{{ i18nAttr(propertyKey('Project_Library_WebSite', 'language'), ['ucf']) }}">
	<select class="form-control" data-ng-model="document.language"
		data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Languages"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.rbs.admin.admin.select_element', ['ucf']) }}</option>
	</select>
</rbs-field>

<rbs-field-picker property="icon"
	label="{{ i18nAttr(propertyKey('Project_Library_WebSite', 'icon'), ['ucf']) }}"
	accepted-model="Rbs_Media_Image">
</rbs-field-picker>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_WebSite', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<hr />
<div data-project-library-web-site-parsers="Project_Library_WebsiteParser">
	<h3>{{ i18nAttr(propertyKey('Project_Library_WebSite', 'parsers'), ['ucf']) }}</h3>

	<div class="table-responsive">
		<table class="table table-striped document-list">
			<thead>
				<tr>
					<th>{{ i18nAttr(propertyKey('Project_Library_WebSiteParser', 'pattern'), ['ucf']) }}</th>
					<th>{{ i18nAttr(propertyKey('Project_Library_WebSiteParser', 'parserClass'), ['ucf']) }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="parser in document.parsers">
					<td>
						<input type="text" class="form-control" data-ng-model="parser.pattern" required="required" />
					</td>
					<td>
						<select class="form-control" data-ng-model="parser.parserClass"
							data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_WebSiteParsers"
							data-ng-options="item.value as item.label for item in pxCollection">
							<option value="">{{ i18n('m.rbs.admin.admin.select_element', ['ucf']) }}</option>
						</select>
					</td>
					<td class="text-right">
						<div data-rbs-inline-item-actions="" data-array="document.parsers" data-index="$index"></div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<button class="btn btn-default" type="button" data-ng-click="parsersManager.addNewParser()">
							<i class="icon-plus"></i> {{ i18nAttr('m.rbs.admin.admin.add', ['ucf']) }}
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<div data-rbs-pagination="parsersManager.pagination"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>