<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a href="Rbs/Timeline/Message/" data-rbs-panel-link="">{{ i18n('m.rbs.timeline.admin.message_list', ['ucf']) }}</a>
</div>
