<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.admin.admin.administration', ['ucf']) }}" icon="icon-cog">
	<a data-rbs-active-route="" href="Rbs/Elasticsearch/Facet/" data-rbs-panel-link="">{{ i18n('m.rbs.elasticsearch.admin.facet_list', ['ucf']) }}</a>
	<a data-rbs-active-route="" href="Rbs/Elasticsearch/FacetValuesMapping/" data-rbs-panel-link="">
		{{ i18n('m.rbs.elasticsearch.admin.facetvaluesmapping_list', ['ucf']) }}
	</a>
</div>