<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.seo.ua.meta_group_modal_title', ['ucf'], {'modelName': '(= modalData.detail.common.label =)'}) | raw }}
	</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<form class="form-horizontal" name="metaGroupForm">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_label', ['ucf']) }}"
				data-ng-class="{'has-error': metaGroupForm['label'].$invalid}">
				<input type="text" name="label" class="form-control" data-ng-model="modalData.detail.common.label" data-ng-required="true" />
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_content_metas', ['ucf']) }}" class="no-bottom-margin">
				<div data-px-documents-selector="" data-ng-model="modalData.detail.common.content" data-accepted-models="['Rbs_Seo_Meta']"
					data-search-rest-service="Rbs_Seo_DocumentForSelector.search" data-load-rest-service="Rbs_Seo_DocumentForSelector.load">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="metaGroupForm.$invalid" data-ng-click="save()">
			{{ i18n('m.rbs.ua.common.save', ['ucf']) }}
		</button>
	</div>
</div>