<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_Topic">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Website_Topic'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column>
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-website-topic-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Website_Topic', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field ng-hide="! document.indexPage" label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'indexPage'), ['ucf']) }}">
					<div class="form-control-static">(=document.indexPage.label=)</div>
				</rbs-field>

				<rbs-field-picker property="section" required="true"
						label="{{ i18nAttr('m.rbs.website.admin.topic_section', ['ucf']) }}"
						select-model="{ancestors:'Rbs_Website_Section', abstract:false}"
						selector-title="{{ i18nAttr('m.rbs.website.admin.topic_section_picker_title', ['ucf']) }}">
					<div class="help-block">{{ i18n('m.rbs.website.admin.topic_section_help', ['ucf']) }}</div>
				</rbs-field-picker>
			</fieldset>

			<fieldset data-rbs-editor-section="permissions"
				data-editor-section-icon="icon-lock"
				data-editor-section-label="{{ i18nAttr('m.rbs.website.documents.topic_permissions', ['ucf']) }}">
				<div data-rbs-tip="RbsWebsiteSectionPermissionRules" class="margin-top">
					{{ i18n('m.rbs.website.admin.section_permission_rule_helper', ['ucf']) }}
				</div>

				<rbs-field-picker-multiple property="authorizedUsers" required="false" accepted-model="Rbs_User_User"
					label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_users', ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.website.admin.topic_users_picker_title', ['ucf']) }}">
				</rbs-field-picker-multiple>

				<rbs-field-picker-multiple property="authorizedGroups" required="false" accepted-model="Rbs_User_Group"
					label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_groups', ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.website.admin.topic_groups_picker_title', ['ucf']) }}">
				</rbs-field-picker-multiple>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>