<div data-ng-form="innerForm" class="form-inline">
	<label>
		{{ i18n('m.rbs.geo.admin.latitude', ['lab']) }}
		<input class="form-control" data-ng-disabled="readOnly || locate" type="number" step="any" name="latitude" id="latitude"
			data-ng-model="coordinates.latitude" data-ng-change="coordinateChange()" data-required="true" size="13">
	</label>
	<span>, </span>
	<label>
		{{ i18n('m.rbs.geo.admin.longitude', ['lab']) }}
		<input class="form-control" data-ng-disabled="readOnly || locate" type="number" step="any" name="longitude" id="longitude"
			data-ng-model="coordinates.longitude" data-ng-change="coordinateChange()" data-required="true" size="13">
	</label>
	<button data-ng-show="address && !readOnly" data-ng-disabled="locate" type="button" data-ng-click="locateAddress(address)"
		class="btn btn-default">{{ i18n('m.rbs.geo.admin.coordinate_by_address', ['ucf']) }}</button>
</div>
<div id="(= mapId =)" style="min-height: 360px"></div>