<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a data-rbs-active-route="" href="Rbs/Geo/Zone/" data-rbs-panel-link="">{{ i18n('m.rbs.geo.admin.zone_list', ['ucf']) }}</a>
	<a data-rbs-active-route="" href="Rbs/Geo/Country/" data-rbs-panel-link="">{{ i18n('m.rbs.geo.admin.country_list', ['ucf']) }}</a>
	<a data-rbs-active-route="" href="Rbs/Geo/TerritorialUnit/" data-rbs-panel-link="">{{ i18n('m.rbs.geo.admin.territorialunit_list', ['ucf']) }}</a>
	<a data-rbs-active-route="" href="Rbs/Geo/AddressFields/" data-rbs-panel-link="">{{ i18n('m.rbs.geo.admin.addressfields_list', ['ucf']) }}</a>
	<a data-rbs-active-route="" href="Rbs/Geo/Address/" data-rbs-panel-link="">{{ i18n('m.rbs.geo.admin.address_list', ['ucf']) }}</a>
</div>
