<div data-ng-controller="ProximisAuthorizeController" data-on-device="{{ i18nAttr('c.oauth.on_device') }}">
	<div class="page-header">
		<h2>{{ i18n('m.rbs.ua.common.authorize', ['ucf']) }}</h2>
	</div>
	<form class="form-horizontal" name="authorize" data-ng-submit="submit()">
		<fieldset>
			<p class="text-danger text-center">{{ error }}</p>
			<div class="form-group">
				<label class="control-label col-sm-5" for="login">{{ i18n('c.oauth.login', ['ucf']) }}</label>
				<div class="col-sm-7">
					<input type="text" value="" class="form-control" autocapitalize="off" autocorrect="off" name="login" id="login"
						data-ng-model="login" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="password">{{ i18n('c.oauth.password', ['ucf']) }} </label>
				<div class="col-sm-7">
					<input type="password" class="form-control" name="password" id="password" data-ng-model="password" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="device">{{ i18n('c.oauth.device', ['ucf']) }} </label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="device" id="device" data-ng-model="device" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-7 col-sm-offset-5">
					<button type="submit" class="btn btn-default">
						{{ i18n('m.rbs.ua.common.authorize_submit', ['ucf']) }}
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>