{% extends '@Rbs_Admin/block-parameters.twig' %}

{% block blockParameters %}
	<hr />

	<rbs-rich-text-input id="Rbs_Website_Richtext_content" use-tabs="false" profile="Website"
		ng-model="blockParameters.content" data-substitution-variables="(= substitutionVariables =)"></rbs-rich-text-input>
	{% if templates|length != 0 %}
		<hr />
	{% endif %}
{% endblock %}