<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.workflow.admin.workflow_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Workflow_Workflow"></rbs-document-filter-panel>

		<rbs-document-list model="Rbs_Workflow_Workflow" activable="true" filter-collection="filter">
			<rbs-column name="label"><a href="" data-ng-href="(= doc|rbsURL =)"><strong>(= doc.label =)</strong></a></rbs-column>
		</rbs-document-list>
	</div>
</div>