<rbs-field-picker property="work" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'work'), ['ucf']) }}"
	accepted-model="Project_Library_Work">
</rbs-field-picker>

<rbs-field-picker property="contributor" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'contributor'), ['ucf']) }}"
	accepted-model="Project_Library_Contributor">
</rbs-field-picker>

<rbs-field-picker-multiple property="contributionTypes"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'contributionTypes'), ['ucf']) }}"
	accepted-model="Project_Library_ContributionType">
</rbs-field-picker-multiple>

<rbs-field-text property="detail" label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'detail'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-integer property="year"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'contributionYear'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-integer property="endYear"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'contributionEndYear'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<rbs-field-integer property="episodeCount"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'episodeCount'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field property="importance"
	label="{{ i18nAttr(propertyKey('Project_Library_Contribution', 'importance'), ['ucf']) }}">
	<select class="form-control" data-ng-model="document.importance"
		data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_ContributionImportance">
	</select>
</rbs-field>