{% block rbsElasticsearchDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ blockData|json_encode|raw }};
	</script>
{% endblock rbsElasticsearchDataCache %}

{% block rbsElasticsearchFacetMain %}
	<form class="form-inline ng-hide" data-rbs-elasticsearch-facet-container-v2="" data-cache-key="{{ blockId }}"
		data-ng-show="facets.length">
		<div class="facets-list-container">
			<div class="facets-list">
				<div data-ng-repeat="facet in facets track by facet.fieldName" data-ng-show="facet.values">
					<div data-rbs-elasticsearch-facet-v2=""></div>
					{% block rbsElasticsearchFacetMainDivider %}
						<hr />
					{% endblock rbsElasticsearchFacetMainDivider %}
				</div>
				<div class="btn-responsive-toolbar">
					{% block rbsElasticsearchFacetMainButtons %}
						<button data-ng-show="viewButton()" class="btn btn-default" type="button" data-ng-click="reset($event)">
							{{ i18n('m.rbs.elasticsearch.front.facets_reset', ['ucf']) }}
						</button>
					{% endblock rbsElasticsearchFacetMainButtons %}
				</div>
			</div>
		</div>
		<div class="facets-responsive-buttons">
			{% block rbsElasticsearchFacetMainResponsiveButtons %}
				<button data-ng-show="appliedCount == 0" class="btn btn-primary" type="button" data-ng-click="responsiveModal()"
					title="{{ i18nAttr('m.rbs.elasticsearch.front.facets_filter_title_0', ['ucf']) }}">
					{{ i18n('m.rbs.elasticsearch.front.facets_filter_0', ['ucf']) }}
				</button>
				<button data-ng-show="appliedCount == 1" class="btn btn-primary" type="button" data-ng-click="responsiveModal()"
					title="{{ i18nAttr('m.rbs.elasticsearch.front.facets_filter_title_1', ['ucf']) }}">
					{{ i18n('m.rbs.elasticsearch.front.facets_filter_1', ['ucf']) }}
				</button>
				<button data-ng-show="appliedCount > 1" class="btn btn-primary" type="button" data-ng-click="responsiveModal()"
					title="{{ i18nAttr('m.rbs.elasticsearch.front.facets_filter_title_n', ['ucf'], { 'APPLIED_COUNT': '(= appliedCount =)' }) }}">
					{{ i18n('m.rbs.elasticsearch.front.facets_filter_n', ['ucf'], { 'APPLIED_COUNT': '(= appliedCount =)' }) }}
				</button>
			{% endblock rbsElasticsearchFacetMainResponsiveButtons %}
		</div>
	</form>
{% endblock rbsElasticsearchFacetMain %}