<form method="GET" name="instantSearchForm"
	data-rbs-elasticsearch-instant-search="" data-min-length="3">
	<div class="form-group">
		<input name="instantSearchText" type="text" data-ng-model="instantSearchText"
			class="form-control elastic-search" autocomplete="off"
			placeholder="{{ i18nAttr('m.rbs.elasticsearch.front.search', ['ucf']) }}"
			ng-model-options='{ debounce: 200 }'
			data-ng-change="instantSearch(instantSearchText)" />
	</div>
</form>