<script type="text/javascript">
	window.__change['{{ blockId }}'] = {{ blockData|json_encode|raw }};
</script>
<div data-rbs-elasticsearch-result="" data-ng-cloak="">
	<div data-role="items-container">
	</div>
	<div data-rbs-pagination="pagination" data-update-offset="updateOffset"></div>
</div>

