<script type="text/javascript">
	window.__change['{{ blockId }}'] = {{ blockData|json_encode|raw }};
</script>
<div data-ng-controller="RbsElasticsearchResultHeaderController" data-ng-cloak="">
	<div data-ng-if="searchText">
		<p data-ng-if="!totalCount">{{ i18n('m.rbs.elasticsearch.front.no_result_for_search', ['ucf'], {TEXT: '(= searchText =)' })|raw }}</p>
		<p data-ng-if="totalCount == 1">{{ i18n('m.rbs.elasticsearch.front.one_result_for_search', ['ucf'], {TEXT: '(= searchText =)' })|raw }}</p>
		<p data-ng-if="totalCount > 1">{{ i18n('m.rbs.elasticsearch.front.several_results_for_search', ['ucf'], {TOTAL: '(= totalCount =)', TEXT: '(= searchText =)' })|raw }}</p>

		<ul class="nav nav-tabs one-line-bottom-margin" role="tablist">
			<li data-ng-repeat="entry in result" data-ng-class="{active: entry.active}" >
				<a data-ng-href="(= entry.url =)" data-ng-bind-html="entry.title | rbsTrustHtml"></a>
			</li>
		</ul>
	</div>
	<p data-ng-if="!searchText">{{ i18n('m.rbs.elasticsearch.front.sepecify_search_text', ['ucf']) }}</p>
</div>