<!DOCTYPE html>
<html lang="{{ lang }}" data-ng-app="proximis{{ moduleName }}" data-ng-strict-di="">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ applicationName }}</title>
		<base href="{{ baseURL }}" />

		{# For IE #}
		<link rel="icon" type="image/x-icon" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.ico') }}" />
		{# For other browsers... #}
		<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.png') }}" />
		{# Apple customization... #}
		<link rel="apple-touch-icon" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-ipad.png') }}">
		<link rel="apple-touch-icon" sizes="167x167" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-ipad-retina.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ resourceURL('Rbs/Ua/img/logos/touch-icon-iphone-retina.png') }}">
		{# Well, we like Microsoft too! #}
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta name="application-name" content="{{ applicationName }}" />
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-square70x70logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-70x70.png') }}" />
		<meta name="msapplication-square150x150logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-150x150.png') }}" />
		<meta name="msapplication-wide310x150logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-310x150.png') }}" />
		<meta name="msapplication-square310x310logo" content="{{ resourceURL('Rbs/Ua/img/logos/msapplication-310x310.png') }}" />

		<link href="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/lib/FontAwesome/css/font-awesome.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/lib/flag-sprites/flags.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/lib/angularjs-slider/dist/rzslider.min.css') }}" rel="stylesheet" />

		<link href="{{ resourceURL('Rbs/Ua/css/proximis.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/css/' ~ vendorName ~ '_' ~ moduleName ~ '.css') }}" rel="stylesheet" />

		<style type="text/css">
			#loading-panel {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 10000;
				background: white;
			}

			#loading-panel > div {
				margin: 100px auto 0 auto;
				width: 400px;
				border-radius: 10px;
				background: #F5F5F5;
				color: black;
				font-size: 14pt;
				text-align: center;
				padding: 1em;
			}

			#loading-panel > div > div {
				margin: 1em 0;
			}
		</style>

		<script type="text/javascript">
			var __change = {{ __change|json_encode|raw }};
		</script>

		{% block headCustom %}
		{% endblock headCustom %}
	</head>

	<body data-ng-controller="Proximis{{ moduleName }}RootController" data-px-{{ moduleName | lower }}-application-{{ snakeRole }}="">
		<div id="loading-panel" data-ng-show="loading">
			{% include '@Rbs_Ua/Proximis/misc/main-loading.twig' %}
		</div>

		{% embed '@Rbs_Ua/Proximis/misc/main-header.twig' %}
			{% block headerApplicationName %}
				<a class="navbar-brand" href="" data-ng-href="(= '{{ vendorName }}_{{ moduleName }}' | pxRoute:'home' =)">
					{{ applicationShortName }}
				</a>
			{% endblock headerApplicationName %}

			{% block headerUserMenu %}
				<li>
					<a href="" data-ng-href="(= '{{ vendorName }}_{{ moduleName }}' | pxRoute:'home' =)">
						<span class="icon-tasks" aria-hidden="true"></span>
						{{ i18n('m.rbs.ua.common.dashboard', ['ucf']) }}
					</a>
				</li>
				<li>
					<a href="" data-ng-href="(= '{{ vendorName }}_{{ moduleName }}' | pxRoute:'profile' =)">
						<span class="icon-cogs" aria-hidden="true"></span>
						{{ i18n('m.rbs.ua.common.profile', ['ucf']) }}
					</a>
				</li>
			{% endblock headerUserMenu %}
		{% endembed %}

		<div id="main-content" class="content clearfix" data-ng-if="!loading">
			<div class="row clearfix hidden-print" id="mainToolbar">
				<div class="col-md-12">
					<div data-px-breadcrumb=""></div>
					<div data-px-messages=""></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="workspace" data-ng-view=""></div>
				</div>
			</div>
		</div>

		<footer class="hidden-print">
			<div class="pull-right" data-px-version=""></div>
			<a onclick="window.open(this.href); return false;" href="http://www.proximis.com">{{ i18n('m.rbs.ua.common.application_package_name') }}</a>
		</footer>

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/jquery-3.1.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-route.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-resource.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-sanitize.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-touch.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-cookies.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-animate.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/angular-messages.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.6.1/i18n/angular-locale_' ~ lowerHyphenLCID ~ '.js') }}"></script>

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-local-storage-0.2.7/dist/angular-local-storage.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-with-locales-2.17.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-timezone-with-data-2010-2020-0.5.10.min.js') }}"></script>

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-core.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-selectionsaverestore.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/ui-bootstrap-tpls-2.4.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angularjs-slider/dist/rzslider.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/qrcode.js') }}"></script>

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/js/proximis.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/js/' ~ vendorName ~ '_' ~ moduleName ~ '.js') }}"></script>
{% if (cachedTemplates) %}
		<script type="text/javascript">
			(function() {
				var app = angular.module('proximis{{ moduleName }}');
				app.run(['$templateCache', function($templateCache) {
					{% for name, template in cachedTemplates %}
					$templateCache.put('{{ name }}', {{ template | jsPackedString | raw }});
					{% endfor %}
				}]);
			})();
		</script>
{% endif %}
		<script id='pp-cfp' data-env='prod' data-token='161ea664cd3ba7a766cfdc88ab6e7b24e8ccbcb0aba70f9cac89827e9b81cbdb'>(function(d) {
				var s = d.createElement('script'), c = d.createElement('link');
				s.src = 'https://app.prodpad.com/static/js/prodpad-cfp.gz.js';
				s.async = 1;
				c.href = 'https://app.prodpad.com/static/css/prodpad-cfp.gz.css';
				c.rel = 'stylesheet';
				document.head.appendChild(c);
				document.head.appendChild(s);
			})(document);</script>
	</body>
</html>