body #pp-cfp-root {
	position: static;
	text-align: center;
	margin-bottom: 10px;
}

body #pp-cfp-root #pp-cfp-overlay,
body #pp-cfp-root #pp-cfp-dialog {
	position: fixed;
	text-align: left;
}

body #pp-cfp-root #pp-cfp-overlay {
	z-index: 9000;
}

body #pp-cfp-root #pp-cfp-dialog {
	z-index: 9001;
}

/* Avoid flickering */
#pp-cfp-root > #pp-cfp-overlay, #pp-cfp-root > #pp-cfp-dialog {
	display: none !important;
}