<div data-rbs-project-library-work-alias-editor="">
	<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkAlias', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-text property="subtitle" required="true"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkAlias', 'subtitle'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-picker-multiple property="nationalities"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkAlias', 'nationalities'), ['ucf']) }}"
		accepted-model="Rbs_Geo_Country">
	</rbs-field-picker-multiple>

	<rbs-field-boolean property="original"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkAlias', 'original'), ['ucf']) }}">
	</rbs-field-boolean>
</div>