<div data-ng-if="item.visualUrl" style="line-height: 30px">
	<img data-ng-src="(= item.visualUrl =)" alt="" />
	(= item.label =) <small class="text-muted">(= item.modelLabel =)</small>
	{% block itemActions %}
		<span class="pull-right actions">
			{% block itemActionsContent %}
				<a data-ng-if="item.publishedUrl" data-ng-href="(= item.publishedUrl =)" target="_blank"
					data-ng-click="$event.stopPropagation()" title="{{ i18nAttr('m.rbs.ua.common.view_document_in_site', ['ucf', 'etc']) }}">
					{%- spaceless %}
						<span class="icon-circle-arrow-right icon-large"></span>
					{% endspaceless -%}
				</a>
			{% endblock itemActionsContent %}
		</span>
	{% endblock itemActions %}
</div>
<div data-ng-if="!item.visualUrl">
	(= item.label =) <small class="text-muted">(= item.modelLabel =)</small>
	{{ block('itemActions') }}
</div>