<div class="px-filters ng-hide" data-ng-show="staticFilters.sorted.length">
	<div class="px-filters-toolbar">
		<span data-ng-repeat="filter in staticFilters.sorted">
			<button type="button" class="btn" data-ng-class="{true:'btn-primary', false:'btn-default'}[!!filter.active]"
				data-ng-click="selectStaticFilter(filter.name)" id="(= filter.id =)" data-ng-disabled="filter.active">
				<span data-ng-class="{true:'icon-check', false:'icon-check-empty'}[!!filter.active]"></span>
				(= filter.label =)
			</button>
		</span>
	</div>

	<div class="px-filters-arrow" data-ng-show="staticFilters.current.content"></div>

	<div class="px-filters-parameters" data-ng-show="staticFilters.current.content"
		data-ng-class="{'danger': !isFilterValid(staticFilters.current)}">
		<div data-ng-repeat="filter in staticFilters.sorted" data-ng-show="filter.active" class="form-horizontal">
			<p class="text-danger px-filter-parameter-invalid">
				(= staticFilters.current.parameters.invalidFilterMessage =)
			</p>
			<div data-px-filters-item-parameters="filter"></div>
		</div>
	</div>

	<div class="ng-hide" data-ng-transclude=""></div>
</div>