.px-filters {
	margin-bottom: 20px;
}

.px-filters .px-filters-toolbar .btn {
	display: inline-block;
	margin: 3px 0;
}

.px-filters .px-filters-parameters {
	position: relative;
	padding: 10px 15px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 0;
	font-size: 14px;
	background: #fff;
	color: #333;
	border: 1px solid rgb(172, 172, 172);
	border-left: 10px solid #759c46;
}

.px-filters .px-filters-parameters.danger {
	border-left-color: #cf4444;
}

.px-filters .px-filters-parameters .px-filter-parameter-invalid {
	display: none;
}
.px-filters .px-filters-parameters.danger .px-filter-parameter-invalid {
	display: block;
}

.px-filters .px-filters-arrow {
	position: relative;
	border-bottom: 9px solid #353432;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	display: inline-block;
	bottom: -5px;
}

.px-filters .px-filters-parameters .form-group:last-child {
	margin-bottom: 0;
}

/**
 * Print.
 */
@media print {
	.btn:not(.btn-primary) {
		visibility: hidden;
	}
}