<div class="item-selector" data-ng-class="{ 'item-selector-empty': !items.list.length, 'item-selector-auto-complete': autoComplete.show }">
	<div class="item-selector-backdrop" data-ng-click="autoComplete.close()"></div>
	<div class="item-selector-content">
		<div data-ng-hide="items.isEmpty()">
			<ul class="token-list list-unstyled" data-px-item-selector-token-list="">
				<li class="clearfix" draggable="true" data-ng-repeat="item in items.list" data-id="(= item.id =)">
					{% block tokenListItem %}{% endblock tokenListItem %}
				</li>
			</ul>
		</div>

		{% block fieldContainer %}
			<div data-ng-show="multiple || items.isEmpty()">
				{% block fieldInput %}
					<span data-ng-if="fieldName">
						<input data-px-field="(= fieldName =)"
							type="text" class="form-control" data-ng-keyup="autoComplete.refresh()" data-ng-model="autoComplete.value"
							autocomplete="off" placeholder="(= selectorTitle || '{{ i18nAttr('m.rbs.ua.common.no_selected_item', ['ucf']) }}' =)" />
					</span>
					<span data-ng-if="!fieldName">
						<input type="text" class="form-control" data-ng-keyup="autoComplete.refresh()" data-ng-model="autoComplete.value"
							autocomplete="off" placeholder="(= selectorTitle || '{{ i18nAttr('m.rbs.ua.common.no_selected_item', ['ucf']) }}' =)" />
					</span>
				{% endblock fieldInput %}
			</div>
		{% endblock fieldContainer %}

		<div class="auto-complete-list" data-px-item-selector-auto-complete-list="">
			<div data-ng-show="autoComplete.refreshing" class="auto-complete-list-loading text-center">
				<i class="icon-spinner icon-spin icon-3x"></i><br />
				{{ i18n('m.rbs.admin.admin.loading', ['ucf']) }}
			</div>
			<div data-ng-hide="autoComplete.refreshing">
				<div data-ng-if="autoComplete.items.length">
					<div data-ng-if="autoComplete.offset > 0" class="auto-complete-list-previous-page">
						<button class="btn btn-default btn-sm btn-block" data-ng-disabled="autoComplete.loadingPage"
							data-ng-click="autoComplete.loadPreviousPage()">
							<span data-ng-class="autoComplete.loadingPage ? 'icon-spinner icon-spin' : 'icon-double-angle-up'"></span>
							{{ i18n('m.rbs.ua.common.view_previous_results', ['ucf']) }}
						</button>
					</div>
					<ul class="list-unstyled auto-complete-list-options" data-ng-if="autoComplete.items.length">
						<li class="clearfix" data-ng-repeat="item in autoComplete.items|filter:autoComplete.notInSelection"
							data-ng-click="autoComplete.add(item)">
							{% block autoCompleteListItem %}{% endblock autoCompleteListItem %}
						</li>
					</ul>
					<div data-ng-if="autoComplete.offset + autoComplete.items.length < autoComplete.totalCount" class="auto-complete-list-next-page">
						<button class="btn btn-default btn-sm btn-block" data-ng-disabled="autoComplete.loadingPage"
							data-ng-click="autoComplete.loadNextPage()">
							<span data-ng-class="autoComplete.loadingPage ? 'icon-spinner icon-spin' : 'icon-double-angle-down'"></span>
							{{ i18n('m.rbs.ua.common.view_next_results', ['ucf']) }}
						</button>
					</div>
				</div>
				<div data-ng-if="autoComplete.error" class="auto-complete-list-errors">
					<p class="text-warning no-bottom-margin">{{ i18n('m.rbs.ua.common.an_error_occurred_during_search', ['ucf']) }}</p>
				</div>
				<div data-ng-if="!autoComplete.error && !autoComplete.items.length" class="auto-complete-list-errors">
					<p class="text-warning no-bottom-margin">{{ i18n('m.rbs.ua.common.no_item_to_suggest', ['ucf']) }}</p>
				</div>
			</div>
		</div>
	</div>
</div>