@CHARSET "UTF-8";

/* selector */
.item-selector {
	position: relative;
}

.item-selector .input-group {
	margin-top: 4px;
	width: 100%;
}

.form-inline .item-selector {
	max-width: 300px;
}

.form-inline div.item-selector div.input-group {
	table-layout: fixed;
}

.form-inline div.item-selector div.input-group .input-group-addon-select {
	width: 50%;
}

.form-inline div.item-selector div.input-group .input-group-addon-select select {
	width: 100%;
}

.item-selector .item-selector-backdrop {
	display: none;
}

.item-selector.item-selector-auto-complete .item-selector-backdrop {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.1;
	z-index: 10;
}

.item-selector.item-selector-auto-complete .item-selector-content {
	position: relative;
	z-index: 20;
}

.item-selector.item-selector-auto-complete .auto-complete-list {
	display: block;
}

.item-selector.item-selector-empty .input-group {
	margin-top: 0;
}

/* Auto-complete list */

.item-selector .auto-complete-list {
	display: none;
	position: absolute;
	padding: 7px 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border: 1px solid #999;
	z-index: 1000;
}

.item-selector .auto-complete-list:after {
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	right: 10px;
	position: absolute;
	top: -6px;
}

.item-selector .auto-complete-list:before {
	border-bottom: 7px solid #999;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	right: 9px;
	position: absolute;
	top: -7px;
}

.item-selector .auto-complete-list-loading,
.item-selector .auto-complete-list-errors {
	padding: 3px 10px;
}

.item-selector .auto-complete-list-options {
	margin: 0;
}

.item-selector .auto-complete-list-options li {
	display: block;
	padding: 3px 10px;
	cursor: pointer;
}

.item-selector .auto-complete-list-options li:hover,
.item-selector .auto-complete-list-options li:focus {
	background: #e8e8e8 linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%) repeat-x;
}

.item-selector .auto-complete-list-previous-page {
	padding: 0 10px 3px 10px;
}

.item-selector .auto-complete-list-next-page {
	padding: 3px 10px 0 10px;
}

/* Token list. */

.item-selector .token-list {
	*zoom: 1;
	margin: 0;
	list-style: none;
}

.item-selector .token-list:before,
.item-selector .token-list:after {
	display: table;
	line-height: 0;
	content: "";
}

.item-selector .token-list:after {
	clear: both;
}

.item-selector .token-list > li {
	display: block;
	border-radius: 4px;
	border: 1px solid #08c;
	padding: 3px 9px;
	background-color: white;
	box-shadow: 0 0 5px rgb(200, 208, 215);
	color: #08c;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	margin: 4px 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	position: relative;
}

.item-selector .token-list > li small {
	font-weight: normal;
	margin-left: 0.8em;
}

.item-selector .token-list > li.muted,
.item-selector .token-list > li.more {
	border: 0;
	background: none;
	cursor: default;
	font-weight: normal;
	line-height: 20px;
	color: #999;
}

.item-selector .token-list > li.muted {
	font-style: italic;
	line-height: 20px;
}

.item-selector .token-list > li .delete:focus {
	outline: none;
}

.item-selector .token-list > li .actions,
.item-selector .token-list > li .actions > * {
	margin-left: 10px;
}

.item-selector .token-list .sortable-placeholder {
	border: 2px solid #e30018;
	padding: 2px 8px;
	background-color: rgba(255, 248, 240, 0.75);
	color: #e30018;
}

.item-selector .token-list > li .icon-reorder {
	margin-top: 1px;
	cursor: move;
}

.item-selector .token-list .sortable-dragging {
	transform: scale(0.85);
}