<label data-ng-class="renderingMode !== 'vertical' ? 'col-lg-3 control-label' : ''"></label>
<div data-ng-class="renderingMode !== 'vertical' ? 'col-lg-9 controls' : ''" class="property-content"></div>