<ul class="nav navbar-nav navbar-left main-menu" data-ng-show="showMainMenu">
	<li data-ng-class="section.flat ? '' : 'dropdown'" data-ng-repeat="section in mainMenu">
		<a data-ng-if="section.flat" href="" class="inline-block" data-ng-repeat="entry in section.entries" data-ng-click="onMainMenuEntryClick(entry)">
			(= entry.label =)
			<span class="badge" data-ng-class="entry.badge" data-ng-show="entry.badge"></span>
		</a>
		<a data-ng-if-start="!section.flat" data-toggle="dropdown" class="dropdown-toggle" href="">
			<span class="(= section.icon =)"></span> (= section.label =) <span class="caret"></span>
		</a>
		<ul data-ng-if-end="!section.flat" class="dropdown-menu">
			<li data-ng-repeat="entry in section.entries" data-ng-class="{'separator': 'divider', 'text': 'dropdown-header'}[entry.type]">
				<a data-ng-if="entry.type === 'link'" href="" data-ng-click="onMainMenuEntryClick(entry)">(= entry.label =)</a>
				<span data-ng-if="entry.type === 'text'">(= entry.label =)</span>
			</li>
		</ul>
	</li>
</ul>