<div class="max-height">
	<div class="max-height-container">
		<div class="max-height-content" data-ng-transclude=""></div>
	</div>
	<div data-ng-show="!customButton && showButtons" class="text-center max-height-button">
		<button type="button" data-ng-click="toggle()" class="btn btn-default btn-sm btn-icon">
			<span class="rotate-animation inline-block" data-ng-class="{'rotate-0': !deployed, 'rotate-180': deployed}">
				<span class="icon-chevron-down"></span>
			</span>
		</button>
	</div>
</div>