<div class="notification-center" data-ng-show="messages().length">
	<div data-ng-repeat="message in messages()" class="alert"
		data-ng-class="{'info': 'alert-info', 'success': 'alert-success', 'error': 'alert-danger', 'warning': 'alert-warning'}[message.level]">
		<button type="button" class="close" data-ng-click="remove(message)"
			title="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">&times;</button>
		<h4 data-ng-show="message.title" data-ng-class="{'no-bottom-margin': !message.body }">
			<span data-ng-bind-html="message.title"></span>
			<span data-ng-show="message.duplicateCount" class="badge">(= message.duplicateCount =)</span>
		</h4>
		<div data-ng-if="message.body.length === 1" data-ng-bind-html="message.body"></div>
		<div data-ng-if="message.body.length > 1">
			<ul>
				<li data-ng-repeat="bodyLine in message.body" data-ng-bind-html="bodyLine"></li>
			</ul>
		</div>
	</div>
</div>