<div data-ng-if="data.national">
	<abbr title="{{ i18nAttr('m.rbs.oms.ua.property_customer_phone', ['ucf']) }}" class="hidden-print"><span class="glyphicon" data-ng-class="'glyphicon-' + data.class"></span></abbr>
	<img class="flag" data-ng-class="'flag-' + data.flagCountry" style="vertical-align: baseline"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="(= data.countryCode =)"
		title="(= data.country =)" />
	<strong data-ng-hide="addLink">(= data.national =)</strong>
	<a data-ng-show="addLink" href="tel:(= data.E164 =)">(= data.national =)</a>
</div>