<button type="button" data-ng-show="changeUri" class="btn btn-default" data-ng-click="onDownload()" data-ng-disabled="checkingURL">
	<i data-ng-class="{'icon-download':!checkingURL, 'icon-spinner icon-spin':checkingURL}"></i>
	<span data-ng-show="fileName">{{ i18n('m.rbs.admin.admin.download', ['ucf', 'lab']) }} (= fileName=)</span>
	<span data-ng-hide="fileName">{{ i18n('m.rbs.admin.admin.download', ['ucf']) }}</span>
</button>