{% use 'Rbs_Simpleform/form-templates.twig' %}
<form class="form-horizontal" name="rbsUserResetPassword" data-ng-show="showForm()" data-ng-submit="submit()">
	<fieldset>
		<h1>{{ i18n('m.rbs.user.front.init_your_password', ['ucf']) }}</h1>
		<p class="text-danger" data-ng-show="error" data-ng-bind="error"></p>
		<div class="form-group">
			<label for="rbs-user-init-password" class="col-sm-4 col-md-3 control-label">
				{{ block('rbsSimpleformRequiredSymbol') }}
				{{ i18n('m.rbs.user.front.create_password', ['ucf']) }}
			</label>
			<div class="col-sm-8 col-md-9">
				<input id="rbs-user-init-password" type="password" name="password" class="form-control"
					data-ng-model="data.password" required="required"
					placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
			</div>
		</div>
		<div class="form-group">
			<label for="rbs-user-init-confirm-password" class="col-sm-4 col-md-3 control-label">
				{{ block('rbsSimpleformRequiredSymbol') }}
				{{ i18n('m.rbs.user.front.confirm_password', ['ucf']) }}
			</label>
			<div class="col-sm-8 col-md-9">
				<input id="rbs-user-init-confirm-password" type="password" name="confirmPassword" class="form-control"
					data-ng-model="confirmPassword" required="required"
					placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
				<p class="text-danger"
					data-ng-show="confirmPassword != data.password && !rbsUserResetPassword.password.$invalid">
					{{ i18n('m.rbs.user.front.error_password_not_match_confirm_password', ['ucf']) }}
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
				<button class="btn btn-primary" type="submit" data-ng-disabled="rbsUserResetPassword.$invalid">
					{{ i18n('m.rbs.user.front.submit_init_password', ['ucf']) }}
				</button>
			</div>
		</div>
	</fieldset>
</form>

<div class="text-center" data-ng-hide="data.token">
	<div class="text-center">
		<h1>{{ i18n('m.rbs.user.front.init_your_password', ['ucf']) }}</h1>
		<p class="text-danger">{{ i18n('m.rbs.user.front.invalid_token', ['ucf']) }}</p>
	</div>
</div>

<div class="text-center" data-ng-show="passwordConfirmed">
	<div class="text-center">
		<h1>{{ i18n('m.rbs.user.front.init_your_password', ['ucf']) }}</h1>
		<p class="text-success">{{ i18n('m.rbs.user.front.init_password_success', ['ucf']) }}</p>
		<a href="{{ functionURL('Rbs_User_Login') }}">{{ i18n('m.rbs.user.front.account_creation_log_in', ['ucf']) }}</a>
	</div>
</div>