{% use 'Rbs_User/user-templates.twig' %}
{% set dividerClass = 'nav-divider' %}
<div class="modal-header">
	<button type="button" class="close pull-right" data-ng-click="$dismiss()"
		aria-hidden="true" title="{{ i18nAttr('m.rbs.generic.front.close', ['ucf']) }}">&times;</button>
	{% block rbsUserShortAccountResponsiveSummaryModalTitle %}
		<h4 class="modal-title">
			{{ i18n('m.rbs.user.front.my_account', ['ucf']) }}
		</h4>
	{% endblock rbsUserShortAccountResponsiveSummaryModalTitle %}
</div>
<div class="modal-body">
	{% block rbsUserShortAccountResponsiveSummaryModalContent %}
		<ul class="nav nav-modal" data-ng-show="accessorId">
			{{ block('rbsUserShortAccountUserMenuContent') }}
		</ul>
		<ul class="nav nav-modal" data-ng-show="!accessorId">
			{{ block('rbsUserShortAccountGuestMenuContent') }}
		</ul>
	{% endblock rbsUserShortAccountResponsiveSummaryModalContent %}
</div>