{% use 'Rbs_Simpleform/form-templates.twig' %}
{% use 'Rbs_User/user-templates.twig' %}

{{ block('rbsUserFidelityCardFieldH') }}
{{ block('rbsUserTitleCodeFieldH') }}
{{ block('rbsUserFirstNameFieldH') }}
{{ block('rbsUserLastNameFieldH') }}
{{ block('rbsUserPhoneFieldH') }}
{{ block('rbsUserBirthDateFieldH') }}
{{ block('rbsUserPseudonymFieldH') }}