<div data-ng-show="errors" class="text-center">
	<p data-ng-repeat="error in errors" class="text-danger">(= error =)</p>
</div>
<div data-ng-hide="tokens" class="text-center">
	<p class="text-success">{{ i18n('m.rbs.user.front.no_token', ['ucf']) }}</p>
</div>
<div class="table-vertical-responsive" data-ng-show="tokens">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ i18n('m.rbs.user.front.device', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.user.front.validity_date', ['ucf']) }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="token in tokens">
				<td>(= token.device =)</td>
				<td>(= token.date =)</td>
				<td>
					<button class="btn btn-default btn-block" data-ng-click="deleteToken($index)">
						{{ i18n('m.rbs.user.front.revoke', ['ucf']) }}
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>