<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_Website">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Website_Website'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-website-website-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Website_Website', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-url property="baseurl" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'baseurl'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.website.admin.website_baseurl_help', ['ucf']) }}</span>
				</rbs-field-url>

				<rbs-field ng-hide="! document.indexPage"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'indexPage'), ['ucf']) }}">
					<div class="form-control-static">(=document.indexPage.label=)</div>
				</rbs-field>

				<rbs-field-text property="mailSender"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'mailSender'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.website.admin.website_mail_sender_help', ['ucf']) }}</span>
				</rbs-field-text>
			</fieldset>

			<fieldset data-rbs-editor-section="sitemap"
				data-editor-section-icon="icon-sitemap"
				data-editor-section-label="{{ i18nAttr('m.rbs.website.documents.website_sitemap', ['ucf']) }}">
				<div data-rbs-tip="Rbs_Website_WebsiteEditorSitemap">
					{{ i18n('m.rbs.website.admin.website_sitemap_help') | raw }}
				</div>

				<rbs-field-boolean property="sitemapGeneration" required="false"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'sitemapGeneration'), ['ucf']) }}">
				</rbs-field-boolean>

				<rbs-field ng-if="document.sitemapGeneration"
					label="{{ i18nAttr('m.rbs.website.documents.website_sitemap_time_interval', ['ucf']) }}" required="false">
					<div data-rbs-date-interval="" data-ng-model="data.timeInterval" data-show-hours="23" data-show-days="30">
					</div>
				</rbs-field>

				<rbs-field label="{{ i18nAttr('m.rbs.website.documents.website_sitemaps_url', ['ucf']) }}" required="false">
					<table class="table">
						<thead>
							<tr>
								<th>{{ i18n('m.rbs.website.documents.website_sitemap_lang', ['ucf']) }}</th>
								<th>{{ i18n('m.rbs.website.documents.website_sitemap_url', ['ucf']) }}</th>
								<th data-ng-if="pendingSitemapCreations"></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="sitemap in document.sitemaps">
								<td>(= sitemap.LCID =)</td>
								<td data-ng-if="!sitemap.jobId"></td>
								<td data-ng-if="sitemap.jobId">
									<a data-ng-if="sitemap.url" href="" data-ng-href="(= sitemap.url =)">(= sitemap.url =)</a>
									<span data-ng-if="!sitemap.url">
										{{ i18n('m.rbs.website.admin.website_sitemap_url_pending_creation', ['ucf']) }}
									</span>
								</td>
								<td data-ng-if="sitemap.jobId && !sitemap.url">
									<button type="button" class="btn btn-default" data-ng-click="notifyUrlCreation(sitemap)"
										data-ng-disabled="disableNotifyButtons[sitemap.LCID]">
										{{ i18n('m.rbs.website.admin.website_notify_url_creation', ['ucf']) }}
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</rbs-field>
			</fieldset>

			<fieldset data-rbs-editor-section="permissions"
				data-editor-section-label="{{ i18nAttr('m.rbs.website.documents.topic_permissions', ['ucf']) }}">
				<div data-rbs-tip="RbsWebsiteSectionPermissionRules" class="margin-top">
					{{ i18n('m.rbs.website.admin.section_permission_rule_helper', ['ucf']) }}
				</div>

				<rbs-field-picker-multiple property="authorizedUsers" required="false" accepted-model="Rbs_User_User"
					label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_users', ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.website.admin.topic_users_picker_title', ['ucf']) }}">
				</rbs-field-picker-multiple>

				<rbs-field-picker-multiple property="authorizedGroups" required="false" accepted-model="Rbs_User_Group"
					label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_groups', ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.website.admin.topic_groups_picker_title', ['ucf']) }}">
				</rbs-field-picker-multiple>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>