<div class="dashboard" data-ng-controller="ProximisDatadashboardHomeController">
	<div class="row">
		<div class="col-md-6">
			<h2>{{ i18n('m.rbs.datadashboard.dashboard.general_help', ['ucf']) }}</h2>
			<span class="">{{ i18n('m.rbs.datadashboard.dashboard.more_information_link', ['ucf'], {'LINK': '(= ::documentationURL =)'}) | raw }}</span>
			<div>
				{% include '@Rbs_Datadashboard/Ua/views/help/import-general-information.twig' %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<span class="icon-info-sign" aria-hidden="true"></span>
						{{ i18n('m.rbs.datadashboard.dashboard.test_my_file', ['ucf']) }}
					</h2>
				</div>
				<div class="panel-body form-horizontal">
					<label class="col-xs-4 control-label">
						{{ i18n('m.rbs.datadashboard.dashboard.file_name_test', ['ucf', 'lab']) }}
					</label>

					<div class="col-xs-8">
						<form name="fileValidator">
							<input type="hidden" data-ng-model="regex" value="(= scope.regex =)">
							<input data-ng-pattern="regex" class="form-control" type="text" data-ng-model="file" data-ng-model-options="{ debounce: 250 }"
									placeholder="{{ i18n('m.rbs.datadashboard.dashboard.file_name_placeholder', ['lc']) }}">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h2>{{ i18n('m.rbs.datadashboard.dashboard.accepted_file_list', ['ucf']) }}</h2>
			<div>
				{{ i18n('m.rbs.datadashboard.dashboard.accepted_file_list_help') }}
			</div>
			{% include '@Rbs_Datadashboard/Ua/views/help/file-list.twig' %}
		</div>
	</div>
</div>