{% block data %}
	<script type="application/javascript">
		window.__change['{{ blockId }}'] = {{ blockData|json_encode|raw }};
	</script>
{% endblock data %}

{% block content %}
	<div data-rbs-seo-facet-url-decorator="" class="facet-url-attributes" data-ng-show="attributes.length">
		<div data-ng-repeat="attribute in attributes track by attribute.key">
			<div class="facet-url-attribute" data-ng-class="'facet-url-attribute-' + attribute.key" data-rbs-attribute-value="attribute"
				data-image-format="(= imageFormat =)"></div>
		</div>
	</div>
{% endblock content %}