<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Collection_Collection', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="code" readonly="true"
	label="{{ i18nAttr(propertyKey('Rbs_Collection_Collection', 'code'), ['ucf']) }}">
</rbs-field-text>

<hr />

<div data-rbs-collection-collection-items="Rbs_Collection_CollectionItem">
	<h3>{{ i18n(propertyKey('Rbs_Collection_Collection', 'items'), ['ucf']) }}</h3>

	<rbs-field label="{{ i18nAttr('m.rbs.collection.admin.language', ['ucf']) }}">
		<div data-rbs-inline-lcid-selector="itemsManager.LCID"></div>
		<div class="help-text">{{ i18n('m.rbs.collection.admin.language_help', ['ucf']) | raw }}</div>
	</rbs-field>

	<div class="table-responsive">
		<table class="table table-striped document-list">
			<thead>
				<tr>
					<th>{{ i18n(propertyKey('Rbs_Collection_CollectionItem', 'value'), ['ucf']) }}</th>
					<th>{{ i18n(propertyKey('Rbs_Collection_CollectionItem', 'title'), ['ucf']) }}
						<i class="icon-asterisk text-info" title="{{ i18nAttr('m.rbs.collection.admin.localized', ['ucf']) }}"></i>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in document.items" data-rbs-collection-collection-item="">
					<td>
						<input type="text" class="form-control" data-ng-show="!item.locked"
							data-ng-model="item.value" required="required" />
						<div class="form-control-static" data-ng-show="item.locked">
							(= item.value =)
						</div>
					</td>
					<td>
						<input type="text" class="form-control"
							data-ng-model="item.LCID[itemsManager.LCID].title" />
					</td>
					<td class="text-right">
						<div data-rbs-inline-item-actions="" data-array="document.items" data-index="$index"
							data-check-delete="itemsManager.canDeleteItem"></div>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" class="form-control" data-ng-model="itemsManager.newItem.value" />
					</td>
					<td colspan="2" class="form-inline">
						<button class="btn btn-default" type="button" data-ng-click="itemsManager.addNewItem()"
							data-ng-disabled="!itemsManager.canAddNewItem()">
							<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.add', ['ucf']) }}
						</button>
						<span data-ng-show="itemsManager.newItem.isUsed" class="form-control-static text-danger">
							{{ i18n('m.rbs.collection.admin.already_used_value', ['ucf']) }}
						</span>
					</td>
				</tr>
				<tr data-ng-show="itemsManager.inputValues.length">
					<td colspan="3">
						<a data-ng-click="itemsManager.addInputValues()" href="">
							(= itemsManager.inputValues.length =) {{ i18n('m.rbs.collection.admin.collection_values_to_add', ['ucf']) }}
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<div data-rbs-pagination="itemsManager.pagination"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>