<div class="editor-menu">
	<a data-ng-repeat="entry in entries | orderBy:'index'" class="editor-menu-item" href="" data-ng-href="(= entry.url=)"
		data-rbs-active-route="">
		<span class="badge" data-ng-class="{'badge-success': entry.corrected.length > 0, 'badge-required': entry.required.length}"
			data-ng-if="entry.fields.length">
			(= entry.fields.length =)
		</span>
		<i data-ng-if="entry.icon" class="(=entry.icon=)"></i> (= entry.label =)
	</a>
</div>
