<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.admin.admin.aside_code', ['ucf'], {'context': '((= contextLabel || data.context =))'}) }}"
	data-icon="(= data.icon =)" data-ng-show="data.initialized" class="ng-hide">
	<div class="panel-body">
		<div class="input-group margin-half-bottom" data-ng-repeat="code in data.codes track by $index">
			<input type="text" class="form-control" data-ng-model="data.codes[$index]" data-ng-disabled="!data.loaded" />
			<span class="input-group-btn">
				<button class="btn btn-danger" type="button" data-ng-click="removeCode($index)" data-ng-disabled="!data.loaded"
					title="{{ i18nAttr('m.rbs.admin.admin.remove_code', ['ucf']) }}">
					<i class="icon-trash"></i>
				</button>
			</span>
		</div>
		<button class="btn btn-default btn-xs" type="button" data-ng-click="addCode()" data-ng-disabled="!data.loaded">
			<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.add_code', ['ucf']) }}
		</button>
	</div>
	<div class="panel-footer">
		<button class="btn btn-primary btn-xs pull-right" type="button" data-ng-click="saveCodes()"
			data-ng-disabled="!data.loaded || !isModified()">
			<i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.save', ['ucf']) }}
		</button>
		<button class="btn btn-default btn-xs" type="button" data-ng-click="resetCodes()"
			data-ng-disabled="!data.loaded || !isModified()">
			<i class="icon-undo"></i> {{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
		</button>
	</div>
</div>