<div class="input-group color-picker" data-ng-class="{'input-group-lg': size == 'lg', 'input-group-sm': size == 'sm'}">
	<input data-colorpicker="hex" type="text" data-ng-model="colorCode" class="form-control color-picker-input" />
	<span class="input-group-addon" style="background-color: (= colorCode =)" data-ng-click="openPicker()"></span>
</div>