<div class="table-responsive">
	<table class="document-list table table-condensed table-bordered margin-top"
		data-ng-class="{'table-striped': stripedRows, 'table-hover': hoverRows}">
		<thead>
			<tr></tr>
		</thead>
		<tbody data-ng-if="collection.length > 0">
			<tr data-ng-repeat="doc in collection|rbsOrderBy:localSortColumn" class="normal-row (= animationClass =)"
				data-ng-class="{'preview': isPreview(doc), 'has-preview': hasPreview(doc), 'error': hasErrors(doc), 'selected': doc.selected}"
				data-ng-style="extend.getRowStyle(doc)">
				<td class="preview fade-animation" data-colspan="auto" data-ng-if="isPreview(doc)">
					<div class="inner">
						<rbs-kb-switch class="pull-right">
							<button data-rbs-kb-default="" type="button" class="btn btn-default btn-xs" data-ng-click="preview(doc, $event)">
								{{ i18n('m.rbs.admin.admin.close_preview') }}
							</button>
							<button data-rbs-kb-when="alt" type="button" class="btn btn-default btn-xs" data-ng-click="closeAllPreviews()">
								{{ i18n('m.rbs.admin.admin.close_all_previews') }}
							</button>
						</rbs-kb-switch>
						<div class="preview-indicator"></div>
						<div data-role="preview-contents"></div>
					</div>
				</td>
				<td data-class="workflow" class="fade-animation" data-colspan="auto" data-ng-if="isWorkflow(doc)">
					<div class="inner">
						<div data-rbs-document-workflow-actions="" data-document="doc.__document" data-on-close="closeWorkflow($index)"
							data-standalone="false" class="rbs-list-option-panel"></div>
					</div>
				</td>
			</tr>
		</tbody>
		<tbody data-ng-if="collection.length == 0 && !busy">
			<tr class="empty-row">
				<td data-colspan="auto"><i class="icon-frown"></i> {{ i18n('m.rbs.admin.admin.this_list_is_empty', ['ucf']) }}</td>
			</tr>
		</tbody>
	</table>
</div>