<div class="panel panel-info margin-top">
	<div class="panel-heading panel-heading-toggle" data-ng-click="previewManager.toggle()">
		<span class="pull-right rotate-animation"
			data-ng-class="{'rotate-0': !previewManager.deployed, 'rotate-180': previewManager.deployed}">
			<i class="icon-chevron-down"></i>
		</span>
		<i class="icon-eye-open"></i>
		{{ i18n('m.rbs.admin.admin.preview_updates', ['ucf']) }}
	</div>
	<div class="panel-body vertical-show-hide-animation ng-hide" data-ng-show="previewManager.deployed">
		<form class="form-horizontal vertical-show-hide-animation-content" data-ng-submit="submit()" name="previewForm">
			<div data-ng-show="previewManager.mode == 'tab'" data-rbs-tip="Rbs_Admin_PreviewInEditor">
				{{ i18n('m.rbs.admin.admin.preview_updates_help') }}
			</div>
			<div data-ng-if="document.model != 'Rbs_Website_StaticPage' && document.model != 'Rbs_Theme_Template'">
				<div data-rbs-field-picker="" data-property="previewContext.sectionId" data-required="true" data-value-ids="true"
					data-label="{{ i18nAttr('m.rbs.admin.admin.preview_section', ['ucf']) }}"
					data-select-model="{ancestors:'Rbs_Website_Section', abstract:false}"
					data-selector-title="{{ i18nAttr('m.rbs.admin.admin.preview_section_picker_title', ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.admin.admin.preview_section_help') }}</span>
				</div>
			</div>

			<div data-ng-if="document.model == 'Rbs_Theme_Template'">
				<div data-rbs-field-picker="" property="previewContext.pageId" data-required="true" data-value-ids="true"
					data-label="{{ i18nAttr('m.rbs.admin.admin.preview_page', ['ucf']) }}"
					data-select-model="{name:['Rbs_Website_StaticPage']}"
					data-selector-title="{{ i18nAttr('m.rbs.admin.admin.preview_page_picker_title', ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.admin.admin.preview_page_help') }}</span>
				</div>
			</div>

			<div data-ng-if="document.model == 'Rbs_Website_FunctionalPage' || document.model == 'Rbs_Theme_PageTemplate'">
				<div data-rbs-field-picker="" property="previewContext.detailId" data-value-ids="true"
					data-label="{{ i18nAttr('m.rbs.admin.admin.preview_detailId', ['ucf']) }}"
					data-select-model="{publishable:true, abstract:false}"
					data-selector-title="{{ i18nAttr('m.rbs.admin.admin.preview_detailId_picker_title', ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.admin.admin.preview_detailId_help') }}</span>
				</div>
			</div>

			<hr data-ng-show="document.model !== 'Rbs_Website_StaticPage'" />

			<div data-rbs-field-picker="" property="previewContext.userId" data-value-ids="true"
				data-label="{{ i18nAttr('m.rbs.admin.admin.preview_user', ['ucf']) }}"
				data-accepted-model="Rbs_User_User"
				data-selector-title="{{ i18nAttr('m.rbs.admin.admin.preview_user_picker_title', ['ucf']) }}">
				<span class="help-block">{{ i18n('m.rbs.admin.admin.preview_user_help') }}</span>
			</div>

			<div data-ng-if="previewManager.mode == 'tab'" class="form-group">
				<div class="col-lg-offset-3 col-lg-9">
					<a class="btn btn-default btn-headline" data-ng-click="previewManager.showInTab(true)"
						target="change_admin_preview" href="Rbs/Admin/preview.html" data-ng-disabled="previewForm.$invalid">
						<i class="icon-eye-open"></i> {{ i18n('m.rbs.admin.admin.do_preview_button', ['ucf']) | raw }}
					</a>
				</div>
			</div>
			<div data-ng-if="previewManager.mode == 'comparison'" class="form-group">
				<div class="col-lg-offset-3 col-lg-9">
					<button class="btn btn-default btn-headline" data-ng-click="previewManager.showComparison()" type="button"
						data-ng-disabled="previewForm.$invalid">
						<i class="icon-eye-open"></i> {{ i18n('m.rbs.admin.admin.do_preview_button', ['ucf']) | raw }}
					</button>
				</div>
			</div>
		</form>

		<div data-ng-show="previewManager.comparisonInitialized" class="margin-top">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default no-bottom-margin">
						<div class="panel-heading">
							<a class="btn btn-default btn-headline pull-right" data-ng-click="previewManager.showInTab(false)"
								target="change_admin_preview" href="Rbs/Admin/preview.html">
								<i class="icon-mail-forward"></i>
								{{ i18n('m.rbs.admin.admin.open_in_tab_button', ['ucf']) | raw }}
							</a>
							{{ i18n('m.rbs.admin.admin.original_version', ['ucf']) }}<br/>
							<small class="muted">{{ i18n('m.rbs.admin.admin.in_use', ['ucf']) }}</small>
							<div class="clearfix"></div>
						</div>
						<iframe class="panel-body preview-iframe preview-iframe-current"></iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default no-bottom-margin">
						<div class="panel-heading">
							<a class="btn btn-default btn-headline pull-right" data-ng-click="previewManager.showInTab(true)"
								target="change_admin_preview" href="Rbs/Admin/preview.html">
								<i class="icon-mail-forward"></i>
								{{ i18n('m.rbs.admin.admin.open_in_tab_button', ['ucf']) | raw }}
							</a>
							{{ i18n('m.rbs.admin.admin.fixed_version', ['ucf']) }}<br/>
							<small class="muted">{{ i18n('m.rbs.admin.admin.displayed_in_editor', ['ucf']) }}</small>
							<div class="clearfix"></div>
						</div>
						<iframe class="panel-body preview-iframe preview-iframe-correction"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>