<div class="alert alert-warning" data-ng-show="!locations.length">
	<h4>{{ i18n('m.rbs.admin.admin.document_is_not_published', ['ucf']) }}</h4>
	{{ i18n('m.rbs.admin.admin.document_is_not_published_message', [], {'linkStart':'<a href="" data-ng-href="(= targetDocument | rbsURL =)?section=publication">', 'linkEnd':'</a>'}) | raw }}
</div>

<form class="form-horizontal" novalidate="" data-ng-show="locations.length > 0" >
	<p>{{ i18n('m.rbs.admin.admin.available_languages_help') }}</p>
	<p>{{ i18n('m.rbs.admin.admin.canonical_help') | raw }}</p>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>{{ i18n('m.rbs.admin.admin.url', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.admin.admin.lcid', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.admin.admin.section', ['ucf']) }}</th>
				<th style="width: 90px;">{{ i18n('m.rbs.admin.admin.publication', ['ucf']) }}</th>
				<th style="width: 25px;"></th>
			</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat-start="(locationIndex, location) in locations">
			<td><a href="" data-ng-href="(= getHref(location, location.urls[0]) =)" target="_blank">(= getHref(location, location.urls[0]) =)</a></td>
			<td>(= availableLanguages[location.LCID].label|ucf =) [(= location.LCID =)]</td>
			<td>
				(= location.sectionLabel =)
				<i data-ng-show="location.canonical" class="icon-star text-info"
					title="{{ i18nAttr('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i>
			</td>
			<td style="white-space: nowrap;" data-ng-click="displayConfig[locationIndex].showDetails = !displayConfig[locationIndex].showDetails">
				<span data-ng-show="location.published">
					<i class="icon-ok text-success"></i> {{ i18n('m.rbs.admin.admin.published', ['ucf']) }}
				</span>
				<span data-ng-hide="location.published">
					<i class="icon-remove text-danger"></i> {{ i18n('m.rbs.admin.admin.not_published', ['ucf']) }}
				</span>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-icon"
					data-ng-click="displayConfig[locationIndex].showDetails = !displayConfig[locationIndex].showDetails"
					title="{{ i18nAttr('m.rbs.admin.admin.open_option_panel', ['ucf']) }}">
					<i data-ng-class="displayConfig[locationIndex].showDetails ? 'icon-chevron-up' : 'icon-chevron-down'"></i>
				</button>
			</td>
		</tr>
		<tr data-ng-repeat-end="">
			<td data-ng-if="displayConfig[locationIndex].showDetails === true" colspan="6">
				<div class="inner">
					<div class="rbs-list-option-panel">
						<h3>{{ i18n('m.rbs.admin.admin.option_panel_title', ['ucf']) }}</h3>
						<h4>{{ i18n('m.rbs.admin.admin.publication', ['ucf']) }}</h4>
						<ul class="list-unstyled">
							<li data-ng-repeat="condition in location.publication">
								<i data-ng-class="condition.ok ? 'icon-ok text-success' : 'icon-remove text-danger'"></i> (= condition.message =)
							</li>
						</ul>

						<h4>{{ i18n('m.rbs.admin.admin.rewrite_urls', ['ucf']) }}</h4>
						<p>{{ i18n('m.rbs.admin.admin.website', ['ucf','lab']) }} (= getHref(location) =) </p>
						<table data-ng-show="location.urls.length > 0" class="table table-striped table-bordered table-condensed">
							<thead>
							<tr>
								<th style="width: 20px;"> </th>
								<th>{{ i18n('m.rbs.admin.admin.relative_path', ['ucf']) }}</th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-repeat="(index, url) in location.urls">
								<td>
									<i data-ng-show="location.canonical && !url.sectionId" class="icon-star text-info"
										title="{{ i18nAttr('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i>
								</td>
								<td><a href="" data-ng-href="(= getHref(location, url) =)" target="_blank">(= url.relativePath =)</a></td>
							</tr>
							</tbody>
						</table>

						<h4 data-ng-click="displayConfig[locationIndex].showRedirects = !displayConfig[locationIndex].showRedirects">
							{{ i18n('m.rbs.admin.admin.redirects', ['ucf']) }}
							<span
								class="badge badge-info">
								(= location.redirects.length =)
							</span>
							<button type="button" class="btn btn-default btn-icon">
								<i data-ng-class="displayConfig[locationIndex].showRedirects ? 'icon-chevron-up' : 'icon-chevron-down'"></i>
							</button>
						</h4>
						<table data-ng-show="displayConfig[locationIndex].showRedirects === true"
							class="table table-striped table-bordered table-condensed">
							<thead>
							<tr>
								<th style="width: 20px;"> </th>
								<th>{{ i18n('m.rbs.admin.admin.relative_path', ['ucf']) }}</th>
								<th style="width: 85px;">{{ i18n('m.rbs.admin.admin.permanent', ['ucf']) }}</th>
								<th style="width: 220px;">{{ i18n('m.rbs.admin.admin.query', ['ucf']) }}</th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-repeat="(index, redirect) in location.redirects">
								<td>
									<i data-ng-show="location.canonical && !redirect.sectionId" class="icon-star text-info"
										title="{{ i18nAttr('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i>
								</td>
								<td>(= redirect.relativePath =)</td>
								<td>(= redirect.permanent | rbsBoolean =)</td>
								<td>(= redirect.query =)</td>
							</tr>
							</tbody>
						</table>

						<div data-ng-if="location.facetUrls.length">
							<h4 data-ng-click="displayConfig[locationIndex].showFacetUrls = !displayConfig[locationIndex].showFacetUrls">
								{{ i18n('m.rbs.admin.admin.facet_rewrite_urls', ['ucf']) }}
								<span class="badge badge-info">(= location.facetUrls.length =)</span>
								<button type="button" class="btn btn-default btn-icon">
									<i data-ng-class="displayConfig[locationIndex].showFacetUrls ? 'icon-chevron-up' : 'icon-chevron-down'"></i>
								</button>
							</h4>
							<table data-ng-show="displayConfig[locationIndex].showFacetUrls === true" class="table table-striped table-bordered table-condensed">
								<thead>
									<tr>
										<th style="width: 20px;"></th>
										<th>{{ i18n('m.rbs.admin.admin.relative_path', ['ucf']) }}</th>
										<th style="width: 35%;">{{ i18n('m.rbs.admin.admin.query', ['ucf']) }}</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="(index, url) in location.facetUrls">
										<td>
											<i data-ng-show="location.canonical && !url.sectionId" class="icon-star text-info"
												title="{{ i18nAttr('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i>
										</td>
										<td><a href="" data-ng-href="(= getHref(location, url) =)" target="_blank">(= url.relativePath =)</a></td>
										<td>(= urlDecode(url.query) =)</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div data-ng-if="location.facetRedirects.length">
							<h4 data-ng-click="displayConfig[locationIndex].showFacetRedirects = !displayConfig[locationIndex].showFacetRedirects">
								{{ i18n('m.rbs.admin.admin.facet_redirects', ['ucf']) }}
								<span class="badge badge-info">(= location.facetRedirects.length =)</span>
								<button type="button" class="btn btn-default btn-icon">
									<i data-ng-class="displayConfig[locationIndex].showFacetRedirects ? 'icon-chevron-up' : 'icon-chevron-down'"></i>
								</button>
							</h4>
							<table data-ng-show="displayConfig[locationIndex].showFacetRedirects === true"
								class="table table-striped table-bordered table-condensed">
								<thead>
									<tr>
										<th style="width: 20px;"></th>
										<th>{{ i18n('m.rbs.admin.admin.relative_path', ['ucf']) }}</th>
										<th style="width: 85px;">{{ i18n('m.rbs.admin.admin.permanent', ['ucf']) }}</th>
										<th style="width: 35%;">{{ i18n('m.rbs.admin.admin.query', ['ucf']) }}</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="(index, redirect) in location.facetRedirects">
										<td>
											<i data-ng-show="location.canonical && !redirect.sectionId" class="icon-star text-info"
												title="{{ i18nAttr('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i>
										</td>
										<td>(= redirect.relativePath =)</td>
										<td>(= redirect.permanent | rbsBoolean =)</td>
										<td>(= urlDecode(redirect.query) =)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

	<div class="form-actions">
		<a class="btn btn-default btn-headline" href="" data-ng-href="(= targetDocument | rbsURL =)">
			<i class="icon-arrow-left"></i>
			{{ i18n('m.rbs.admin.admin.btn_back_to', ['ucf'], {'label':'(= targetDocument.label =)'}) | raw }}
		</a>
	</div>
</form>