<div data-role="preContents"></div>
<div class="confirmation-area"></div>

<div class="form-actions">
	<p class="text-muted">
		<small>
			<i data-ng-class="{true:'icon-ok', false:'icon-pencil'}[changes.length == 0]"></i>
			<span style="font-weight:bold" data-ng-pluralize="" data-count="changes.length"
				data-when="{0: '{{ i18nAttr('m.rbs.admin.admin.no_property_modified') }}.',
					one: '{{ i18nAttr('m.rbs.admin.admin.property_modified') }}.',
					other: '{{ i18nAttr('m.rbs.admin.admin.properties_modified') }}.'}">
			</span>
		</small>
		<i data-ng-show="changes.length" data-ng-click="showChanges = !showChanges"
			data-ng-class="{'icon-chevron-sign-left': showChanges, 'icon-chevron-sign-right': !showChanges}"></i>
		<span data-ng-show="showChanges" data-ng-repeat="change in changes">
			<span class="inline-block">
				<span class="label label-default" data-ng-show="modelInfo.properties[change]">
					(= modelInfo.properties[change].label =)
				</span>
				<span class="label label-default" data-ng-show="!modelInfo.properties[change]">
					(= change =)
				</span>
			</span>
		</span>
	</p>

	<div data-ng-show="showChanges" class="vertical-show-hide-animation ng-hide">
		<table class="table table-bordered table-diff vertical-show-hide-animation-content">
			<thead>
				<tr>
					<th scope="col">
						{{ i18n('m.rbs.admin.admin.original_value', ['ucf']) }}<br/>
						<small class="muted">{{ i18n('m.rbs.admin.admin.in_use', ['ucf']) }}</small>
					</th>
					<th scope="col">
						<button type="button" class="btn btn-xs btn-info pull-right"
							title="{{ i18nAttr('m.rbs.admin.admin.show_changes', ['ucf']) }}"
							data-ng-click="advancedDiffs = !advancedDiffs"
							data-ng-class="{'active': advancedDiffs}">
							<i class="icon-lightbulb"></i> {{ i18n('m.rbs.admin.admin.diff', ['ucf']) }}
						</button>
						{{ i18n('m.rbs.admin.admin.fixed_value', ['ucf']) }}<br/>
						<small class="muted">{{ i18n('m.rbs.admin.admin.displayed_in_editor', ['ucf']) }}</small>
					</th>
				</tr>
			</thead>
			<tbody data-ng-repeat="change in changes">
				<tr>
					<th colspan="2" scope="row">(= modelInfo.properties[change].label =) (<code>(= change =)</code>)</th>
				</tr>
				<tr>
					<td style="vertical-align: top">(= original[change] =)</td>
					<td style="vertical-align: top" data-ng-switch="advancedDiffs">
						<div data-ng-switch-when="true" class="diffs"
							data-ng-bind-html="document[change] | rbsDiff:original[change]"></div>
						<div data-ng-switch-when="false">(= document[change] =)</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="form-buttons">
		<div class="pull-right">
			<span data-ng-transclude=""></span>
			<button data-ng-if="! disableDelete" class="btn btn-danger btn-headline no-text" type="button"
				data-ng-click="confirmDelete($event)">
				<i class="icon-trash"></i>
			</button>
		</div>
		<button data-ng-if="!navigationContext" disabled="disabled" class="btn btn-default btn-headline" type="button"
			data-ng-click="goBack($event)" data-ng-disabled="!canGoBack()">
			<i class="icon-arrow-left"></i>{{ i18n('m.rbs.admin.admin.btnGoBack', ['ucf']) | raw }}
		</button>

		<button data-ng-if="navigationContext" class="btn btn-default btn-headline" type="button"
			data-ng-click="rejectNavigationContext()">
			<i class="icon-arrow-left"></i>
			{{ i18n('m.rbs.admin.admin.btn_back_to', ['ucf'], {'label': '(= navigationContext.label() =)'}) | raw }}
		</button>

		<button disabled="disabled" class="btn btn-default btn-headline" type="button" data-ng-click="confirmReset($event)"
			data-ng-disabled="isUnchanged()" title="{{ i18nAttr('m.rbs.admin.admin.titleRevert', ['ucf']) }}">
			<i class="icon-undo"></i> {{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}
		</button>
		<button disabled="disabled" class="btn btn-headline btn-primary" type="submit" data-role="save"
			data-ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}"
			data-ng-disabled="form.$invalid || isUnchanged() || saveProgress.running">
			<i class="icon-white" data-ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': !saveProgress.running, 'icon-remove': saveProgress.error}"></i>
			{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}
		</button>
	</div>
</div>