<p class="form-control-static">
	<span data-ng-show="isAnd()">{{ i18n('m.rbs.admin.admin.filter_group_and_title') }}</span>
	<span data-ng-hide="isAnd()">{{ i18n('m.rbs.admin.admin.filter_group_or_title') }}</span>
	<span class="pull-right">
		<button type="button" class="btn btn-default btn-xs" data-ng-click="swapOperator()"><span
				class="glyphicon glyphicon-transfer"></span>
			<span data-ng-show="isAnd()">{{ i18n('m.rbs.admin.admin.filter_group_or_toggle') }}</span>
			<span data-ng-hide="isAnd()">{{ i18n('m.rbs.admin.admin.filter_group_and_toggle') }}</span>
		</button>
	</span>
</p>
<div data-rbs-filter-group-and-or="" data-filter="getRootFilter()"></div>