<h5 data-ng-if="parentOperator">
	<button type="button" class="btn btn-default btn-xs" data-ng-click="delFilter()">
		<span class="glyphicon glyphicon-minus"></span>
	</button>
	<span data-ng-show="isAnd()">
		(= filterDefinition.config.andLabel || "{{ i18nAttr('m.rbs.admin.admin.filter_group_and_title') }}" =)
	</span>
	<span data-ng-hide="isAnd()">
		(= filterDefinition.config.orLabel || "{{ i18nAttr('m.rbs.admin.admin.filter_group_or_title') }}" =)
	</span>
	<span class="badge" data-ng-bind="countAllFilters()">0</span>
</h5>
<ul class="list-group no-bottom-margin">
	<li class="list-group-item">
		<ol class="list-inline">
			<li>
				<select class="form-control" data-ng-options="d.label group by d.group for (name, d) in getFilterDefinitions()"
					data-ng-model="definitionToAdd"></select>
			</li>
			<li>
				<button type="button" data-ng-click="addFilter()" class="btn btn-default btn-xs" data-ng-disabled="!definitionToAdd">
					<span class="glyphicon glyphicon-plus"></span>
					{{ i18n('m.rbs.admin.admin.filter_add') }}
				</button>
			</li>
		</ol>
	</li>
</ul>