<span class="inline-item-actions" style="white-space: nowrap;">
	<span data-ng-if="allowMove">
		<span data-rbs-kb-switch="">
			<button data-rbs-kb-when="alt" data-ng-disabled="isFirst()" class="btn btn-default btn-icon"
				type="button" data-ng-click="moveTop()"
				title="{{ i18nAttr('m.rbs.admin.admin.move_top', ['ucf']) }}">
				<i class="icon-step-forward icon-rotate-270"></i>
			</button>
			<button data-rbs-kb-default="" data-ng-disabled="isFirst()" class="btn btn-default btn-icon"
				type="button" data-ng-click="moveUp()"
				title="{{ i18nAttr('m.rbs.admin.admin.move_up', ['ucf']) }}">
				<i class="icon-play icon-rotate-270"></i>
			</button>
		</span>
		<span data-rbs-kb-switch="">
			<button data-rbs-kb-when="alt" data-ng-disabled="isLast()" class="btn btn-default btn-icon" type="button"
				data-ng-click="moveBottom()"
				title="{{ i18nAttr('m.rbs.admin.admin.move_bottom', ['ucf']) }}">
				<i class="icon-step-forward icon-rotate-90"></i>
			</button>
			<button data-rbs-kb-default="" data-ng-disabled="isLast()" class="btn btn-default btn-icon" type="button"
				data-ng-click="moveDown()"
				title="{{ i18nAttr('m.rbs.admin.admin.move_down', ['ucf']) }}">
				<i class="icon-play icon-rotate-90"></i>
			</button>
		</span>
	</span>
	<span data-ng-if="allowDelete">
		<button data-ng-disabled="!canDelete()" class="btn btn-danger btn-icon"
			type="button" data-ng-click="deleteItem()"
			title="{{ i18nAttr('m.rbs.admin.admin.delete', ['ucf']) }}">
			<i class="icon-trash"></i>
		</button>
	</span>
</span>