<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:70%">{{ i18n('c.documents.label', ['ucf']) }}</th>
			<th style="width:30%"></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="inline in inlineArray">
			<td data-ng-if="isEditorRow(inline)" colspan="3" data-ng-init="labelClass = 'col-lg-3'; controlsClass = 'col-lg-9'"
				class="document-inline-editor">
				<div class="form-properties">
					<div data-rbs-inline-document data-document="inline" data-context-key="(= getContextKey($index) =)"
						data-ref-lcid="refLcid" data-lcid="lcid"></div>
				</div>
				<div class="form-actions">
					<button data-ng-click="closeEditor(inline)" class="btn btn-primary" type="button">
						{{ i18n('m.rbs.admin.admin.close', ['ucf']) }}
					</button>
					<span data-rbs-inline-item-actions="" data-array="inlineArray" data-index="$index" class="pull-right"
						data-disable-move="true" data-check-delete="canDelete"></span>
				</div>
			</td>
			<td data-ng-if="!isEditorRow(inline)">
				<div class="form-control-static">
					<a href="" data-ng-click="editItem(inline)"><i class="icon-pencil"></i> (= rowLabel(inline) =)</a>
				</div>
			</td>
			<td data-ng-if="!isEditorRow(inline)">
				<div data-ng-hide="inTranslation()" class="text-right">
					<div data-rbs-inline-item-actions="" data-array="inlineArray" data-index="$index"
						data-check-delete="canDelete"></div>
				</div>
			</td>
		</tr>
	</tbody>
	<tfoot data-ng-if="canAdd() && !inTranslation()">
		<tr>
			<td colspan="3">
				<button data-ng-click="addItem()" class="btn btn-default" type="button">
					<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.add', ['ucf']) }}
				</button>
			</td>
		</tr>
	</tfoot>
</table>