<div class="panel panel-default">
	<div data-ng-if="panel.title" class="panel-heading">
		<h3 class="panel-title"><span data-ng-if="panel.icon"><i class="(= panel.icon =)"></i> </span><span data-ng-bind="panel.title"></span></h3>
	</div>
	<div class="list-group" data-ng-transclude=""></div>
</div>