<div class="richtext-input">
	<div data-ng-show="insertionContext.selectionMode === 'none'">
		<div data-ng-switch="editorMode">
			<div data-ng-switch-when="Markdown" class="richtext-input-markdown">
				{% include '@Rbs_Admin/js/directives/rich-text-input-markdown.twig' %}
			</div>

			<div data-ng-switch-when="Html" class="richtext-input-wysiwyg">
				<rbs-wysiwyg-editor name="wysiwygContent" ng-model="wysiwyg.content"
					data-draggable="(= draggable ? 'true' : 'false' =)">
				</rbs-wysiwyg-editor>
			</div>

			<div data-ng-switch-default="" class="richtext-input-chooser">
				{% include '@Rbs_Admin/js/directives/rich-text-input-choose.twig' %}
			</div>
		</div>
	</div>
	<div class="ng-hide" data-ng-show="insertionContext.selectionMode === 'media'">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.richtext_select_media', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<div data-ng-form="" class="form-vertical">
					<rbs-document-picker-multiple data-ng-model="insertionContext.mediasToInsert"
						data-context-key="(= contextKey + '_mediaToInsert' =)"
						select-model="{name: ['Rbs_Media_Image','Rbs_Media_Video','Rbs_Media_File']}">
					</rbs-document-picker-multiple>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default pull-right" data-ng-click="closeSelection()">
					{{ i18n('m.rbs.admin.admin.richtext_button_cancel_insertion', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-primary" data-ng-disabled="!canInsertMedia()"
					data-ng-click="insertMedia()">
					{{ i18n('m.rbs.admin.admin.richtext_button_insert', ['ucf']) }}
				</button>
			</div>
		</div>
	</div>
	<div class="ng-hide" data-ng-show="insertionContext.selectionMode === 'publishableMultiple'">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.richtext_select_publishable_documents', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<div data-ng-form="" class="form-vertical">
					<rbs-document-picker-multiple data-ng-model="insertionContext.documentsToLink"
						data-context-key="(= contextKey + '_documentsToLink' =)"
						select-model="{publishable:true, abstract:false}"></rbs-document-picker-multiple>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default pull-right" data-ng-click="closeSelection()">
					{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-primary" data-ng-disabled="!canLinkDocument()"
					data-ng-click="linkDocument()">
					{{ i18n('m.rbs.admin.admin.richtext_button_insert', ['ucf']) }}
				</button>
			</div>
		</div>
	</div>
	<div class="ng-hide" data-ng-show="insertionContext.selectionMode === 'publishableSingle'">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.richtext_select_publishable_document', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<div data-ng-form="" class="form-vertical">
					<rbs-document-picker-single data-ng-model="insertionContext.documentToLink"
						data-context-key="(= contextKey + '_documentToLink' =)"
						select-model="{publishable:true, abstract:false}"></rbs-document-picker-single>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default pull-right" data-ng-click="closeSelection()">
					{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-primary" data-ng-disabled="!canLinkDocumentSingle()"
					data-ng-click="linkDocumentSingle()">
					{{ i18n('m.rbs.admin.admin.richtext_button_insert', ['ucf']) }}
				</button>
			</div>
		</div>
	</div>
	<div class="ng-hide" data-ng-show="insertionContext.selectionMode === 'mentionable'">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.richtext_select_mentionable_document', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<div data-ng-form="" class="form-vertical">
					<rbs-document-picker-multiple data-ng-model="insertionContext.documentsToMention"
						data-context-key="(= contextKey + '_documentsToMention' =)"
						select-model="{name: ['Rbs_User_User', 'Rbs_User_Group']}"></rbs-document-picker-multiple>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default pull-right" data-ng-click="closeSelection()">
					{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-primary" data-ng-disabled="!canInsertMention()"
					data-ng-click="insertMention()">
					{{ i18n('m.rbs.admin.admin.richtext_button_insert', ['ucf']) }}
				</button>
			</div>
		</div>
	</div>
</div>
