<div class="btn-toolbar">
	<button data-ng-if="readOnly" type="button" disabled="disabled" class="btn btn-default">
		{{ i18n('m.rbs.admin.admin.read_only', ['ucf']) }}
	</button>
	<div class="btn-group" data-ng-transclude=""></div>
</div>
<div class="rich-text-input-selectors-container"></div>
<div class="structure-editor"></div>