<div class="btn-toolbar">
	<rbs-kb-switch>
		<div class="btn-group">
			<button class="btn btn-default btn-sm btn-icon" disabled="disabled"><i class="icon-plus"></i></button>
			<button data-rbs-kb-when="alt" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockTop()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_top', ['ucf']) }}">
				<i class="icon-double-angle-up"></i>
			</button>
			<button data-rbs-kb-default="" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockBefore()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_before', ['ucf']) }}">
				<i class="icon-arrow-up"></i>
			</button>
			<button data-rbs-kb-when="alt" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockBottom()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_bottom', ['ucf']) }}">
				<i class="icon-double-angle-down"></i>
			</button>
			<button data-rbs-kb-default="" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockAfter()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_after', ['ucf']) }}">
				<i class="icon-arrow-down"></i>
			</button>
		</div>
	</rbs-kb-switch>
	<button class="btn btn-danger btn-sm btn-icon pull-right" type="button" ng-click="removeBlock()"
		title="{{ i18nAttr('m.rbs.admin.admin.delete_block_group', ['ucf']) }}">
		<i class="icon-trash"></i>
	</button>
</div>

<hr />

<button type="button" ng-click="setEqualColumns()" class="btn btn-default btn-sm btn-block" data-ng-disabled="columns.length < 2 || ! equalSize">
	{{ i18n('m.rbs.admin.admin.equitable_distribution', ['ucf']) }}
	<span data-ng-show="equalSize"> ((= gridSize/equalSize =) x (= equalSize =))</span>
</button>
<div data-ng-repeat="col in columns" style="display:inline-block">
	<div class="column-info" data-ng-class="{'active': highlightedColIndex == $index}" ng-click="highlightColumn($index)">
		<div class="head clearfix">
			<button type="button" class="btn btn-danger btn-sm btn-icon pull-right" data-ng-click="deleteColumn($index, $event)"
				title="{{ i18nAttr('m.rbs.admin.admin.delete', ['ucf']) }}"><i class="icon-trash"></i></button>
			<h5>{{ i18n('m.rbs.admin.admin.column', ['ucf']) }} (= $index+1 =)</h5>
		</div>
		<div class="param clearfix">
			<button type="button" class="btn btn-default btn-sm btn-icon" data-ng-click="reduceColumn($index, $event)"
				data-ng-disabled="col.span == 1" title="{{ i18nAttr('m.rbs.admin.admin.width_reduce', ['ucf']) }}">
				<i class="icon-minus"></i>
			</button>
			<div class="text">{{ i18n('m.rbs.admin.admin.width', ['ucf']) }} = (= col.span =)</div>
			<button type="button" class="btn btn-default btn-sm btn-icon" data-ng-click="expandColumn($index, $event)"
				data-ng-disabled="! canExpandColumn($index)" title="{{ i18nAttr('m.rbs.admin.admin.width_enlarge', ['ucf']) }}">
				<i class="icon-plus"></i>
			</button>
		</div>
		<div class="param clearfix">
			<button type="button" class="btn btn-default btn-sm btn-icon" ng-click="decreaseOffset($index, $event)"
				title="{{ i18nAttr('m.rbs.admin.admin.shift_left', ['ucf']) }}" data-ng-disabled="col.offset == 0">
				<i class="icon-arrow-left"></i>
			</button>
			<div class="text">{{ i18n('m.rbs.admin.admin.shift', ['ucf']) }} = (= col.offset =)</div>
			<button type="button" class="btn btn-default btn-sm btn-icon" ng-click="increaseOffset($index, $event)"
				title="{{ i18nAttr('m.rbs.admin.admin.shift_right', ['ucf']) }}" data-ng-disabled="!canIncreaseOffset($index)">
				<i class="icon-arrow-right"></i>
			</button>
		</div>
	</div>
	<div class="column-buttons">
		<button type="button" class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.rbs.admin.admin.move_column_left', ['ucf']) }}"
			ng-click="moveColumnLeft($index, $event)" data-ng-disabled="$first">
			<i class="icon-chevron-left"></i>
		</button>
		<button type="button" class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.rbs.admin.admin.move_column_right', ['ucf']) }}"
			ng-click="moveColumnRight($index, $event)" data-ng-disabled="$last">
			<i class="icon-chevron-right"></i>
		</button>
		<button type="button" class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.rbs.admin.admin.new_column_right', ['ucf']) }}"
			ng-click="insertColumn($index, $event)" data-ng-disabled="!canInsertColumn($index)">
			<i class="icon-plus-sign"></i>
		</button>
	</div>
</div>