<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" data-ng-click="close()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{% block modalTitle %}{% endblock modalTitle %}</h4>
	</div>
	<div class="modal-body clearfix form-horizontal">{% block modalBody %}{% endblock modalBody %}</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="close()">{{ i18n('m.rbs.ua.common.close', ['ucf']) }}</button>
	</div>
</div>