<div class="cell-header">
	<div class="block-toolbar" data-ng-click="selectBlock()" data-ng-dblclick="openSettings()">
		<span class="icon-columns"></span> {{ i18nAttr('m.rbs.admin.admin.column_abbr', ['ucf']) }} (= getColumnIndex() + 1 =)
		(<i class="icon-resize-horizontal"></i> (= item.size =))
		<button type="button" data-ng-click="openSettings()" class="btn btn-default btn-sm btn-icon"
			title="{{ i18nAttr('m.rbs.admin.admin.edit_parameters', ['ucf']) }}">
			<span class="icon-edit"></span>
		</button>
	</div>
</div>
<div class="children block-container clearfix"></div>