{% extends '@Rbs_Admin/js/directives/structure-editor-modal-base.twig' %}

{% block modalTitle %}{{ i18n('m.rbs.admin.admin.row_properties', ['ucf']) }}{% endblock modalTitle %}

{% block modalBody %}
	<div class="form-group" data-ng-class="{'has-error': blockForm['class_' + modalData.item.id].$invalid}">
		<label class="control-label col-md-3" for="row_(= modalData.item.id =)_class">{{ i18n('m.rbs.admin.admin.block_class', ['ucf']) }}</label>
		<div class="controls col-md-9">
			<input class="form-control" id="row_(= modalData.item.id =)_class" type="text" data-ng-model="modalData.item.class"
				name="class_(= modalData.item.id =)" data-ng-pattern="'[a-zA-Z0-9 \-]*'" />
			<span class="help-block no-bottom-margin">{{ i18n('m.rbs.admin.admin.block_class_help', ['ucf']) }}</span>
		</div>
	</div>
	<div class="form-group no-bottom-margin" data-ng-class="{'has-error': blockForm['class_' + modalData.item.id].$invalid}">
		<label class="control-label col-md-3" for="row_(= modalData.item.id =)displayColumnsFrom">
			{{ i18n('m.rbs.admin.admin.display_columns_from', ['ucf']) }}
			<span data-ng-switch="modalData.defaultDisplayColumnsFrom" class="text-muted" title="{{ i18nAttr('m.rbs.admin.admin.default_value') }}">
				<small data-ng-switch-when="X">[ {{ i18n('m.rbs.admin.admin.display_columns_from_x') }} ]</small>
				<small data-ng-switch-when="S">[ {{ i18n('m.rbs.admin.admin.display_columns_from_s') }} ]</small>
				<small data-ng-switch-when="M">[ {{ i18n('m.rbs.admin.admin.display_columns_from_m') }} ]</small>
				<small data-ng-switch-when="L">[ {{ i18n('m.rbs.admin.admin.display_columns_from_l') }} ]</small>
			</span>
		</label>
		<div class="controls col-md-9">
			<div class="btn-group">
				<label class="btn btn-default" data-ng-model="modalData.item.displayColumnsFrom" data-uib-btn-radio="null">
					{{ i18n('m.rbs.admin.admin.display_columns_from_default') }}
				</label>
				<label class="btn btn-default" data-ng-model="modalData.item.displayColumnsFrom" data-uib-btn-radio="'X'">
					{{ i18n('m.rbs.admin.admin.display_columns_from_x') }}
				</label>
				<label class="btn btn-default" data-ng-model="modalData.item.displayColumnsFrom" data-uib-btn-radio="'S'">
					{{ i18n('m.rbs.admin.admin.display_columns_from_s') }}
				</label>
				<label class="btn btn-default" data-ng-model="modalData.item.displayColumnsFrom" data-uib-btn-radio="'M'">
					{{ i18n('m.rbs.admin.admin.display_columns_from_m') }}
				</label>
				<label class="btn btn-default" data-ng-model="modalData.item.displayColumnsFrom" data-uib-btn-radio="'L'">
					{{ i18n('m.rbs.admin.admin.display_columns_from_l') }}
				</label>
			</div>
			<p class="help-block no-bottom-margin">{{ i18n('m.rbs.admin.admin.display_columns_from_description', ['ucf']) }}</p>
		</div>
	</div>
{% endblock modalBody %}
