<div draggable="true" class="block btn btn-block btn-settings break-word block-draggable block-handle"
	data-ng-click="selectBlock()" data-ng-dblclick="openSettings()">
	<span class="icon-th-large"></span> <span data-ng-bind-html="item.label"></span>
	<div class="block-toolbar">
		<button type="button" data-ng-click="openSettings()" class="btn btn-default btn-sm btn-icon"
			title="{{ i18nAttr('m.rbs.admin.admin.edit_parameters', ['ucf']) }}">
			<span class="icon-edit"></span>
		</button>
		<div class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.rbs.admin.admin.drag_block', ['ucf']) }}">
			<span class="icon-move"></span>
		</div>
		<button type="button" data-ng-click="openTech()" class="btn btn-default btn-sm btn-icon"
			title="{{ i18nAttr('m.rbs.admin.admin.tech_properties', ['ucf']) }}">
			<span class="icon-wrench"></span>
		</button>
	</div>
	<div data-ng-show="isRichText" class="preview-container"></div>
</div>