<div>
	<p>
		<button class="btn btn-default" data-ng-click="choose()">
			{{ i18n('m.rbs.admin.admin.choose_video', ['ucf']) }}
		</button>
	</p>
	<video data-ng-show="videoSrc" data-ng-src="(= videoSrc =)" preload="(= preload =)" controls="controls"
		class="img-thumbnail" title="{{ i18nAttr('m.rbs.admin.admin.click_to_select_another_video', ['ucf']) }}"
		width="(= previewWidth =)px" height="(= previewHeight =)px"></video>
	<div>
		<button data-ng-show="loading" type="button" class="btn btn-default" disabled="disabled">
			<i class="icon-spinner icon-spin"></i> {{ i18n('m.rbs.admin.admin.reading', ['ucf']) }}
		</button>
		<span data-ng-show="fileSize && fileName">
			(= fileName =) &mdash;  <span data-ng-bind-html="fileSize | rbsFileSize"></span>
		</span>
	</div>
	<input type="file" accept="(= fileAccept =)" name="file"
		style="text-indent: -3000px;opacity: 0; visibility: hidden; position: absolute;"/>
</div>