<div data-ng-show="data.loaded">
	<rbs-button-close ng-show="closable" ng-click="closeWorkflow()"></rbs-button-close>

	<h3>{{ i18n('m.rbs.admin.admin.workflow_title', ['ucf']) }}</h3>
	<h5>
		<span data-ng-switch="document.publicationStatus">
			<span data-ng-switch-when="DRAFT">
				{{ i18n('m.rbs.admin.admin.draft_description', ['ucf']) }}
			</span>
			<span data-ng-switch-when="FROZEN">
				{{ i18n('m.rbs.admin.admin.frozen_description', ['ucf']) }}
			</span>
			<span data-ng-switch-when="FILED">
				{{ i18n('m.rbs.admin.admin.filed_description', ['ucf']) | raw }}
			</span>
			<span data-ng-switch-when="VALIDATION">
				{{ i18n('m.rbs.admin.admin.validation_description', ['ucf']) }}
			</span>
			<span data-ng-switch-when="VALIDCONTENT">
				{{ i18n('m.rbs.admin.admin.validcontent_description', ['ucf']) }}
			</span>
			<span data-ng-switch-when="UNPUBLISHABLE">
				{{ i18n('m.rbs.admin.admin.unpublishable_description', ['ucf']) | raw }}
			</span>
			<span data-ng-switch-when="PUBLISHABLE">
				{{ i18n('m.rbs.admin.admin.publishable_description', ['ucf']) }}
			</span>
		</span>
	</h5>

	<form name="wfForm" data-ng-submit="submit()" data-ng-switch="data.action">
		<div data-ng-switch-when="requestValidation">
			<div class="control-group">
				<div class="controls">
					<p>
						<button data-rbs-button-help-toggle="" class="pull-right" value="data.helpShown"></button>
						<button type="submit" class="btn btn-default">
							<i class="icon-bullhorn"></i> {{ i18n('m.rbs.admin.admin.request_validation', ['ucf']) }}
						</button>
					</p>
				</div>
			</div>
		</div>

		<div data-ng-switch-when="contentValidation">
			<ul class="list-unstyled">
				<li class="text-success">
					<i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.request_validation_done', ['ucf']) }}
				</li>
			</ul>
			<p>
				{{ i18n('m.rbs.admin.admin.to_validate_content_you_can', ['ucf']) }}
				<rbs-kb-switch>
					<a data-rbs-kb-default="" href data-ng-href="(= document|rbsURL =)">
						{{ i18n('m.rbs.admin.admin.open_document_editor') }}
					</a>
					<a data-rbs-kb-when="meta" href data-ng-href="(= document|rbsURL =)" target="_blank">
						{{ i18n('m.rbs.admin.admin.open_document_editor_in_new_tab') }} <i class="icon-external-link"></i>
					</a>
				</rbs-kb-switch>.
			</p>
			<p>
				<label class="radio">
					<input type="radio" name="contentAction" data-ng-model="data.contentAction" value="accept" checked/>
					{{ i18n('m.rbs.admin.admin.accepted', ['ucf']) }}
				</label>
				<label class="radio">
					<input type="radio" name="contentAction" data-ng-model="data.contentAction" value="reject"/>
					{{ i18n('m.rbs.admin.admin.rejected', ['ucf']) }}
				</label>
			</p>

			<div data-ng-if="data.contentAction == 'reject'">
				<div class="form-group required">
					<label for="rejectContentField">{{ i18n('m.rbs.admin.admin.reject_reason', ['ucf']) }}</label>
					<input type="text" class="form-control" data-rbs-auto-focus=""
						placeholder="{{ i18nAttr('m.rbs.admin.admin.why_do_you_reject_content', ['ucf']) }}"
						id="rejectContentField" required="required" data-ng-model="data.rejectReason"/>
				</div>
				<div class="form-group">
					<div class="controls">
						<button data-rbs-button-help-toggle="" class="pull-right" value="data.helpShown"></button>
						<button type="submit" data-ng-disabled="wfForm.$invalid" class="btn btn-danger">
							{{ i18n('m.rbs.admin.admin.reject_content', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>

			<div data-ng-if="data.contentAction == 'accept'">
				<div class="control-group">
					<div class="controls">
						<button data-rbs-button-help-toggle="" class="pull-right" value="data.helpShown"></button>
						<button type="submit" class="btn btn-success">
							{{ i18n('m.rbs.admin.admin.accept_content', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</div>

		<div data-ng-switch-when="publicationValidation">
			<ul class="list-unstyled">
				<li class="text-success">
					<i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.request_validation_done', ['ucf']) }}
				</li>
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.content_validated', ['ucf']) }}</li>
			</ul>
			<div class="form-group" style="margin:0;">
				<label>{{ i18n('c.documents.startpublication', ['ucf']) }}</label>
				<rbs-date-selector ng-model="data.startPublication"></rbs-date-selector>
			</div>
			<div class="form-group">
				<label class="control-label">{{ i18n('c.documents.endpublication', ['ucf']) }}</label>
				<rbs-date-selector ng-model="data.endPublication"></rbs-date-selector>
			</div>
			<div class="form-group">
				<button data-rbs-button-help-toggle="" class="pull-right" value="data.helpShown"></button>
				<button type="submit" class="btn btn-success">{{ i18n('m.rbs.admin.admin.accept_publication', ['ucf']) }}</button>
			</div>
		</div>

		<div class="form-group" data-ng-switch-when="freeze">
			<ul class="list-unstyled">
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.request_validation_done', ['ucf']) }}</li>
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.content_validated', ['ucf']) }}</li>
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.publication_validated', ['ucf']) }}</li>
			</ul>
			<p>{{ i18n('m.rbs.admin.admin.you_can_freeze_document') }}</p>
			<button data-rbs-button-help-toggle="" class="pull-right" value="data.helpShown"></button>
			<button type="submit" class="btn btn-warning"><i class="icon-pause"></i> {{ i18n('m.rbs.admin.admin.freeze_document', ['ucf']) }}</button>
		</div>

		<div class="form-group" data-ng-switch-when="unfreeze">
			<ul class="list-unstyled">
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.request_validation_done', ['ucf']) }}</li>
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.content_validated', ['ucf']) }}</li>
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.publication_validated', ['ucf']) }}</li>
				<li class="text-danger"><i class="icon-pause"></i> {{ i18n('m.rbs.admin.admin.frozen_document', ['ucf']) }}</li>
			</ul>
			<p>{{ i18n('m.rbs.admin.admin.this_document_is_frozen') }}</p>
			<button data-rbs-button-help-toggle="" class="pull-right" value="data.helpShown"></button>
			<button type="submit" class="btn btn-success"><i class="icon-play"></i> {{ i18n('m.rbs.admin.admin.unfreeze_document', ['ucf']) }}</button>
		</div>

		<div class="form-group" data-ng-switch-when="correction">
			<ul class="list-unstyled">
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.request_validation_done', ['ucf']) }}</li>
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.content_validated', ['ucf']) }}</li>
				<li class="text-success"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.publication_validated', ['ucf']) }}</li>
				<li class="text-danger"><i class="icon-pencil"></i> {{ i18n('m.rbs.admin.admin.modified_content_correction', ['ucf']) }}</li>
			</ul>
			<p>
				<span class="label label-danger">{{ i18n('m.rbs.admin.admin.caution', ['ucf']) }}</span>
				{{ i18n('m.rbs.admin.admin.document_has_been_modified_since_its_publication') }}
			</p>

			<div>
				<strong>(= correctionData.correctionInfo.status | rbsStatusLabel =)</strong>
				| <i class="icon-time"></i> {{ i18n('m.rbs.admin.admin.correction_created_on', ['ucf']) }}
				<time datetime="(= correctionData.correctionInfo.creationDate =)" data-display="both"></time>
			</div>

			<div class="alert alert-info" data-ng-if="correctionData.correctionInfo.status == 'VALIDATION'">
				{{ i18n('m.rbs.admin.admin.being_validated') | raw }}
			</div>

			<div data-ng-if="correctionData.correctionInfo.status == 'DRAFT' || correctionData.correctionInfo.status == 'VALIDATION'">
				<div class="panel panel-default margin-top">
					<div class="panel-heading panel-heading-toggle" data-ng-click="showChanges = !showChanges">
						<span class="pull-right rotate-animation"
							data-ng-class="{'rotate-0': !showChanges, 'rotate-180': showChanges}">
							<i class="icon-chevron-down"></i>
						</span>
						<i class="icon-pencil"></i>
						<span style="font-weight:bold" data-ng-pluralize="" data-count="correctionData.diff.length"
							data-when="{0: '{{ i18nAttr('m.rbs.admin.admin.no_property_modified') }}',
							one: '{{ i18nAttr('m.rbs.admin.admin.property_modified') }}',
							other: '{{ i18nAttr('m.rbs.admin.admin.properties_modified') }}'}">
						</span>
					</div>
					<div class="panel-body">
						<span data-ng-repeat="change in correctionData.diff">
							<span class="inline-block">
								<span class="label label-default" data-ng-show="modelInfo.properties[change.id]">
									(= modelInfo.properties[change.id].label =)
								</span>
								<span class="label label-default" data-ng-show="!modelInfo.properties[change.id]">
									(= change.id =)
								</span>
							</span>
						</span>
					</div>
					<div data-ng-show="showChanges" class="panel-body vertical-show-hide-animation ng-hide">
						<table class="table table-bordered table-diff  no-bottom-margin">
							<thead>
							<tr>
								<th scope="col">
									{{ i18n('m.rbs.admin.admin.original_value', ['ucf']) }}<br/>
									<small class="muted">{{ i18n('m.rbs.admin.admin.in_use', ['ucf']) }}</small>
								</th>
								<th scope="col">
									<button type="button" class="btn btn-xs btn-info pull-right"
										title="{{ i18nAttr('m.rbs.admin.admin.show_changes', ['ucf']) }}"
										data-ng-click="correctionData.advancedDiffs = ! correctionData.advancedDiffs"
										data-ng-class="{'active': correctionData.advancedDiffs}">
										<i class="icon-lightbulb"></i> {{ i18n('m.rbs.admin.admin.diff', ['ucf']) }}
									</button>
									{{ i18n('m.rbs.admin.admin.fixed_value', ['ucf']) }}<br/>
									<small class="muted">{{ i18n('m.rbs.admin.admin.displayed_in_editor', ['ucf']) }}</small>
								</th>
							</tr>
							</thead>
							<tbody data-ng-repeat="line in correctionData.diff">
								<tr>
									<th colspan="2" scope="row">
										(= modelInfo.properties[line.id].label =) (<code>(=line.id=)</code>)
									</th>
								</tr>
								<tr>
									<td style="vertical-align: top">(= line.original =)</td>
									<td style="vertical-align: top" data-ng-switch="correctionData.advancedDiffs">
										<div data-ng-switch-when="true" class="diffs"
											data-ng-bind-html="line.current | rbsDiff:line.original"></div>
										<div data-ng-switch-when="false">(= line.current =)</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div data-ng-show="document.is('Rbs_Website_StaticPage') || document.is('Rbs_Website_FunctionalPage')
				|| (document.is('Rbs_Theme_Template') && !document.mailSuitable) || modelInfo.metas.publishable" class="ng-hide">
				<div data-rbs-document-preview-form="document" data-language="language" data-mode="comparison"></div>
			</div>

			<div data-ng-show="correctionData.canChooseDate()">
				<label class="radio">
					<input type="radio" name="applyCorrectionWhenOption" data-ng-model="correctionData.params.applyCorrectionWhen"
						value="now" checked="checked" />
					{{ i18n('m.rbs.admin.admin.publish_correction_after_validation', ['ucf']) }}
				</label>
				<label class="radio">
					<input type="radio" name="applyCorrectionWhenOption" data-ng-model="correctionData.params.applyCorrectionWhen"
						value="planned" />
					{{ i18n('m.rbs.admin.admin.choose_plublication_date', ['ucf']) }}
				</label>
				<rbs-date-selector ng-show="correctionData.params.applyCorrectionWhen == 'planned'"
					ng-model="correctionData.params.plannedCorrectionDate" name="plannedCorrectionDate"></rbs-date-selector>
			</div>

			<div data-ng-if="correctionData.correctionInfo.status == 'VALIDCONTENT'">
				<div class="alert alert-success">
					{{ i18n('m.rbs.admin.admin.content_has_been_validated', ['ucf']) | raw }}
				</div>
			</div>

			<div data-ng-if="correctionData.correctionInfo.status == 'VALID'">
				<div class="alert alert-success">
					{{ i18n('m.rbs.admin.admin.correction_will_be_published_on', ['ucf']) }}
					<strong>(= correctionData.correctionInfo.publicationDate | rbsDateTime =)</strong>
					<time class="muted" datetime="(= correctionData.correctionInfo.publicationDate =)" data-display="relative">
						({time})
					</time>
				</div>
			</div>

			<div data-ng-if="correctionData.correctionInfo.status == 'PUBLISHABLE'">
				<div class="alert alert-info">
					{{ i18n('m.rbs.admin.admin.correction_is_about_to_be_published', ['ucf']) }}
				</div>
			</div>

			<div data-ng-if="correctionData.correctionInfo.status == 'FILED'">
				<div class="alert alert-success">
					{{ i18n('m.rbs.admin.admin.correction_has_been_published', ['ucf']) }}
				</div>
			</div>

			<div data-ng-switch="correctionData.correctionInfo.status" class="margin-top">
				<div data-ng-switch-when="DRAFT">
					<button type="button" data-ng-disabled="correctionData.diff.length == 0" class="btn btn-success btn-headline"
						data-ng-click="correctionData.requestValidation()">
						<i class="icon-bullhorn"></i>{{ i18n('m.rbs.admin.admin.button_validate') | raw }}
					</button>
					<button type="button" class="btn btn-danger btn-headline" data-ng-click="correctionData.deleteCorrection()">
						<i class="icon-trash"></i>{{ i18n('m.rbs.admin.admin.button_delete') | raw }}
					</button>
				</div>

				<div data-ng-switch-when="VALIDATION">
					<button type="button" class="btn btn-primary btn-headline" data-ng-disabled="correctionData.reject"
						data-ng-click="correctionData.contentValidation()">
						<i class="icon-ok"></i>{{ i18n('m.rbs.admin.admin.button_validate') | raw }}
					</button>
					<button type="button" class="btn btn-danger btn-headline" data-ng-class="{'active': correctionData.reject}"
						data-ng-click="correctionData.reject = ! correctionData.reject">
						<i class="icon-ban-circle"></i>{{ i18n('m.rbs.admin.admin.button_reject') | raw }}
					</button>
					<div data-ng-if="correctionData.reject" data-ng-form="" data-name="rejectForm"
						class="well well-sm margin-top clearfix">
						<rbs-field label="{{ i18nAttr('m.rbs.admin.admin.please_provide_reason', ['ucf']) }}" required="true">
							<input type="text" data-rbs-auto-focus="true" class="form-control" data-ng-required="true"
								data-ng-model="correctionData.rejectMessage" />
						</rbs-field>
						<div class="form-group">
							<div class="col-lg-9 col-lg-offset-3">
								<button type="button" class="btn btn-danger" data-ng-disabled="rejectForm.$invalid"
									data-ng-click="correctionData.rejectContentValidation(correctionData.rejectMessage)">
									<i class="icon-ban-circle"></i> {{ i18n('m.rbs.admin.admin.reject_correction', ['ucf']) }}
								</button>
								<button type="button" class="btn btn-default" data-ng-click="correctionData.reject = false">
									{{ i18n('m.rbs.admin.admin.cancel_reject', ['ucf']) }}
								</button>
							</div>
						</div>
					</div>
				</div>

				<div data-ng-switch-when="VALIDCONTENT">
					<button type="button" class="btn btn-success btn-headline"
						data-ng-click="correctionData.publicationValidation()">
						<i class="icon-download-alt"></i>{{ i18n('m.rbs.admin.admin.button_publish') | raw }}
					</button>
				</div>
			</div>
		</div>

		<div data-rbs-advanced-mode="" data-ng-if="document.META$.actions.hasOwnProperty('directPublication')">
			<p>{{ i18n('m.rbs.admin.admin.run_all_steps_message') | raw }}</p>
			<p>
				<button type="button" class="btn btn-danger" data-ng-click="runDirectPublication()">
					<i class="icon-fast-forward"></i> {{ i18n('m.rbs.admin.admin.run_all_steps_button', ['ucf']) }}
				</button>
			</p>
		</div>

		<div data-ng-switch-default="">
			{{ i18n('m.rbs.admin.admin.no_action_to_execute', ['ucf']) }}
		</div>

		<div class="alert alert-danger" data-ng-if="data.error">
			<rbs-button-close ng-click="data.error = null"></rbs-button-close>
			<h4>{{ i18n('m.rbs.admin.admin.action_has_failed', ['ucf']) }}</h4>
			<p data-ng-bind-html="data.error"></p>
		</div>
	</form>

	<div data-ng-if="data.helpShown" class="workflow-help">
		<div class="step" data-ng-class="{'current': data.action=='requestValidation'}">
			<div class="block">
				<h5><div class="bullet-status DRAFT"></div> {{ i18n('m.rbs.admin.admin.status_draft', ['ucf']) }}</h5>
				<div class="action"><i class="icon-angle-down"></i> {{ i18n('m.rbs.admin.admin.request_validation', ['ucf']) }}</div>
				<div class="action">
					<i class="icon-double-angle-down"></i> {{ i18n('m.rbs.admin.admin.run_all_steps_button', ['ucf']) }}
				</div>
			</div>
			<div class="explain">
				{{ i18n('m.rbs.admin.admin.help_draft_explain')|raw }}
			</div>
		</div>
		<div class="arrow">
			<i class="icon-arrow-down"></i><i class="icon-arrow-up"></i>
		</div>
		<div class="step" data-ng-class="{'current': data.action=='contentValidation'}">
			<div class="block">
				<h5><div class="bullet-status VALIDATION"></div> {{ i18n('m.rbs.admin.admin.status_validation', ['ucf']) }}</h5>
				<div class="action reject"><i class="icon-angle-up"></i> {{ i18n('m.rbs.admin.admin.reject', ['ucf']) }}</div>
				<div class="action accept"><i class="icon-angle-down"></i> {{ i18n('m.rbs.admin.admin.accept', ['ucf']) }}</div>
			</div>
			<div class="explain">
				{{ i18n('m.rbs.admin.admin.help_validation_explain')|raw }}
			</div>
		</div>
		<div class="arrow">
			<i class="icon-arrow-down"></i>
		</div>
		<div class="step" data-ng-class="{'current': data.action=='publicationValidation'}">
			<div class="block">
				<h5><div class="bullet-status VALIDCONTENT"></div> {{ i18n('m.rbs.admin.admin.status_validcontent', ['ucf']) }}</h5>
				<div class="action"><i class="icon-angle-down"></i> {{ i18n('m.rbs.admin.admin.accept_publication', ['ucf']) }}</div>
			</div>
			<div class="explain">
				{{ i18n('m.rbs.admin.admin.help_validcontent_explain')|raw }}
			</div>
		</div>
		<div class="arrow">
			<i class="icon-arrow-down"></i>
		</div>
		<div class="step" data-ng-class="{'current': data.action=='freeze'}">
			<div class="block">
				<h5><div class="bullet-status PUBLISHABLE"></div>{{ i18n('m.rbs.admin.admin.status_publishable', ['ucf']) }}</h5>
				<div class="action reject"><i class="icon-angle-down"></i> {{ i18n('m.rbs.admin.admin.freeze', ['ucf']) }}</div>
			</div>
			<div class="explain">
				{{ i18n('m.rbs.admin.admin.help_publishable_explain')|raw }}
			</div>
		</div>
		<div class="arrow">
			<i class="icon-arrow-down"></i><i class="icon-arrow-up"></i>
		</div>
		<div class="step" data-ng-class="{'current': data.action=='unfreeze'}">
			<div class="block">
				<h5><div class="bullet-status FROZEN"></div>{{ i18n('m.rbs.admin.admin.status_frozen', ['ucf']) }}</h5>
				<div class="action accept"><i class="icon-angle-up"></i> {{ i18n('m.rbs.admin.admin.unfreeze', ['ucf']) }}</div>
			</div>
			<div class="explain">
				{{ i18n('m.rbs.admin.admin.help_frozen_explain')|raw }}
			</div>
		</div>
	</div>
</div>