<div class="control-group">
	<div class="controls">
		<div data-rbs-tag="document"></div>
	</div>
</div>

<rbs-field-text property="label" required="true" label="{{ i18nAttr(propertyKey('Rbs_Tag_Tag', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field property="color" required="true" label="{{ i18nAttr(propertyKey('Rbs_Tag_Tag', 'color'), ['ucf']) }}">
	<rbs-tag-color-selector ng-model="document.color" icon-size="icon-2x"></rbs-tag-color-selector>
		<span class="help-block">
			{{ i18n('m.rbs.tag.admin.tag_color_help') | raw }}
		</span>
</rbs-field>

<rbs-field property="userTag" required="true" label="{{ i18nAttr(propertyKey('Rbs_Tag_Tag', 'userTag'), ['ucf']) }}">
	<rbs-switch ng-disabled="! document.isNew()" ng-model="document.userTag"></rbs-switch>
	<span class="help-block">
		{{ i18n('m.rbs.tag.admin.tag_usertag_help') | raw }}
	</span>
	<span class="help-block" data-ng-if="! document.isNew()">
		{{ i18n('m.rbs.tag.admin.tag_usertag_cannot_be_modified') }}
	</span>
</rbs-field>

<rbs-field property="module" label="{{ i18nAttr(propertyKey('Rbs_Tag_Tag', 'module'), ['ucf']) }}">
	<select class="form-control" data-ng-model="document.module"
		data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Tag_Collection_TagModules"
		data-ng-options="item.value as item.label for item in pxCollection"></select>
</rbs-field>

<rbs-field-picker-multiple property="children" label="{{ i18nAttr(propertyKey('Rbs_Tag_Tag', 'children'), ['ucf']) }}"
	accepted-model="Rbs_Tag_Tag" selector-title="{{ i18nAttr('m.rbs.tag.admin.tag_children_selector_title', ['ucf']) }}"
	picker="model">
	<span class="help-block">
		{{ i18n('m.rbs.tag.admin.tag_children_help') | raw }}
	</span>
</rbs-field-picker-multiple>