<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Generic_Typology">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Generic_Typology'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-generic-typology-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				{% include '@Rbs_Generic/Documents/Typology/properties.twig' %}

				<hr />

				<h3>{{ i18n(propertyKey('Rbs_Generic_Typology', 'groups'), ['ucf']) }}</h3>

				<rbs-inline-array inline-array="document.groups" new-model="Rbs_Generic_AttributeGroup"
					data-ref-lcid="document.refLCID">
				</rbs-inline-array>

				<hr />

				<h3>{{ i18n(propertyKey('Rbs_Generic_Typology', 'contexts'), ['ucf']) }}</h3>

				<rbs-inline-array inline-array="document.contexts" new-model="Rbs_Generic_AttributeContext"
					data-ref-lcid="document.refLCID" data-check-delete="checkDeleteContext">
				</rbs-inline-array>

				<hr />

				<h3>{{ i18n(propertyKey('Rbs_Generic_Typology', 'visibilities'), ['ucf']) }}</h3>

				<p>{{ i18n('m.rbs.generic.admin.attribute_visibilities_help', ['ucf']) | raw }}</p>

				<div data-ng-repeat="group in document.groups" class="table-responsive">
					<table class="table table-striped" data-ng-if="group.name">
						<caption>(= group.label =)</caption>
						<thead>
							<tr>
								<th style="width: 200px;"></th>
								<th data-ng-repeat="context in document.contexts" class="text-center">
									(= context.label || context.name =)
									<i class="icon-asterisk text-info" data-ng-show="context.exposedInAjaxAPI"
										title="{{ i18nAttr('m.rbs.generic.documents.attributeContext_exposedInAjaxAPI', ['ucf']) }}"></i>
									<br />
									<button class="btn btn-default btn-sm btn-icon" type="button"
										data-ng-click="selectAll(group, context.name)"
										title="{{ i18nAttr('m.rbs.generic.admin.attribute_visibility_select_all', ['ucf']) }}">
										<i class="icon-check"></i>
									</button>
									<button class="btn btn-default btn-sm btn-icon" type="button"
										data-ng-click="deselectAll(group, context.name)"
										title="{{ i18nAttr('m.rbs.generic.admin.attribute_visibility_deselect_all', ['ucf']) }}">
										<i class="icon-check-empty"></i>
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="attribute in group.attributes">
								<td>(= attribute.label =)</td>
								<td data-ng-repeat="context in document.contexts" class="text-center">
									<input data-ng-model="document.visibilities[context.name].attributes[attribute.id + '']" type="checkbox" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>