<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Generic_Typology">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Generic_Typology'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit="" data-rbs-document-editor-translate=""
			data-rbs-document-editor-rbs-generic-typology-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="title"
					label="{{ i18nAttr(propertyKey('Rbs_Generic_Typology', 'title'), ['ucf']) }}">
				</rbs-field-text>

				<hr />

				<h3>{{ i18n(propertyKey('Rbs_Generic_Typology', 'groups'), ['ucf']) }}</h3>

				<rbs-inline-array inline-array="document.groups" new-model="Rbs_Generic_AttributeGroup"
					data-ref-lcid="document.refLCID" data-lcid="document.LCID">
				</rbs-inline-array>

				<hr />

				<h3>{{ i18n(propertyKey('Rbs_Generic_Typology', 'contexts'), ['ucf']) }}</h3>

				<rbs-inline-array inline-array="document.contexts" new-model="Rbs_Generic_AttributeContext"
					data-ref-lcid="document.refLCID" data-lcid="document.LCID">
				</rbs-inline-array>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>