<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_FunctionalPage">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.admin.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Website_FunctionalPage'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}

		<div data-rbs-structure-editor-aside="" id="rbsWebsitePageBlockPropertiesAside" style="display: none;"></div>
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-website-functional-page-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="refLCID" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'refLCID'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.refLCID"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Collection_Languages"
						data-collection-params="ucFirst:true" data-ng-options="item.value as item.label for item in pxCollection">
					</select>
				</rbs-field>

				<hr />

				<rbs-field-picker property="website" required="true" label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'website'), ['ucf']) }}"
					accepted-model="Rbs_Website_Website"
					selector-title="{{ i18nAttr('m.rbs.website.admin.functionalpage_website_picker_title', ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.website.admin.functionalpage_website_picker_title', ['ucf']) }}</span>
				</rbs-field-picker>

				<hr />

				<rbs-field-label-title property="title" required="true"
				                       label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-document-select
					label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'pageTemplate'), ['ucf']) }}"
					empty-label="{{ i18nAttr('m.rbs.website.admin.page_empty_pagetemplate', ['ucf']) }}"
					required="true" property="pageTemplate" ng-model="document.pageTemplate"
					accepted-model="Rbs_Theme_Template" filter-property="mailSuitable" filter-value="0">
				</rbs-field-document-select>

				<div data-rbs-tip="Rbs_Website_FunctionalPageEditorFunctions">
					{{ i18n('m.rbs.website.admin.functional_page_editor_help') | raw }}
				</div>

				<hr />

				<rbs-field-boolean property="useCache"
						label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'useCache'), ['ucf']) }}">
				</rbs-field-boolean>

				<div data-ng-show="document.useCache">
					<rbs-field property="TTL" label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'TTL'), ['ucf']) }}">
						<input class="form-control" size="7" data-rbs-smart-float="" data-ng-model="document.TTL"
							min="0" type="number" />
						<span class="help-block">{{ i18n('m.rbs.website.admin.staticpage_ttl_help') }}</span>
					</rbs-field>
				</div>
			</fieldset>

			<fieldset data-rbs-editor-section="content"
				data-editor-section-label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'editableContent'), ['ucf']) }}"
				data-editor-section-icon="icon-align-left">
				<rbs-field-document-select
					label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'pageTemplate'), ['ucf']) }}"
					empty-label="{{ i18nAttr('m.rbs.website.admin.page_empty_pagetemplate', ['ucf']) }}"
					required="true" property="pageTemplate" ng-model="document.pageTemplate"
					accepted-model="Rbs_Theme_Template" filter-property="mailSuitable" filter-value="0">
				</rbs-field-document-select>

				<hr />

				<div data-rbs-tip="Rbs_PageEditor_Markdown">
					{{ i18n('m.rbs.admin.admin.rbs_pageeditor_markdown') | raw }}
				</div>

				<rbs-structure-editor name="contents" ng-model="document.editableContent" template="(=pageTemplate=)">
				</rbs-structure-editor>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>