{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		<div class="checkbox">
			<label>
				<input name="{{ fieldName }}" id="{{ fieldId }}" type="checkbox" value="true"
					{%- if fieldInfos.value == 'true' or (hasFieldErrors is not defined and fieldInfos.field.parameters.checked == 'true') %}
						checked="checked"
					{% endif %} />
			</label>
		</div>
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>