{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		<input class="form-control form-control-inline" type="date" name="{{ fieldName }}[date]" id="{{ fieldId }}" size="16"
			value="{{ fieldInfos.value.date }}"
			{%- if fieldInfos.field.required %} required=""{% endif -%}
			{%- if fieldInfos.field.parameters.placeHolder %} placeholder="{{ fieldInfos.field.parameters.placeHolder }}"{% endif %} />
		{{ i18n('m.rbs.simpleform.front.date_picker_at') }}
		<input class="form-control form-control-inline" type="time" name="{{ fieldName }}[time]" id="{{ fieldId }}_time" size="5"
			value="{{ fieldInfos.value.time }}"
			{%- if fieldInfos.field.required %} required=""{% endif -%}
			{%- if fieldInfos.field.parameters.timePlaceHolder %} placeholder="{{ fieldInfos.field.parameters.timePlaceHolder }}"{% endif %} />
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>