<div class="form-group">
	{% if fieldInfos.field.currentLocalization.helpText and not fieldInfos.field.currentLocalization.helpText.isEmpty() %}
		<p class="{{ fieldInfos.field.parameters.class }}">
			{{ fieldInfos.field.currentLocalization.helpText|richText }}
		</p>
	{% endif %}
</div>