{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		<input class="form-control" type="text" name="{{ fieldName }}" id="{{ fieldId }}" value="{{ fieldInfos.value }}"
			autocomplete="{% if fieldInfos.field.parameters.autoComplete %}on{% else %}off{% endif %}"
			autocorrect="{% if fieldInfos.field.parameters.autoCorrect %}on{% else %}off{% endif %}"
			autocapitalize="{{ fieldInfos.field.parameters.autoCapitalize }}"
			{%- if fieldInfos.field.required %} required=""{% endif -%}
			{%- if fieldInfos.field.parameters.pattern %} pattern="{{ fieldInfos.field.parameters.pattern }}"{% endif -%}
			{%- if fieldInfos.field.parameters.placeHolder %} placeholder="{{ fieldInfos.field.parameters.placeHolder }}"{% endif %} />
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>
