{% if providers|length > 0 %}
	<div data-ng-cloak="">
		<h1>{{ i18n('m.rbs.social.front.social_link_account_title', ['ucf']) }}</h1>
		<div data-ng-controller="RbsSocialLinkAccountController">
			{% for provider in providers %}
				<button data-ng-show="linkedProviders.indexOf('{{ provider.provider }}') !== -1"
					class="btn btn-success btn-login-social-{{ provider.provider }}" type="button"
					data-ng-click="unlink($event, '{{ provider.id }}')">
					{{ provider.provider }}
				</button>
				<button data-ng-show="linkedProviders.indexOf('{{ provider.provider }}') == -1"
					class="btn btn-primary btn-login-social-{{ provider.provider }}" type="button" data-ng-click="link('{{ provider.id }}')">
					{{ provider.provider }}
				</button>
			{% endfor %}
		</div>
	</div>
{% endif %}