{% extends '@Rbs_Notification/Configuration/commerce.twig' %}

{% block customerRecall %}
	<h4>{{ i18nAttr('m.rbs.notification.admin.recall', ['ucf']) }}</h4>
	<div>
		<div data-ng-if="!params.static.disableMail && !params.recall[0].static.disableMail" rbs-field-picker=""
			data-property="params.recall[0].template.customer.mail"
			data-accepted-model="Rbs_Mail_Mail" data-value-ids="true"
			data-label="{{ i18nAttr('m.rbs.notification.admin.mail_send', ['ucf']) }}">
		</div>

		<div data-ng-if="!params.static.disableSms && !params.recall[0].static.disableSms" rbs-field-picker=""
			data-property="params.recall[0].template.customer.sms" data-value-ids="true"
			data-accepted-model="Rbs_Notification_Sms" data-label="{{ i18nAttr('m.rbs.notification.admin.sms_send', ['ucf']) }}">
		</div>
	</div>
{% endblock customerRecall %}

{% block storeRecall %}
	<h4>{{ i18nAttr('m.rbs.notification.admin.recall', ['ucf']) }}</h4>
	<div>
		<div data-ng-if="!params.static.disableMail && !params.recall[0].static.disableMail" rbs-field-picker=""
			data-property="params.recall[0].template.store.mail"
			data-accepted-model="Rbs_Mail_Mail" data-value-ids="true"
			data-label="{{ i18nAttr('m.rbs.notification.admin.mail_send', ['ucf']) }}">
		</div>

		<div data-ng-if="!params.static.disableSvi && !params.recall[0].static.disableSvi" rbs-field-picker=""
			data-property="params.recall[0].template.store.svi" data-value-ids="true"
			data-accepted-model="Rbs_Notification_Svi" data-label="{{ i18nAttr('m.rbs.notification.admin.svi_send', ['ucf']) }}">
		</div>
	</div>
{% endblock storeRecall %}