<div data-ng-if="!params.static.disableCustomer">
	<h3>{{ i18nAttr('m.rbs.notification.admin.customer', ['ucf']) }}</h3>
	<div>
		<div data-ng-if="!params.static.disableMail" rbs-field-picker="" data-property="params.template.customer.mail"
			data-label="{{ i18nAttr('m.rbs.notification.admin.mail_send', ['ucf']) }}"
			data-accepted-model="Rbs_Mail_Mail" data-value-ids="true">
		</div>

		<div data-ng-if="!params.static.disableSms" rbs-field-picker="" data-property="params.template.customer.sms"
			data-label="{{ i18nAttr('m.rbs.notification.admin.sms_send', ['ucf']) }}"
			data-accepted-model="Rbs_Notification_Sms" data-value-ids="true">
		</div>
	</div>
	{% block customerRecall %}
	{% endblock customerRecall %}
</div>

<div data-ng-if="!params.static.disableStore">
	<h3>{{ i18nAttr('m.rbs.notification.admin.store', ['ucf']) }}</h3>
	<div>
		<div data-ng-if="!params.static.disableMail" rbs-field-picker="" data-property="params.template.store.mail"
			data-label="{{ i18nAttr('m.rbs.notification.admin.mail_send', ['ucf']) }}"
			data-accepted-model="Rbs_Mail_Mail" data-value-ids="true">
		</div>

		<div data-ng-if="!params.static.disableSvi" rbs-field-picker="" data-property="params.template.store.svi"
			data-label="{{ i18nAttr('m.rbs.notification.admin.svi_send', ['ucf']) }}"
			data-accepted-model="Rbs_Notification_Svi" data-value-ids="true">
		</div>
	</div>
	{% block storeRecall %}
	{% endblock storeRecall %}
</div>

