{% use 'Rbs_Generic/icon-templates.twig' %}

<div class="facet-value-selector">
	{% block facetHeader %}
		<h4 data-ng-hide="facet.parent">
			(= facet.title =)
			{% block facetHeaderCollapseButton %}
				<button type="button" class="btn btn-default btn-icon btn-xs"
					data-ng-click="isCollapsed = !isCollapsed"
					title="(= isCollapsed ? '{{ i18n('m.rbs.generic.front.expand', ['ucf']) }}' : '{{ i18n('m.rbs.generic.front.collapse', ['ucf']) }}' =)">
					<span data-ng-show="isCollapsed">
						<span class="sr-only">{{ i18n('m.rbs.generic.front.expand', ['ucf']) }}</span>
						{{ block('rbsGenericIconExpand') }}
					</span>
					<span data-ng-hide="isCollapsed">
						<span class="sr-only">{{ i18n('m.rbs.generic.front.collapse', ['ucf']) }}</span>
						{{ block('rbsGenericIconCollapse') }}
					</span>
				</button>
			{% endblock facetHeaderCollapseButton %}
		</h4>
		<h5 data-ng-show="facet.parent">
			(= facet.title =)
			{{ block('facetHeaderCollapseButton') }}
		</h5>
	{% endblock facetHeader %}

	{% block facetValues %}
		<div data-uib-collapse="isCollapsed" class="facet-values-container"></div>
	{% endblock facetValues %}
</div>