<div class="row range-slider-labels" data-ng-show="showLabels">
	<div class="col-xs-6 text-left">
		<span class="label label-default">(= range.min | rbsFormatPrice:blockData.contextData.currencyCode =)</span>
	</div>
	<div class="col-xs-6 text-right">
		<span class="label label-default">(= range.max | rbsFormatPrice:blockData.contextData.currencyCode =)</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="range-slider"></div>
	</div>
</div>