{% use 'Rbs_Generic/icon-templates.twig' %}

<a title="{{ i18nAttr('m.rbs.elasticsearch.front.search', ['ucf']) }}" href="javascript:" data-ng-click="onResponsiveSummaryClick()">
	{{ block('rbsGenericIconSearch') }}
	<span class="badge" data-ng-show="loading">(= cartData.lines.length =)</span>
</a>