<ol class="list-unstyled">
	<li data-ng-repeat="value in facet.values track by value.key">
		{% block rbsElasticsearchFacetCheckboxItemValue %}
			<div class="checkbox">
				<label>
					<input type="checkbox" data-ng-model="value.selected" data-ng-change="selectionChange(value)" />
					(= value.title =) <span class="badge" data-ng-show="value.value">(= value.value =)</span>
				</label>
			</div>
		{% endblock rbsElasticsearchFacetCheckboxItemValue %}
		{% block rbsElasticsearchFacetCheckboxItemChildren %}
			<div data-ng-if="value.aggregationValues">
				<div data-ng-repeat="facet in value.aggregationValues track by facet.fieldName">
					<div data-ng-show="facet.values" data-rbs-elasticsearch-facet-v2="" data-facet="facet"></div>
				</div>
			</div>
		{% endblock rbsElasticsearchFacetCheckboxItemChildren %}
	</li>
</ol>
