<ol class="list-inline list-buttons">
	<li data-ng-repeat="value in facet.values track by value.key">
		{% block buttonItem %}
			<button type="button" class="btn btn-swatch btn-sm" data-ng-class="value.selected ? 'btn-primary' : 'btn-default'"
				data-ng-click="value.selected = value.selected ? null : true; selectionChange(value);"
				data-uib-tooltip="(= value.value =)">
				(= value.title =)
			</button>
		{% endblock buttonItem %}
	</li>
</ol>