<div class="modal-header">
	<button type="button" class="close pull-right" data-ng-click="$dismiss()"
		aria-hidden="true" title="{{ i18nAttr('m.rbs.generic.front.close', ['ucf']) }}">&times;</button>
	{% block title %}
		<h4 class="modal-title">
			{{ i18n('m.rbs.elasticsearch.front.search', ['ucf']) }}
		</h4>
	{% endblock title %}
</div>
<div class="modal-body">
	{% block content %}
		{% include 'Rbs_Elasticsearch/short-search.twig' %}
	{% endblock content %}
</div>