<ol class="list-inline list-swatch">
	<li data-ng-repeat="value in facet.values track by value.key">
		{% block swatchItem %}
			<span data-rbs-elasticsearch-facet-swatch-item="">
				<button type="button" class="btn btn-icon btn-default btn-swatch btn-sm"
					data-ng-click="value.selected = value.selected ? null : true; selectionChange(value);"
					data-ng-style="ngStyle" data-uib-tooltip="(= value.title =) ((= value.value =))">
					<span class="sr-only">(= option.title =)</span>
					<span data-ng-show="value.selected" class="glyphicon glyphicon-ok"></span>
					<span data-ng-show="!value.selected" class="glyphicon glyphicon-ok visible-hover"></span>
				</button>
			</span>
		{% endblock swatchItem %}
	</li>
</ol>