<div class="modal-header">
	<button type="button" class="close pull-right" data-ng-click="$dismiss()"
		aria-hidden="true" title="{{ i18nAttr('m.rbs.generic.front.close', ['ucf']) }}">&times;</button>
	{% block modalTitle %}
		<h4 class="modal-title">
			{{ i18n('m.rbs.elasticsearch.front.facets_modal_title', ['ucf']) }}
		</h4>
	{% endblock modalTitle %}
</div>
<div class="modal-body">
	{% block modalContent %}
		<div class="facets-list">
			<div data-ng-repeat="facet in facets track by facet.fieldName"
				data-ng-show="facet.values">
				<div data-rbs-elasticsearch-facet-v2="" data-facet="facet" data-collapse-not-selected="true"></div>
				{% block modalContentFacetDivider %}
					<hr />
				{% endblock modalContentFacetDivider %}
			</div>
			<div data-ng-show="viewButton()">
				<button class="btn btn-primary" type="button" data-ng-click="$dismiss()">
					{{ i18n('m.rbs.generic.front.close', ['ucf']) }}
				</button>
				<button class="btn btn-default" type="button" data-ng-click="reset($event)">
					{{ i18n('m.rbs.elasticsearch.front.facets_reset', ['ucf']) }}
				</button>
			</div>
		</div>
	{% endblock modalContent %}
</div>