<div class="panel panel-default">
	<div class="panel-body">
		<a data-ng-href="(= item.url =)">
			<h4 data-ng-bind-html="item.title| rbsTrustHtml" class="no-top-margin"></h4>
		</a>
		<p data-ng-bind-html="item.content| rbsTrustHtml"></p>
		<dl class="list-inline no-bottom-margin" >
			<dt>{{ i18n('m.rbs.elasticsearch.front.score', ['ucf']) }}</dt>
			<dd>(= item.score =)%</dd>
			<dt>{{ i18n('m.rbs.elasticsearch.front.type', ['ucf']) }}</dt>
			<dd>(= item.type =)</dd>
		</dl>
	</div>
</div>