<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.seo.ua.add_facet_url_group', ['ucf']) }}</h4>
</div>
<div class="modal-body text-center" data-ng-hide="data.facetLoaded">
	<span class="icon-spinner icon-spin" aria-hidden="true"></span>
	{{ i18n('m.rbs.ua.common.dashboard_loading', ['ucf', 'etc']) }}
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.savingData">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div class="ng-hide" data-ng-show="data.facetLoaded && !modalData.savingData">
	<div class="modal-body">
		<form name="addGroupForm" class="form-horizontal">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
				<div class="form-control-static">(= modalData.website.label =)</div>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.target', ['ucf']) }}"
				data-ng-class="{'has-error': addGroupForm.targetId.$invalid}">
				<div data-px-document-selector="" data-ng-model="modalData.newGroup.targetId" data-required="true" data-name="targetId"
					data-px-seo-facet-url-group-target-validator="" data-accepted-models="['Rbs_Website_StaticPage', 'Rbs_Website_Topic']"
					data-search-rest-service="Rbs_Seo_DocumentForSelector.search" data-load-rest-service="Rbs_Seo_DocumentForSelector.load"
					data-rest-service-params="{urlContext: {websiteId: '(= modalData.website.id =)', LCID: '(= modalData.website.LCID =)'}}">
				</div>
				<span class="help-block" data-ng-show="addGroupForm.$error.targetId">
					{{ i18n('m.rbs.seo.ua.group_already_exists', ['ucf']) }}
				</span>
			</div>

			<hr />

			<div data-px-seo-url-configurator=""></div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">
			{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}
		</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="addGroupForm.$invalid" data-ng-click="saveNewFacetUrlGroup()">
			{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
		</button>
	</div>
</div>