<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.seo.ua.action_edit_attributes', ['ucf']) }}</h4>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.savingData">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div class="ng-hide" data-ng-show="!modalData.savingData">
	<div class="modal-body">
		<form name="attributesForm" class="form-horizontal">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
				<div class="form-control-static">(= modalData.urlGroup.websiteLabel =)</div>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.target', ['ucf']) }}">
				<div class="form-control-static">
					(= modalData.urlGroup.targetLabel =)
					<small class="text-muted">(= modalData.urlGroup.targetModelLabel =)</small>
				</div>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_facet_values', ['ucf']) }}">
				<div class="form-control-static">
					<span data-ng-repeat="value in modalData.url.values">
						(= value.label || value.value =)<span data-ng-show="!$last">, </span>
					</span>
				</div>
			</div>

			<hr />

			<div data-px-label="{{ i18nAttr('m.rbs.ua.common.typology', ['ucf']) }}">
				<select class="form-control" data-px-field="" data-ng-model="modalData.document.typologyId"
					data-ng-controller="ProximisCollectionController"
					data-collection-code="Rbs_Generic_Typologies" data-collection-params="modelName:Rbs_Seo_FacetUrlDecorator"
					data-variable-name="typologyOptions" data-ng-options="item.value as item.label for item in typologyOptions">
					<option value="">{{ i18n('m.rbs.ua.common.typology_select', ['ucf']) }}</option>
				</select>
			</div>

			<div data-ng-show="modalData.typologyLoading">
				<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading_typology', ['ucf', 'etc']) }}
			</div>
			<div data-ng-show="!modalData.typologyLoading" data-ng-repeat="group in typology.groups">
				<hr />
				<h4>(= group.label =)</h4>
				<div data-ng-repeat="attribute in group.attributes">
					<div data-px-label="(= attribute.label =)" data-ng-class="{'required': attribute.required}">
						<div data-ng-if="attribute.options">
							<select class="form-control" data-px-field="" data-ng-model="modalData.document.attributes[attribute.name]"
								data-ng-options="item.value as item.label for item in attribute.options">
								<option value=""></option>
							</select>
						</div>
						<div data-ng-if="!attribute.options">
							<div data-ng-switch="attribute.type">
								<div data-ng-switch-when="String">
									<input data-px-field="" type="text" class="form-control" data-ng-required="attribute.required"
										data-ng-model="modalData.document.attributes[attribute.name]" />
								</div>
								<div data-ng-switch-when="Boolean">
									<label class="radio-inline">
										<input type="radio" data-ng-model="modalData.document.attributes[attribute.name]"
											data-ng-value="true" data-ng-required="attribute.required" />
										{{ i18n('c.types.yes', ['ucf']) }}
									</label>
									<label class="radio-inline">
										<input type="radio" data-ng-model="modalData.document.attributes[attribute.name]"
											data-ng-value="false" data-ng-required="attribute.required" />
										{{ i18n('c.types.no', ['ucf']) }}
									</label>
								</div>
								<div data-ng-switch-when="DateTime">
									<div data-px-date-time-selector="" data-ng-required="attribute.required" data-field-name="attribute.id"
										data-ng-model="modalData.document.attributes[attribute.name]"></div>
								</div>
								<div data-ng-switch-when="Integer">
									<input data-px-field="" type="number" class="form-control form-control-inline"
										data-ng-required="attribute.required" data-ng-model="modalData.document.attributes[attribute.name]" />
								</div>
								<div data-ng-switch-when="Float">
									<input data-px-field="" type="text" class="form-control form-control-inline"
										data-ng-required="attribute.required" data-ng-model="modalData.document.attributes[attribute.name]" />
								</div>
								<div data-ng-switch-when="DocumentId">
									<div data-px-document-selector="" data-ng-model="modalData.document.attributes[attribute.name]"
										data-field-name="attribute.id" data-accepted-models="attribute.documentType"
										data-search-rest-service="Rbs_Seo_DocumentForSelector.search"
										data-load-rest-service="Rbs_Seo_DocumentForSelector.load">
									</div>
								</div>
								<div data-ng-switch-when="DocumentIdArray">
									<div data-px-documents-selector="" data-ng-model="modalData.document.attributes[attribute.name]"
										data-field-name="attribute.id" data-accepted-models="attribute.documentType"
										data-search-rest-service="Rbs_Seo_DocumentForSelector.search"
										data-load-rest-service="Rbs_Seo_DocumentForSelector.load">
									</div>
								</div>

								{# Readonly types: JSON, RichText #}
								<div data-ng-switch-default="">
									<pre style="white-space: pre-wrap;"
										class="no-bottom-margin">(= :: modalData.document.attributes[attribute.name] | json:4 =)</pre>
									<p class="help-block no-bottom-margin text-muted">
										{{ i18n('m.rbs.ua.common.not_editable_field_type', ['ucf']) }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">
			{{ i18n('m.rbs.ua.common.close', ['ucf']) }}
		</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="!attributesForm.$valid" data-ng-click="save()">
			{{ i18n('m.rbs.ua.common.save', ['ucf']) }}
		</button>
	</div>
</div>