<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.seo.ua.edit_facet_url_group', ['ucf']) }}</h4>
</div>
<div class="modal-body text-center" data-ng-hide="data.documentLoaded">
	<span class="icon-spinner icon-spin" aria-hidden="true"></span>
	{{ i18n('m.rbs.ua.common.dashboard_loading', ['ucf', 'etc']) }}
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.savingData">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div class="ng-hide" data-ng-show="data.documentLoaded && !modalData.savingData">
	<div class="modal-body">
		<form name="addGroupForm" class="form-horizontal">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
				<div class="form-control-static">(= data.document.websiteLabel =)</div>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.target', ['ucf']) }}">
				<div class="form-control-static">
					(= data.document.targetLabel =)
					<small class="text-muted">(= data.document.targetModelLabel =)</small>
				</div>
			</div>

			<hr />

			<div data-ng-show="data.document.generating" class="alert alert-info no-bottom-margin">
				<i class="icon-spinner icon-spin"></i> {{ i18n('m.rbs.seo.ua.generating_path_rules', ['ucf']) }}
			</div>

			<div data-ng-if="data.documentLoaded && !data.document.generating" data-px-seo-url-configurator=""></div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">
			{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}
		</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="addGroupForm.$invalid || data.document.generating"
			data-ng-click="updateFacetUrlGroup()">
			{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
		</button>
	</div>
</div>