<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.seo.ua.edit_facet_url_group', ['ucf']) }}</h4>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.savingData">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div class="ng-hide" data-ng-show="!modalData.savingData">
	<div class="modal-body">
		<form name="addGroupForm" class="form-horizontal">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
				<div class="form-control-static">(= modalData.document.websiteLabel =)</div>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.target', ['ucf']) }}">
				<div class="form-control-static">
					(= modalData.document.targetLabel =)
					<small class="text-muted">(= modalData.document.targetModelLabel =)</small>
				</div>
			</div>

			<hr />

			<div data-ng-show="modalData.document.generating" class="alert alert-info no-bottom-margin">
				<i class="icon-spinner icon-spin"></i> {{ i18n('m.rbs.seo.ua.generating_path_rules', ['ucf']) }}
			</div>
			<div class="table-responsive">
				<table class="panel-body ua-entity-list-table table table-condensed table-bordered table-striped no-bottom-margin"
					data-ng-hide="modalData.document.generating">
					<thead>
						<tr>
							<th>{{ i18n('m.rbs.seo.ua.property_relative_path', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.ua.property_facet_values', ['ucf']) }}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="(index, url) in modalData.urls">
							<td>
								<a data-ng-show="!url.conflict" href="" data-ng-href="(= url.pathRule.common.publicUrl =)" target="_blank">
									(= url.pathRule.common.relativePath =)
								</a>
								<em data-ng-show="url.conflict" class="text-danger">
									{{ i18nAttr('m.rbs.seo.ua.in_conflict', ['ucf']) }} ((= url.pathRule.common.relativePath =))
								</em>
							</td>
							<td>
								<span data-ng-repeat="value in url.values">
									(= value.label || value.value =)<span data-ng-show="!$last">, </span>
								</span>
							</td>
							<td class="column-actions">
								<button class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_edit_url', ['ucf']) }}"
									data-ng-click="editUrl(index, url)">
									<span class="icon-link"></span>
								</button>
								<button class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_edit_meta', ['ucf']) }}"
									data-ng-click="editMeta(index, url)">
									<span class="icon-file-text"></span>
								</button>
								<button class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_edit_attributes', ['ucf']) }}"
									data-ng-click="editAttributes(index, url)">
									<span class="icon-th-list"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">
			{{ i18n('m.rbs.ua.common.close', ['ucf']) }}
		</button>
	</div>
</div>