<div data-ng-controller="ProximisSeoFacetUrlGroupListController">
	<button type="button" class="btn btn-default pull-right" data-ng-click="openAddRuleModal()" data-ng-disabled="!globalData.website">
		<span class="icon-plus"></span> {{ i18n('m.rbs.seo.ua.add_facet_url_group', ['ucf']) }}
	</button>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.facet_url_group_list', ['ucf']) }}"></div>
	<div data-px-filters="filter" data-options="globalData" data-static-filter-methods="staticFilterMethods">
		<div data-px-static-filter="none">
			{% block filterCommon %}
				<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
					<select class="form-control" data-ng-model="options.website" data-px-field=""
						data-ng-options="item as item.label for item in options.websites">
					</select>
				</div>
			{% endblock filterCommon %}
		</div>
		<div data-px-static-filter="targetId" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_target', ['ucf']) }}">
			{{ block('filterCommon') }}
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_target', ['ucf']) }}">
				<div data-px-document-selector="" data-ng-model="filter.parameters.targetId"
					data-accepted-models="['Rbs_Website_StaticPage', 'Rbs_Website_Topic']"
					data-search-rest-service="Rbs_Seo_DocumentForSelector.search" data-load-rest-service="Rbs_Seo_DocumentForSelector.load">
				</div>
			</div>
		</div>
	</div>
	<div data-ng-if="globalData.website">
		<div data-px-ua-entity-list="" data-rest-service="Rbs_Seo_FacetUrlGroup.list" data-rest-params="globalData.restParams"
			data-filter="true" data-action-methods="actionMethods">
			<div data-px-list-column="targetLabel"
				data-label="{{ i18nAttr('m.rbs.seo.ua.property_target', ['ucf']) }}">
				<span data-ng-if="doc.targetLabel">
					(= doc.targetLabel =) <small class="text-muted">(= doc.targetModelLabel =)</small>
				</span>
			</div>
			<div data-px-list-column="urlCount" data-label="{{ i18nAttr('m.rbs.seo.ua.property_url_count', ['ucf']) }}">
				(= doc.urlCount =)
				<em class="text-danger" data-ng-show="doc.urlConflictCount == 1">
					({{ i18nAttr('m.rbs.seo.ua.one_conflict', ['ucf']) }})
				</em>
				<em class="text-danger" data-ng-show="doc.urlConflictCount > 1">
					({{ i18nAttr('m.rbs.seo.ua.n_conflicts', ['ucf'], {'count': '(= doc.urlConflictCount =)'}) }})
				</em>
			</div>
			<div data-px-list-column="actions" data-label="{{ i18nAttr('m.rbs.ua.common.actions', ['ucf']) }}" class="column-actions">
				<button class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_view_url_list', ['ucf']) }}"
					data-ng-click="actionMethods.openList(doc)" data-ng-disabled="!doc.urlCount">
					<span class="icon-list"></span>
				</button>
				<button class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_open_configuration_panel', ['ucf']) }}"
					data-ng-click="actionMethods.open(doc)">
					<span class="icon-cogs"></span>
				</button>
				<button class="btn btn-danger btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_delete_urls', ['ucf']) }}"
					data-ng-click="actionMethods.delete(doc)">
					<span class="icon-trash"></span>
				</button>
			</div>
		</div>
	</div>
</div>