<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.seo.ua.edit_facet_url_group', ['ucf']) }}</h4>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body ng-hide" data-ng-show="modalData.savingData">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div class="ng-hide" data-ng-show="!modalData.savingData">
	<div class="modal-body">
		<form name="addGroupForm" class="form-horizontal">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
				<div class="form-control-static">(= modalData.urlGroup.websiteLabel =)</div>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.target', ['ucf']) }}">
				<div class="form-control-static">
					(= modalData.urlGroup.targetLabel =)
					<small class="text-muted">(= modalData.urlGroup.targetModelLabel =)</small>
				</div>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_facet_values', ['ucf']) }}">
				<div class="form-control-static">
					<span data-ng-repeat="value in modalData.url.values">
						(= value.label || value.value =)<span data-ng-show="!$last">, </span>
					</span>
				</div>
			</div>

			<hr />

			<div class="panel panel-default">
				<div class="panel-heading">{{ i18n('m.rbs.seo.ua.rewrite_urls', ['ucf']) }}</div>
				<div class="table-responsive">
					<table data-ng-show="location.urls.length > 0"
						class="panel-body ua-entity-list-table table table-condensed table-bordered table-striped">
						<thead>
							<tr>
								<th>{{ i18n('m.rbs.seo.ua.property_relative_path', ['ucf']) }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="(index, url) in location.urls">
								<td>
									<span data-ng-hide="displayConfig.urls[index].edit">
										<a data-ng-hide="url.conflict" href="" data-ng-href="(= getHref(url) =)" target="_blank">
											(= url.relativePath =)
										</a>
										<em data-ng-show="url.conflict" class="text-danger">
											{{ i18nAttr('m.rbs.seo.ua.in_conflict', ['ucf']) }} ((= url.relativePath =))
										</em>
									</span>
									{# Setting the ng-show directly on the input causes some display bugs. #}
									<span data-ng-show="displayConfig.urls[index].edit">
										<input data-ng-model="url.newRelativePath" type="text" class="form-control" />
									</span>
								</td>
								<td class="column-actions">
									<button data-ng-hide="displayConfig.urls[index].edit" type="button" class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.edit_url', ['ucf']) }}" data-ng-click="startEdit('urls', index)">
										<i class="icon-pencil"></i>
									</button>
									<button data-ng-show="displayConfig.urls[index].edit" type="button" class="btn btn-info btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.validate_modifications', ['ucf']) }}" data-ng-click="updateUrl(index)"
										data-ng-disabled="!isModified('urls', index)">
										<i class="icon-check"></i>
									</button>
									<button data-ng-show="displayConfig.urls[index].edit" type="button" class="btn btn-warning btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.cancel_modifications', ['ucf']) }}" data-ng-click="endEdit('urls', index)">
										<i class="icon-undo"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-default no-bottom-margin" data-ng-class="location.facetUrls.length < 1 ? 'no-bottom-margin' : ''">
				<div class="panel-heading">
					{{ i18n('m.rbs.seo.ua.redirects', ['ucf']) }}
				</div>
				<div class="table-responsive">
					<table class="panel-body ua-entity-list-table table table-condensed table-bordered table-striped">
						<thead>
							<tr>
								<th>{{ i18n('m.rbs.seo.ua.property_relative_path', ['ucf']) }}</th>
								<th style="width: 85px;">{{ i18n('m.rbs.seo.ua.property_http_status', ['ucf']) }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="(index, redirect) in location.redirects" data-ng-show="redirect.httpStatus !== 404">
								<td>
									<a data-ng-hide="displayConfig.redirects[index].edit" href="" data-ng-href="(= getHref(redirect) =)"
										target="_blank">
										(= redirect.relativePath =)
									</a>
									{# Setting the ng-show directly on the input causes some display bugs. #}
									<span data-ng-show="displayConfig.redirects[index].edit">
										<input data-ng-model="redirect.newRelativePath" type="text" class="form-control" />
									</span>
								</td>
								<td style="white-space: nowrap;">
									<span data-ng-hide="displayConfig.redirects[index].edit">(= redirect.httpStatus =)</span>
									<span data-ng-show="displayConfig.redirects[index].edit">
										<label class="radio-inline" data-ng-repeat="status in httpStatuses">
											<input type="radio" data-ng-model="redirect.newHttpStatus" data-ng-value="status"> (= status =)
										</label>
									</span>
								</td>
								<td class="column-actions">
									<button data-ng-disabled="displayConfig.redirects[index].edit" type="button" class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.make_current_url', ['ucf']) }}" data-ng-click="makeCurrentUrl(index)">
										<i class="icon-level-up"></i>
									</button>
									<button data-ng-hide="displayConfig.redirects[index].edit" type="button" class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.edit_redirect', ['ucf']) }}" data-ng-click="startEdit('redirects', index)">
										<i class="icon-pencil"></i>
									</button>
									<button data-ng-hide="displayConfig.redirects[index].edit" type="button" class="btn btn-danger btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.delete_redirect', ['ucf']) }}" data-ng-click="deleteRedirect(index)">
										<i class="icon-remove"></i>
									</button>
									<button data-ng-show="displayConfig.redirects[index].edit" type="button" class="btn btn-info btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.validate_modifications', ['ucf']) }}" data-ng-click="updateRedirect(index)"
										data-ng-disabled="!isModified('redirects', index)">
										<i class="icon-check"></i>
									</button>
									<button data-ng-show="displayConfig.redirects[index].edit" type="button" class="btn btn-warning btn-icon"
										title="{{ i18nAttr('m.rbs.seo.ua.cancel_modifications', ['ucf']) }}"
										data-ng-click="endEdit('redirects', index)">
										<i class="icon-undo"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td><input data-ng-model="newRedirect.relativePath" type="text" class="form-control" style="width: 100%;" /></td>
								<td style="white-space: nowrap;">
									<label class="radio-inline" data-ng-repeat="status in httpStatuses">
										<input type="radio" data-ng-model="newRedirect.httpStatus" data-ng-value="status"> (= status =)
									</label>
								</td>
								<td class="column-actions text-right">
									<button type="button" class="btn btn-info btn-icon"
										data-ng-disabled="!newRedirect.relativePath || !newRedirect.httpStatus"
										title="{{ i18nAttr('m.rbs.seo.ua.add_new_redirect', ['ucf']) }}" data-ng-click="addNewRedirect()">
										<i class="icon-check"></i>
									</button>
									<button type="button" class="btn btn-danger btn-icon"
										data-ng-disabled="!newRedirect.relativePath && !newRedirect.httpStatus"
										title="{{ i18nAttr('m.rbs.seo.ua.clear_new_redirect', ['ucf']) }}" data-ng-click="clearNewRedirect()">
										<i class="icon-remove"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">
			{{ i18n('m.rbs.ua.common.close', ['ucf']) }}
		</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="modalData.unchanged" data-ng-click="save()">
			{{ i18n('m.rbs.ua.common.save', ['ucf']) }}
		</button>
	</div>
</div>