<div class="row">
	<div data-rbs-aside-column="">
		{% verbatim %}{% include '@Rbs_Admin/view/asides.twig' %}{% endverbatim %}
		{% verbatim %}{% include '@Rbs_Admin/view/links.twig' %}{% endverbatim %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ '{{' }} i18nAttr('m.{{ model.vendorName | lower }}.{{ model.shortModuleName | lower }}.admin.{{ model.shortName | lower }}_list', ['ucf']) {{ '}}' }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="{{ model.name }}"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{{ '{%' }} for newDocumentLink in attributes['newDocumentLinks'] {{ '%}' }}
				<a href="" data-ng-href="(= '{{ '{{' }} newDocumentLink.modelName {{ '}}' }}' | rbsURL:'new' =)">
					{{ '{{' }} newDocumentLink.label {{ '}}' }}
				</a>
			{{ '{%' }} endfor {{ '%}' }}
		</div>

		<rbs-document-list model="{{ model.name }}" {% if model.isPublishable %}publishable="true" {% endif %}{% if model.isActivable %}activable="true" {% endif %}{% if model.isPublishable == false and model.useCorrection %}correction="true" {% endif %}filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>
</div>