<div class="row">
	<div data-rbs-full-width="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.social.admin.socialconfiguration_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Social_SocialConfiguration"></rbs-document-filter-panel>
		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>
		<rbs-document-list model="Rbs_Social_SocialConfiguration" activable="true" modification-date="false" filter-collection="filter">
			<rbs-column name="label" primary="true"
				label="{{ i18n(propertyKey('Rbs_Social_SocialConfiguration', 'label'), ['ucf']) }}">
			</rbs-column>
			<rbs-column name="provider"
				label="{{ i18n(propertyKey('Rbs_Social_SocialConfiguration', 'provider'), ['ucf']) }}">
			</rbs-column>
		</rbs-document-list>
	</div>
</div>