<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Social_SocialConfiguration">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.admin.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Social_SocialConfiguration'), ['ucf']) }}"></rbs-page-header>
	</div>
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>
	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-social-social-configuration-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">
				<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Social_SocialConfiguration', 'provider'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.provider"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Social_SocialCollection"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value="">{{ i18n('m.rbs.social.admin.socialconfiguration_provider', ['ucf']) }}</option>
					</select>
				</rbs-field>

				{% include '@Rbs_Social/Documents/SocialConfiguration/properties.twig' %}

			</fieldset>
			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>