<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Social_SocialConfiguration', 'label'), ['ucf']) }}">
</rbs-field-text>
<rbs-field-text property="publicKey" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Social_SocialConfiguration', 'publicKey'), ['ucf']) }}">
</rbs-field-text>
<rbs-field-text property="secretKey" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Social_SocialConfiguration', 'secretKey'), ['ucf']) }}">
</rbs-field-text>
<rbs-field-text property="websiteDomain" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Social_SocialConfiguration', 'websiteDomain'), ['ucf']) }}">
</rbs-field-text>
<div data-ng-show="document.providerScope">
	<hr />
	<div class="clearfix">
		<div class="pull-left">
			<h4>{{ i18n('m.rbs.social.admin.socialconfiguration_scope',  ['ucf']) }}</h4>
		</div>
		<div class="pull-right">
			<button class="btn btn-primary"
				data-ng-click="reInit()">{{ i18n('m.rbs.social.admin.socialconfiguration_reinit', ['ucf']) }}</button>
		</div>
	</div>
	<div data-ng-repeat="(key, value) in document.providerScope">
		<rbs-field label="(= key =)">
			<rbs-switch data-ng-model="document.providerScope[key]"></rbs-switch>
		</rbs-field>
	</div>
</div>