<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Publisher', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker-multiple property="nationalities"
	label="{{ i18nAttr(propertyKey('Project_Library_Publisher', 'nationalities'), ['ucf']) }}"
	accepted-model="Rbs_Geo_Country">
</rbs-field-picker-multiple>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Publisher', 'description'), ['ucf']) }}">
</rbs-field-rich-text>